workflows/DRAFT_v0/NQxb_Artifact_Update_v1 (10).json
{
  "name": "NQxb_Artifact_Update_v1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1968,
        224
      ],
      "id": "8a437c4f-955b-441e-954d-c70cd4d7da19",
      "name": "NQxb_Artifact_Update_v1__In"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Normalize_Request\n// UPDATE-ONLY: Require artifact_id, reject if missing\n// v1: Mutability Registry enforcement\n\nconst raw = $json ?? {};\n\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\nconst req = body ?? raw;\n\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst artifact_id = req.artifact_id ?? null;\nconst artifact_type = (req.artifact_type ?? \"\").trim();\n\n// UPDATE_ONLY: artifact_id is REQUIRED\nif (!artifact_id || artifact_id.trim() === '') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"UPDATE_ONLY\",\n          message: \"artifact.update is update-only. Use artifact.create for new artifacts.\",\n          details: {\n            hint: \"artifact_id field is required for UPDATE operations.\"\n          },\n        },\n      },\n    },\n  ];\n}\n\nconst canonical = {\n  gw_action: req.gw_action ?? \"artifact.update\",\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: artifact_type,\n  artifact_id: artifact_id.trim(),\n\n  // Extension fields (only operational_state and state_reason allowed for project)\n  extension: asObj(req.extension),\n  \n  // deleted_at (BLOCKED - UNDECIDED per Mutability Registry v1)\n  deleted_at: req.deleted_at ?? null,\n};\n\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n  operation: \"UPDATE\",\n};\n\nreturn [{ json: canonical }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        224
      ],
      "id": "5e6ddd02-e095-4f2f-b8fd-3e9101c517a9",
      "name": "NQxb_Artifact_Update_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Validate_Request\n// UPDATE-only validation (strict, predictable, preserves payload)\n// v2.0: Removed TYPE_ALLOWLIST - now uses Type Registry Guard\n\nconst req = $json ?? {};\nconst errors = [];\n\n// NOTE: TYPE_ALLOWLIST REMOVED - Type Registry Guard now handles this check\n\nfunction isNonEmptyString(v) {\n  return typeof v === \"string\" && v.trim().length > 0;\n}\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\n// Required: gw_workspace_id\nif (!isNonEmptyString(req.gw_workspace_id)) {\n  errors.push({ field: \"gw_workspace_id\", reason: \"required\", expected: \"uuid string\" });\n}\n\n// Required: artifact_type (but NOT validating against allowlist - registry handles that)\nif (!isNonEmptyString(req.artifact_type)) {\n  errors.push({ field: \"artifact_type\", reason: \"required\", expected: \"non-empty string\" });\n}\n\n// Required: artifact_id\nif (!isNonEmptyString(req.artifact_id)) {\n  errors.push({ field: \"artifact_id\", reason: \"required\", expected: \"uuid string\" });\n}\n\n// Required: extension object exists (for v1 we allow partial, but must be object)\nconst ext = asObj(req.extension);\nif (!req.extension || typeof req.extension !== \"object\" || Array.isArray(req.extension)) {\n  errors.push({ field: \"extension\", reason: \"required_object\", expected: \"object\" });\n}\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"VALIDATION_ERROR\",\n          message: \"Validation failed for artifact.update (UPDATE)\",\n          details: {\n            validation_errors: errors,\n            operation: \"UPDATE\",\n            artifact_type: req.artifact_type ?? null,\n            artifact_id: req.artifact_id ?? null,\n          },\n        },\n        gw_action: req.gw_action ?? \"artifact.update\",\n        gw_workspace_id: req.gw_workspace_id ?? null,\n        artifact_type: req.artifact_type ?? null,\n        artifact_id: req.artifact_id ?? null,\n        _gw_debug: req._gw_debug ?? undefined,\n      },\n    },\n  ];\n}\n\n// Pass-through, normalize a couple things for downstream nodes\nreturn [\n  {\n    json: {\n      ...req,\n      ok: true,\n      _gw_route: \"ok\",\n      gw_action: req.gw_action ?? \"artifact.update\",\n      extension: ext,\n      deleted_at: req.deleted_at ?? null,\n      _gw_debug: {\n        ...(req._gw_debug ?? {}),\n        operation: \"UPDATE\",\n        received_shape: (req._gw_debug && req._gw_debug.received_shape) ? req._gw_debug.received_shape : \"flat\",\n      },\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        224
      ],
      "id": "e572dd73-c21b-4cf2-9e9d-faa67c46aee5",
      "name": "NQxb_Artifact_Update_v1__Validate_Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1296,
        224
      ],
      "id": "ebeedd9f-d1eb-4878-a2c5-3d900342e9d8",
      "name": "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_type_registry",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_type",
              "keyValue": "={{ $node['NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit'].json.artifact_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        304
      ],
      "id": "a2b971c9-084d-41b2-bbe5-8ae0bae59fe9",
      "name": "NQxb_Artifact_Update_v1__Lookup_Type_Registry",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Type Registry Guard\n// Check artifact type against qxb_artifact_type_registry\n// Error code: ARTIFACT_TYPE_NOT_ALLOWED\n// Fail-closed: no row or disabled = reject\n\n// Get original request from the Guard_Error_ShortCircuit node (ok path)\nconst originalRequest = $node['NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit'].json;\n\n// Get registry lookup result (may be empty if no row found)\nconst registryRow = $json;\n\nconst artifact_type = originalRequest.artifact_type;\n\n// FAIL-CLOSED: No row found = type not registered\nif (!registryRow || !registryRow.artifact_type) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action ?? 'artifact.update',\n      gw_workspace_id: originalRequest.gw_workspace_id ?? null,\n      artifact_type: artifact_type,\n      artifact_id: originalRequest.artifact_id ?? null,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'not_registered',\n          hint: 'Type must be registered in qxb_artifact_type_registry'\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Type found but disabled\nif (registryRow.enabled === false) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action ?? 'artifact.update',\n      gw_workspace_id: originalRequest.gw_workspace_id ?? null,\n      artifact_type: artifact_type,\n      artifact_id: originalRequest.artifact_id ?? null,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'disabled',\n          registry_enabled: false,\n          hint: 'Type is registered but currently disabled'\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Type is registered and enabled - pass through original request\nreturn [{ json: originalRequest }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        304
      ],
      "id": "5074b160-fd78-44b4-a114-24c53a9cfd5d",
      "name": "NQxb_Artifact_Update_v1__Type_Registry_Guard"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "registry-error"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "registry-ok",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -624,
        304
      ],
      "id": "2335be2d-d60a-4471-8065-7b94798d750d",
      "name": "NQxb_Artifact_Update_v1__Switch_Type_Registry"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        320
      ],
      "id": "b1c1b88c-3f36-46d4-9131-d2e368277042",
      "name": "NQxb_Artifact_Update_v1__Fetch_Existing_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Check_Mutability_Rules\n// Enforce Mutability Registry v1 rules\n// Per registry: ONLY operational_state and state_reason allowed for project\n// All other updates BLOCKED\n\nconst existing = $json;\nconst normalizeNode = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\n\n// Check if artifact was found\nif (!existing || !existing.artifact_id) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"NOT_FOUND\",\n          message: \"Artifact not found for UPDATE operation\",\n          details: {\n            artifact_id: normalizeNode.artifact_id,\n            workspace_id: normalizeNode.gw_workspace_id,\n            operation: 'UPDATE',\n          },\n        },\n      },\n    },\n  ];\n}\n\nconst artifact_type = existing.artifact_type?.trim();\n\n// RULE: snapshot and restart are fully immutable (Mutability Registry v1)\nif (artifact_type === 'snapshot' || artifact_type === 'restart') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"IMMUTABILITY_ERROR\",\n          message: `Artifact type '${artifact_type}' is immutable and cannot be updated. Only INSERT operations are allowed.`,\n          details: {\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            operation_attempted: 'UPDATE',\n            registry_rule: 'CREATE_ONLY',\n            source: 'Mutability Registry v1',\n          },\n        },\n      },\n    },\n  ];\n}\n\n// RULE: journal mutability is UNDECIDED_BLOCKED (Mutability Registry v1)\n// DOCTRINE: Journal INSERT-ONLY (Temporary)\nif (artifact_type === 'journal') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"JOURNAL_MUTABILITY_UNDECIDED\",\n          message: \"Journal update policy is not locked. Use artifact.create to append new entries.\",\n          details: {\n            artifact_type: 'journal',\n            artifact_id: existing.artifact_id,\n            operation_attempted: 'UPDATE',\n            registry_rule: 'UNDECIDED_BLOCKED',\n            source: 'Mutability Registry v1',\n            doctrine: 'Journal INSERT-ONLY (Temporary)',\n            hint: 'Journal artifacts are append-only until mutability policy is locked. Create new journal entries instead.',\n          },\n        },\n      },\n    },\n  ];\n}\n\n// RULE: deleted_at is UNDECIDED_BLOCKED (Mutability Registry v1)\nif (normalizeNode.deleted_at !== null && normalizeNode.deleted_at !== undefined) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"MUTABILITY_ERROR\",\n          message: \"Field 'deleted_at' is UNDECIDED_BLOCKED and cannot be updated.\",\n          details: {\n            field: 'deleted_at',\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            registry_rule: 'UNDECIDED_BLOCKED',\n            source: 'Mutability Registry v1',\n            hint: 'Soft delete semantics not yet locked. Use dedicated artifact.delete action when implemented.',\n          },\n        },\n      },\n    },\n  ];\n}\n\n// RULE: For project artifacts, only operational_state and state_reason allowed\nif (artifact_type === 'project') {\n  const extension = normalizeNode.extension || {};\n  const allowedFields = ['operational_state', 'state_reason'];\n  const providedFields = Object.keys(extension);\n  \n  // Check for disallowed extension fields\n  const disallowedFields = providedFields.filter(f => !allowedFields.includes(f));\n  \n  if (disallowedFields.length > 0) {\n    // Special handling for lifecycle_stage (PROMOTE_ONLY)\n    if (disallowedFields.includes('lifecycle_stage')) {\n      return [\n        {\n          json: {\n            ok: false,\n            _gw_route: \"error\",\n            error: {\n              code: \"MUTABILITY_ERROR\",\n              message: \"Field 'lifecycle_stage' is PROMOTE_ONLY and cannot be updated via artifact.update.\",\n              details: {\n                field: 'extension.lifecycle_stage',\n                artifact_type: 'project',\n                artifact_id: existing.artifact_id,\n                registry_rule: 'PROMOTE_ONLY',\n                source: 'Mutability Registry v1',\n                hint: 'Use artifact.promote operation to change lifecycle_stage.',\n              },\n            },\n          },\n        },\n      ];\n    }\n    \n    // Generic disallowed field error\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: \"error\",\n          error: {\n            code: \"MUTABILITY_ERROR\",\n            message: `Disallowed fields in extension for project UPDATE: ${disallowedFields.join(', ')}`,\n            details: {\n              disallowed_fields: disallowedFields,\n              allowed_fields: allowedFields,\n              artifact_type: 'project',\n              artifact_id: existing.artifact_id,\n              source: 'Mutability Registry v1',\n              hint: 'Only operational_state and state_reason are UPDATE_ALLOWED for project artifacts.',\n            },\n          },\n        },\n      },\n    ];\n  }\n  \n  // If no extension fields provided at all, return error\n  if (providedFields.length === 0) {\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: \"error\",\n          error: {\n            code: \"VALIDATION_ERROR\",\n            message: \"No updateable fields provided in extension for project UPDATE.\",\n            details: {\n              artifact_type: 'project',\n              artifact_id: existing.artifact_id,\n              allowed_fields: allowedFields,\n              hint: 'Provide at least one of: operational_state, state_reason',\n            },\n          },\n        },\n      },\n    ];\n  }\n}\n\n// Mutability checks passed - pass through with existing artifact data\nreturn [\n  {\n    json: {\n      artifact_id: existing.artifact_id,\n      workspace_id: existing.workspace_id,\n      artifact_type: existing.artifact_type,\n      _normalized_request: normalizeNode,\n      _existing_artifact: existing,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        672
      ],
      "id": "1209e19f-313a-4c15-8f8e-9be6e90ca0c0",
      "name": "NQxb_Artifact_Update_v1__Check_Mutability_Rules"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-project"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1504,
        672
      ],
      "id": "4866cabd-c593-4c73-aff3-c65e85c99d75",
      "name": "NQxb_Artifact_Update_v1__Switch_Type_For_Update"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update\n// Extract allowed fields (operational_state, state_reason) for project UPDATE\n\nconst normalizeNode = $json._normalized_request;\nconst extension = normalizeNode.extension || {};\n\n// Only update fields that are explicitly provided\nconst hasOperationalState = 'operational_state' in extension;\nconst hasStateReason = 'state_reason' in extension;\n\nconst updateFields = {\n  artifact_id: $json.artifact_id,\n};\n\nif (hasOperationalState) {\n  updateFields.operational_state = extension.operational_state;\n}\n\nif (hasStateReason) {\n  updateFields.state_reason = extension.state_reason;\n}\n\nupdateFields._has_operational_state = hasOperationalState;\nupdateFields._has_state_reason = hasStateReason;\n\nreturn [{ json: updateFields }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        672
      ],
      "id": "b716259d-8c6b-4a5d-a3a4-12363b687f7f",
      "name": "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "condition": "eq",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "operational_state",
              "fieldValue": "={{ $json.operational_state }}"
            },
            {
              "fieldId": "state_reason",
              "fieldValue": "={{ $json.state_reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        672
      ],
      "id": "1f6376cc-aa5e-4de8-8296-e4cf4396a84e",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Project_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Query_Call\n// Get artifact_id from the flow for final query\n\nconst normalizeNode = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\nconst mutabilityNode = $node['NQxb_Artifact_Update_v1__Check_Mutability_Rules'].json;\n\nconst artifact_id = mutabilityNode.artifact_id || normalizeNode.artifact_id;\n\nreturn [\n  {\n    json: {\n      saved_artifact_id: artifact_id,\n      saved_workspace_id: normalizeNode.gw_workspace_id,\n      saved_artifact_type: mutabilityNode.artifact_type || normalizeNode.artifact_type,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        672
      ],
      "id": "edb10095-cd05-49d5-a986-de34409a4f13",
      "name": "NQxb_Artifact_Update_v1__Prepare_Query_Call"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Build_Query_Request\n// Build a *correct* artifact.query request after UPDATE, even if the DB Update node outputs {}.\n//\n// Key idea: NEVER trust $json here because Supabase Update often returns an empty item.\n// Instead, pull canonical IDs from the Normalize node (or other stable upstream nodes).\n\nconst normalize = $node[\"NQxb_Artifact_Update_v1__Normalize_Request\"]?.json ?? {};\nconst validate   = $node[\"NQxb_Artifact_Update_v1__Validate_Request\"]?.json ?? {};\n\nconst gw_workspace_id = normalize.gw_workspace_id ?? validate.gw_workspace_id ?? null;\nconst artifact_type   = normalize.artifact_type   ?? validate.artifact_type   ?? null;\nconst artifact_id     = normalize.artifact_id     ?? validate.artifact_id     ?? null;\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.query\",\n      gw_workspace_id,\n      artifact_type,\n      artifact_id,\n      selector: {\n        hydrate: true,\n      },\n      _gw_debug: {\n        routed_from: \"NQxb_Artifact_Update_v1\",\n        next: \"artifact.query (hydrate)\",\n        source_ids: {\n          gw_workspace_id,\n          artifact_type,\n          artifact_id,\n        },\n      },\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        592
      ],
      "id": "2c7c95fd-a7df-4833-8c7b-1c93a61c4689",
      "name": "Node name: NQxb_Artifact_Update_v1__Build_Query_Request"
    },
    {
      "parameters": {
        "jsCode": "// KGB TERMINAL — UPDATE ONLY\n// Never trust Supabase UPDATE output.\n// Always return a stable acknowledgement.\n\nconst normalize = $node[\"NQxb_Artifact_Update_v1__Normalize_Request\"].json;\n\nreturn [\n  {\n    json: {\n      ok: true,\n      gw_action: \"artifact.update\",\n      operation: \"UPDATE\",\n      artifact_id: normalize.artifact_id,\n      artifact_type: normalize.artifact_type,\n      gw_workspace_id: normalize.gw_workspace_id,\n      updated_fields: Object.keys(normalize.extension || {}),\n      _kgb: {\n        status: \"UPDATE_CONFIRMED\",\n        note: \"Update completed. Query intentionally not invoked.\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        592
      ],
      "id": "a831d9c8-15b8-478b-93fb-97dbb88f9b1b",
      "name": "NQxb_Artifact_Update_v1__Return_Update_Ack"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Error_Passthrough\n// Terminal node: pass-through the incoming payload unchanged.\n// Use for any error path to guarantee the workflow returns a real JSON envelope\n// instead of dead-ending into \"\".\n\nreturn $input.all();\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        144
      ],
      "id": "e1b26e3a-9859-4f11-bf87-d5eddfbc6e78",
      "name": "NQxb_Artifact_Update_v1__Return_Error_Passthrough"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "546af728-12a2-4c64-9707-208c51f7f9c3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "864a4039-588b-44cf-baba-75ac303c78c8",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1728,
        672
      ],
      "id": "25564f77-c3f9-4a3d-b2f6-80a22f316d4d",
      "name": "NQxb_Artifact_Update_v1__Switch_Mutability_Result"
    }
  ],
  "pinData": {},
  "connections": {
    "NQxb_Artifact_Update_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Validate_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Validate_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Lookup_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Lookup_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Type_Registry_Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Type_Registry_Guard": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Fetch_Existing_Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Fetch_Existing_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Check_Mutability_Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Check_Mutability_Rules": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Mutability_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Type_For_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Project_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Query_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Query_Call": {
      "main": [
        [
          {
            "node": "Node name: NQxb_Artifact_Update_v1__Build_Query_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node name: NQxb_Artifact_Update_v1__Build_Query_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Update_Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Mutability_Result": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Type_For_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da433f9f-6de7-4faf-98d9-c845059b7807",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "ZMiwnwHm2AL96HhK",
  "tags": []
}