Multi-User Qwrk/03_ChatGPT_Projects/Qwrk@BlaggLife/NQxb_Gateway_v1_BlaggLife (3).json
{
  "name": "NQxb_Gateway_v1_BlaggLife",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v1/blagglife",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        208
      ],
      "id": "fe8add07-dcba-4efd-8f20-514bdc64dc35",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "fe50d8cb-3789-49d9-9fad-436279cb8e54",
      "credentials": {
        "httpBasicAuth": {
          "id": "hfMnKrj4CLPjVcQL",
          "name": "Qwrk_Gateway_Blagg_Life"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request\n// Canonical normalization BEFORE Gatekeeper\n// FIX: explicitly forward title + owner identity for artifact.save\n// T123: Forward full raw payload for messaging.* actions\n\nfunction isNonEmptyObject(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length > 0;\n}\n\nfunction pickSource() {\n  if (isNonEmptyObject($json?.params)) return { src: \"params\", raw: $json.params };\n  if (isNonEmptyObject($json?.query)) return { src: \"query\", raw: $json.query };\n  if (isNonEmptyObject($json?.body?.body)) return { src: \"body.body\", raw: $json.body.body };\n  if (isNonEmptyObject($json?.body)) return { src: \"body\", raw: $json.body };\n  if (isNonEmptyObject($json)) return { src: \"json\", raw: $json };\n  return { src: \"empty\", raw: {} };\n}\n\nconst { src, raw } = pickSource();\n\nreturn [\n  {\n    json: {\n      // --- Canonical action ---\n      gw_action: raw.gw_action ?? raw.action ?? null,\n\n      // --- Workspace / identity ---\n      gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      workspace_id: raw.workspace_id ?? raw.gw_workspace_id ?? null,\n\n      // --- Artifact identity ---\n      artifact_type: raw.artifact_type ?? null,\n      artifact_id: raw.artifact_id ?? null,\n\n      // --- REQUIRED for INSERT ---\n      title: raw.title ?? null,\n\n      // --- Payload ---\n      extension: raw.extension ?? raw.patch ?? {},\n      tags: raw.tags ?? null,\n\n      // --- Spine fields for INSERT ---\n      parent_artifact_id: raw.parent_artifact_id ?? null,\n      summary: raw.summary ?? null,\n      priority: raw.priority ?? null,\n      content: raw.content ?? null,\n      lifecycle_status: raw.lifecycle_status ?? null,\n      execution_status: raw.execution_status ?? null,\n\n      // --- Semantic type (T69 Phase 3) ---\n      semantic_type_id: raw.semantic_type_id ?? null,\n\n      // --- Owner / auth passthrough ---\n      auth_username:\n        raw.auth_username ??\n        raw.owner_username ??\n        raw.created_by ??\n        null,\n\n      // --- Freeze intent ---\n      req_gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      req_artifact_type: raw.artifact_type ?? null,\n      req_artifact_id: raw.artifact_id ?? null,\n      req_title: raw.title ?? null,\n\n      // --- Selector (artifact.list pagination) ---\n      selector: raw.selector ?? {},\n\n      // --- Promote fields ---\n      transition: raw.transition ?? null,\n      reason: raw.reason ?? null,\n\n           // --- T123: Forward full raw payload for messaging actions ---\n      // Messaging sub-workflows extract their own fields from raw\n      ...((/^messaging\\./).test(raw.gw_action ?? '') ? raw : {}),\n\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1__Normalize_Request\",\n        source: src,\n        received_keys: Object.keys(raw),\n        has_title: !!raw.title,\n        has_auth: !!(\n          raw.auth_username ||\n          raw.owner_username ||\n          raw.created_by\n        ),\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        208
      ],
      "id": "a64ae00e-b356-4a87-8e0a-f74827719cee",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly\n// Combined: envelope validation + allow-lists + MVP Mode owner-only enforcement (workspace lock)\n// T94 PATCH: add twig support + lifecycle_status spine forwarding\n// T123 PATCH: add messaging.send_email + messaging.create_calendar_event\n\nconst OWNER_WORKSPACE_ID = \"b4e7f648-96d5-44a7-80b9-c39cac4efbd1\";\n\nconst ACTION_ALLOWLIST = new Set([\n  \"artifact.query\",\n  \"artifact.list\",\n  \"artifact.save\",\n  \"artifact.update\",\n  \"artifact.promote\",\n  \"artifact.delete\",\n  \"artifact.restore\",\n  \"artifact.list_deleted\",\n  \"messaging.send_email\",\n  \"messaging.create_calendar_event\",\n]);\n\n// T94 PATCH 1: add \"twig\"\nconst TYPE_ALLOWLIST = new Set([\n  \"project\",\n  \"journal\",\n  \"restart\",\n  \"snapshot\",\n  \"instruction_pack\",\n  \"branch\",\n  \"limb\",\n  \"leaf\",\n  \"twig\"\n]);\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: { code, message, details },\n\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n        _gw_debug: $json?._gw_debug ?? undefined,\n        incoming: $json ?? {},\n      },\n    },\n  ];\n}\n\n// ----- Canonical fields from Normalize_Request -----\nconst gw_action = $json?.gw_action ?? null;\nconst gw_workspace_id = $json?.gw_workspace_id ?? null;\nconst artifact_type = $json?.artifact_type ?? null;\nconst artifact_id = $json?.artifact_id ?? null;\nconst selector = asObj($json?.selector);\n\nconst extension = asObj($json?.extension);\nconst tags = asObj($json?.tags);\n\n// ----- Basic validation -----\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\n\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n// ----- Workspace enforcement -----\nconst requiresWorkspaceAtGate = gw_action !== \"artifact.update\";\n\nif (requiresWorkspaceAtGate) {\n  if (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_workspace_id\", {\n      expected: \"uuid string\",\n      got: typeof gw_workspace_id,\n    });\n  }\n\n  if (gw_workspace_id !== OWNER_WORKSPACE_ID) {\n    return fail(\n      \"WORKSPACE_FORBIDDEN\",\n      \"Workspace not permitted in MVP owner-only mode\",\n      {\n        gw_workspace_id,\n        allowed_workspace_id: OWNER_WORKSPACE_ID,\n      }\n    );\n  }\n}\n\n// ----- artifact.query -----\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.query\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_id for artifact.query\"\n    );\n  }\n}\n\n// ----- artifact.list -----\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.list\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// ----- artifact.update -----\nif (gw_action === \"artifact.update\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.update\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_id for artifact.update\"\n    );\n  }\n\n  const hasExtension = Object.keys(extension).length > 0;\n\n  const hasTags =\n    (Array.isArray(tags?.add) && tags.add.length > 0) ||\n    (Array.isArray(tags?.remove) && tags.remove.length > 0);\n\n  // T94 PATCH 2: lifecycle_status added\n  const spineFieldCandidates = [\n    \"title\",\n    \"summary\",\n    \"priority\",\n    \"lifecycle_status\"\n  ];\n\n  const hasSpineFields = spineFieldCandidates.some((f) => {\n    const val = $json?.[f];\n    return val !== null && val !== undefined;\n  });\n\n  if (!hasExtension && !hasTags && !hasSpineFields) {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"artifact.update requires extension, tags, or spine fields\",\n      {\n        expected:\n          \"extension OR tags.add/remove OR title/summary/priority/lifecycle_status\",\n      }\n    );\n  }\n}\n\n// ----- PASS THROUGH -----\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n\n      ok: true,\n      _gw_route: \"ok\",\n\n      gw_action,\n      gw_workspace_id: gw_workspace_id ?? null,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      ...(gw_action === \"artifact.update\"\n        ? {\n            extension,\n            tags,\n\n            // T94 PATCH 3\n            spine_fields: (() => {\n              const sf = {};\n              if ($json?.title !== null && $json?.title !== undefined)\n                sf.title = $json.title;\n              if ($json?.summary !== null && $json?.summary !== undefined)\n                sf.summary = $json.summary;\n              if ($json?.priority !== null && $json?.priority !== undefined)\n                sf.priority = $json.priority;\n              if (\n                $json?.lifecycle_status !== null &&\n                $json?.lifecycle_status !== undefined\n              )\n                sf.lifecycle_status = $json.lifecycle_status;\n\n              return Object.keys(sf).length > 0 ? sf : null;\n            })(),\n          }\n        : {}),\n\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        208
      ],
      "id": "caff4224-cebb-4361-8802-3a47a0b33ae2",
      "name": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8153fa85-e2a0-4b7f-977a-19a99e9ed8f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08e622c7-fb31-40c9-847d-afb5dad39973",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -864,
        208
      ],
      "id": "b56a8b7f-14b0-43ac-98cc-6dd7e5277ddc",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -640,
        96
      ],
      "id": "adb1947f-0590-4834-a229-b292b12d994b",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52ad343d-e0ed-4932-a694-f97756475ce8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442dede-1a9a-4826-8021-bff39a110266",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "artifact-save-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31a22f06-9e48-4296-b859-3be36b69f1d8",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0601c9aa-d2ac-4e77-aa16-0f7bf2fc315a",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.promote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "delete-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "restore-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "list-deleted-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list_deleted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "send-email-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "messaging.send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "calendar-event-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "messaging.create_calendar_event",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        288
      ],
      "id": "eb0a4f81-6064-4985-814e-e40fa0989d0d",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(\n  (() => {\n    const j = $json ?? {};\n    const isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n    const isErrorEnvelope =\n      j.ok === false || j._gw_route === \"error\" || isObject(j.error);\n\n    const isSuccessEnvelope =\n      j.ok === true &&\n      j._gw_route === \"ok\" &&\n      isObject(j.data) &&\n      isObject(j.data.artifact);\n\n    if (isErrorEnvelope || isSuccessEnvelope) return j;\n\n    return { ok: true, _gw_route: \"ok\", data: { artifact: j } };\n  })()\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "f966d731-ac35-4994-9347-898a44409c83",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "27efKlNfdyu89YGD",
          "mode": "list",
          "cachedResultUrl": "/workflow/27efKlNfdyu89YGD",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1e15c6e1-6a7c-44ad-8b55-dccd6487a0c6",
      "name": "Call 'NQxb_Artifact_Query_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Freeze_Save_Context\n// Freeze request fields BEFORE calling Save sub-workflow\n// Tag for deterministic merge after sub-workflow returns\n// This node splits to TWO destinations: Save sub-workflow + Merge bypass\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"frozen_context\",\n    _frozen_artifact_type: $json.req_artifact_type ?? $json.artifact_type ?? null,\n    _frozen_workspace_id: $json.req_workspace_id ?? $json.gw_workspace_id ?? null,\n    _frozen_extension: $json.req_extension ?? $json.extension ?? {},\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "3ea12bd6-41a3-47a8-81f5-2ad75627f1cb",
      "name": "NQxb_Gateway__Freeze_Save_Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ax8jeXK2gIVjXhFC",
          "mode": "list",
          "cachedResultUrl": "/workflow/ax8jeXK2gIVjXhFC",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "2c10a7a3-7f11-4060-94b6-c3e24b88e2cb",
      "name": "Call 'NQxb_Artifact_Save_v1'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Tag_Save_Result\n// Tag Save sub-workflow result for deterministic merge\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"save_result\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ],
      "id": "2005eb3f-20a5-4d72-a59d-68ab33257c66",
      "name": "NQxb_Gateway__Tag_Save_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Shape_Save_Response\n// Purpose: Build Gateway response envelope for artifact.save deterministically.\n// Sources:\n//  - Frozen request context: NQxb_Gateway__Freeze_Save_Context\n//  - Save sub-workflow output: NQxb_Gateway__Tag_Save_Result\n//\n// Fix in this revision:\n//  - Robustly extract artifact_id and _owner_source across all artifact_type branches\n//    (restart was KGB; project returned ok:true but artifact_id null → mismatch in returned field names).\n\nconst ctxItems = $items(\"NQxb_Gateway__Freeze_Save_Context\");\nconst saveItems = $items(\"NQxb_Gateway__Tag_Save_Result\");\n\nconst context = ctxItems?.[0]?.json ?? null;\nconst saveResult = saveItems?.[0]?.json ?? null;\n\nfunction fail(code, message, details = {}) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      error: { code, message, details },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!context) {\n  return fail(\"CONTEXT_MISSING\", \"Could not read frozen context from Freeze_Save_Context node\", {\n    ctx_count: ctxItems?.length ?? 0\n  });\n}\n\nif (!saveResult) {\n  return fail(\"SAVE_RESULT_MISSING\", \"Could not read Save result from Tag_Save_Result node\", {\n    save_count: saveItems?.length ?? 0\n  });\n}\n\n// Frozen fields (authoritative for shaping)\nconst artifact_type =\n  context._frozen_artifact_type ?? context.req_artifact_type ?? context.artifact_type ?? null;\n\nconst workspace_id =\n  context._frozen_workspace_id ?? context.req_workspace_id ?? context.gw_workspace_id ?? null;\n\nconst extension_payload = context._frozen_extension?.payload ?? {};\n\n// Extracts (NO invention; fallbacks only)\nconst artifact_id =\n  saveResult.artifact_id ??\n  saveResult.saved_artifact_id ??\n  saveResult.data?.artifact_id ??\n  saveResult.data?.artifact?.artifact_id ??\n  null;\n\nconst owner_source =\n  (typeof saveResult._owner_source === \"string\" && saveResult._owner_source.length > 0)\n    ? saveResult._owner_source\n    : (typeof saveResult._frozen_owner_source === \"string\" && saveResult._frozen_owner_source.length > 0)\n      ? saveResult._frozen_owner_source\n      : null;\n\n// If Save failed, return its error but keep type/workspace for caller clarity\nif (saveResult.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      artifact_type,\n      workspace_id,\n      _owner_source: owner_source,\n      error: saveResult.error ?? {\n        code: \"SAVE_FAILED\",\n        message: \"Save workflow returned ok:false with no error object\",\n        details: {}\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Save succeeded\nconst operation = saveResult.operation ?? \"INSERT\";\n\nconst response = {\n  ok: true,\n  gw_action: \"artifact.save\",\n  artifact_id,\n  artifact_type,\n  workspace_id,\n  operation,\n  _owner_source: owner_source,\n  timestamp: new Date().toISOString()\n};\n\n// For restart/snapshot, echo the payload that *was requested* to be saved (frozen request intent)\nif (artifact_type === \"restart\" || artifact_type === \"snapshot\") {\n  response.extension = { payload: extension_payload };\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        400
      ],
      "id": "8436652b-ef0e-4839-83ed-010bcd59f968",
      "name": "NQxb_Gateway__Shape_Save_Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        400
      ],
      "id": "1cf914c7-0c8e-4fe5-9d3c-402f9ce7a0e6",
      "name": "NQxb_Gateway__Respond_Save_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cr4Jt7YNOx6SZpnE",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cr4Jt7YNOx6SZpnE",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "01558ee9-50c5-44e9-ae35-2fc5684eb5f7",
      "name": "NQxb_Gateway_v1__Call_Artifact_List_v1"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_List_Response\n// Purpose: Shape canonical list response for Gateway\n// Rule: If sub-workflow already returned a canonical artifact.list envelope,\n//       PASS THROUGH exactly (no re-wrapping).\n\nconst j = $json ?? {};\n\n// ---------- helpers ----------\nconst isObject = (x) => x && typeof x === \"object\" && !Array.isArray(x);\n\nconst isCanonicalListEnvelope = (x) =>\n  isObject(x) &&\n  x.ok === true &&\n  x.gw_action === \"artifact.list\" &&\n  isObject(x.data) &&\n  Array.isArray(x.data.artifacts) &&\n  isObject(x.meta);\n\n// ---------- ERROR PASSTHROUGH (T112 fix) ----------\n// If sub-workflow returned a validation error, pass it directly to the caller.\nif (j.ok === false || j._gw_route === \"error\") {\n  // Strip debug fields before returning to caller\n  const { _debug_filters, ...clean } = j;\n  return clean;\n}\n\n// ---------- PASS-THROUGH CASE ----------\n// If Gateway received a single item in data.artifacts\n// and that item is itself a canonical list envelope,\n// return it directly.\nif (\n  isObject(j.data) &&\n  Array.isArray(j.data.artifacts) &&\n  j.data.artifacts.length === 1 &&\n  isCanonicalListEnvelope(j.data.artifacts[0])\n) {\n  return j.data.artifacts[0];\n}\n\n// ---------- NORMAL WRAP (raw rows case) ----------\nconst artifacts = Array.isArray(j.data?.artifacts)\n  ? j.data.artifacts\n  : [];\n\nreturn {\n  ok: true,\n  gw_action: \"artifact.list\",\n  gw_workspace_id: j.gw_workspace_id,\n  artifact_type: j.artifact_type,\n  selector: j.selector ?? {},\n  data: {\n    artifacts,\n  },\n  meta: {\n    count: artifacts.length,\n    limit: j.selector?.limit ?? artifacts.length,\n    offset: j.selector?.offset ?? 0,\n    has_more: artifacts.length === (j.selector?.limit ?? artifacts.length),\n    as_of: j.selector?.as_of ?? new Date().toISOString(),\n  },\n  timestamp: new Date().toISOString(),\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        192
      ],
      "id": "6765791b-64d0-477a-8fbc-2ee0bebee9bf",
      "name": "NQxb_Gateway_v1__Shape_List_Response"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Gateway input for artifact.list before calling sub-workflow\n// Purpose:\n// - Ensure artifact_type is present at top level\n// - Preserve selector object\n// - Merge top-level limit/offset/hydrate/filters into selector (T19+T20 fix)\n// - Prevent null / empty artifact_type from leaking downstream\n\nconst gw_workspace_id =\n  $json.gw_workspace_id ??\n  $json.req_workspace_id ??\n  null;\n\nif (!gw_workspace_id) {\n  throw new Error(\"Gateway Build_List_Request: gw_workspace_id is required\");\n}\n\nconst artifact_type =\n  (typeof $json.artifact_type === \"string\" && $json.artifact_type.trim() !== \"\")\n    ? $json.artifact_type.trim()\n    : (typeof $json.req_artifact_type === \"string\" && $json.req_artifact_type.trim() !== \"\")\n      ? $json.req_artifact_type.trim()\n      : null;\n\nif (!artifact_type) {\n  throw new Error(\"Gateway Build_List_Request: artifact_type is required for artifact.list\");\n}\n\n// Build selector: prefer explicit selector object, then merge top-level fields\nconst selectorIn =\n  (typeof $json.selector === \"object\" && $json.selector !== null)\n    ? { ...$json.selector }\n    : {};\n\n// T20 FIX: Merge top-level limit/offset/hydrate into selector if not already present\nif ($json.limit !== undefined && selectorIn.limit === undefined) {\n  selectorIn.limit = $json.limit;\n}\nif ($json.offset !== undefined && selectorIn.offset === undefined) {\n  selectorIn.offset = $json.offset;\n}\nif ($json.hydrate !== undefined && selectorIn.hydrate === undefined) {\n  selectorIn.hydrate = $json.hydrate;\n}\n\n// T19 FIX: Merge top-level filters into selector.filters if not already present\nif ($json.filters && typeof $json.filters === \"object\" && !selectorIn.filters) {\n  selectorIn.filters = $json.filters;\n}\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.list\",\n      gw_workspace_id,\n      artifact_type,\n      selector: selectorIn,\n\n      // Debug breadcrumbs\n      _gw_debug: {\n        normalized: true,\n        resolved_artifact_type: artifact_type,\n        selector_had_limit: $json.selector?.limit !== undefined,\n        top_level_limit: $json.limit,\n        top_level_offset: $json.offset,\n        top_level_filters: $json.filters ? true : false,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "3e3c0d67-b261-4125-a98d-0ba11b035f1f",
      "name": "NQxb_Gateway_v1__Build_List_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1_Normalize_Update_Request\n// Purpose: normalize artifact.update requests into a canonical update payload\n// Runs AFTER Gateway action routing (artifact.update only)\n// T87: Forward spine fields (title, summary, priority) — only when non-null\n\nconst input = $json ?? {};\n\n// Canonical identifiers (already scalarized upstream)\nconst gw_workspace_id = input.gw_workspace_id ?? null;\nconst artifact_type = input.artifact_type ?? null;\nconst artifact_id = input.artifact_id ?? null;\n\n// Payloads\nconst extension = input.extension ?? {};\nconst tags = input.tags ?? null;\n\n// T87: Only forward spine fields that have actual values (not null)\n// The main Gateway normalizer sets missing fields to null — we must NOT forward those\n// because the Update sub-workflow uses 'key in req' to detect intent\nconst spineFields = {};\nif (input.title != null) spineFields.title = input.title;\nif (input.summary != null) spineFields.summary = input.summary;\nif (input.priority != null) spineFields.priority = input.priority;\n\n// Detect source for debug only (no control flow dependency)\nlet source_detected = \"unknown\";\nif ($json?.params) source_detected = \"params\";\nelse if ($json?.query) source_detected = \"query\";\nelse if ($json?.body?.body) source_detected = \"body.body\";\nelse if ($json?.body) source_detected = \"body\";\nelse source_detected = \"json\";\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.update\",\n\n      gw_workspace_id,\n      artifact_type,\n      artifact_id,\n\n      extension,\n      tags,\n\n      // T87: Only non-null spine fields (spread so absent keys don't exist)\n      ...spineFields,\n\n      // Freeze intent for downstream workflows\n      req_gw_workspace_id: gw_workspace_id,\n      req_artifact_type: artifact_type,\n      req_artifact_id: artifact_id,\n      req_extension: extension,\n      req_tags: tags,\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1_Normalize_Update_Request\",\n        source_detected,\n        received_keys: Object.keys(input),\n        has_extension: Object.keys(extension).length > 0,\n        has_tags:\n          tags &&\n          ((Array.isArray(tags.add) && tags.add.length > 0) ||\n            (Array.isArray(tags.remove) && tags.remove.length > 0)),\n        has_spine_fields: Object.keys(spineFields).length > 0,\n        spine_field_keys: Object.keys(spineFields),\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        624
      ],
      "id": "85cc9848-790d-476f-9dae-e2122c426abe",
      "name": "NQxb_Gateway_v1_Normalize_Update_Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DhcvKMsThjxbBReT",
          "mode": "list",
          "cachedResultUrl": "/workflow/DhcvKMsThjxbBReT",
          "cachedResultName": "NQxb_Artifact_Promote_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "gw_action",
              "displayName": "gw_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "gw_workspace_id",
              "displayName": "gw_workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_type",
              "displayName": "artifact_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "actor_user_id",
              "displayName": "actor_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_payload",
              "displayName": "artifact_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "selector",
              "displayName": "selector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        864
      ],
      "id": "28b899c4-c85e-4842-8227-513d2d8c9277",
      "name": "Call 'NQxb_Artifact_Promote_v1'"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Promote_Request\n// Purpose: Shape a promote request to match NQxb_Artifact_Promote_v1 Workflow Inputs contract.\n// Notes:\n// - Must output n8n items: [{ json: ... }]\n// - Promote workflow expects transition/reason at TOP-LEVEL (due to current contract wiring)\n// - We also preserve artifact_payload.transition/reason (future-proof / harmless)\n\nconst j = $json;\n\nconst transition = j.transition ?? j.artifact_payload?.transition ?? null;\nconst reason = j.reason ?? j.artifact_payload?.reason ?? null;\n\nreturn [\n  {\n    json: {\n      gw_action: j.gw_action,\n      gw_workspace_id: j.gw_workspace_id,\n\n      artifact_type: j.artifact_type,\n      artifact_id: j.artifact_id,\n\n      actor_user_id: j.actor?.user_id ?? j.actor_user_id ?? null,\n\n      // ✅ REQUIRED by Promote workflow (current contract expectations)\n      transition,\n      reason,\n\n      // ✅ keep payload too (harmless / future-proof)\n      artifact_payload: {\n        transition,\n        reason,\n      },\n\n      selector: j.selector ?? {},\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        864
      ],
      "id": "833f502a-cb10-49ee-b351-2c52124d6d8b",
      "name": "Normalize_Promote_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_Query_Response\n// Purpose: Gateway-level canonical envelope for artifact.query.\n//\n// HARD RULES:\n// 1. Error envelopes MUST pass through unchanged.\n// 2. Canonical success envelopes MUST pass through unchanged.\n// 3. Only RAW artifacts may be wrapped.\n// 4. No code path may ever convert an error into ok:true.\n\nconst j = $json ?? {};\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n/* -------------------------------------------------\n * 1. PASS THROUGH ERRORS (ABSOLUTE)\n * ------------------------------------------------- */\nif (\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 2. PASS THROUGH CANONICAL SUCCESS\n * ------------------------------------------------- */\nif (\n  j.ok === true &&\n  j._gw_route === \"ok\" &&\n  isObject(j.data) &&\n  isObject(j.data.artifact)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 3. UNWRAP RAW ARTIFACT\n * ------------------------------------------------- */\nlet raw = null;\n\n// Common raw locations\nif (isObject(j.artifact)) {\n  raw = j.artifact;\n} else if (isObject(j.data) && isObject(j.data.artifact)) {\n  raw = j.data.artifact;\n} else if (isObject(j)) {\n  raw = j; // last resort\n}\n\n/* -------------------------------------------------\n * 4. WRAP EXACTLY ONCE\n * ------------------------------------------------- */\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: \"ok\",\n    data: {\n      artifact: raw\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "dfe6400d-a5b0-41af-b8b4-f9e621a2729a",
      "name": "NQxb_Gateway_v1__Shape_Query_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1056
      ],
      "id": "d16c644a-0c21-48a7-be31-9260f639370e",
      "name": "Handle_Delete",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape delete response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.delete\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or already deleted\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.delete\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    deleted_at: artifact.deleted_at,\n    message: \"Artifact soft-deleted (can be restored)\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1056
      ],
      "id": "8627c840-835e-40c8-a009-f6feaecc03da",
      "name": "Shape_Delete_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1248
      ],
      "id": "e78261a2-9acc-4bb0-a527-82f3f7409650",
      "name": "Handle_Restore",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape restore response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.restore\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.restore\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    message: \"Artifact restored\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1248
      ],
      "id": "30c764da-67b0-4d15-b55a-e961665bc3fa",
      "name": "Shape_Restore_Response"
    },
    {
      "parameters": {
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?deleted_at=not.is.null&artifact_type=eq.' +\n  $json.artifact_type + '&workspace_id=eq.' + $json.gw_workspace_id +\n  '&select=artifact_id,title,artifact_type,deleted_at,created_at&order=deleted_at.desc&limit=' +\n  ($json.selector?.limit || 10) + '&offset=' + ($json.selector?.offset || 0) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1440
      ],
      "id": "a82705b1-460a-425c-875e-a380d6f82343",
      "name": "Handle_List_Deleted",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape list_deleted response\n  const items = $items();\n  const artifacts = items.map(item => item.json);\n\n  return [{\n    json: {\n      ok: true,\n      gw_action: \"artifact.list_deleted\",\n      data: {\n        artifacts\n      },\n      meta: {\n        count: artifacts.length\n      }\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1440
      ],
      "id": "863f3f75-0eb1-4dfd-8c03-8a44a84c528f",
      "name": "Shape_List_Deleted_Response"
    },
    {
      "parameters": {
        "jsCode": "const j = $json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: 'error',\n    gw_action: j.gw_action ?? null,\n    gw_workspace_id: j.gw_workspace_id ?? null,\n    artifact_type: j.artifact_type ?? null,\n    error: {\n      code: 'ACTION_NOT_ALLOWED',\n      message: `Unrecognized gateway route or action. No handler matched.`,\n      details: {\n        gw_action: j.gw_action ?? null,\n        _gw_route: j._gw_route ?? null,\n        note: 'Switch fallback triggered — request did not match any configured route or action.'\n      }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        608
      ],
      "id": "9d6071bb-cf0b-47ba-a7f8-111938fc1698",
      "name": "NQxb_Gateway_v1__Return_Unhandled_Route_Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MfHZc98bCX8wXO3P",
          "mode": "list",
          "cachedResultUrl": "/workflow/MfHZc98bCX8wXO3P",
          "cachedResultName": "NQxb_Artifact_Update_v1__T69"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        624
      ],
      "id": "68aafca8-af46-40f3-9e91-1338dca35ddd",
      "name": "Call 'NQxb_Artifact_Update_v1__T69'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0c9EW8sU3banPoZ7",
          "mode": "list",
          "cachedResultUrl": "/workflow/0c9EW8sU3banPoZ7",
          "cachedResultName": "NQxb_Messaging_Send_Email_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1632
      ],
      "id": "e58e1b3b-bd8c-409e-afb5-b7bb9bf13daf",
      "name": "Call 'NQxb_Messaging_Send_Email_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sCW7sa3g3IQlwUO5",
          "mode": "list",
          "cachedResultUrl": "/workflow/sCW7sa3g3IQlwUO5",
          "cachedResultName": "NQxb_Messaging_Calendar_Event_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1824
      ],
      "id": "8df137a7-032a-4c47-8882-02ae9edd0c7b",
      "name": "Call 'NQxb_Messaging_Calendar_Event_v1'",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "NQxb_Gateway_v1__Webhook_In": [
      {
        "json": {
          "gw_action": "artifact.promote",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "project",
          "artifact_id": "fe176f19-cfd2-4843-89c1-0853f04781c8",
          "transition": "seed_to_sapling",
          "reason": "Pinned promote test via Gateway",
          "actor": {
            "user_id": "7097c16c-ed88-4e49-983f-1de80e5cfcea",
            "email": "joel@halosparkai.com"
          },
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": true,
            "auth_scheme": "basic",
            "auth_username": "qwrk-gateway"
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Return_Unhandled_Route_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Build_List_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway__Freeze_Save_Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1_Normalize_Update_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Promote_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_List_Deleted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Messaging_Send_Email_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Messaging_Calendar_Event_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Return_Unhandled_Route_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Messaging_Send_Email_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Messaging_Calendar_Event_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_Query_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Freeze_Save_Context": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Tag_Save_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Tag_Save_Result": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Shape_Save_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Shape_Save_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Call_Artifact_List_v1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_List_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_List_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Build_List_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Call_Artifact_List_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1_Normalize_Update_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Update_v1__T69'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Promote_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Promote_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Promote_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_Query_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Delete": {
      "main": [
        [
          {
            "node": "Shape_Delete_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Delete_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Restore": {
      "main": [
        [
          {
            "node": "Shape_Restore_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Restore_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_List_Deleted": {
      "main": [
        [
          {
            "node": "Shape_List_Deleted_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_List_Deleted_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Return_Unhandled_Route_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Update_v1__T69'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c821cd01-1538-4f24-ac72-cdfd9b4bf367",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "Tq8ze0iTjFW7yulG",
  "tags": []
}