workflows/2_22_26_6_30am current workflow files/NQxb_Artifact_Query_v1 (19).json
{
  "name": "NQxb_Artifact_Query_v1",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82d8c625-1508-4acc-bdb6-a1b1e83bafae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ec1d6524-ccd0-426d-be0c-8be69fac3de8",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18bf1eab-4d77-4687-ab57-a88734550897",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3331edbf-ee29-4a61-a8d9-7c98c3f276b7",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e1bb9d5-02c7-4e0a-9f15-cfd8d3cae7e2",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0001-4000-8000-query0000001",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "branch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0002-4000-8000-query0000002",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "limb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0003-4000-8000-query0000003",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "leaf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2160,
        336
      ],
      "id": "9e2e5ea8-ce66-4afa-abd5-ea0d6ef36504",
      "name": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "217fb63d-5213-449d-8391-5a2cc55715ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28d1e829-9368-4c6d-8521-428d7b512695",
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        368
      ],
      "id": "c4af9b77-a919-4f94-892b-4f00892a85d2",
      "name": "NQxb_Gateway_v1__Switch_Spine_Found"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "project::project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d99ba0c-e31c-47c9-81bd-5250bd60fcde"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2cc91ca2-ce2b-4b65-af6a-99c88a8207fa",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "journal::journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "223a7ca2-b808-4208-84ae-3642771925dc",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "restart::restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b1c3f25-45fb-478a-af96-29a9e2a2edbf",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "snapshot::snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abd68435-98c4-4c72-8057-b57f3ab60c1b",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "instruction_pack::instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0004-4000-8000-query0000004",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "branch::branch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0005-4000-8000-query0000005",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "limb::limb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0006-4000-8000-query0000006",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "leaf::leaf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -544,
        336
      ],
      "id": "9a084aa8-c102-4497-8ee8-131c0ab45695",
      "name": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType"
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "id": "795ad758-6a39-4b5a-a914-8bc6d746ba78",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0b922bf-2117-493e-b047-27e6561a81e2",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// 🔒 Query Tail Guard: canonical lifecycle lives only on qxb_artifact.lifecycle_status\n// Prevent consumers from treating extension.lifecycle_stage as canonical lifecycle.\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "2ee3c4ca-9d64-490c-a4c5-5cf221f2aa80",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        272
      ],
      "id": "c60656f1-ad95-4fee-b80a-36e729f506ac",
      "name": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        80
      ],
      "id": "bd3abe16-95f7-4abf-a224-ed5f06e5fefc",
      "name": "NQxb_Gateway_v1__Set_SpineType"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecbc52eb-078a-4603-802b-6d98ac46b50c",
              "name": "compare_key",
              "value": "={{ ($json.spine_artifact_type ?? '').trim() + '::' + ($node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.req_artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "=all",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        384
      ],
      "id": "aa558727-6660-49e5-9830-64450cd78120",
      "name": "NQxb_Gateway_v1__Edit_CompareKey"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        272
      ],
      "id": "3fadf7ad-9cba-4e7a-9553-e389169e2b48",
      "name": "NQxb_Gateway_v1__Set_SpineType1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        80
      ],
      "id": "ebfd56d7-4943-41af-8acd-b16d67d575a8",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "87294f05-5068-4a9b-9112-2d8672b034cd",
      "name": "Get a Snapshot row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "61ff3ed0-325b-4e78-9b1f-c5020081507f",
      "name": "Get a Journal row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "id": "8a05e61f-a900-4892-8b9a-3070d564b72e",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "8478a096-7efb-4b33-a1cc-ca794f4262d6",
      "name": "Get a Restart row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        384
      ],
      "id": "15431cf2-5410-4f3e-9cf4-748e95a60ea6",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        656
      ],
      "id": "4330fe9a-eb99-489b-9401-478d666edccb",
      "name": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        656
      ],
      "id": "c84f903e-adaa-4cd5-ac2b-05a16bbab38f",
      "name": "NQxb_Gateway_v1__Set_SpineType2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        464
      ],
      "id": "cf730c66-1c29-4fbd-ac36-d5a2f0f20374",
      "name": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        464
      ],
      "id": "824ee745-764e-4988-b0e3-d8e75d1cc295",
      "name": "NQxb_Gateway_v1__Set_SpineType3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2816,
        368
      ],
      "id": "2898422b-0c7d-4035-8896-d3f4b9ba7f73",
      "name": "NQxb_Artifact_Query_v1__In",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Normalize_Request\n// Canonicalize inbound request so downstream nodes always use top-level fields.\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector\n// Plus \"request echoes\" that survive later DB row replacement:\n//   $json.req_artifact_type, $json.req_artifact_id\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// In Execute Workflow Trigger calls, we usually receive a flat object,\n// but we still support body-wrapped payloads to stay compatible with Gateway/webhook callers.\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// normalize helper\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  // (e.g., Supabase \"Get row\" returning the artifact row)\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n};\n\nreturn [{ json: canonical }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        368
      ],
      "id": "e6d19c5b-a80e-4f2c-829d-5317cbdb60aa",
      "name": "NQxb_Artifact_Query_v1__Normalize_Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 8,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        336
      ],
      "id": "930ba0be-a8ed-4431-bcf3-38646763a89b",
      "name": "NQxb_Artifact_Query_v1__Return",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2400,
        368
      ],
      "id": "288fe45b-0c8a-4dd4-8165-10da9f6223e3",
      "name": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Check if types actually match but no extension table exists\n// Types like grass, thorn, forest, thicket, flower, branch, leaf have no extension tables.\n// When stored_type === requested_type, return spine only instead of TYPE_MISMATCH.\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\nconst stored = typeof j.artifact_type === \"string\" ? j.artifact_type.trim() : (j.artifact_type ?? null);\nconst requested = typeof req.req_artifact_type === \"string\" ? req.req_artifact_type.trim() : (typeof req.artifact_type === \"string\" ? req.artifact_type.trim() : null);\n\n// If types match, no extension table — return spine only\nif (stored && requested && stored === requested) {\n  const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ...spineRaw, artifact_type: stored, extension: null } }];\n}\n\n// Actual TYPE_MISMATCH — existing logic preserved exactly\nconst artifact_id = req.req_artifact_id ?? req.artifact_id ?? j.artifact_id ?? null;\nconst gw_workspace_id = req.gw_workspace_id ?? req.workspace_id ?? null;\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id,\n    artifact_id,\n    requested_artifact_type: requested,\n    stored_artifact_type: stored,\n    compare_key: `${stored ?? \"null\"}::${requested ?? \"null\"}`,\n    error: {\n      code: \"TYPE_MISMATCH\",\n      message: \"Requested artifact_type does not match stored artifact_type for this artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1008
      ],
      "id": "4a1ff0a8-66a3-49a8-9d2a-ff4ee79bb0bf",
      "name": "NQxb_Artifact_Query_v1__Return_TypeMismatch"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Shape_Return\n// Purpose: Produce deterministic errors, but on success return RAW artifact object (no envelope).\n// Input: a single merged item from NQxb_Artifact_Query_v1__Return (Merge node)\n\nconst j = $json ?? {};\n\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\nconst isError =\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error);\n\nif (isError) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? j.artifact_type ?? null,\n      stored_artifact_type: (typeof j.stored_artifact_type === \"string\") ? j.stored_artifact_type.trim() : (j.stored_artifact_type ?? null),\n      compare_key: j.compare_key ?? null,\n      error: j.error ?? { code: \"ERROR\", message: \"Unknown error\" },\n      timestamp: j.timestamp ?? new Date().toISOString(),\n    }\n  }];\n}\n\n// Fail-closed guard: do not return success unless we have an actual artifact spine shape.\nconst hasArtifactSpine =\n  typeof j.artifact_id === \"string\" && j.artifact_id.trim().length > 0 &&\n  typeof j.workspace_id === \"string\" && j.workspace_id.trim().length > 0 &&\n  typeof j.artifact_type === \"string\" && j.artifact_type.trim().length > 0;\n\nif (!hasArtifactSpine) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? null,\n      error: {\n        code: \"QUERY_RETURN_SHAPE_INVALID\",\n        message: \"Query did not produce a valid artifact row for shaping.\",\n        details: {\n          reason: \"missing_artifact_fields\",\n          received_keys: Object.keys(isObject(j) ? j : {}),\n        },\n      },\n      timestamp: new Date().toISOString(),\n    }\n  }];\n}\n\n// ✅ Success path: return RAW artifact object so Gateway wraps exactly once\nreturn [{\n  json: j\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1168
      ],
      "id": "271adf9f-3e17-4811-91e1-a26ba5d8b47d",
      "name": "NQxb_Artifact_Query_v1__Shape_Return"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Return_NotFound\n// Purpose: Deterministic NOT_FOUND when qxb_artifact spine row is missing\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\nconst found = j && j.artifact_id;\n\nif (found) {\n  // PASS-THROUGH: do not stop the workflow path\n  return [{ json: j }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id: req.gw_workspace_id ?? req.workspace_id ?? null,\n    artifact_id: req.req_artifact_id ?? req.artifact_id ?? null,\n    requested_artifact_type: req.req_artifact_type ?? req.artifact_type ?? null,\n    error: {\n      code: \"NOT_FOUND\",\n      message: \"Artifact not found for workspace_id + artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        1184
      ],
      "id": "f77822ef-d526-4e6b-832b-bbe2a1e8ec30",
      "name": "NQxb_Artifact_Query_v1__Return_NotFound"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        768
      ],
      "id": "f3cd4a67-6ab7-4d8d-ab51-cbeac7ba8c8a",
      "name": "Get an instruction_pack row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\n// Merge spine + instruction_pack extension into the canonical artifact shape.\n// Mirrors Merge_Spine_And_Project_Extension pattern (known-good).\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\n// Supabase Get output (current item) is the extension row\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\nlet ext = extRaw ? { ...extRaw } : null;\n\n// Strip artifact_type from extension if present\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// (Optional parity cleanup; harmless if absent)\nif (ext && \"workspace_id\" in ext) delete ext.workspace_id;\nif (ext && \"owner_user_id\" in ext) delete ext.owner_user_id;\n\n// If any extension accidentally carries lifecycle_stage, drop it (canonical lifecycle is spine-only)\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        768
      ],
      "id": "77756bba-dcfd-4ee8-b097-41cdcb2e3a04",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        864
      ],
      "id": "07648853-1f95-4aa9-b7f3-fb247c604558",
      "name": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        864
      ],
      "id": "f05df546-e272-4ccc-b7c1-2e6622e72c1d",
      "name": "NQxb_Gateway_v1__Set_SpineType4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-1001-4000-8000-query0000010",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        1072
      ],
      "id": "8b06a1d4-9899-4c5f-9a24-a9b68284690a",
      "name": "NQxb_Gateway_v1__Set_SpineType_Walk"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_limb",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        1264
      ],
      "id": "8f1aae6e-184e-4a5d-bc7b-3493214fd20b",
      "name": "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-1003-4000-8000-query0000011",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        1264
      ],
      "id": "b7a80bc8-56a2-4d2f-957a-d7449c89eb9f",
      "name": "NQxb_Gateway_v1__Set_SpineType_Limb"
    },
    {
      "parameters": {
        "jsCode": "// Phase 2B Walk: Spine-only query merge for types with no extension table (branch, leaf)\n// Respects hydrate gate. Returns spine with extension: null.\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nconst _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nreturn [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1072
      ],
      "id": "51a773df-3c62-466b-a371-8f9b07fda2f4",
      "name": "NQxb_Gateway_v1__Spine_Only_Query_Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_limb",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1264
      ],
      "id": "a102ca69-c094-4020-986d-011337fa7e16",
      "name": "Get a Limb row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Phase 2B Walk: Merge spine + limb extension\n// Hydrate gate respected. Shell table: artifact_id, created_at, updated_at.\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1264
      ],
      "id": "310ea9b5-5f87-4527-a342-80c8d99c9666",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Query_v1__In": [
      {
        "json": {
          "gw_action": "artifact.query",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "restart",
          "artifact_id": "ac1d6294-2bd7-4a9d-823e-827562b56e26",
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": false
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Walk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Walk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Spine_Found": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Edit_CompareKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Journal row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Restart row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Snapshot row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an instruction_pack row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Spine_Only_Query_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Limb row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Spine_Only_Query_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_TypeMismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Edit_CompareKey": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Snapshot row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Journal row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a Restart row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType2": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType3": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery",
            "type": "main",
            "index": 0
          },
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_TypeMismatch": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_NotFound": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an instruction_pack row1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType4": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType_Walk": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Limb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType_Limb": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Spine_Only_Query_Merge": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Get a Limb row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a03521f4-165c-4dd8-96e2-cfc6d4a9feae",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "UuaGcR7mn5uQKZfj",
  "tags": []
}