workflows/2_22_26_6_30am current workflow files/NQxb_Gateway_v1 (56).json
{
  "name": "NQxb_Gateway_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v1",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        208
      ],
      "id": "9a4f93f3-724f-4b25-a652-5bae2b611ee6",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "fe50d8cb-3789-49d9-9fad-436279cb8e54",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request\n// Canonical normalization BEFORE Gatekeeper\n// FIX: explicitly forward title + owner identity for artifact.save\n\nfunction isNonEmptyObject(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length > 0;\n}\n\nfunction pickSource() {\n  if (isNonEmptyObject($json?.params)) return { src: \"params\", raw: $json.params };\n  if (isNonEmptyObject($json?.query)) return { src: \"query\", raw: $json.query };\n  if (isNonEmptyObject($json?.body?.body)) return { src: \"body.body\", raw: $json.body.body };\n  if (isNonEmptyObject($json?.body)) return { src: \"body\", raw: $json.body };\n  if (isNonEmptyObject($json)) return { src: \"json\", raw: $json };\n  return { src: \"empty\", raw: {} };\n}\n\nconst { src, raw } = pickSource();\n\nreturn [\n  {\n    json: {\n      // --- Canonical action ---\n      gw_action: raw.gw_action ?? raw.action ?? null,\n\n      // --- Workspace / identity ---\n      gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      workspace_id: raw.workspace_id ?? raw.gw_workspace_id ?? null,\n\n      // --- Artifact identity ---\n      artifact_type: raw.artifact_type ?? null,\n      artifact_id: raw.artifact_id ?? null,\n\n      // --- REQUIRED for INSERT ---\n      title: raw.title ?? null,\n\n      // --- Payload ---\n      extension: raw.extension ?? raw.patch ?? {},\n      tags: raw.tags ?? null,\n\n      // --- Spine fields for INSERT ---\n      parent_artifact_id: raw.parent_artifact_id ?? null,\n      summary: raw.summary ?? null,\n      priority: raw.priority ?? null,\n      content: raw.content ?? null,\n      lifecycle_status: raw.lifecycle_status ?? null,\n      execution_status: raw.execution_status ?? null,\n\n      // --- Owner / auth passthrough ---\n      auth_username:\n        raw.auth_username ??\n        raw.owner_username ??\n        raw.created_by ??\n        null,\n\n      // --- Freeze intent ---\n      req_gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      req_artifact_type: raw.artifact_type ?? null,\n      req_artifact_id: raw.artifact_id ?? null,\n      req_title: raw.title ?? null,\n\n      // --- Selector (artifact.list pagination) ---\n      selector: raw.selector ?? {},\n\n      // --- Promote fields ---\n      transition: raw.transition ?? null,\n      reason: raw.reason ?? null,\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1__Normalize_Request\",\n        source: src,\n        received_keys: Object.keys(raw),\n        has_title: !!raw.title,\n        has_auth: !!(\n          raw.auth_username ||\n          raw.owner_username ||\n          raw.created_by\n        ),\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        208
      ],
      "id": "c8e34f0e-57e5-4d3e-be0a-cb1497fa5dcb",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly\n// Combined: envelope validation + allow-lists + MVP Mode owner-only enforcement (workspace lock)\n//\n// Output contract:\n// - If blocked: { ok:false, error:{code,message,details}, _gw_route:\"error\", ... }\n// - If allowed: passes through the *entire* canonical request + { ok:true, _gw_route:\"ok\" }\n\nconst OWNER_WORKSPACE_ID = \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\";\n\n// ✅ Allowlist includes promote + update\nconst ACTION_ALLOWLIST = new Set([\n  \"artifact.query\",\n  \"artifact.list\",\n  \"artifact.save\",\n  \"artifact.update\",\n  \"artifact.promote\",\n  \"artifact.delete\",\n  \"artifact.restore\",\n  \"artifact.list_deleted\",\n]);\n\n// ✅ UPDATED: Phase 2B Walk — branch/limb/leaf added per governance snapshot 2a8911ef\nconst TYPE_ALLOWLIST = new Set([\n  \"project\",\n  \"journal\",\n  \"restart\",\n  \"snapshot\",\n  \"instruction_pack\",\n  \"branch\",\n  \"limb\",\n  \"leaf\",\n]);\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: { code, message, details },\n\n        // Keep echoes for debugging\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n        _gw_debug: $json?._gw_debug ?? undefined,\n\n        // OPTIONAL: preserve original input for inspection (internal MVP)\n        incoming: $json ?? {},\n      },\n    },\n  ];\n}\n\n// ----- Read canonical fields produced by Normalize_Request -----\nconst gw_action = $json?.gw_action;\nconst gw_workspace_id = $json?.gw_workspace_id;\nconst artifact_type = $json?.artifact_type;\nconst artifact_id = $json?.artifact_id;\nconst selector = asObj($json?.selector);\n\n// Extension + tags (tags-only updates are valid)\nconst extension = asObj($json?.extension);\nconst tags = asObj($json?.tags);\n\n// ----- Basic required checks -----\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\n\n// ----- Allow-list checks -----\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n/**\n * 🔑 CRITICAL FIX (BUG-017)\n *\n * We do NOT require gw_workspace_id at Gatekeeper time for artifact.update.\n * Update workflow performs authoritative workspace validation downstream.\n */\nconst requiresWorkspaceAtGate = gw_action !== \"artifact.update\";\n\nif (requiresWorkspaceAtGate) {\n  if (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_workspace_id\", {\n      expected: \"uuid string\",\n      got: typeof gw_workspace_id,\n    });\n  }\n\n  // ----- MVP owner-only workspace lock -----\n  if (gw_workspace_id !== OWNER_WORKSPACE_ID) {\n    return fail(\"WORKSPACE_FORBIDDEN\", \"Workspace not permitted in MVP owner-only mode\", {\n      gw_workspace_id,\n      allowed_workspace_id: OWNER_WORKSPACE_ID,\n    });\n  }\n}\n\n// ----- Action-specific validation -----\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.query\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.query\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n}\n\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.list\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// NOTE: For artifact.save we intentionally do NOT require artifact_type/artifact_id here.\n\nif (gw_action === \"artifact.update\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.update\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.update\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n\n  /**\n   * 🔑 BUG-017 FIX:\n   * Allow EITHER extension updates OR tags-only updates.\n   */\n  const hasExtension = Object.keys(extension).length > 0;\n  const hasTags =\n    Array.isArray(tags?.add) && tags.add.length > 0 ||\n    Array.isArray(tags?.remove) && tags.remove.length > 0;\n\n  if (!hasExtension && !hasTags) {\n    return fail(\"VALIDATION_ERROR\", \"artifact.update requires extension or tags\", {\n      expected: \"non-empty extension OR tags.add/tags.remove\",\n      got: { extension, tags },\n    });\n  }\n}\n\nif (gw_action === \"artifact.promote\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.promote\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.promote\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n\n  const transition = $json?.transition ?? $json?.artifact_payload?.transition ?? null;\n\n  if (!transition || typeof transition !== \"string\" || transition.trim().length === 0) {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid transition for artifact.promote\", {\n      expected: \"non-empty string\",\n      got: transition ?? null,\n    });\n  }\n}\n\n// ----- PASS THROUGH + ADD ROUTING CONTRACT -----\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n\n      ok: true,\n      _gw_route: \"ok\",\n\n      // enforce canonical fields\n      gw_action,\n      gw_workspace_id: gw_workspace_id ?? null,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      ...(gw_action === \"artifact.update\" ? { extension, tags } : {}),\n\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        208
      ],
      "id": "2e0ca8f3-034c-4bb8-a8bf-9fb3bd3e257f",
      "name": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8153fa85-e2a0-4b7f-977a-19a99e9ed8f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08e622c7-fb31-40c9-847d-afb5dad39973",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -864,
        208
      ],
      "id": "7af012c1-066d-41f5-bb9e-d605b8439d6a",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -640,
        96
      ],
      "id": "a4cb1dd0-64e9-4c41-8487-05bba9f47091",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52ad343d-e0ed-4932-a694-f97756475ce8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442dede-1a9a-4826-8021-bff39a110266",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "artifact-save-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31a22f06-9e48-4296-b859-3be36b69f1d8",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0601c9aa-d2ac-4e77-aa16-0f7bf2fc315a",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.promote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "delete-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "restore-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "list-deleted-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list_deleted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        288
      ],
      "id": "54e4bb95-c7d9-484a-befc-762a577d8321",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(\n  (() => {\n    const j = $json ?? {};\n    const isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n    const isErrorEnvelope =\n      j.ok === false || j._gw_route === \"error\" || isObject(j.error);\n\n    const isSuccessEnvelope =\n      j.ok === true &&\n      j._gw_route === \"ok\" &&\n      isObject(j.data) &&\n      isObject(j.data.artifact);\n\n    if (isErrorEnvelope || isSuccessEnvelope) return j;\n\n    return { ok: true, _gw_route: \"ok\", data: { artifact: j } };\n  })()\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "01291e28-5f1f-4a46-9140-031da5991b09",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UuaGcR7mn5uQKZfj",
          "mode": "list",
          "cachedResultUrl": "/workflow/UuaGcR7mn5uQKZfj",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "43fdab81-4607-4261-a176-438ff43a82b6",
      "name": "Call 'NQxb_Artifact_Query_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Freeze_Save_Context\n// Freeze request fields BEFORE calling Save sub-workflow\n// Tag for deterministic merge after sub-workflow returns\n// This node splits to TWO destinations: Save sub-workflow + Merge bypass\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"frozen_context\",\n    _frozen_artifact_type: $json.req_artifact_type ?? $json.artifact_type ?? null,\n    _frozen_workspace_id: $json.req_workspace_id ?? $json.gw_workspace_id ?? null,\n    _frozen_extension: $json.req_extension ?? $json.extension ?? {},\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "fbae20a7-dfc1-4bde-880f-55226fe4f708",
      "name": "NQxb_Gateway__Freeze_Save_Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fV1lV6SUWhero9nc",
          "mode": "list",
          "cachedResultUrl": "/workflow/fV1lV6SUWhero9nc",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "04c48a76-6fa0-4f51-ba2e-1a3268022144",
      "name": "Call 'NQxb_Artifact_Save_v1'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Tag_Save_Result\n// Tag Save sub-workflow result for deterministic merge\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"save_result\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ],
      "id": "2e8ad601-253c-4853-860e-f5bc3497db44",
      "name": "NQxb_Gateway__Tag_Save_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Shape_Save_Response\n// Purpose: Build Gateway response envelope for artifact.save deterministically.\n// Sources:\n//  - Frozen request context: NQxb_Gateway__Freeze_Save_Context\n//  - Save sub-workflow output: NQxb_Gateway__Tag_Save_Result\n//\n// Fix in this revision:\n//  - Robustly extract artifact_id and _owner_source across all artifact_type branches\n//    (restart was KGB; project returned ok:true but artifact_id null → mismatch in returned field names).\n\nconst ctxItems = $items(\"NQxb_Gateway__Freeze_Save_Context\");\nconst saveItems = $items(\"NQxb_Gateway__Tag_Save_Result\");\n\nconst context = ctxItems?.[0]?.json ?? null;\nconst saveResult = saveItems?.[0]?.json ?? null;\n\nfunction fail(code, message, details = {}) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      error: { code, message, details },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!context) {\n  return fail(\"CONTEXT_MISSING\", \"Could not read frozen context from Freeze_Save_Context node\", {\n    ctx_count: ctxItems?.length ?? 0\n  });\n}\n\nif (!saveResult) {\n  return fail(\"SAVE_RESULT_MISSING\", \"Could not read Save result from Tag_Save_Result node\", {\n    save_count: saveItems?.length ?? 0\n  });\n}\n\n// Frozen fields (authoritative for shaping)\nconst artifact_type =\n  context._frozen_artifact_type ?? context.req_artifact_type ?? context.artifact_type ?? null;\n\nconst workspace_id =\n  context._frozen_workspace_id ?? context.req_workspace_id ?? context.gw_workspace_id ?? null;\n\nconst extension_payload = context._frozen_extension?.payload ?? {};\n\n// Extracts (NO invention; fallbacks only)\nconst artifact_id =\n  saveResult.artifact_id ??\n  saveResult.saved_artifact_id ??\n  saveResult.data?.artifact_id ??\n  saveResult.data?.artifact?.artifact_id ??\n  null;\n\nconst owner_source =\n  (typeof saveResult._owner_source === \"string\" && saveResult._owner_source.length > 0)\n    ? saveResult._owner_source\n    : (typeof saveResult._frozen_owner_source === \"string\" && saveResult._frozen_owner_source.length > 0)\n      ? saveResult._frozen_owner_source\n      : null;\n\n// If Save failed, return its error but keep type/workspace for caller clarity\nif (saveResult.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      artifact_type,\n      workspace_id,\n      _owner_source: owner_source,\n      error: saveResult.error ?? {\n        code: \"SAVE_FAILED\",\n        message: \"Save workflow returned ok:false with no error object\",\n        details: {}\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Save succeeded\nconst operation = saveResult.operation ?? \"INSERT\";\n\nconst response = {\n  ok: true,\n  gw_action: \"artifact.save\",\n  artifact_id,\n  artifact_type,\n  workspace_id,\n  operation,\n  _owner_source: owner_source,\n  timestamp: new Date().toISOString()\n};\n\n// For restart/snapshot, echo the payload that *was requested* to be saved (frozen request intent)\nif (artifact_type === \"restart\" || artifact_type === \"snapshot\") {\n  response.extension = { payload: extension_payload };\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        400
      ],
      "id": "db121fa0-a0e0-46ce-9333-05950a6ecd8c",
      "name": "NQxb_Gateway__Shape_Save_Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        400
      ],
      "id": "a1326044-7c4b-4ccc-a0f8-fdbc4a76aabe",
      "name": "NQxb_Gateway__Respond_Save_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RKDyfV4mdHCBDkmK",
          "mode": "list",
          "cachedResultUrl": "/workflow/RKDyfV4mdHCBDkmK",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "0575de88-013e-4fd1-a200-b48f87298843",
      "name": "NQxb_Gateway_v1__Call_Artifact_List_v1"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_List_Response\n// Purpose: Shape canonical list response for Gateway\n// Rule: If sub-workflow already returned a canonical artifact.list envelope,\n//       PASS THROUGH exactly (no re-wrapping).\n\nconst j = $json ?? {};\n\n// ---------- helpers ----------\nconst isObject = (x) => x && typeof x === \"object\" && !Array.isArray(x);\n\nconst isCanonicalListEnvelope = (x) =>\n  isObject(x) &&\n  x.ok === true &&\n  x.gw_action === \"artifact.list\" &&\n  isObject(x.data) &&\n  Array.isArray(x.data.artifacts) &&\n  isObject(x.meta);\n\n// ---------- PASS-THROUGH CASE ----------\n// If Gateway received a single item in data.artifacts\n// and that item is itself a canonical list envelope,\n// return it directly.\nif (\n  isObject(j.data) &&\n  Array.isArray(j.data.artifacts) &&\n  j.data.artifacts.length === 1 &&\n  isCanonicalListEnvelope(j.data.artifacts[0])\n) {\n  return j.data.artifacts[0];\n}\n\n// ---------- NORMAL WRAP (raw rows case) ----------\nconst artifacts = Array.isArray(j.data?.artifacts)\n  ? j.data.artifacts\n  : [];\n\nreturn {\n  ok: true,\n  gw_action: \"artifact.list\",\n  gw_workspace_id: j.gw_workspace_id,\n  artifact_type: j.artifact_type,\n  selector: j.selector ?? {},\n  data: {\n    artifacts,\n  },\n  meta: {\n    count: artifacts.length,\n    limit: j.selector?.limit ?? artifacts.length,\n    offset: j.selector?.offset ?? 0,\n    has_more: artifacts.length === (j.selector?.limit ?? artifacts.length),\n    as_of: j.selector?.as_of ?? new Date().toISOString(),\n  },\n  timestamp: new Date().toISOString(),\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        192
      ],
      "id": "afb7df19-9a21-4bfa-b32c-cf89e3f420fa",
      "name": "NQxb_Gateway_v1__Shape_List_Response"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Gateway input for artifact.list before calling sub-workflow\n// Purpose:\n// - Ensure artifact_type is present at top level\n// - Preserve selector object\n// - Merge top-level limit/offset/hydrate/filters into selector (T19+T20 fix)\n// - Prevent null / empty artifact_type from leaking downstream\n\nconst gw_workspace_id =\n  $json.gw_workspace_id ??\n  $json.req_workspace_id ??\n  null;\n\nif (!gw_workspace_id) {\n  throw new Error(\"Gateway Build_List_Request: gw_workspace_id is required\");\n}\n\nconst artifact_type =\n  (typeof $json.artifact_type === \"string\" && $json.artifact_type.trim() !== \"\")\n    ? $json.artifact_type.trim()\n    : (typeof $json.req_artifact_type === \"string\" && $json.req_artifact_type.trim() !== \"\")\n      ? $json.req_artifact_type.trim()\n      : null;\n\nif (!artifact_type) {\n  throw new Error(\"Gateway Build_List_Request: artifact_type is required for artifact.list\");\n}\n\n// Build selector: prefer explicit selector object, then merge top-level fields\nconst selectorIn =\n  (typeof $json.selector === \"object\" && $json.selector !== null)\n    ? { ...$json.selector }\n    : {};\n\n// T20 FIX: Merge top-level limit/offset/hydrate into selector if not already present\nif ($json.limit !== undefined && selectorIn.limit === undefined) {\n  selectorIn.limit = $json.limit;\n}\nif ($json.offset !== undefined && selectorIn.offset === undefined) {\n  selectorIn.offset = $json.offset;\n}\nif ($json.hydrate !== undefined && selectorIn.hydrate === undefined) {\n  selectorIn.hydrate = $json.hydrate;\n}\n\n// T19 FIX: Merge top-level filters into selector.filters if not already present\nif ($json.filters && typeof $json.filters === \"object\" && !selectorIn.filters) {\n  selectorIn.filters = $json.filters;\n}\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.list\",\n      gw_workspace_id,\n      artifact_type,\n      selector: selectorIn,\n\n      // Debug breadcrumbs\n      _gw_debug: {\n        normalized: true,\n        resolved_artifact_type: artifact_type,\n        selector_had_limit: $json.selector?.limit !== undefined,\n        top_level_limit: $json.limit,\n        top_level_offset: $json.offset,\n        top_level_filters: $json.filters ? true : false,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "e5bb198c-fa56-4e55-8a61-261e18102889",
      "name": "NQxb_Gateway_v1__Build_List_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1_Normalize_Update_Request\n// Purpose: normalize artifact.update requests into a canonical update payload\n// Runs AFTER Gateway action routing (artifact.update only)\n\nconst input = $json ?? {};\n\n// Canonical identifiers (already scalarized upstream)\nconst gw_workspace_id = input.gw_workspace_id ?? null;\nconst artifact_type = input.artifact_type ?? null;\nconst artifact_id = input.artifact_id ?? null;\n\n// Payloads\nconst extension = input.extension ?? {};\nconst tags = input.tags ?? null;\n\n// Detect source for debug only (no control flow dependency)\nlet source_detected = \"unknown\";\nif ($json?.params) source_detected = \"params\";\nelse if ($json?.query) source_detected = \"query\";\nelse if ($json?.body?.body) source_detected = \"body.body\";\nelse if ($json?.body) source_detected = \"body\";\nelse source_detected = \"json\";\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.update\",\n\n      gw_workspace_id,\n      artifact_type,\n      artifact_id,\n\n      extension,\n      tags,\n\n      // Freeze intent for downstream workflows\n      req_gw_workspace_id: gw_workspace_id,\n      req_artifact_type: artifact_type,\n      req_artifact_id: artifact_id,\n      req_extension: extension,\n      req_tags: tags,\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1_Normalize_Update_Request\",\n        source_detected,\n        received_keys: Object.keys(input),\n        has_extension: Object.keys(extension).length > 0,\n        has_tags:\n          tags &&\n          ((Array.isArray(tags.add) && tags.add.length > 0) ||\n            (Array.isArray(tags.remove) && tags.remove.length > 0)),\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        624
      ],
      "id": "2a981699-5696-4462-b879-3110c2a06039",
      "name": "NQxb_Gateway_v1_Normalize_Update_Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EK6u4DkQB45mcDiV",
          "mode": "list",
          "cachedResultUrl": "/workflow/EK6u4DkQB45mcDiV",
          "cachedResultName": "NQxb_Artifact_Promote_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "gw_action",
              "displayName": "gw_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "gw_workspace_id",
              "displayName": "gw_workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_type",
              "displayName": "artifact_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "actor_user_id",
              "displayName": "actor_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_payload",
              "displayName": "artifact_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "selector",
              "displayName": "selector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        864
      ],
      "id": "cd7cbd71-b245-431b-bdc5-83062527f55d",
      "name": "Call 'NQxb_Artifact_Promote_v1'"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Promote_Request\n// Purpose: Shape a promote request to match NQxb_Artifact_Promote_v1 Workflow Inputs contract.\n// Notes:\n// - Must output n8n items: [{ json: ... }]\n// - Promote workflow expects transition/reason at TOP-LEVEL (due to current contract wiring)\n// - We also preserve artifact_payload.transition/reason (future-proof / harmless)\n\nconst j = $json;\n\nconst transition = j.transition ?? j.artifact_payload?.transition ?? null;\nconst reason = j.reason ?? j.artifact_payload?.reason ?? null;\n\nreturn [\n  {\n    json: {\n      gw_action: j.gw_action,\n      gw_workspace_id: j.gw_workspace_id,\n\n      artifact_type: j.artifact_type,\n      artifact_id: j.artifact_id,\n\n      actor_user_id: j.actor?.user_id ?? j.actor_user_id ?? null,\n\n      // ✅ REQUIRED by Promote workflow (current contract expectations)\n      transition,\n      reason,\n\n      // ✅ keep payload too (harmless / future-proof)\n      artifact_payload: {\n        transition,\n        reason,\n      },\n\n      selector: j.selector ?? {},\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        864
      ],
      "id": "1f48ee75-7b35-4e39-aa83-bb5d104dd3f9",
      "name": "Normalize_Promote_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_Query_Response\n// Purpose: Gateway-level canonical envelope for artifact.query.\n//\n// HARD RULES:\n// 1. Error envelopes MUST pass through unchanged.\n// 2. Canonical success envelopes MUST pass through unchanged.\n// 3. Only RAW artifacts may be wrapped.\n// 4. No code path may ever convert an error into ok:true.\n\nconst j = $json ?? {};\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n/* -------------------------------------------------\n * 1. PASS THROUGH ERRORS (ABSOLUTE)\n * ------------------------------------------------- */\nif (\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 2. PASS THROUGH CANONICAL SUCCESS\n * ------------------------------------------------- */\nif (\n  j.ok === true &&\n  j._gw_route === \"ok\" &&\n  isObject(j.data) &&\n  isObject(j.data.artifact)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 3. UNWRAP RAW ARTIFACT\n * ------------------------------------------------- */\nlet raw = null;\n\n// Common raw locations\nif (isObject(j.artifact)) {\n  raw = j.artifact;\n} else if (isObject(j.data) && isObject(j.data.artifact)) {\n  raw = j.data.artifact;\n} else if (isObject(j)) {\n  raw = j; // last resort\n}\n\n/* -------------------------------------------------\n * 4. WRAP EXACTLY ONCE\n * ------------------------------------------------- */\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: \"ok\",\n    data: {\n      artifact: raw\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "fa1d8e5d-e2c5-4eaa-a784-e038346eaeae",
      "name": "NQxb_Gateway_v1__Shape_Query_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1056
      ],
      "id": "afb323a0-2a7a-46be-b1f7-7eac872b48a7",
      "name": "Handle_Delete",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape delete response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.delete\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or already deleted\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.delete\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    deleted_at: artifact.deleted_at,\n    message: \"Artifact soft-deleted (can be restored)\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1056
      ],
      "id": "91270ba5-9125-4cc2-afcc-4ee26f2fa421",
      "name": "Shape_Delete_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1248
      ],
      "id": "24d40d92-7c04-47e6-b460-60e76fdba99e",
      "name": "Handle_Restore",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape restore response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.restore\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.restore\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    message: \"Artifact restored\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1248
      ],
      "id": "52fb8b64-a8ce-49c8-a1bd-b624d2ad0a4f",
      "name": "Shape_Restore_Response"
    },
    {
      "parameters": {
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?deleted_at=not.is.null&artifact_type=eq.' +\n  $json.artifact_type + '&workspace_id=eq.' + $json.gw_workspace_id +\n  '&select=artifact_id,title,artifact_type,deleted_at,created_at&order=deleted_at.desc&limit=' +\n  ($json.selector?.limit || 10) + '&offset=' + ($json.selector?.offset || 0) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1440
      ],
      "id": "c9c8d39c-60c9-4dd9-ae1b-94a5800a3278",
      "name": "Handle_List_Deleted",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape list_deleted response\n  const items = $items();\n  const artifacts = items.map(item => item.json);\n\n  return [{\n    json: {\n      ok: true,\n      gw_action: \"artifact.list_deleted\",\n      data: {\n        artifacts\n      },\n      meta: {\n        count: artifacts.length\n      }\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1440
      ],
      "id": "be3725ba-f356-4b90-b491-c186a10739eb",
      "name": "Shape_List_Deleted_Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LtOubCWLcxF0ZnTr",
          "mode": "list",
          "cachedResultUrl": "/workflow/LtOubCWLcxF0ZnTr",
          "cachedResultName": "NQxb_Artifact_Update_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        624
      ],
      "id": "1f8879ab-80af-4722-b74e-b3f3a746f7c0",
      "name": "Call 'NQxb_Artifact_Update_v1'"
    }
  ],
  "pinData": {
    "NQxb_Gateway_v1__Webhook_In": [
      {
        "json": {
          "gw_action": "artifact.promote",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "project",
          "artifact_id": "fe176f19-cfd2-4843-89c1-0853f04781c8",
          "transition": "seed_to_sapling",
          "reason": "Pinned promote test via Gateway",
          "actor": {
            "user_id": "7097c16c-ed88-4e49-983f-1de80e5cfcea",
            "email": "joel@halosparkai.com"
          },
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": true,
            "auth_scheme": "basic",
            "auth_username": "qwrk-gateway"
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Build_List_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway__Freeze_Save_Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1_Normalize_Update_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Promote_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_List_Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_Query_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Freeze_Save_Context": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Tag_Save_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Tag_Save_Result": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Shape_Save_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Shape_Save_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Call_Artifact_List_v1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_List_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_List_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Build_List_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Call_Artifact_List_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1_Normalize_Update_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Update_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Promote_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Promote_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Promote_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_Query_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Delete": {
      "main": [
        [
          {
            "node": "Shape_Delete_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Delete_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Restore": {
      "main": [
        [
          {
            "node": "Shape_Restore_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Restore_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_List_Deleted": {
      "main": [
        [
          {
            "node": "Shape_List_Deleted_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_List_Deleted_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Update_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b245d7a-b9bb-4634-a335-a43cc07d5d23",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "EFqjXuynmtqYSPDA",
  "tags": []
}