workflows/2_22_26_6_30am current workflow files/NQxb_Artifact_Promote_v1 (21).json
{
  "name": "NQxb_Artifact_Promote_v1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Normalize_request\n// Purpose: Validate promote request shape, enforce required fields,\n//          normalize selector, generate request_id.\n//\n// CRITICAL:\n// - transition/reason arrive via artifact_payload due to ExecuteWorkflowTrigger contract\n// - NEVER expect them top-level here\n// - Output must surface transition/reason top-level for downstream nodes\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = (Math.random() * 16) | 0;\n    const v = (c === 'x') ? r : ((r & 0x3) | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst j = $json ?? {};\n\nconst gw_action = j.gw_action ?? \"artifact.promote\";\nconst gw_workspace_id = j.gw_workspace_id ?? j.workspace_id ?? null;\nconst artifact_type = j.artifact_type ?? null;\nconst artifact_id = j.artifact_id ?? null;\n\n// ✅ FIX: read from artifact_payload\nconst transition_raw = j.artifact_payload?.transition ?? null;\nconst reason_raw = j.artifact_payload?.reason ?? null;\n\n// Optional passthrough\nconst actor_user_id_raw = j.actor_user_id ?? null;\n\nconst selector_in = (j.selector && typeof j.selector === \"object\") ? j.selector : {};\nconst hydrate = selector_in.hydrate === true;\n\nconst transition =\n  (typeof transition_raw === \"string\") ? transition_raw.trim() : \"\";\n\nconst reason =\n  (typeof reason_raw === \"string\") ? reason_raw.trim() : \"\";\n\n// Normalize actor_user_id\nconst actor_user_id =\n  (typeof actor_user_id_raw === \"string\" && actor_user_id_raw.trim().length > 0)\n    ? actor_user_id_raw.trim()\n    : null;\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nconst fail = (code, message, details = {}) => [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: \"artifact.promote\",\n    gw_workspace_id,\n    artifact_type,\n    artifact_id,\n    error: { code, message, details },\n    timestamp: new Date().toISOString(),\n  },\n}];\n\n// ---- Validation ----\nif (!gw_workspace_id) {\n  return fail(\"VALIDATION_ERROR\", \"gw_workspace_id is required\");\n}\nif (!artifact_type) {\n  return fail(\"VALIDATION_ERROR\", \"artifact_type is required\");\n}\nif (!artifact_id) {\n  return fail(\"VALIDATION_ERROR\", \"artifact_id is required\");\n}\nif (!transition) {\n  return fail(\"VALIDATION_ERROR\", \"transition is required\", {\n    source: \"artifact_payload.transition\",\n  });\n}\nif (!reason || reason.length < 1 || reason.length > 280) {\n  return fail(\"VALIDATION_ERROR\", \"reason is required (1..280 chars)\", {\n    received_length: reason.length,\n  });\n}\nif (actor_user_id && !UUID_RE.test(actor_user_id)) {\n  return fail(\"VALIDATION_ERROR\", \"actor_user_id must be a valid UUID when provided\", {\n    actor_user_id,\n  });\n}\n\nconst request_id = uuidv4();\n\n// ---- Canonical output ----\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.promote\",\n    gw_workspace_id,\n    artifact_type: String(artifact_type),\n    artifact_id: String(artifact_id),\n\n    // ✅ surface for downstream\n    transition,\n    reason,\n\n    selector: { hydrate },\n    request_id,\n    actor_user_id,\n  },\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        192
      ],
      "id": "39ec0179-652c-4ddc-bc93-5f9b36ddfdbc",
      "name": "Normalize_request"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "gw_action"
            },
            {
              "name": "gw_workspace_id"
            },
            {
              "name": "artifact_type"
            },
            {
              "name": "artifact_id"
            },
            {
              "name": "actor_user_id"
            },
            {
              "name": "artifact_payload",
              "type": "object"
            },
            {
              "name": "selector",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2672,
        192
      ],
      "id": "2f5984de-119a-444e-adfa-4adff189f978",
      "name": "NQxb_Artifact_Promote_v1__In"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Resolve_Transition\n// Purpose: Map a locked transition allow-list -> from_state/to_state, or reject.\n//\n// QPM PHASE 2 UPDATE (2026-02-01):\n// - REMOVED archive_to_tree: Archive is now terminal (irreversible)\n// - Only forward transitions allowed: seed->sapling->tree->archive\n//\n// IMPORTANT (n8n): Do NOT emit top-level reserved keys like `error`.\n// Always wrap output under `{ json: ... }`.\n\nconst input = $json;\n\n// FIX: Contract-safe fallback — transition may arrive inside artifact_payload\nconst transition = (\n  input.transition ??\n  input.artifact_payload?.transition ??\n  \"\"\n).toString().trim();\n\n// QPM Phase 2: Only forward transitions allowed\n// REMOVED: archive_to_tree (archive is terminal)\nconst map = {\n  seed_to_sapling: { from_state: \"seed\", to_state: \"sapling\" },\n  sapling_to_tree: { from_state: \"sapling\", to_state: \"tree\" },\n  tree_to_archive: { from_state: \"tree\", to_state: \"archive\" },\n};\n\nconst resolved = map[transition];\n\nif (!resolved) {\n  return [\n    {\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"LIFECYCLE_TRANSITION_NOT_ALLOWED\",\n          message: `Transition not allowed: '${transition || \"(empty)\"}'`,\n          details: {\n            transition: transition || null,\n            allowed: Object.keys(map),\n          },\n        },\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      ok: true,\n      _gw_route: input._gw_route ?? \"ok\",\n      from_state: resolved.from_state,\n      to_state: resolved.to_state,\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        192
      ],
      "id": "9ddf7516-50e7-4962-be6e-18f25eff21a4",
      "name": "NQxb_Artifact_Promote_v1__Resolve_Transition"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -896,
        272
      ],
      "id": "f2f1cf87-0507-42ab-94df-6b9144080560",
      "name": "NQxb_Artifact_Promote_v1__Verify_Current_State",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Enforce_Verified_State\n// Purpose: Ensure artifact exists and lifecycle_status matches from_state.\n// IMPORTANT: lifecycle_status MUST come from Verify_Current_State (pre-update),\n// not from merged $json (which may already be post-update).\n//\n// QPM PHASE 2 UPDATE (2026-02-01):\n// - Now also captures spine.summary for QPM validation downstream\n\nconst input = $json;\n\n// --- Required fields from merged input ---\nconst artifactId = input.artifact_id ?? null;\nconst fromState = (input.from_state ?? \"\").toString().trim();\n\n// --- Pull VERIFIED state directly from Verify_Current_State ---\nconst verifiedNode = $node[\"NQxb_Artifact_Promote_v1__Verify_Current_State\"];\nconst verifiedRaw = verifiedNode?.json ?? null;\n\n// Supabase \"get\" may return object OR array\nconst verified = Array.isArray(verifiedRaw)\n  ? verifiedRaw[0] ?? null\n  : verifiedRaw;\n\nconst actual = verified?.lifecycle_status ?? null;\n\n// Capture summary for QPM validation (seed_to_sapling check)\nconst summary = verified?.summary ?? null;\n\n// --- Guards ---\n\nif (!artifactId) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"ARTIFACT_NOT_FOUND\",\n        message: \"artifact_id missing after DB verify.\",\n        details: { artifact_id: null }\n      }\n    }\n  }];\n}\n\nif (!fromState) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"FROM_STATE_MISSING\",\n        message: \"from_state missing after Resolve_Transition.\",\n        details: { from_state: input.from_state ?? null }\n      }\n    }\n  }];\n}\n\nif (!actual) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"LIFECYCLE_STATE_UNKNOWN\",\n        message: \"Could not determine current lifecycle state from DB verify.\",\n        details: {\n          artifact_id: artifactId,\n          verified_row: verified ?? null\n        }\n      }\n    }\n  }];\n}\n\n// --- Enforce pre-update lifecycle correctness ---\n\nif (actual !== fromState) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"LIFECYCLE_STATE_MISMATCH\",\n        message: `Expected lifecycle '${fromState}', got '${actual}'.`,\n        details: {\n          artifact_id: artifactId,\n          expected_from_state: fromState,\n          actual_lifecycle_status: actual\n        }\n      }\n    }\n  }];\n}\n\n// --- Success: verified correctly ---\n// Include summary for QPM validation\n\nreturn [{\n  json: {\n    ...input,\n    ok: true,\n    _gw_route: input._gw_route ?? \"ok\",\n    _spine_summary: summary,\n    _lifecycle_verify: {\n      artifact_id: artifactId,\n      verified_from_state: fromState,\n      current_lifecycle_status: actual\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        192
      ],
      "id": "9ad0b11b-d500-40d7-92f5-732a910b5ac5",
      "name": "NQxb_Artifact_Promote_v1__Enforce_Verified_State"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        192
      ],
      "id": "6b8d5a63-9e67-4873-b1c7-2604330b705d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qxb_artifact",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "condition": "eq",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "condition": "eq",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lifecycle_status",
              "fieldValue": "={{ $json.to_state }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "now()"
            },
            {
              "fieldId": "version",
              "fieldValue": "={{ ($json.version ?? 1) + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "e92086b3-d72b-4710-8854-1c5bcad558a6",
      "name": "NQxb_Artifact_Promote_v1__DB_Update_Lifecycle",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "tableId": "qxb_artifact_event",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workspace_id",
              "fieldValue": "={{ $json.gw_workspace_id ?? $json.workspace_id }}"
            },
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.artifact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "lifecycle_promote"
            },
            {
              "fieldId": "actor_user_id",
              "fieldValue": "={{ $json.actor_user_id ? $json.actor_user_id : null }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $json._event_payload ?? {\n  transition: $json.transition,\n  from_state: $json.from_state,\n  to_state: $json.to_state,\n  reason: $json.reason,\n  artifact_type: $json.artifact_type,\n  gw_action: $json.gw_action\n} }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "lifecycle_promote"
            },
            {
              "fieldId": "event_ts",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        384
      ],
      "id": "dfaa2bfa-242e-42ca-9912-7227db21b839",
      "name": "NQxb_Artifact_Promote_v1__DB_Insert_Event",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Pass_Actor\nconst input = $json;\n\nreturn [{\n  json: {\n    ...input,\n    actor_user_id: input.actor_user_id ?? null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        192
      ],
      "id": "50aad12d-947d-4557-8bc3-4712a0763a84",
      "name": "Pass_Actor"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Freeze_Event_Payload\nconst j = $json ?? {};\n\nreturn [{\n  json: {\n    ...j,\n    _event_payload: {\n      request_id: j.request_id ?? null,\n      transition: j.transition ?? null,\n      from_state: j.from_state ?? null,\n      to_state: j.to_state ?? null,\n      reason: j.reason ?? null,\n      artifact_type: j.artifact_type ?? null,\n      gw_action: j.gw_action ?? null,\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        384
      ],
      "id": "824b2a95-e745-4b14-9f59-fcbf80ed0a51",
      "name": "NQxb_Artifact_Promote_v1__Freeze_Event_Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e8c0053d-ee43-4b66-8286-f2e1d6db7e41"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c5dfbc2-4c72-4cb3-ade4-d55d2ef65fb3",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ],
      "id": "2f8d8ba9-5a98-4f57-b2b3-50f6046ff59d",
      "name": "NQxb_Artifact_Promote_v1__Switch_OK"
    },
    {
      "parameters": {
        "jsCode": "// Pass through the current error item unchanged\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        192
      ],
      "id": "1b04956a-86f2-4269-93c8-669bc804c610",
      "name": "NQxb_Artifact_Promote_v1__Return_Error_Item"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_type_registry",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_type",
              "keyValue": "={{ $json.artifact_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2000,
        192
      ],
      "id": "c861cfa4-112c-4f9c-b8b3-e3eae576e8a3",
      "name": "Lookup_Type_Registry",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Type_Registry_Guard — Check artifact type against qxb_artifact_type_registry\n// FAIL-CLOSED: No row found = not_registered; enabled=false = disabled\n// Error code: ARTIFACT_TYPE_NOT_ALLOWED (HTTP 403)\n\nconst originalRequest = $node['Pass_Actor'].json;\nconst registryRow = $json;\nconst artifact_type = originalRequest.artifact_type;\n\n// FAIL-CLOSED: No row found = type not registered\nif (!registryRow || !registryRow.artifact_type) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action,\n      gw_workspace_id: originalRequest.gw_workspace_id,\n      artifact_type: artifact_type,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'not_registered'\n        }\n      }\n    }\n  }];\n}\n\n// Type found but disabled\nif (registryRow.enabled === false) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action,\n      gw_workspace_id: originalRequest.gw_workspace_id,\n      artifact_type: artifact_type,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'disabled',\n          registry_enabled: false\n        }\n      }\n    }\n  }];\n}\n\n// Type is registered and enabled — pass through original request\nreturn [{ json: originalRequest }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        192
      ],
      "id": "be81b365-44a8-4ca7-baae-ea0a43d9129f",
      "name": "Type_Registry_Guard"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "type-reg-guard-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "type-reg-guard-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1552,
        192
      ],
      "id": "03563eb9-9ffe-43cd-a3f5-0f2e28625f1e",
      "name": "Switch_Type_Registry"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Shape_Response\n// Canonical success envelope wrapper for artifact.promote\n//\n// HARD RULES:\n// - Do NOT change promote business logic or DB writes.\n// - Do NOT assume any optional node executed unless guarded.\n// - Must be safe even if invoked on error paths.\n//\n// Expected final envelope:\n//\n// {\n//   \"ok\": true,\n//   \"gw_action\": \"artifact.promote\",\n//   \"workspace_id\": \"...\",\n//   \"artifact_type\": \"project\",\n//   \"artifact_id\": \"...\",\n//   \"event_id\": \"...\",\n//   \"operation\": \"PROMOTE\",\n//   \"from_state\": \"...\",\n//   \"to_state\": \"...\",\n//   \"transition\": \"...\",\n//   \"timestamp\": \"...\",\n//   \"data\": { \"event\": { ... } }\n// }\n\nconst input = $json ?? {};\n\n// 1) Pass through error envelopes unchanged\nif (input.ok === false || input._gw_route === \"error\") {\n  return [{ json: input }];\n}\n\n// 2) Identify the \"event\" object to wrap.\n// In the fixed wiring, this node should receive the inserted event row from DB_Insert_Event.\n// Still, we handle alternate shapes defensively.\nlet event = null;\n\n// If input already looks like the event row\nif (input.event_id && input.workspace_id && input.artifact_id) {\n  event = input;\n} else {\n  // Try to read from DB_Insert_Event directly (best-effort)\n  try {\n    const evNode = $node[\"NQxb_Artifact_Promote_v1__DB_Insert_Event\"];\n    const evJson = evNode?.json ?? null;\n    if (evJson && evJson.event_id) event = evJson;\n  } catch (e) {\n    event = null;\n  }\n}\n\n// If we still don't have an event, fail closed with a stable INTERNAL_ERROR envelope\nif (!event) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"INTERNAL_ERROR\",\n          message: \"Promote succeeded but event payload was unavailable for response shaping.\",\n          details: { reason: \"missing_event_row\" },\n        },\n      },\n    },\n  ];\n}\n\n// 3) Pull promote context from the event payload (authoritative for from/to/transition)\nconst payload = event.payload ?? {};\nconst from_state = payload.from_state ?? null;\nconst to_state = payload.to_state ?? null;\nconst transition = payload.transition ?? null;\n\n// 4) Canonical timestamp: prefer event.event_ts; fallback to created_at; then now()\nconst timestamp =\n  event.event_ts ??\n  event.created_at ??\n  new Date().toISOString();\n\n// 5) Artifact identity: prefer event row, fallback to payload (belt + suspenders)\nconst workspace_id = event.workspace_id ?? payload.workspace_id ?? null;\nconst artifact_id = event.artifact_id ?? payload.artifact_id ?? null;\nconst artifact_type = payload.artifact_type ?? \"project\";\n\n// 6) Return the required envelope\nreturn [\n  {\n    json: {\n      ok: true,\n      gw_action: \"artifact.promote\",\n      workspace_id,\n      artifact_type,\n      artifact_id,\n\n      event_id: event.event_id ?? null,\n      operation: \"PROMOTE\",\n      from_state,\n      to_state,\n      transition,\n      timestamp,\n\n      data: { event },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        384
      ],
      "id": "5f7998b8-8336-45c6-afb9-f2b284895cd9",
      "name": "NQxb_Artifact_Promote_v1__Shape_Response"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Query_Children\n// Purpose: Query child artifacts for QPM validation\n// - For seed_to_sapling: count journal children\n// - For sapling_to_tree: count execution anatomy children (branch, limb, leaf)\n//\n// QPM PHASE 2 (2026-02-01)\n// This node prepares queries but actual DB calls happen in separate Supabase nodes\n// Output includes the request context plus query parameters for child lookups\n\nconst input = $json;\n\nconst transition = (input.transition ?? \"\").toString().trim();\nconst artifactId = input.artifact_id ?? null;\nconst workspaceId = input.gw_workspace_id ?? null;\n\n// Pass through with QPM query context\nreturn [{\n  json: {\n    ...input,\n    _qpm_context: {\n      transition,\n      artifact_id: artifactId,\n      workspace_id: workspaceId,\n      needs_journal_check: transition === \"seed_to_sapling\",\n      needs_execution_check: transition === \"sapling_to_tree\",\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5f588970-452e-40da-8540-20f3f9da503f",
      "name": "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries"
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?select=artifact_id&parent_artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.gw_workspace_id }}&artifact_type=eq.journal&deleted_at=is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "0dc05fb9-bfdb-4a46-92d0-d3851f318e11",
      "name": "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?select=artifact_id&parent_artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.gw_workspace_id }}&artifact_type=in.(branch,leaf)&deleted_at=is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        384
      ],
      "id": "26a22cca-b8a1-41ee-b4a8-6367ad070776",
      "name": "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Validate_Rules\n// Purpose: Enforce QPM lifecycle transition validation rules\n//\n// QPM PHASE 2 RULES (2026-02-01):\n// 1. seed_to_sapling: Requires summary (non-empty, trimmed) OR linked journal child\n// 2. sapling_to_tree: Requires execution anatomy (branch or leaf child)\n// 3. tree_to_archive: No validation (always pass)\n//\n// v18 FIX: Reads counts from $json (sequential deterministic chain).\n// No $node[] references. No try/catch default-to-0.\n//\n// Error codes:\n// - PROMOTION_BLOCKED_SEED_NOT_READY\n// - PROMOTION_BLOCKED_NO_ANATOMY\n// - JOURNAL_COUNT_UNAVAILABLE\n// - EXECUTION_COUNT_UNAVAILABLE\n\nconst input = $json;\n\nconst transition = (input.transition ?? \"\").toString().trim();\nconst summary = input._spine_summary ?? null;\nconst summaryTrimmed = (typeof summary === \"string\") ? summary.trim() : \"\";\n\nconst journalCount = input.journal_count;\nconst executionCount = input.execution_count;\n\n// --- Explicit availability checks (no silent defaults) ---\n\nif (typeof journalCount !== 'number') {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"JOURNAL_COUNT_UNAVAILABLE\",\n        message: \"journal_count missing from upstream chain.\",\n        details: { journal_count: journalCount }\n      }\n    }\n  }];\n}\n\nif (typeof executionCount !== 'number') {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"EXECUTION_COUNT_UNAVAILABLE\",\n        message: \"execution_count missing from upstream chain.\",\n        details: { execution_count: executionCount }\n      }\n    }\n  }];\n}\n\n// --- QPM Validation ---\n\nif (transition === \"seed_to_sapling\") {\n  const hasSummary = summaryTrimmed.length > 0;\n  const hasJournalChild = journalCount > 0;\n\n  if (!hasSummary && !hasJournalChild) {\n    return [{\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"PROMOTION_BLOCKED_SEED_NOT_READY\",\n          message: \"Seed \\u2192 Sapling requires summary or linked journal\",\n          details: {\n            artifact_id: input.artifact_id,\n            has_summary: hasSummary,\n            journal_child_count: journalCount,\n            rule: \"summary OR journal child required\"\n          }\n        }\n      }\n    }];\n  }\n}\n\nif (transition === \"sapling_to_tree\") {\n  const hasExecutionAnatomy = executionCount > 0;\n\n  if (!hasExecutionAnatomy) {\n    return [{\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"PROMOTION_BLOCKED_NO_ANATOMY\",\n          message: \"Sapling \\u2192 Tree requires execution anatomy (branch or leaf)\",\n          details: {\n            artifact_id: input.artifact_id,\n            execution_child_count: executionCount,\n            rule: \"branch or leaf child required\"\n          }\n        }\n      }\n    }];\n  }\n}\n\n// tree_to_archive: No validation beyond state check (already handled)\n\nreturn [{\n  json: {\n    ...input,\n    ok: true,\n    _gw_route: input._gw_route ?? \"ok\",\n    _qpm_validated: {\n      transition,\n      summary_present: summaryTrimmed.length > 0,\n      journal_child_count: journalCount,\n      execution_child_count: executionCount\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "67291682-7a6a-4f4b-841a-7af9e040b0c0",
      "name": "NQxb_Artifact_Promote_v1__QPM_Validate_Rules"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "qpm-switch-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "qpm-switch-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        192
      ],
      "id": "be1e6455-c02c-4888-825b-dec35c9f6e47",
      "name": "NQxb_Artifact_Promote_v1__QPM_Switch"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count\n// Counts journal children from HTTP Request response items.\n// Sequential chain: Prepare \\u2192 JournalHTTP \\u2192 this \\u2192 ExecHTTP \\u2192 ...\n//\n// HTTP Request returns N items (one per matching artifact).\n// alwaysOutputData guarantees at least 1 item on empty result.\n// Count = items with valid artifact_id.\n\nconst context = $node[\"NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries\"].json;\nconst items = $input.all();\nconst journal_count = items.filter(i => i.json?.artifact_id).length;\n\nif (typeof journal_count !== 'number' || !Number.isFinite(journal_count)) {\n  return [{\n    json: {\n      ...context,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"JOURNAL_COUNT_UNAVAILABLE\",\n        message: \"Could not determine journal child count from HTTP response.\",\n        details: { item_count: items.length }\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...context,\n    journal_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        192
      ],
      "id": "bb03bfd9-e8bf-4f6e-bb78-adfd6dbbead5",
      "name": "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count\n// Counts execution children from HTTP Request response items.\n// Sequential chain: ... \\u2192 AttachJournal \\u2192 ExecHTTP \\u2192 this \\u2192 Validate\n//\n// HTTP Request returns N items (one per matching artifact).\n// alwaysOutputData guarantees at least 1 item on empty result.\n// Count = items with valid artifact_id.\n\nconst context = $node[\"NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count\"].json;\nconst items = $input.all();\nconst execution_count = items.filter(i => i.json?.artifact_id).length;\n\nif (typeof execution_count !== 'number' || !Number.isFinite(execution_count)) {\n  return [{\n    json: {\n      ...context,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"EXECUTION_COUNT_UNAVAILABLE\",\n        message: \"Could not determine execution child count from HTTP response.\",\n        details: { item_count: items.length }\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...context,\n    execution_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        384
      ],
      "id": "66a96f49-4384-4e2c-a9d9-93dfe4412593",
      "name": "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Promote_v1__In": [
      {
        "json": {
          "gw_action": "artifact.promote",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "project",
          "artifact_id": "fe176f19-cfd2-4843-89c1-0853f04781c8",
          "actor_user_id": "7097c16c-ed88-4e49-983f-1de80e5cfcea",
          "artifact_payload": {
            "transition": "seed_to_sapling",
            "reason": "Test promote with QPM validation"
          },
          "selector": {
            "hydrate": true
          }
        }
      }
    ]
  },
  "connections": {
    "Normalize_request": {
      "main": [
        [
          {
            "node": "Pass_Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__In": {
      "main": [
        [
          {
            "node": "Normalize_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Resolve_Transition": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Verify_Current_State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Verify_Current_State": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Enforce_Verified_State": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Switch_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Enforce_Verified_State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass_Actor": {
      "main": [
        [
          {
            "node": "Lookup_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Freeze_Event_Payload": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__DB_Insert_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Switch_OK": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_Type_Registry": {
      "main": [
        [
          {
            "node": "Type_Registry_Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type_Registry_Guard": {
      "main": [
        [
          {
            "node": "Switch_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Resolve_Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__DB_Insert_Event": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Shape_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Validate_Rules": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Switch": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__DB_Update_Lifecycle",
            "type": "main",
            "index": 0
          },
          {
            "node": "NQxb_Artifact_Promote_v1__Freeze_Event_Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Validate_Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e37e035b-47dc-41b7-b984-cea9b84f36e9",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "EK6u4DkQB45mcDiV",
  "tags": []
}