workflows/NQxb_Artifact_Promote_v1 (23).json
{
  "name": "NQxb_Artifact_Promote_v1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Normalize_request\n// Purpose: Validate promote request shape, enforce required fields,\n//          normalize selector, generate request_id.\n// T87: Enhanced validation hints for developer ergonomics.\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = (Math.random() * 16) | 0;\n    const v = (c === 'x') ? r : ((r & 0x3) | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst j = $json ?? {};\n\nconst gw_action = j.gw_action ?? \"artifact.promote\";\nconst gw_workspace_id = j.gw_workspace_id ?? j.workspace_id ?? null;\nconst artifact_type = j.artifact_type ?? null;\nconst artifact_id = j.artifact_id ?? null;\n\nconst transition_raw = j.artifact_payload?.transition ?? null;\nconst reason_raw = j.artifact_payload?.reason ?? null;\n\nconst actor_user_id_raw = j.actor_user_id ?? null;\n\nconst selector_in = (j.selector && typeof j.selector === \"object\") ? j.selector : {};\nconst hydrate = selector_in.hydrate === true;\n\nconst transition =\n  (typeof transition_raw === \"string\") ? transition_raw.trim() : \"\";\n\nconst reason =\n  (typeof reason_raw === \"string\") ? reason_raw.trim() : \"\";\n\nconst actor_user_id =\n  (typeof actor_user_id_raw === \"string\" && actor_user_id_raw.trim().length > 0)\n    ? actor_user_id_raw.trim()\n    : null;\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nconst fail = (code, message, details = {}) => [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: \"artifact.promote\",\n    gw_workspace_id,\n    artifact_type,\n    artifact_id,\n    error: { code, message, details },\n    timestamp: new Date().toISOString(),\n  },\n}];\n\n// ---- Validation ----\nif (!gw_workspace_id) {\n  return fail(\"VALIDATION_ERROR\", \"gw_workspace_id is required\", {\n    hint: \"Include gw_workspace_id in the promote request.\",\n  });\n}\nif (!artifact_type) {\n  return fail(\"VALIDATION_ERROR\", \"artifact_type is required\", {\n    hint: \"Include artifact_type (e.g., \\\"project\\\") in the promote request.\",\n  });\n}\nif (!artifact_id) {\n  return fail(\"VALIDATION_ERROR\", \"artifact_id is required\", {\n    hint: \"Include the UUID of the artifact to promote.\",\n  });\n}\nif (!transition) {\n  return fail(\"VALIDATION_ERROR\", \"transition is required\", {\n    source: \"artifact_payload.transition\",\n    allowed_transitions: [\"seed_to_sapling\", \"sapling_to_tree\", \"tree_to_archive\"],\n    hint: \"Include transition in your payload: { \\\"transition\\\": \\\"seed_to_sapling\\\", \\\"reason\\\": \\\"...\\\" }\",\n  });\n}\nif (!reason || reason.length < 1 || reason.length > 280) {\n  return fail(\"VALIDATION_ERROR\", \"reason is required (1..280 chars)\", {\n    received_length: reason.length,\n    hint: \"Provide a reason string between 1 and 280 characters explaining why this promotion is happening.\",\n  });\n}\nif (actor_user_id && !UUID_RE.test(actor_user_id)) {\n  return fail(\"VALIDATION_ERROR\", \"actor_user_id must be a valid UUID when provided\", {\n    actor_user_id,\n  });\n}\n\nconst request_id = uuidv4();\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.promote\",\n    gw_workspace_id,\n    artifact_type: String(artifact_type),\n    artifact_id: String(artifact_id),\n    transition,\n    reason,\n    selector: { hydrate },\n    request_id,\n    actor_user_id,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        232
      ],
      "id": "953190dc-6263-4d3c-93f7-b8a9cee05db6",
      "name": "Normalize_request"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "gw_action"
            },
            {
              "name": "gw_workspace_id"
            },
            {
              "name": "artifact_type"
            },
            {
              "name": "artifact_id"
            },
            {
              "name": "actor_user_id"
            },
            {
              "name": "artifact_payload",
              "type": "object"
            },
            {
              "name": "selector",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2672,
        232
      ],
      "id": "04510564-e9ce-4128-b9d4-189ec586b412",
      "name": "NQxb_Artifact_Promote_v1__In"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Resolve_Transition\n// Purpose: Map a locked transition allow-list -> from_state/to_state, or reject.\n// T87: Enhanced error hint.\n//\n// QPM PHASE 2: Only forward transitions allowed (archive is terminal).\n\nconst input = $json;\n\nconst transition = (\n  input.transition ??\n  input.artifact_payload?.transition ??\n  \"\"\n).toString().trim();\n\nconst map = {\n  seed_to_sapling: { from_state: \"seed\", to_state: \"sapling\" },\n  sapling_to_tree: { from_state: \"sapling\", to_state: \"tree\" },\n  tree_to_archive: { from_state: \"tree\", to_state: \"archive\" },\n};\n\nconst resolved = map[transition];\n\nif (!resolved) {\n  return [\n    {\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"LIFECYCLE_TRANSITION_NOT_ALLOWED\",\n          message: `Transition not allowed: '${transition || \"(empty)\"}'`,\n          details: {\n            transition: transition || null,\n            allowed: Object.keys(map),\n            hint: \"Transitions follow the pattern: seed_to_sapling, sapling_to_tree, tree_to_archive. Archive is terminal (irreversible).\",\n          },\n        },\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      ok: true,\n      _gw_route: input._gw_route ?? \"ok\",\n      from_state: resolved.from_state,\n      to_state: resolved.to_state,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        152
      ],
      "id": "2dd528bf-1092-45df-8745-c63a6dbab8ac",
      "name": "NQxb_Artifact_Promote_v1__Resolve_Transition"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        416
      ],
      "id": "278d604f-2627-4f84-8c19-9de35ebaf89d",
      "name": "NQxb_Artifact_Promote_v1__Verify_Current_State",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Enforce_Verified_State\n// Purpose: Ensure artifact exists, is not deleted, and lifecycle_status matches from_state.\n// T87: deleted_at guard + enriched lifecycle mismatch with allowed_transitions + hints.\n//\n// QPM PHASE 2: Captures spine.summary for QPM validation downstream.\n\nconst input = $json;\n\n// Short-circuit: if Resolve_Transition already errored, pass through its error (C01 fix)\nconst resolveOutput = $node[\"NQxb_Artifact_Promote_v1__Resolve_Transition\"]?.json ?? {};\nif (resolveOutput.ok === false && resolveOutput._gw_route === \"error\" && resolveOutput.error) {\n  return [{ json: resolveOutput }];\n}\n\n// --- Required fields from merged input ---\nconst artifactId = input.artifact_id ?? null;\nconst fromState = (input.from_state ?? \"\").toString().trim();\n\n// --- Pull VERIFIED state directly from Verify_Current_State ---\nconst verifiedNode = $node[\"NQxb_Artifact_Promote_v1__Verify_Current_State\"];\nconst verifiedRaw = verifiedNode?.json ?? null;\n\n// Supabase \"get\" may return object OR array\nconst verified = Array.isArray(verifiedRaw)\n  ? verifiedRaw[0] ?? null\n  : verifiedRaw;\n\nconst actual = verified?.lifecycle_status ?? null;\nconst summary = verified?.summary ?? null;\n\n// --- Guards ---\n\nif (!artifactId) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"ARTIFACT_NOT_FOUND\",\n        message: \"artifact_id missing after DB verify.\",\n        details: { artifact_id: null }\n      }\n    }\n  }];\n}\n\n// T87: deleted_at guard — prevent promoting soft-deleted artifacts\nif (verified && verified.deleted_at) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or has been deleted.\",\n        details: {\n          artifact_id: artifactId,\n          hint: \"This artifact has been soft-deleted. Use artifact.restore before promoting.\"\n        }\n      }\n    }\n  }];\n}\n\nif (!fromState) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"FROM_STATE_MISSING\",\n        message: \"from_state missing after Resolve_Transition.\",\n        details: { from_state: input.from_state ?? null }\n      }\n    }\n  }];\n}\n\nif (!actual) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or has been deleted.\",\n        details: {\n          artifact_id: artifactId,\n          hint: \"Verify the artifact_id exists and has not been soft-deleted. Use artifact.restore to recover deleted artifacts.\"\n        }\n      }\n    }\n  }];\n}\n\n// --- Enforce pre-update lifecycle correctness ---\n\nif (actual !== fromState) {\n  const transitionMap = {\n    seed: [\"seed_to_sapling\"],\n    sapling: [\"sapling_to_tree\"],\n    tree: [\"tree_to_archive\"],\n    archive: [],\n  };\n  const allowedFromCurrent = transitionMap[actual] ?? [];\n\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"LIFECYCLE_STATE_MISMATCH\",\n        message: `Cannot apply transition '${input.transition ?? \"unknown\"}': artifact is currently '${actual}', but transition requires '${fromState}'.`,\n        details: {\n          artifact_id: artifactId,\n          requested_transition: input.transition ?? null,\n          expected_from_state: fromState,\n          actual_lifecycle_status: actual,\n          allowed_transitions_from_current: allowedFromCurrent,\n          hint: allowedFromCurrent.length > 0\n            ? `Artifact is '${actual}'. Valid transition(s): ${allowedFromCurrent.join(\", \")}.`\n            : `Artifact is '${actual}'. No further promotions available (terminal state).`\n        }\n      }\n    }\n  }];\n}\n\n// --- Success: verified correctly ---\nreturn [{\n  json: {\n    ...input,\n    ok: true,\n    _gw_route: input._gw_route ?? \"ok\",\n    _spine_summary: summary,\n    _lifecycle_verify: {\n      artifact_id: artifactId,\n      verified_from_state: fromState,\n      current_lifecycle_status: actual\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        152
      ],
      "id": "cfcee8d6-b9d5-4877-8364-973b6004c587",
      "name": "NQxb_Artifact_Promote_v1__Enforce_Verified_State"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        152
      ],
      "id": "81b65ea1-d582-4de9-bc7d-c53ea257ec77",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Compute_Next_Version\n// v23 NEW NODE (2026-02-25)\n// Purpose: Derive version exclusively from verified DB state.\n// Do NOT rely on $json.version passed from request.\n// Source of truth: Verify_Current_State (Supabase GET result).\n//\n// Outputs:\n//   verified_version   — current version from DB\n//   next_version        — verified_version + 1\n//   verified_lifecycle_status — lifecycle from DB (belt-and-suspenders)\n\nconst input = $json;\n\nconst verifiedNode = $node[\"NQxb_Artifact_Promote_v1__Verify_Current_State\"];\nconst verifiedRaw = verifiedNode?.json ?? null;\n\n// Supabase GET may return object OR array\nconst verified = Array.isArray(verifiedRaw)\n  ? verifiedRaw[0] ?? null\n  : verifiedRaw;\n\nconst currentVersion = verified?.version ?? null;\n\nif (typeof currentVersion !== 'number' || !Number.isFinite(currentVersion) || currentVersion < 1) {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"VERSION_UNAVAILABLE\",\n        message: \"Could not determine current version from verified DB state.\",\n        details: {\n          artifact_id: input.artifact_id ?? null,\n          raw_version: currentVersion\n        }\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    verified_version: currentVersion,\n    next_version: currentVersion + 1,\n    verified_lifecycle_status: verified?.lifecycle_status ?? null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        88
      ],
      "id": "70ef05a9-cbcb-4f35-b0ad-7bce2e2cc809",
      "name": "NQxb_Artifact_Promote_v1__Compute_Next_Version"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qxb_artifact",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "condition": "eq",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "condition": "eq",
              "keyValue": "={{ $json.gw_workspace_id }}"
            },
            {
              "keyName": "version",
              "condition": "eq",
              "keyValue": "={{ $json.verified_version }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lifecycle_status",
              "fieldValue": "={{ $json.to_state }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "now()"
            },
            {
              "fieldId": "version",
              "fieldValue": "={{ $json.next_version }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1584,
        88
      ],
      "id": "30076683-6ab2-4187-8c32-5b0243967452",
      "name": "NQxb_Artifact_Promote_v1__DB_Update_Lifecycle",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Check_Concurrency\n// v23 NEW NODE (2026-02-25)\n// Purpose: Detect zero-row update (optimistic concurrency failure).\n// Supabase UPDATE returns the updated row on match, empty {} on no match.\n// With alwaysOutputData: true, zero rows = one item with empty $json.\n//\n// On success: pass through promote context from Compute_Next_Version.\n// On failure: structured CONCURRENCY_CONFLICT error envelope.\n\nconst dbResult = $json;\nconst promoteContext = $node[\"NQxb_Artifact_Promote_v1__Compute_Next_Version\"].json;\n\n// Supabase UPDATE with version filter returns the updated row if matched.\n// If version didn't match, result is empty (no artifact_id field).\nif (!dbResult.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: \"artifact.promote\",\n      gw_workspace_id: promoteContext.gw_workspace_id ?? null,\n      artifact_type: promoteContext.artifact_type ?? null,\n      artifact_id: promoteContext.artifact_id ?? null,\n      error: {\n        code: \"CONCURRENCY_CONFLICT\",\n        message: \"Artifact version mismatch during promote\",\n        details: {\n          artifact_id: promoteContext.artifact_id ?? null,\n          expected_version: promoteContext.verified_version ?? null\n        }\n      }\n    }\n  }];\n}\n\n// Success — pass through promote context for downstream event/response shaping\nreturn [{\n  json: {\n    ...promoteContext,\n    ok: true,\n    _db_update_confirmed: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        16
      ],
      "id": "5475c67f-9181-4cc8-99c4-ba025ca32384",
      "name": "NQxb_Artifact_Promote_v1__Check_Concurrency"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "post-update-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "post-update-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2032,
        0
      ],
      "id": "fc731f19-0200-455f-a7a9-a6e329f64d82",
      "name": "NQxb_Artifact_Promote_v1__Switch_Post_Update"
    },
    {
      "parameters": {
        "tableId": "qxb_artifact_event",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workspace_id",
              "fieldValue": "={{ $json.gw_workspace_id ?? $json.workspace_id }}"
            },
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.artifact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "lifecycle_promote"
            },
            {
              "fieldId": "actor_user_id",
              "fieldValue": "={{ $json.actor_user_id ? $json.actor_user_id : null }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $json._event_payload ?? {\n  transition: $json.transition,\n  from_state: $json.from_state,\n  to_state: $json.to_state,\n  reason: $json.reason,\n  artifact_type: $json.artifact_type,\n  gw_action: $json.gw_action\n} }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "lifecycle_promote"
            },
            {
              "fieldId": "event_ts",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2480,
        424
      ],
      "id": "4cb01430-e971-4748-9a21-8add79ed3976",
      "name": "NQxb_Artifact_Promote_v1__DB_Insert_Event",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Pass_Actor\nconst input = $json;\n\nreturn [{\n  json: {\n    ...input,\n    actor_user_id: input.actor_user_id ?? null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        232
      ],
      "id": "4cede071-20fc-43ac-a4d0-b21a78035f1f",
      "name": "Pass_Actor"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Freeze_Event_Payload\n// HARDENING FIX (2026-02-22): Use $node[] reference instead of $json.\n// After serialization, DB_Update_Lifecycle runs before this node,\n// so $json would be the Supabase row, not the promote context.\nconst j = $node[\"NQxb_Artifact_Promote_v1__QPM_Validate_Rules\"].json ?? {};\n\nreturn [{\n  json: {\n    ...j,\n    _event_payload: {\n      request_id: j.request_id ?? null,\n      transition: j.transition ?? null,\n      from_state: j.from_state ?? null,\n      to_state: j.to_state ?? null,\n      reason: j.reason ?? null,\n      artifact_type: j.artifact_type ?? null,\n      gw_action: j.gw_action ?? null,\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        424
      ],
      "id": "55836859-50f2-433a-b05c-85ad1f94086d",
      "name": "NQxb_Artifact_Promote_v1__Freeze_Event_Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e8c0053d-ee43-4b66-8286-f2e1d6db7e41"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c5dfbc2-4c72-4cb3-ade4-d55d2ef65fb3",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -432,
        136
      ],
      "id": "e41d322c-89a6-4de4-8ccc-f67039850442",
      "name": "NQxb_Artifact_Promote_v1__Switch_OK"
    },
    {
      "parameters": {
        "jsCode": "// Pass through the current error item unchanged\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        232
      ],
      "id": "3062a08f-d409-4578-a1ae-e1b7b2e4a4c8",
      "name": "NQxb_Artifact_Promote_v1__Return_Error_Item"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_type_registry",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_type",
              "keyValue": "={{ $json.artifact_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2000,
        232
      ],
      "id": "53cc1841-f979-4fab-85ed-ed303471bbff",
      "name": "Lookup_Type_Registry",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Type_Registry_Guard — Check artifact type against qxb_artifact_type_registry\n// FAIL-CLOSED: No row found = not_registered; enabled=false = disabled\n// T87: Enhanced error hints for promotion context.\n\nconst originalRequest = $node['Pass_Actor'].json;\nconst registryRow = $json;\nconst artifact_type = originalRequest.artifact_type;\n\nif (!registryRow || !registryRow.artifact_type) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action,\n      gw_workspace_id: originalRequest.gw_workspace_id,\n      artifact_type: artifact_type,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'not_registered',\n          hint: 'Only registered artifact types can be promoted. Currently only \"project\" supports lifecycle promotion.'\n        }\n      }\n    }\n  }];\n}\n\nif (registryRow.enabled === false) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action,\n      gw_workspace_id: originalRequest.gw_workspace_id,\n      artifact_type: artifact_type,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'disabled',\n          registry_enabled: false,\n          hint: 'This artifact type exists in the registry but is currently disabled.'\n        }\n      }\n    }\n  }];\n}\n\nreturn [{ json: originalRequest }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        232
      ],
      "id": "0c022995-2c77-44e4-9add-6828b1341648",
      "name": "Type_Registry_Guard"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "type-reg-guard-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "type-reg-guard-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1552,
        216
      ],
      "id": "0caf42a3-eb66-4c64-94a6-ca9785e248ce",
      "name": "Switch_Type_Registry"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__Shape_Response\n// Canonical success envelope wrapper for artifact.promote\n//\n// HARD RULES:\n// - Do NOT change promote business logic or DB writes.\n// - Do NOT assume any optional node executed unless guarded.\n// - Must be safe even if invoked on error paths.\n//\n// Expected final envelope:\n//\n// {\n//   \"ok\": true,\n//   \"gw_action\": \"artifact.promote\",\n//   \"workspace_id\": \"...\",\n//   \"artifact_type\": \"project\",\n//   \"artifact_id\": \"...\",\n//   \"event_id\": \"...\",\n//   \"operation\": \"PROMOTE\",\n//   \"from_state\": \"...\",\n//   \"to_state\": \"...\",\n//   \"transition\": \"...\",\n//   \"timestamp\": \"...\",\n//   \"data\": { \"event\": { ... } }\n// }\n\nconst input = $json ?? {};\n\n// 1) Pass through error envelopes unchanged\nif (input.ok === false || input._gw_route === \"error\") {\n  return [{ json: input }];\n}\n\n// 2) Identify the \"event\" object to wrap.\n// In the fixed wiring, this node should receive the inserted event row from DB_Insert_Event.\n// Still, we handle alternate shapes defensively.\nlet event = null;\n\n// If input already looks like the event row\nif (input.event_id && input.workspace_id && input.artifact_id) {\n  event = input;\n} else {\n  // Try to read from DB_Insert_Event directly (best-effort)\n  try {\n    const evNode = $node[\"NQxb_Artifact_Promote_v1__DB_Insert_Event\"];\n    const evJson = evNode?.json ?? null;\n    if (evJson && evJson.event_id) event = evJson;\n  } catch (e) {\n    event = null;\n  }\n}\n\n// If we still don't have an event, fail closed with a stable INTERNAL_ERROR envelope\nif (!event) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"INTERNAL_ERROR\",\n          message: \"Promote succeeded but event payload was unavailable for response shaping.\",\n          details: { reason: \"missing_event_row\" },\n        },\n      },\n    },\n  ];\n}\n\n// 3) Pull promote context from the event payload (authoritative for from/to/transition)\nconst payload = event.payload ?? {};\nconst from_state = payload.from_state ?? null;\nconst to_state = payload.to_state ?? null;\nconst transition = payload.transition ?? null;\n\n// 4) Canonical timestamp: prefer event.event_ts; fallback to created_at; then now()\nconst timestamp =\n  event.event_ts ??\n  event.created_at ??\n  new Date().toISOString();\n\n// 5) Artifact identity: prefer event row, fallback to payload (belt + suspenders)\nconst workspace_id = event.workspace_id ?? payload.workspace_id ?? null;\nconst artifact_id = event.artifact_id ?? payload.artifact_id ?? null;\nconst artifact_type = payload.artifact_type ?? \"project\";\n\n// 6) Return the required envelope\nreturn [\n  {\n    json: {\n      ok: true,\n      gw_action: \"artifact.promote\",\n      workspace_id,\n      artifact_type,\n      artifact_id,\n\n      event_id: event.event_id ?? null,\n      operation: \"PROMOTE\",\n      from_state,\n      to_state,\n      transition,\n      timestamp,\n\n      data: { event },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        424
      ],
      "id": "ecf9523f-d7af-432a-958e-2f686224a0b9",
      "name": "NQxb_Artifact_Promote_v1__Shape_Response"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Query_Children\n// Purpose: Query child artifacts for QPM validation\n// - For seed_to_sapling: count journal children\n// - For sapling_to_tree: count execution anatomy children (branch, limb, leaf)\n//\n// QPM PHASE 2 (2026-02-01)\n// This node prepares queries but actual DB calls happen in separate Supabase nodes\n// Output includes the request context plus query parameters for child lookups\n\nconst input = $json;\n\nconst transition = (input.transition ?? \"\").toString().trim();\nconst artifactId = input.artifact_id ?? null;\nconst workspaceId = input.gw_workspace_id ?? null;\n\n// Pass through with QPM query context\nreturn [{\n  json: {\n    ...input,\n    _qpm_context: {\n      transition,\n      artifact_id: artifactId,\n      workspace_id: workspaceId,\n      needs_journal_check: transition === \"seed_to_sapling\",\n      needs_execution_check: transition === \"sapling_to_tree\",\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        88
      ],
      "id": "3ffa9ecd-562d-4b2c-ada3-ca8098b354f5",
      "name": "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries"
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?select=artifact_id&parent_artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.gw_workspace_id }}&artifact_type=eq.journal&deleted_at=is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        88
      ],
      "id": "944e03d6-493a-40f8-8e17-47d6405d5639",
      "name": "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?select=artifact_id&parent_artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.gw_workspace_id }}&artifact_type=in.(branch,leaf)&deleted_at=is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        88
      ],
      "id": "b2c1f502-049b-4dc4-9d64-3dd080e46a2b",
      "name": "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Validate_Rules\n// Purpose: Enforce QPM lifecycle transition validation rules\n// T87: Enhanced error hints for developer ergonomics.\n//\n// QPM PHASE 2 RULES:\n// 1. seed_to_sapling: Requires summary OR linked journal child\n// 2. sapling_to_tree: Requires execution anatomy (branch or leaf child)\n// 3. tree_to_archive: No validation (always pass)\n\nconst input = $json;\n\nconst transition = (input.transition ?? \"\").toString().trim();\nconst summary = input._spine_summary ?? null;\nconst summaryTrimmed = (typeof summary === \"string\") ? summary.trim() : \"\";\n\nconst journalCount = input.journal_count;\nconst executionCount = input.execution_count;\n\nif (typeof journalCount !== 'number') {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"JOURNAL_COUNT_UNAVAILABLE\",\n        message: \"journal_count missing from upstream chain.\",\n        details: { journal_count: journalCount }\n      }\n    }\n  }];\n}\n\nif (typeof executionCount !== 'number') {\n  return [{\n    json: {\n      ...input,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"EXECUTION_COUNT_UNAVAILABLE\",\n        message: \"execution_count missing from upstream chain.\",\n        details: { execution_count: executionCount }\n      }\n    }\n  }];\n}\n\nif (transition === \"seed_to_sapling\") {\n  const hasSummary = summaryTrimmed.length > 0;\n  const hasJournalChild = journalCount > 0;\n\n  if (!hasSummary && !hasJournalChild) {\n    return [{\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"PROMOTION_BLOCKED_SEED_NOT_READY\",\n          message: \"Seed \\u2192 Sapling requires summary or linked journal\",\n          details: {\n            artifact_id: input.artifact_id,\n            has_summary: hasSummary,\n            journal_child_count: journalCount,\n            rule: \"summary OR journal child required\",\n            hint: \"Either update the project summary (via artifact.update with summary field) or create a journal with parent_artifact_id pointing to this project.\"\n          }\n        }\n      }\n    }];\n  }\n}\n\nif (transition === \"sapling_to_tree\") {\n  const hasExecutionAnatomy = executionCount > 0;\n\n  if (!hasExecutionAnatomy) {\n    return [{\n      json: {\n        ...input,\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"PROMOTION_BLOCKED_NO_ANATOMY\",\n          message: \"Sapling \\u2192 Tree requires execution anatomy (branch or leaf)\",\n          details: {\n            artifact_id: input.artifact_id,\n            execution_child_count: executionCount,\n            rule: \"branch or leaf child required\",\n            hint: \"Create at least one branch or leaf artifact with parent_artifact_id pointing to this project before promoting to tree.\"\n          }\n        }\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    ...input,\n    ok: true,\n    _gw_route: input._gw_route ?? \"ok\",\n    _qpm_validated: {\n      transition,\n      summary_present: summaryTrimmed.length > 0,\n      journal_child_count: journalCount,\n      execution_child_count: executionCount\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        88
      ],
      "id": "10abc6d6-3e7a-4f46-8868-0b0a0db12b41",
      "name": "NQxb_Artifact_Promote_v1__QPM_Validate_Rules"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "qpm-switch-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "qpm-switch-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1136,
        72
      ],
      "id": "e064bed3-3014-47f1-b3fb-fc8532fe4a1b",
      "name": "NQxb_Artifact_Promote_v1__QPM_Switch"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count\n// Counts journal children from HTTP Request response items.\n// Sequential chain: Prepare \\u2192 JournalHTTP \\u2192 this \\u2192 ExecHTTP \\u2192 ...\n//\n// HTTP Request returns N items (one per matching artifact).\n// alwaysOutputData guarantees at least 1 item on empty result.\n// Count = items with valid artifact_id.\n\nconst context = $node[\"NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries\"].json;\nconst items = $input.all();\nconst journal_count = items.filter(i => i.json?.artifact_id).length;\n\nif (typeof journal_count !== 'number' || !Number.isFinite(journal_count)) {\n  return [{\n    json: {\n      ...context,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"JOURNAL_COUNT_UNAVAILABLE\",\n        message: \"Could not determine journal child count from HTTP response.\",\n        details: { item_count: items.length }\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...context,\n    journal_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        88
      ],
      "id": "e8211483-8607-4e88-a93e-f67d00c4fc8a",
      "name": "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count\n// Counts execution children from HTTP Request response items.\n// Sequential chain: ... \\u2192 AttachJournal \\u2192 ExecHTTP \\u2192 this \\u2192 Validate\n//\n// HTTP Request returns N items (one per matching artifact).\n// alwaysOutputData guarantees at least 1 item on empty result.\n// Count = items with valid artifact_id.\n\nconst context = $node[\"NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count\"].json;\nconst items = $input.all();\nconst execution_count = items.filter(i => i.json?.artifact_id).length;\n\nif (typeof execution_count !== 'number' || !Number.isFinite(execution_count)) {\n  return [{\n    json: {\n      ...context,\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"EXECUTION_COUNT_UNAVAILABLE\",\n        message: \"Could not determine execution child count from HTTP response.\",\n        details: { item_count: items.length }\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...context,\n    execution_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        88
      ],
      "id": "4be38510-2887-470f-bc93-4eab7883e6fe",
      "name": "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Promote_v1__In": [
      {
        "json": {
          "gw_action": "artifact.promote",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "project",
          "artifact_id": "fe176f19-cfd2-4843-89c1-0853f04781c8",
          "actor_user_id": "7097c16c-ed88-4e49-983f-1de80e5cfcea",
          "artifact_payload": {
            "transition": "seed_to_sapling",
            "reason": "Test promote with QPM validation"
          },
          "selector": {
            "hydrate": true
          }
        }
      }
    ]
  },
  "connections": {
    "Normalize_request": {
      "main": [
        [
          {
            "node": "Pass_Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__In": {
      "main": [
        [
          {
            "node": "Normalize_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Resolve_Transition": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Verify_Current_State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Verify_Current_State": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Enforce_Verified_State": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Switch_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Enforce_Verified_State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass_Actor": {
      "main": [
        [
          {
            "node": "Lookup_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Freeze_Event_Payload": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__DB_Insert_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Switch_OK": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_Type_Registry": {
      "main": [
        [
          {
            "node": "Type_Registry_Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type_Registry_Guard": {
      "main": [
        [
          {
            "node": "Switch_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Resolve_Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__DB_Insert_Event": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Shape_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Prepare_Child_Queries": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Query_Journal_Children": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Validate_Rules": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Switch": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Compute_Next_Version",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Attach_Journal_Count": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Query_Execution_Children",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__QPM_Attach_Execution_Count": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__QPM_Validate_Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Compute_Next_Version": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__DB_Update_Lifecycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__DB_Update_Lifecycle": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Check_Concurrency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Check_Concurrency": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Switch_Post_Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Promote_v1__Switch_Post_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Freeze_Event_Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Promote_v1__Return_Error_Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "356ce802-5a45-4262-b39e-6a3794195010",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "DhcvKMsThjxbBReT",
  "tags": []
}