workflows/NQxb_Artifact_Query_v1 (16).json
{
  "name": "NQxb_Artifact_Query_v1",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82d8c625-1508-4acc-bdb6-a1b1e83bafae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ec1d6524-ccd0-426d-be0c-8be69fac3de8",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18bf1eab-4d77-4687-ab57-a88734550897",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3331edbf-ee29-4a61-a8d9-7c98c3f276b7",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e1bb9d5-02c7-4e0a-9f15-cfd8d3cae7e2",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1392,
        -544
      ],
      "id": "4691e1db-fb3c-498e-afe6-4089b3f813a6",
      "name": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "217fb63d-5213-449d-8391-5a2cc55715ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28d1e829-9368-4c6d-8521-428d7b512695",
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2320,
        -512
      ],
      "id": "d78cbc3b-5cec-4059-8553-0521c3aec5ef",
      "name": "NQxb_Gateway_v1__Switch_Spine_Found"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "project::project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d99ba0c-e31c-47c9-81bd-5250bd60fcde"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2cc91ca2-ce2b-4b65-af6a-99c88a8207fa",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "journal::journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "223a7ca2-b808-4208-84ae-3642771925dc",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "restart::restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b1c3f25-45fb-478a-af96-29a9e2a2edbf",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "snapshot::snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abd68435-98c4-4c72-8057-b57f3ab60c1b",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "instruction_pack::instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3008,
        -544
      ],
      "id": "aff6e546-d179-4558-bd98-99e0decdaa42",
      "name": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType"
    },
    {
      "parameters": {
        "jsCode": "const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -304
      ],
      "id": "f7aaa893-1d2e-40e9-a018-17d6753d81b0",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        -880
      ],
      "id": "e35c5f3f-9c46-43ad-8626-e8e7c8283cef",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// 🔒 Query Tail Guard: canonical lifecycle lives only on qxb_artifact.lifecycle_status\n// Prevent consumers from treating extension.lifecycle_stage as canonical lifecycle.\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -880
      ],
      "id": "1d7ce679-87c4-4a00-b7a1-dc4d2d01bd24",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension"
    },
    {
      "parameters": {
        "jsCode": "const v = ($json.artifact_type ?? '') + '::' + ($node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.artifact_type ?? '');\nreturn [{\n  json: {\n    ...$json,\n    debug_compare_raw: v,\n    debug_compare_json: JSON.stringify(v),\n    debug_compare_len: v.length,\n    debug_left: $json.artifact_type ?? null,\n    debug_right: $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.artifact_type ?? null,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -496
      ],
      "id": "667805b5-23e9-4a47-a786-465ed36af665",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -608
      ],
      "id": "f00210be-b11b-4c23-8d86-c16f9011bab9",
      "name": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -800
      ],
      "id": "3f5e9e1f-b569-47ba-9468-7983adf2b632",
      "name": "NQxb_Gateway_v1__Set_SpineType"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecbc52eb-078a-4603-802b-6d98ac46b50c",
              "name": "compare_key",
              "value": "={{ ($json.spine_artifact_type ?? '').trim() + '::' + ($node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.req_artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "=all",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        -496
      ],
      "id": "19490f57-1a73-42c5-bcad-981ce75e8853",
      "name": "NQxb_Gateway_v1__Edit_CompareKey"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -608
      ],
      "id": "060ccf97-dcc2-4a5d-b8f5-1e00d5b167a9",
      "name": "NQxb_Gateway_v1__Set_SpineType1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -800
      ],
      "id": "8a9595d6-5ead-47a9-bcd5-3c1e5e41eaa7",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        -304
      ],
      "id": "0cab99dc-18ed-4002-bcd3-1ed17dd355d1",
      "name": "Get a Snapshot row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        -688
      ],
      "id": "b5f40169-1222-4aa7-9766-627ebd026ca0",
      "name": "Get a Journal row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -688
      ],
      "id": "9189ba4d-fc66-44e8-88c7-9813020bbabf",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        -496
      ],
      "id": "32cfa382-dec5-4e01-9dbc-77ca12662f81",
      "name": "Get a Restart row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -496
      ],
      "id": "ae6b4202-5ca7-4302-944c-fe6cb3c78056",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -224
      ],
      "id": "b03641cd-4d48-42eb-bd4e-55617fcd8c2b",
      "name": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -224
      ],
      "id": "63fddaf8-daee-4c42-83c2-48cdbc698437",
      "name": "NQxb_Gateway_v1__Set_SpineType2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -416
      ],
      "id": "9258201a-c0c6-4df6-956c-d6726821c780",
      "name": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -416
      ],
      "id": "3b7fbfd7-dcc8-4261-a167-e954d97efc53",
      "name": "NQxb_Gateway_v1__Set_SpineType3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        736,
        -512
      ],
      "id": "b8aaa805-6c59-4411-9bfd-552035a6f376",
      "name": "NQxb_Artifact_Query_v1__In",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Normalize_Request\n// Canonicalize inbound request so downstream nodes always use top-level fields.\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector\n// Plus \"request echoes\" that survive later DB row replacement:\n//   $json.req_artifact_type, $json.req_artifact_id\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// In Execute Workflow Trigger calls, we usually receive a flat object,\n// but we still support body-wrapped payloads to stay compatible with Gateway/webhook callers.\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// normalize helper\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  // (e.g., Supabase \"Get row\" returning the artifact row)\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n};\n\nreturn [{ json: canonical }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -512
      ],
      "id": "f04992fa-da87-427f-8eee-e0afb83efb59",
      "name": "NQxb_Artifact_Query_v1__Normalize_Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 6,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4240,
        -544
      ],
      "id": "1b3ca85d-6963-4b10-91e0-7b621224d25d",
      "name": "NQxb_Artifact_Query_v1__Return",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        -512
      ],
      "id": "40f47662-2ce9-4659-9a34-7c2507e8eb04",
      "name": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Return_TypeMismatch\n// Purpose: Deterministic TYPE_MISMATCH when requested artifact_type != stored artifact_type.\n// MUST preserve request context (gw_workspace_id + requested_artifact_type) from Normalize_Request.\n\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\n// Stored type comes from the artifact spine row (current item)\nconst stored =\n  typeof j.artifact_type === \"string\" ? j.artifact_type.trim()\n  : (j.artifact_type ?? null);\n\n// Requested type comes from normalized request\nconst requested =\n  typeof req.req_artifact_type === \"string\" ? req.req_artifact_type.trim()\n  : (typeof req.artifact_type === \"string\" ? req.artifact_type.trim() : null);\n\n// Use the artifact_id from the normalized request first (source of truth)\nconst artifact_id =\n  req.req_artifact_id ?? req.artifact_id ?? j.artifact_id ?? null;\n\n// Preserve workspace_id from normalized request first (source of truth)\nconst gw_workspace_id =\n  req.gw_workspace_id ?? req.workspace_id ?? null;\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id,\n    artifact_id,\n    requested_artifact_type: requested,\n    stored_artifact_type: stored,\n    compare_key: `${stored ?? \"null\"}::${requested ?? \"null\"}`,\n    error: {\n      code: \"TYPE_MISMATCH\",\n      message: \"Requested artifact_type does not match stored artifact_type for this artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        128
      ],
      "id": "f6143c0e-f3a4-45ee-8b1c-d6dc5a3f5d39",
      "name": "NQxb_Artifact_Query_v1__Return_TypeMismatch"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Shape_Return\n// Purpose: Produce deterministic errors, but on success return RAW artifact object (no envelope).\n// Input: a single merged item from NQxb_Artifact_Query_v1__Return (Merge node)\n\nconst j = $json ?? {};\n\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\nconst isError =\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error);\n\nif (isError) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? j.artifact_type ?? null,\n      stored_artifact_type: (typeof j.stored_artifact_type === \"string\") ? j.stored_artifact_type.trim() : (j.stored_artifact_type ?? null),\n      compare_key: j.compare_key ?? null,\n      error: j.error ?? { code: \"ERROR\", message: \"Unknown error\" },\n      timestamp: j.timestamp ?? new Date().toISOString(),\n    }\n  }];\n}\n\n// Fail-closed guard: do not return success unless we have an actual artifact spine shape.\nconst hasArtifactSpine =\n  typeof j.artifact_id === \"string\" && j.artifact_id.trim().length > 0 &&\n  typeof j.workspace_id === \"string\" && j.workspace_id.trim().length > 0 &&\n  typeof j.artifact_type === \"string\" && j.artifact_type.trim().length > 0;\n\nif (!hasArtifactSpine) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? null,\n      error: {\n        code: \"QUERY_RETURN_SHAPE_INVALID\",\n        message: \"Query did not produce a valid artifact row for shaping.\",\n        details: {\n          reason: \"missing_artifact_fields\",\n          received_keys: Object.keys(isObject(j) ? j : {}),\n        },\n      },\n      timestamp: new Date().toISOString(),\n    }\n  }];\n}\n\n// ✅ Success path: return RAW artifact object so Gateway wraps exactly once\nreturn [{\n  json: j\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        288
      ],
      "id": "092f3532-1c30-43bc-aacd-a884085e1c1f",
      "name": "NQxb_Artifact_Query_v1__Shape_Return"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Return_NotFound\n// Purpose: Deterministic NOT_FOUND when qxb_artifact spine row is missing\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\nconst found = j && j.artifact_id;\n\nif (found) {\n  // PASS-THROUGH: do not stop the workflow path\n  return [{ json: j }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id: req.gw_workspace_id ?? req.workspace_id ?? null,\n    artifact_id: req.req_artifact_id ?? req.artifact_id ?? null,\n    requested_artifact_type: req.req_artifact_type ?? req.artifact_type ?? null,\n    error: {\n      code: \"NOT_FOUND\",\n      message: \"Artifact not found for workspace_id + artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        304
      ],
      "id": "0b94dbb6-e9cd-4936-9456-6a6a254c5693",
      "name": "NQxb_Artifact_Query_v1__Return_NotFound"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        -112
      ],
      "id": "85b636c3-2eb7-49a2-b8fb-f745f3d707ff",
      "name": "Get an instruction_pack row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge spine + instruction_pack extension into the canonical artifact shape.\n// Mirrors Merge_Spine_And_Project_Extension pattern (known-good).\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\n// Supabase Get output (current item) is the extension row\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\nlet ext = extRaw ? { ...extRaw } : null;\n\n// Strip artifact_type from extension if present\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// (Optional parity cleanup; harmless if absent)\nif (ext && \"workspace_id\" in ext) delete ext.workspace_id;\nif (ext && \"owner_user_id\" in ext) delete ext.owner_user_id;\n\n// If any extension accidentally carries lifecycle_stage, drop it (canonical lifecycle is spine-only)\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -112
      ],
      "id": "ac3ab6c1-9262-4bc7-8bee-9fa26bbffe25",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -16
      ],
      "id": "dcca1169-0953-4551-ad80-941a18f1a698",
      "name": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -16
      ],
      "id": "47e144a6-afdc-479e-bbf6-27694d213fd9",
      "name": "NQxb_Gateway_v1__Set_SpineType4"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Query_v1__In": [
      {
        "json": {
          "gw_action": "artifact.query",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "restart",
          "artifact_id": "ac1d6294-2bd7-4a9d-823e-827562b56e26",
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": false
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Spine_Found": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Edit_CompareKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Journal row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Restart row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Snapshot row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an instruction_pack row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_TypeMismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Edit_CompareKey": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Snapshot row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Journal row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a Restart row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType2": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType3": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery",
            "type": "main",
            "index": 0
          },
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_TypeMismatch": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_NotFound": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an instruction_pack row1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType4": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5de07aef-3a10-4106-aeb6-2a60dd90516a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "IsLBYjXJ5R2Djfrv",
  "tags": []
}