workflows/NQxb_Gateway_v1 (33).json
{
  "name": "NQxb_Gateway_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v1",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        112
      ],
      "id": "787f90d8-6cbc-4ecf-919a-8153e9b87228",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "fe50d8cb-3789-49d9-9fad-436279cb8e54",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request\n// Canonicalize inbound request so downstream nodes always use top-level fields.\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector, $json.extension\n// Plus \"request echoes\" that survive later overwrites:\n//   $json.req_artifact_type, $json.req_artifact_id, $json.req_workspace_id, $json.req_extension\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// n8n Webhook often provides parsed JSON under raw.body\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// normalize helper\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\n// helper: pick extension object from extension (preferred) or patch (fallback)\nconst pickExtension = (r) => {\n  const ext = asObj(r?.extension);\n  if (ext && Object.keys(ext).length > 0) return ext;\n\n  const patch = asObj(r?.patch);\n  if (patch && Object.keys(patch).length > 0) return patch;\n\n  return {};\n};\n\n// --- AUTH PARSE (Basic) ---\n// We DO NOT store the full header; we only derive the username (non-secret).\nconst authHeader = raw.headers?.authorization || raw.headers?.Authorization || null;\n\nlet auth_username = null;\nlet auth_scheme = null;\n\nif (typeof authHeader === \"string\" && authHeader.length > 0) {\n  const parts = authHeader.split(\" \");\n  auth_scheme = (parts[0] || \"\").toLowerCase();\n\n  if (auth_scheme === \"basic\" && parts[1]) {\n    try {\n      const decoded = Buffer.from(parts[1], \"base64\").toString(\"utf8\"); // \"user:pass\"\n      const idx = decoded.indexOf(\":\");\n      auth_username = idx >= 0 ? decoded.slice(0, idx) : decoded;\n    } catch (e) {\n      auth_username = null;\n    }\n  }\n}\n\nconst resolved_extension = pickExtension(req);\n\n// Build canonical contract fields\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // Canonical extension object (extension preferred; patch accepted as fallback)\n  extension: resolved_extension,\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n  req_workspace_id: req.gw_workspace_id ?? null,\n  req_extension: resolved_extension,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"n8n.body\" : \"flat\",\n  has_authorization: !!authHeader,\n  auth_scheme,\n  auth_username, // used for non-secret trace / derivations\n  request_method: raw.method ?? null,\n  request_url: raw.url ?? null,\n};\n\n// ✅ PASS-THROUGH: keep ALL original request fields, but enforce canonical keys\nconst out = {\n  ...req,\n  ...canonical, // canonical overwrites if any collision\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        112
      ],
      "id": "2393416e-400b-4a4c-92ca-ebe90e35ead7",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly\n// Combined: envelope validation + allow-lists + MVP Mode owner-only enforcement (workspace lock)\n//\n// Output contract:\n// - If blocked: { ok:false, error:{code,message,details}, _gw_route:\"error\", ... }\n// - If allowed: passes through the *entire* canonical request + { ok:true, _gw_route:\"ok\" }\n\nconst OWNER_WORKSPACE_ID = \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\";\n\n// ✅ Allowlist includes promote + update\nconst ACTION_ALLOWLIST = new Set([\n  \"artifact.query\",\n  \"artifact.list\",\n  \"artifact.save\",\n  \"artifact.update\",\n  \"artifact.promote\",\n  \"artifact.delete\",\n  \"artifact.restore\",\n  \"artifact.list_deleted\",\n]);\n\n// ✅ UPDATED: include instruction_pack\nconst TYPE_ALLOWLIST = new Set([\n  \"project\",\n  \"journal\",\n  \"restart\",\n  \"snapshot\",\n  \"instruction_pack\",\n]);\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: { code, message, details },\n\n        // Keep echoes for debugging\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n        _gw_debug: $json?._gw_debug ?? undefined,\n\n        // OPTIONAL: preserve original input for inspection (internal MVP)\n        incoming: $json ?? {},\n      },\n    },\n  ];\n}\n\n// ----- Read canonical fields produced by Normalize_Request -----\nconst gw_action = $json?.gw_action;\nconst gw_workspace_id = $json?.gw_workspace_id;\nconst artifact_type = $json?.artifact_type;\nconst artifact_id = $json?.artifact_id;\nconst selector = asObj($json?.selector);\n\n// Extension: preferred `extension`, allow `patch` fallback (Normalize should already do this,\n// but we enforce again to be robust.)\nconst extension = (() => {\n  const ext = asObj($json?.extension);\n  if (ext && Object.keys(ext).length > 0) return ext;\n\n  const patch = asObj($json?.patch);\n  if (patch && Object.keys(patch).length > 0) return patch;\n\n  return {};\n})();\n\n// ----- Basic required checks -----\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\n\nif (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_workspace_id\", {\n    expected: \"uuid string\",\n    got: typeof gw_workspace_id,\n  });\n}\n\n// ----- Allow-list checks -----\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n// ----- MVP owner-only workspace lock -----\nif (gw_workspace_id !== OWNER_WORKSPACE_ID) {\n  return fail(\"WORKSPACE_FORBIDDEN\", \"Workspace not permitted in MVP owner-only mode\", {\n    gw_workspace_id,\n    allowed_workspace_id: OWNER_WORKSPACE_ID,\n  });\n}\n\n// ----- Action-specific validation -----\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.query\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.query\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n}\n\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.list\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// NOTE: For artifact.save we intentionally do NOT require artifact_type/artifact_id here.\n// Save_v1 handles INSERT vs UPDATE and type-specific rules.\n\nif (gw_action === \"artifact.update\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.update\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.update\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n\n  // Require extension (or patch fallback) to be a non-empty object\n  const extKeys = Object.keys(extension || {});\n  if (!extension || extKeys.length === 0) {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid extension for artifact.update\", {\n      expected: \"object with at least 1 field (use 'extension' key; 'patch' accepted as fallback)\",\n      got: $json?.extension ?? $json?.patch ?? null,\n    });\n  }\n}\n\nif (gw_action === \"artifact.promote\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.promote\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.promote\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n\n  // ✅ FIX: transition may arrive inside artifact_payload due to contract boundary\n  const transition = $json?.transition ?? $json?.artifact_payload?.transition ?? null;\n\n  if (!transition || typeof transition !== \"string\" || transition.trim().length === 0) {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid transition for artifact.promote\", {\n      expected: \"non-empty string\",\n      got: transition ?? null,\n    });\n  }\n\n  // reason is optional; allow null/empty; Promote workflow can store null.\n  // (We don’t validate it here.)\n}\n\n// ----- PASS THROUGH + ADD ROUTING CONTRACT -----\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n\n      ok: true,\n      _gw_route: \"ok\",\n\n      // enforce canonical fields (ensure they exist)\n      gw_action,\n      gw_workspace_id,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      // For update, ensure downstream gets extension (even if caller used patch)\n      ...(gw_action === \"artifact.update\" ? { extension } : {}),\n\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ],
      "id": "86c39444-bdc2-40dc-b660-285ba624aaa2",
      "name": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8153fa85-e2a0-4b7f-977a-19a99e9ed8f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08e622c7-fb31-40c9-847d-afb5dad39973",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        112
      ],
      "id": "09289648-fb43-4f11-907a-202acb63dfda",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "221bdb2e-a135-4d1d-bfca-c827da8797f2",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52ad343d-e0ed-4932-a694-f97756475ce8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442dede-1a9a-4826-8021-bff39a110266",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "artifact-save-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31a22f06-9e48-4296-b859-3be36b69f1d8",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0601c9aa-d2ac-4e77-aa16-0f7bf2fc315a",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.promote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "delete-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "restore-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "list-deleted-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list_deleted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "e76f0d49-80ed-46ec-ab15-97e64c2f0e0e",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(\n  (() => {\n    const j = $json ?? {};\n    const isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n    const isErrorEnvelope =\n      j.ok === false || j._gw_route === \"error\" || isObject(j.error);\n\n    const isSuccessEnvelope =\n      j.ok === true &&\n      j._gw_route === \"ok\" &&\n      isObject(j.data) &&\n      isObject(j.data.artifact);\n\n    if (isErrorEnvelope || isSuccessEnvelope) return j;\n\n    return { ok: true, _gw_route: \"ok\", data: { artifact: j } };\n  })()\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        -96
      ],
      "id": "9170b083-0eb3-4187-821f-73cf4ea1c81d",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IsLBYjXJ5R2Djfrv",
          "mode": "list",
          "cachedResultUrl": "/workflow/IsLBYjXJ5R2Djfrv",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        -96
      ],
      "id": "036e7e71-391c-467b-89e5-b2adeace4c7b",
      "name": "Call 'NQxb_Artifact_Query_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Freeze_Save_Context\n// Freeze request fields BEFORE calling Save sub-workflow\n// Tag for deterministic merge after sub-workflow returns\n// This node splits to TWO destinations: Save sub-workflow + Merge bypass\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"frozen_context\",\n    _frozen_artifact_type: $json.req_artifact_type ?? $json.artifact_type ?? null,\n    _frozen_workspace_id: $json.req_workspace_id ?? $json.gw_workspace_id ?? null,\n    _frozen_extension: $json.req_extension ?? $json.extension ?? {},\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        304
      ],
      "id": "8ae7a0fd-7e78-41d6-9b02-2b4e30c57fa9",
      "name": "NQxb_Gateway__Freeze_Save_Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SYr4bZheUdCg2w1p",
          "mode": "list",
          "cachedResultUrl": "/workflow/SYr4bZheUdCg2w1p",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        304
      ],
      "id": "be2a9e3e-281b-4e73-94b0-a180512d552f",
      "name": "Call 'NQxb_Artifact_Save_v1'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Tag_Save_Result\n// Tag Save sub-workflow result for deterministic merge\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"save_result\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        304
      ],
      "id": "85178ad1-34b4-4311-89a5-dbb530af350a",
      "name": "NQxb_Gateway__Tag_Save_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Shape_Save_Response\n// Purpose: Build Gateway response envelope for artifact.save deterministically.\n// Sources:\n//  - Frozen request context: NQxb_Gateway__Freeze_Save_Context\n//  - Save sub-workflow output: NQxb_Gateway__Tag_Save_Result\n//\n// Fix in this revision:\n//  - Robustly extract artifact_id and _owner_source across all artifact_type branches\n//    (restart was KGB; project returned ok:true but artifact_id null → mismatch in returned field names).\n\nconst ctxItems = $items(\"NQxb_Gateway__Freeze_Save_Context\");\nconst saveItems = $items(\"NQxb_Gateway__Tag_Save_Result\");\n\nconst context = ctxItems?.[0]?.json ?? null;\nconst saveResult = saveItems?.[0]?.json ?? null;\n\nfunction fail(code, message, details = {}) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      error: { code, message, details },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!context) {\n  return fail(\"CONTEXT_MISSING\", \"Could not read frozen context from Freeze_Save_Context node\", {\n    ctx_count: ctxItems?.length ?? 0\n  });\n}\n\nif (!saveResult) {\n  return fail(\"SAVE_RESULT_MISSING\", \"Could not read Save result from Tag_Save_Result node\", {\n    save_count: saveItems?.length ?? 0\n  });\n}\n\n// Frozen fields (authoritative for shaping)\nconst artifact_type =\n  context._frozen_artifact_type ?? context.req_artifact_type ?? context.artifact_type ?? null;\n\nconst workspace_id =\n  context._frozen_workspace_id ?? context.req_workspace_id ?? context.gw_workspace_id ?? null;\n\nconst extension_payload = context._frozen_extension?.payload ?? {};\n\n// Extracts (NO invention; fallbacks only)\nconst artifact_id =\n  saveResult.artifact_id ??\n  saveResult.saved_artifact_id ??\n  saveResult.data?.artifact_id ??\n  saveResult.data?.artifact?.artifact_id ??\n  null;\n\nconst owner_source =\n  (typeof saveResult._owner_source === \"string\" && saveResult._owner_source.length > 0)\n    ? saveResult._owner_source\n    : (typeof saveResult._frozen_owner_source === \"string\" && saveResult._frozen_owner_source.length > 0)\n      ? saveResult._frozen_owner_source\n      : null;\n\n// If Save failed, return its error but keep type/workspace for caller clarity\nif (saveResult.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.save\",\n      artifact_type,\n      workspace_id,\n      _owner_source: owner_source,\n      error: saveResult.error ?? {\n        code: \"SAVE_FAILED\",\n        message: \"Save workflow returned ok:false with no error object\",\n        details: {}\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Save succeeded\nconst operation = saveResult.operation ?? \"INSERT\";\n\nconst response = {\n  ok: true,\n  gw_action: \"artifact.save\",\n  artifact_id,\n  artifact_type,\n  workspace_id,\n  operation,\n  _owner_source: owner_source,\n  timestamp: new Date().toISOString()\n};\n\n// For restart/snapshot, echo the payload that *was requested* to be saved (frozen request intent)\nif (artifact_type === \"restart\" || artifact_type === \"snapshot\") {\n  response.extension = { payload: extension_payload };\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        304
      ],
      "id": "11a7a836-39e1-4723-9d85-bf94ac94d19b",
      "name": "NQxb_Gateway__Shape_Save_Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1536,
        304
      ],
      "id": "ac64661c-c625-4af3-b951-64fe2c72402c",
      "name": "NQxb_Gateway__Respond_Save_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wbg4ciSwUSSTrO3C",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wbg4ciSwUSSTrO3C",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        96
      ],
      "id": "c423e495-91b2-48a4-99b8-fed75f956009",
      "name": "NQxb_Gateway_v1__Call_Artifact_List_v1"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_List_Response\n// Purpose: Shape canonical list response for Gateway\n// Rule: If sub-workflow already returned a canonical artifact.list envelope,\n//       PASS THROUGH exactly (no re-wrapping).\n\nconst j = $json ?? {};\n\n// ---------- helpers ----------\nconst isObject = (x) => x && typeof x === \"object\" && !Array.isArray(x);\n\nconst isCanonicalListEnvelope = (x) =>\n  isObject(x) &&\n  x.ok === true &&\n  x.gw_action === \"artifact.list\" &&\n  isObject(x.data) &&\n  Array.isArray(x.data.artifacts) &&\n  isObject(x.meta);\n\n// ---------- PASS-THROUGH CASE ----------\n// If Gateway received a single item in data.artifacts\n// and that item is itself a canonical list envelope,\n// return it directly.\nif (\n  isObject(j.data) &&\n  Array.isArray(j.data.artifacts) &&\n  j.data.artifacts.length === 1 &&\n  isCanonicalListEnvelope(j.data.artifacts[0])\n) {\n  return j.data.artifacts[0];\n}\n\n// ---------- NORMAL WRAP (raw rows case) ----------\nconst artifacts = Array.isArray(j.data?.artifacts)\n  ? j.data.artifacts\n  : [];\n\nreturn {\n  ok: true,\n  gw_action: \"artifact.list\",\n  gw_workspace_id: j.gw_workspace_id,\n  artifact_type: j.artifact_type,\n  selector: j.selector ?? {},\n  data: {\n    artifacts,\n  },\n  meta: {\n    count: artifacts.length,\n    limit: j.selector?.limit ?? artifacts.length,\n    offset: j.selector?.offset ?? 0,\n    has_more: artifacts.length === (j.selector?.limit ?? artifacts.length),\n    as_of: j.selector?.as_of ?? new Date().toISOString(),\n  },\n  timestamp: new Date().toISOString(),\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        96
      ],
      "id": "34bde414-2b7f-4d6a-98d1-7c0bb68d6fea",
      "name": "NQxb_Gateway_v1__Shape_List_Response"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Gateway input for artifact.list before calling sub-workflow\n// Purpose:\n// - Ensure artifact_type is present at top level\n// - Preserve selector object\n// - Prevent null / empty artifact_type from leaking downstream\n\nconst gw_workspace_id =\n  $json.gw_workspace_id ??\n  $json.req_workspace_id ??\n  null;\n\nif (!gw_workspace_id) {\n  throw new Error(\"Gateway Build_List_Request: gw_workspace_id is required\");\n}\n\nconst artifact_type =\n  (typeof $json.artifact_type === \"string\" && $json.artifact_type.trim() !== \"\")\n    ? $json.artifact_type.trim()\n    : (typeof $json.req_artifact_type === \"string\" && $json.req_artifact_type.trim() !== \"\")\n      ? $json.req_artifact_type.trim()\n      : null;\n\nif (!artifact_type) {\n  throw new Error(\"Gateway Build_List_Request: artifact_type is required for artifact.list\");\n}\n\nconst selector =\n  (typeof $json.selector === \"object\" && $json.selector !== null)\n    ? $json.selector\n    : {};\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.list\",\n      gw_workspace_id,\n      artifact_type,\n      selector,\n\n      // Debug breadcrumbs (temporary)\n      _gw_debug: {\n        normalized: true,\n        resolved_artifact_type: artifact_type,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        96
      ],
      "id": "cb7a7030-c6b1-43a9-b2cf-7a3bd1ba2c2b",
      "name": "NQxb_Gateway_v1__Build_List_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1_Normalize_Update_Request\n// Purpose: normalize update requests into a single canonical json payload (never raw fields)\n\nconst input = $json ?? {};\nconst extension = input.extension ?? input.req_extension ?? {};\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.update\",\n      gw_workspace_id: input.gw_workspace_id ?? input.workspace_id ?? null,\n      artifact_type: input.artifact_type ?? input.req_artifact_type ?? null,\n      artifact_id: input.artifact_id ?? input.req_artifact_id ?? null,\n      extension,\n      // Freeze the request intent to survive downstream clobbering\n      req_gw_workspace_id: input.gw_workspace_id ?? input.workspace_id ?? null,\n      req_artifact_type: input.artifact_type ?? input.req_artifact_type ?? null,\n      req_artifact_id: input.artifact_id ?? input.req_artifact_id ?? null,\n      req_extension: extension,\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1_Normalize_Update_Request\",\n        received_keys: Object.keys(input),\n      },\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        528
      ],
      "id": "28087b63-6423-400f-ab9d-aa012f177b85",
      "name": "NQxb_Gateway_v1_Normalize_Update_Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OXxickY3S5Fxtv5F",
          "mode": "list",
          "cachedResultUrl": "/workflow/OXxickY3S5Fxtv5F",
          "cachedResultName": "NQxb_Artifact_Promote_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "gw_action",
              "displayName": "gw_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "gw_workspace_id",
              "displayName": "gw_workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_type",
              "displayName": "artifact_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "actor_user_id",
              "displayName": "actor_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_payload",
              "displayName": "artifact_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "selector",
              "displayName": "selector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        768
      ],
      "id": "7fde6c14-b64f-47ea-b04f-e6ba33865cd5",
      "name": "Call 'NQxb_Artifact_Promote_v1'"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Promote_Request\n// Purpose: Shape a promote request to match NQxb_Artifact_Promote_v1 Workflow Inputs contract.\n// Notes:\n// - Must output n8n items: [{ json: ... }]\n// - Promote workflow expects transition/reason at TOP-LEVEL (due to current contract wiring)\n// - We also preserve artifact_payload.transition/reason (future-proof / harmless)\n\nconst j = $json;\n\nconst transition = j.transition ?? j.artifact_payload?.transition ?? null;\nconst reason = j.reason ?? j.artifact_payload?.reason ?? null;\n\nreturn [\n  {\n    json: {\n      gw_action: j.gw_action,\n      gw_workspace_id: j.gw_workspace_id,\n\n      artifact_type: j.artifact_type,\n      artifact_id: j.artifact_id,\n\n      actor_user_id: j.actor?.user_id ?? j.actor_user_id ?? null,\n\n      // ✅ REQUIRED by Promote workflow (current contract expectations)\n      transition,\n      reason,\n\n      // ✅ keep payload too (harmless / future-proof)\n      artifact_payload: {\n        transition,\n        reason,\n      },\n\n      selector: j.selector ?? {},\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        768
      ],
      "id": "57098126-d4f2-4331-bc17-1593a44a2c71",
      "name": "Normalize_Promote_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_Query_Response\n// Purpose: Gateway-level canonical envelope for artifact.query.\n//\n// HARD RULES:\n// 1. Error envelopes MUST pass through unchanged.\n// 2. Canonical success envelopes MUST pass through unchanged.\n// 3. Only RAW artifacts may be wrapped.\n// 4. No code path may ever convert an error into ok:true.\n\nconst j = $json ?? {};\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n/* -------------------------------------------------\n * 1. PASS THROUGH ERRORS (ABSOLUTE)\n * ------------------------------------------------- */\nif (\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 2. PASS THROUGH CANONICAL SUCCESS\n * ------------------------------------------------- */\nif (\n  j.ok === true &&\n  j._gw_route === \"ok\" &&\n  isObject(j.data) &&\n  isObject(j.data.artifact)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 3. UNWRAP RAW ARTIFACT\n * ------------------------------------------------- */\nlet raw = null;\n\n// Common raw locations\nif (isObject(j.artifact)) {\n  raw = j.artifact;\n} else if (isObject(j.data) && isObject(j.data.artifact)) {\n  raw = j.data.artifact;\n} else if (isObject(j)) {\n  raw = j; // last resort\n}\n\n/* -------------------------------------------------\n * 4. WRAP EXACTLY ONCE\n * ------------------------------------------------- */\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: \"ok\",\n    data: {\n      artifact: raw\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -96
      ],
      "id": "482ff0ef-e6bc-431a-8886-2ef7c9890dfe",
      "name": "NQxb_Gateway_v1__Shape_Query_Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZMiwnwHm2AL96HhK",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZMiwnwHm2AL96HhK",
          "cachedResultName": "NQxb_Artifact_Update_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        528
      ],
      "id": "846f9003-2e7d-4125-8a10-c01b65f708e5",
      "name": "Call 'NQxb_Artifact_Promote_v1'1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://jqxpjauqxmdfrcwgxcpd.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        960
      ],
      "id": "handle-delete",
      "name": "Handle_Delete",
      "credentials": {
        "supabaseApi": {
          "id": "HCyoMvKZ8nXfSJKo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape delete response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.delete\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or already deleted\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.delete\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    deleted_at: artifact.deleted_at,\n    message: \"Artifact soft-deleted (can be restored)\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        960
      ],
      "id": "shape-delete-response",
      "name": "Shape_Delete_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://jqxpjauqxmdfrcwgxcpd.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1152
      ],
      "id": "handle-restore",
      "name": "Handle_Restore",
      "credentials": {
        "supabaseApi": {
          "id": "HCyoMvKZ8nXfSJKo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape restore response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.restore\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.restore\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    message: \"Artifact restored\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1152
      ],
      "id": "shape-restore-response",
      "name": "Shape_Restore_Response"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://jqxpjauqxmdfrcwgxcpd.supabase.co/rest/v1/qxb_artifact?deleted_at=not.is.null&artifact_type=eq.' + $json.artifact_type + '&workspace_id=eq.' + $json.gw_workspace_id + '&select=artifact_id,title,artifact_type,deleted_at,created_at&order=deleted_at.desc&limit=' + ($json.selector?.limit || 10) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1344
      ],
      "id": "handle-list-deleted",
      "name": "Handle_List_Deleted",
      "credentials": {
        "supabaseApi": {
          "id": "HCyoMvKZ8nXfSJKo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape list_deleted response\nconst artifacts = Array.isArray($json) ? $json : [];\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.list_deleted\",\n    data: {\n      artifacts\n    },\n    meta: {\n      count: artifacts.length\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1344
      ],
      "id": "shape-list-deleted-response",
      "name": "Shape_List_Deleted_Response"
    }
  ],
  "pinData": {
    "NQxb_Gateway_v1__Webhook_In": [
      {
        "json": {
          "gw_action": "artifact.promote",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "project",
          "artifact_id": "fe176f19-cfd2-4843-89c1-0853f04781c8",
          "transition": "seed_to_sapling",
          "reason": "Pinned promote test via Gateway",
          "actor": {
            "user_id": "7097c16c-ed88-4e49-983f-1de80e5cfcea",
            "email": "joel@halosparkai.com"
          },
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": true,
            "auth_scheme": "basic",
            "auth_username": "qwrk-gateway"
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Build_List_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway__Freeze_Save_Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1_Normalize_Update_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Promote_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_List_Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_Query_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Freeze_Save_Context": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Tag_Save_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Tag_Save_Result": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Shape_Save_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Shape_Save_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Call_Artifact_List_v1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_List_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_List_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Build_List_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Call_Artifact_List_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1_Normalize_Update_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Promote_v1'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Promote_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Promote_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Promote_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_Query_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Promote_v1'1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Delete": {
      "main": [
        [
          {
            "node": "Shape_Delete_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Delete_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Restore": {
      "main": [
        [
          {
            "node": "Shape_Restore_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Restore_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_List_Deleted": {
      "main": [
        [
          {
            "node": "Shape_List_Deleted_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_List_Deleted_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8887ff0-58af-45a9-a32d-856b66aec6e9",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "D1NWfUWZ9IFDVqNB",
  "tags": []
}