workflows/NQxb_Artifact_Create_v1.json
{
  "name": "NQxb_Artifact_Create_v1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        736,
        -512
      ],
      "id": "trigger-in",
      "name": "NQxb_Artifact_Create_v1__In"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Create_v1__Normalize_Request\n// CREATE-ONLY workflow: Reject any request with artifact_id\n\nconst raw = $json ?? {};\n\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\nconst req = body ?? raw;\n\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst artifact_id = req.artifact_id ?? null;\n\n// CREATE-ONLY: Reject if artifact_id is provided\nif (artifact_id !== null && artifact_id !== '') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"CREATE_ONLY\",\n          message: \"artifact.create is insert-only. Use artifact.update for updates.\",\n          details: {\n            provided_artifact_id: artifact_id,\n            hint: \"Remove artifact_id field to create a new artifact.\"\n          }\n        }\n      }\n    }\n  ];\n}\n\nconst artifact_type = (req.artifact_type ?? \"\").trim();\n\nconst canonical = {\n  gw_action: req.gw_action ?? \"artifact.create\",\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: artifact_type,\n\n  // Owner (required for INSERT)\n  owner_user_id: req.owner_user_id ?? null,\n\n  // Spine fields\n  title: req.title ?? null,\n  summary: req.summary ?? null,\n  priority: req.priority ?? null,\n  lifecycle_status: req.lifecycle_status ?? null,\n  tags: req.tags ?? {},\n  content: req.content ?? {},\n  parent_artifact_id: req.parent_artifact_id ?? null,\n\n  // Extension fields (type-specific, passed as-is)\n  extension: asObj(req.extension),\n};\n\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n  operation: \"CREATE\",\n};\n\nreturn [{ json: canonical }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -512
      ],
      "id": "normalize-request",
      "name": "NQxb_Artifact_Create_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Create_v1__Validate_Request\n// INSERT-ONLY validation\n\nconst req = $json;\nconst errors = [];\n\n// Always required\nif (!req.gw_workspace_id || req.gw_workspace_id.trim() === '') {\n  errors.push({ field: 'gw_workspace_id', reason: 'required' });\n}\n\nif (!req.artifact_type || req.artifact_type.trim() === '') {\n  errors.push({ field: 'artifact_type', reason: 'required' });\n} else {\n  const validTypes = ['project', 'journal', 'restart', 'snapshot'];\n  if (!validTypes.includes(req.artifact_type.trim())) {\n    errors.push({ field: 'artifact_type', reason: 'must be one of: project, journal, restart, snapshot', received: req.artifact_type });\n  }\n}\n\nconst artifact_type = req.artifact_type?.trim();\n\n// INSERT requirements\nif (!req.owner_user_id || req.owner_user_id.trim() === '') {\n  errors.push({ field: 'owner_user_id', reason: 'required for INSERT operation' });\n}\n\nif (!req.title || req.title.trim() === '') {\n  errors.push({ field: 'title', reason: 'required for INSERT operation' });\n}\n\n// Type-specific validation\nif (artifact_type === 'project') {\n  // INSERT requires lifecycle_stage\n  if (!req.extension?.lifecycle_stage || req.extension.lifecycle_stage.trim() === '') {\n    errors.push({ field: 'extension.lifecycle_stage', reason: 'required for project INSERT' });\n  }\n} else if (artifact_type === 'restart' || artifact_type === 'snapshot') {\n  // INSERT requires payload\n  if (!req.extension?.payload || typeof req.extension.payload !== 'object') {\n    errors.push({ field: 'extension.payload', reason: `required for ${artifact_type} INSERT (must be object)` });\n  }\n}\n\n// If validation failed, return error envelope\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"VALIDATION_ERROR\",\n          message: \"Validation failed for artifact.create operation (INSERT)\",\n          details: {\n            validation_errors: errors,\n            artifact_type: artifact_type,\n            operation: 'INSERT',\n          },\n        },\n      },\n    },\n  ];\n}\n\n// Valid - pass through\nreturn [$input.item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -512
      ],
      "id": "validate-request",
      "name": "NQxb_Artifact_Create_v1__Validate_Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        -512
      ],
      "id": "guard-error",
      "name": "NQxb_Artifact_Create_v1__Guard_Error_ShortCircuit"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "qxb_artifact",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workspace_id",
              "fieldValue": "={{ $json.gw_workspace_id }}"
            },
            {
              "fieldId": "owner_user_id",
              "fieldValue": "={{ $json.owner_user_id }}"
            },
            {
              "fieldId": "artifact_type",
              "fieldValue": "={{ $json.artifact_type }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "lifecycle_status",
              "fieldValue": "={{ $json.lifecycle_status }}"
            },
            {
              "fieldId": "parent_artifact_id",
              "fieldValue": "={{ $json.parent_artifact_id }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        -512
      ],
      "id": "insert-spine",
      "name": "NQxb_Artifact_Create_v1__DB_Insert_Spine",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Create_v1__Normalize_Saved_ID\n// Extract artifact_id from Supabase INSERT response with fallbacks\n\nconst raw = $json;\n\n// Try multiple possible locations for artifact_id\nconst saved_artifact_id = \n  raw.artifact_id ||\n  raw.id ||\n  raw.data?.[0]?.artifact_id ||\n  raw.data?.[0]?.id ||\n  null;\n\nif (!saved_artifact_id) {\n  throw new Error('Failed to extract saved_artifact_id from DB INSERT response. Response shape: ' + JSON.stringify(raw));\n}\n\nreturn [\n  {\n    json: {\n      saved_artifact_id: saved_artifact_id,\n      _insert_response: raw,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -512
      ],
      "id": "normalize-saved-id",
      "name": "NQxb_Artifact_Create_v1__Normalize_Saved_ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($node['NQxb_Artifact_Create_v1__Normalize_Request'].json.artifact_type ?? '').trim() }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "type-project"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "type-journal",
                    "leftValue": "={{ ($node['NQxb_Artifact_Create_v1__Normalize_Request'].json.artifact_type ?? '').trim() }}",
                    "rightValue": "journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "type-restart",
                    "leftValue": "={{ ($node['NQxb_Artifact_Create_v1__Normalize_Request'].json.artifact_type ?? '').trim() }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "type-snapshot",
                    "leftValue": "={{ ($node['NQxb_Artifact_Create_v1__Normalize_Request'].json.artifact_type ?? '').trim() }}",
                    "rightValue": "snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1984,
        -512
      ],
      "id": "switch-type-insert",
      "name": "NQxb_Artifact_Create_v1__Switch_Type_For_Insert"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "qxb_artifact_project",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.saved_artifact_id }}"
            },
            {
              "fieldId": "lifecycle_stage",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.lifecycle_stage }}"
            },
            {
              "fieldId": "operational_state",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.operational_state ?? 'active' }}"
            },
            {
              "fieldId": "state_reason",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.state_reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        -736
      ],
      "id": "insert-project-ext",
      "name": "NQxb_Artifact_Create_v1__DB_Insert_Project_Extension",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "qxb_artifact_journal",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.saved_artifact_id }}"
            },
            {
              "fieldId": "entry_text",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.entry_text }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.payload }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        -544
      ],
      "id": "insert-journal-ext",
      "name": "NQxb_Artifact_Create_v1__DB_Insert_Journal_Extension",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "qxb_artifact_restart",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.saved_artifact_id }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.payload }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        -352
      ],
      "id": "insert-restart-ext",
      "name": "NQxb_Artifact_Create_v1__DB_Insert_Restart_Extension",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "qxb_artifact_snapshot",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "artifact_id",
              "fieldValue": "={{ $json.saved_artifact_id }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $node['NQxb_Artifact_Create_v1__Normalize_Request'].json.extension.payload }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        -160
      ],
      "id": "insert-snapshot-ext",
      "name": "NQxb_Artifact_Create_v1__DB_Insert_Snapshot_Extension",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare for query call\n// Get the saved artifact_id from Normalize_Saved_ID node\n\nconst normalizeNode = $node['NQxb_Artifact_Create_v1__Normalize_Request'].json;\nconst normalizedSavedID = $node['NQxb_Artifact_Create_v1__Normalize_Saved_ID'].json.saved_artifact_id;\n\nreturn [\n  {\n    json: {\n      saved_artifact_id: normalizedSavedID,\n      saved_workspace_id: normalizeNode.gw_workspace_id,\n      saved_artifact_type: normalizeNode.artifact_type,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -512
      ],
      "id": "prepare-query-call",
      "name": "NQxb_Artifact_Create_v1__Prepare_Query_Call"
    },
    {
      "parameters": {
        "workflowId": "={{ 'NQxb_Artifact_Query_v1' }}",
        "options": {
          "inputData": {
            "gw_action": "artifact.query",
            "gw_workspace_id": "={{ $json.saved_workspace_id }}",
            "artifact_type": "={{ $json.saved_artifact_type }}",
            "artifact_id": "={{ $json.saved_artifact_id }}"
          }
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2624,
        -512
      ],
      "id": "call-query-workflow",
      "name": "NQxb_Artifact_Create_v1__Call_Query_To_Return_Artifact"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Create_v1__In": [
      {
        "json": {
          "gw_action": "artifact.create",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "owner_user_id": "c52c7a57-74ad-433d-a07c-4dcac1778672",
          "artifact_type": "project",
          "title": "Test Project",
          "summary": "A test project for create workflow",
          "priority": 3,
          "extension": {
            "lifecycle_stage": "seed",
            "operational_state": "active"
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Artifact_Create_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Validate_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Validate_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Guard_Error_ShortCircuit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Guard_Error_ShortCircuit": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Call_Query_To_Return_Artifact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Create_v1__DB_Insert_Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__DB_Insert_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Normalize_Saved_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Normalize_Saved_ID": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Switch_Type_For_Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Switch_Type_For_Insert": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__DB_Insert_Project_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Create_v1__DB_Insert_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Create_v1__DB_Insert_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Create_v1__DB_Insert_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__DB_Insert_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Prepare_Query_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__DB_Insert_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Prepare_Query_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__DB_Insert_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Prepare_Query_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__DB_Insert_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Prepare_Query_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Create_v1__Prepare_Query_Call": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Create_v1__Call_Query_To_Return_Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "create-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "CreateWorkflowId",
  "tags": []
}
