workflows/NQxb_Artifact_Query_v1 (19).json
{
  "name": "NQxb_Artifact_Query_v1",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82d8c625-1508-4acc-bdb6-a1b1e83bafae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ec1d6524-ccd0-426d-be0c-8be69fac3de8",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18bf1eab-4d77-4687-ab57-a88734550897",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3331edbf-ee29-4a61-a8d9-7c98c3f276b7",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e1bb9d5-02c7-4e0a-9f15-cfd8d3cae7e2",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0001-4000-8000-query0000001",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "branch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0002-4000-8000-query0000002",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "limb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0003-4000-8000-query0000003",
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "leaf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2160,
        336
      ],
      "id": "0adba701-ed6b-47ea-ac29-dedb74c74a21",
      "name": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "217fb63d-5213-449d-8391-5a2cc55715ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28d1e829-9368-4c6d-8521-428d7b512695",
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        368
      ],
      "id": "d7887b5a-6b00-4452-9119-80a4e883aebd",
      "name": "NQxb_Gateway_v1__Switch_Spine_Found"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "project::project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d99ba0c-e31c-47c9-81bd-5250bd60fcde"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2cc91ca2-ce2b-4b65-af6a-99c88a8207fa",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "journal::journal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "223a7ca2-b808-4208-84ae-3642771925dc",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "restart::restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b1c3f25-45fb-478a-af96-29a9e2a2edbf",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "snapshot::snapshot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abd68435-98c4-4c72-8057-b57f3ab60c1b",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "instruction_pack::instruction_pack",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0004-4000-8000-query0000004",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "branch::branch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0005-4000-8000-query0000005",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "limb::limb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1c2d3e4-0006-4000-8000-query0000006",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "leaf::leaf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "046fa691-e9f6-4468-b47a-bc778b5d6530",
                    "leftValue": "={{$json.compare_key}}",
                    "rightValue": "twig",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -544,
        336
      ],
      "id": "cc6257e3-2f46-4061-a9cc-000fc157d23b",
      "name": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType"
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "id": "ef2d51d2-7e22-4d1a-9eb9-4e425465871e",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c0ec1f9c-9fac-49ba-8b6a-63969aa0c8d5",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// 🔒 Query Tail Guard: canonical lifecycle lives only on qxb_artifact.lifecycle_status\n// Prevent consumers from treating extension.lifecycle_stage as canonical lifecycle.\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "cb9b5e07-3080-45e9-8b5e-57ee20082545",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        272
      ],
      "id": "606c722e-f4f4-459a-a367-d838ae00114b",
      "name": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        80
      ],
      "id": "86620bf1-a71c-4391-88a0-792fe143b786",
      "name": "NQxb_Gateway_v1__Set_SpineType"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecbc52eb-078a-4603-802b-6d98ac46b50c",
              "name": "compare_key",
              "value": "={{ ($json.spine_artifact_type ?? '').trim() + '::' + ($node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.req_artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "=all",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        384
      ],
      "id": "e8af90c9-3922-436e-9fae-62abaa0fa745",
      "name": "NQxb_Gateway_v1__Edit_CompareKey"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        272
      ],
      "id": "76120d69-4be3-4d27-a025-ccbc8ec2d5b3",
      "name": "NQxb_Gateway_v1__Set_SpineType1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_project",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        80
      ],
      "id": "fbafd1b6-9fed-4716-9adb-25dd4cd8fe74",
      "name": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "56df7062-b90a-4baf-96df-05ccd4b080bb",
      "name": "Get a Snapshot row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_journal",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "98839538-98a0-4a20-8fa0-800373a5c6fb",
      "name": "Get a Journal row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "id": "a64bd0f2-f461-48ac-ad29-d65da2cc03fd",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "2ced484c-e588-48f2-abf9-0045d27d1df6",
      "name": "Get a Restart row",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\n// Strip artifact_type from extension if present\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        384
      ],
      "id": "e08e52db-5f50-4b3e-9b27-ce6014df28a4",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_snapshot",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        656
      ],
      "id": "f3e3dd91-d7f4-4c2d-b7fc-2c8fa86c4e8c",
      "name": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        656
      ],
      "id": "24cdc694-b7a3-4c77-b819-ae52995e5717",
      "name": "NQxb_Gateway_v1__Set_SpineType2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_restart",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        464
      ],
      "id": "7ac64870-8ef4-410f-8695-abe8aa91312a",
      "name": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        464
      ],
      "id": "97af493d-0953-4ef4-b1e8-788fb2f26e6b",
      "name": "NQxb_Gateway_v1__Set_SpineType3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2816,
        368
      ],
      "id": "4a0e35ce-99a6-40e8-b65a-97f59ed14127",
      "name": "NQxb_Artifact_Query_v1__In",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Normalize_Request\n// Canonicalize inbound request so downstream nodes always use top-level fields.\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector\n// Plus \"request echoes\" that survive later DB row replacement:\n//   $json.req_artifact_type, $json.req_artifact_id\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// In Execute Workflow Trigger calls, we usually receive a flat object,\n// but we still support body-wrapped payloads to stay compatible with Gateway/webhook callers.\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// normalize helper\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  // (e.g., Supabase \"Get row\" returning the artifact row)\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n};\n\n// UUID format guard (prevents raw Supabase errors)\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\ncanonical._uuid_valid = !canonical.artifact_id || uuidRegex.test(canonical.artifact_id);\n\nreturn [{ json: canonical }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        368
      ],
      "id": "571f4aa2-cf8a-4236-b337-a81e24359783",
      "name": "NQxb_Artifact_Query_v1__Normalize_Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 9,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        336
      ],
      "id": "700bcffa-cda0-4dea-bf03-1c3937af167c",
      "name": "NQxb_Artifact_Query_v1__Return",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2400,
        368
      ],
      "id": "ef003ebc-b227-4399-a92a-6adcbd46d90b",
      "name": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Check if types actually match but no extension table exists\n// Types like grass, thorn, forest, thicket, flower, branch, leaf have no extension tables.\n// When stored_type === requested_type, return spine only instead of TYPE_MISMATCH.\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\nconst stored = typeof j.artifact_type === \"string\" ? j.artifact_type.trim() : (j.artifact_type ?? null);\nconst requested = typeof req.req_artifact_type === \"string\" ? req.req_artifact_type.trim() : (typeof req.artifact_type === \"string\" ? req.artifact_type.trim() : null);\n\n// If types match, no extension table — return spine only\nif (stored && requested && stored === requested) {\n  const spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ...spineRaw, artifact_type: stored, extension: null } }];\n}\n\n// Actual TYPE_MISMATCH — existing logic preserved exactly\nconst artifact_id = req.req_artifact_id ?? req.artifact_id ?? j.artifact_id ?? null;\nconst gw_workspace_id = req.gw_workspace_id ?? req.workspace_id ?? null;\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id,\n    artifact_id,\n    requested_artifact_type: requested,\n    stored_artifact_type: stored,\n    compare_key: `${stored ?? \"null\"}::${requested ?? \"null\"}`,\n    error: {\n      code: \"TYPE_MISMATCH\",\n      message: \"Requested artifact_type does not match stored artifact_type for this artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1008
      ],
      "id": "99214160-c5dd-4b97-b5f9-fd5cc7fb843a",
      "name": "NQxb_Artifact_Query_v1__Return_TypeMismatch"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Shape_Return\n// Purpose: Produce deterministic errors, but on success return RAW artifact object (no envelope).\n// Input: a single merged item from NQxb_Artifact_Query_v1__Return (Merge node)\n\nconst j = $json ?? {};\n\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\nconst isError =\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error);\n\nif (isError) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? j.artifact_type ?? null,\n      stored_artifact_type: (typeof j.stored_artifact_type === \"string\") ? j.stored_artifact_type.trim() : (j.stored_artifact_type ?? null),\n      compare_key: j.compare_key ?? null,\n      error: j.error ?? { code: \"ERROR\", message: \"Unknown error\" },\n      timestamp: j.timestamp ?? new Date().toISOString(),\n    }\n  }];\n}\n\n// T70: Pass-through for pre-wrapped rollup response\n// Rollup_Compute returns { ok, _gw_route, data: { artifact, rollup } }\nif (j.ok === true && j._gw_route === \"ok\" && isObject(j.data) && isObject(j.data.artifact) && isObject(j.data.rollup)) {\n  return [{ json: j }];\n}\n\n// Fail-closed guard: do not return success unless we have an actual artifact spine shape.\nconst hasArtifactSpine =\n  typeof j.artifact_id === \"string\" && j.artifact_id.trim().length > 0 &&\n  typeof j.workspace_id === \"string\" && j.workspace_id.trim().length > 0 &&\n  typeof j.artifact_type === \"string\" && j.artifact_type.trim().length > 0;\n\nif (!hasArtifactSpine) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: \"error\",\n      gw_action: j.gw_action ?? \"artifact.query\",\n      gw_workspace_id: j.gw_workspace_id ?? null,\n      artifact_id: j.artifact_id ?? null,\n      requested_artifact_type: j.requested_artifact_type ?? j.req_artifact_type ?? null,\n      error: {\n        code: \"QUERY_RETURN_SHAPE_INVALID\",\n        message: \"Query did not produce a valid artifact row for shaping.\",\n        details: {\n          reason: \"missing_artifact_fields\",\n          received_keys: Object.keys(isObject(j) ? j : {}),\n        },\n      },\n      timestamp: new Date().toISOString(),\n    }\n  }];\n}\n\n// ✅ Success path: return RAW artifact object so Gateway wraps exactly once\nreturn [{\n  json: j\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1168
      ],
      "id": "422bdda9-a1b5-4423-a142-36bc2782032c",
      "name": "NQxb_Artifact_Query_v1__Shape_Return"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Return_NotFound\n// Purpose: Deterministic NOT_FOUND when qxb_artifact spine row is missing\nconst req = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"]?.json ?? {};\nconst j = $json ?? {};\n\nconst found = j && j.artifact_id;\n\nif (found) {\n  // PASS-THROUGH: do not stop the workflow path\n  return [{ json: j }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: req.gw_action ?? \"artifact.query\",\n    gw_workspace_id: req.gw_workspace_id ?? req.workspace_id ?? null,\n    artifact_id: req.req_artifact_id ?? req.artifact_id ?? null,\n    requested_artifact_type: req.req_artifact_type ?? req.artifact_type ?? null,\n    error: {\n      code: \"NOT_FOUND\",\n      message: \"Artifact not found for workspace_id + artifact_id.\",\n    },\n    timestamp: new Date().toISOString(),\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        1184
      ],
      "id": "4b5f37eb-05c0-4a8a-b838-5de803ed99bd",
      "name": "NQxb_Artifact_Query_v1__Return_NotFound"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{$json.artifact_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        768
      ],
      "id": "b97962ee-fd47-4735-9cc1-c130914778f9",
      "name": "Get an instruction_pack row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUG-003: Hydrate gate — skip extension merge when hydrate=false\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\n// Merge spine + instruction_pack extension into the canonical artifact shape.\n// Mirrors Merge_Spine_And_Project_Extension pattern (known-good).\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\n// Supabase Get output (current item) is the extension row\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\nlet ext = extRaw ? { ...extRaw } : null;\n\n// Strip artifact_type from extension if present\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\n// (Optional parity cleanup; harmless if absent)\nif (ext && \"workspace_id\" in ext) delete ext.workspace_id;\nif (ext && \"owner_user_id\" in ext) delete ext.owner_user_id;\n\n// If any extension accidentally carries lifecycle_stage, drop it (canonical lifecycle is spine-only)\nif (ext && \"lifecycle_stage\" in ext) delete ext.lifecycle_stage;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        768
      ],
      "id": "83827511-1570-4878-b61c-13b8e7887344",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_instruction_pack",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        864
      ],
      "id": "07ea91fa-94bf-415d-aa65-ad5a4af6ff65",
      "name": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d25ab477-feda-488c-b494-4ca6816b1f9d",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        864
      ],
      "id": "70dcd4a9-abb3-4e67-9943-9f5d7485bf7c",
      "name": "NQxb_Gateway_v1__Set_SpineType4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-1001-4000-8000-query0000010",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        1072
      ],
      "id": "484c7c89-81cf-4273-9bea-f0e89385e730",
      "name": "NQxb_Gateway_v1__Set_SpineType_Walk"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_limb",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1680,
        1264
      ],
      "id": "9a61965a-6523-49f3-ab20-9e475173fa76",
      "name": "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-1003-4000-8000-query0000011",
              "name": "spine_artifact_type",
              "value": "={{ ($node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_type ?? '').trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        1264
      ],
      "id": "3fb1404f-b8e3-4975-85a2-fe40cb2538f1",
      "name": "NQxb_Gateway_v1__Set_SpineType_Limb"
    },
    {
      "parameters": {
        "jsCode": "// Phase 2B Walk: Spine-only query merge for types with no extension table (branch, leaf)\n// Respects hydrate gate. Returns spine with extension: null.\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nconst _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nreturn [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1008
      ],
      "id": "c1020344-fd89-485d-8f95-fc1485836ec2",
      "name": "NQxb_Gateway_v1__Spine_Only_Query_Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_limb",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json.artifact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1264
      ],
      "id": "dc378315-12f9-4e1c-b558-1ea64bfe9d31",
      "name": "Get a Limb row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Phase 2B Walk: Merge spine + limb extension\n// Hydrate gate respected. Shell table: artifact_id, created_at, updated_at.\nconst _selector = $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector ?? {};\nif (_selector.hydrate === false) {\n  const _spine = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\n  return [{ json: { ..._spine, artifact_type: (_spine.artifact_type ?? \"\").trim(), extension: null } }];\n}\n\nconst spineRaw = $node[\"NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine\"].json || {};\nconst spine = {\n  ...spineRaw,\n  artifact_type: (spineRaw.artifact_type ?? \"\").trim(),\n};\n\nconst extRaw = $json && Object.keys($json).length ? $json : null;\n\nlet ext = extRaw ? { ...extRaw } : null;\nif (ext && \"artifact_type\" in ext) delete ext.artifact_type;\n\nreturn [\n  {\n    json: {\n      ...spine,\n      extension: ext,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1264
      ],
      "id": "aed2129c-f035-42b3-a8cd-921814f0a9ff",
      "name": "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t70-rollup-selector",
                    "leftValue": "={{ $node[\"NQxb_Artifact_Query_v1__Normalize_Request\"].json.selector.rollup }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  },
                  {
                    "id": "t70-rollup-type-eligible",
                    "leftValue": "={{ ($json.artifact_type ?? '').trim() }}",
                    "rightValue": "^(project|branch|limb)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rollup"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        336
      ],
      "id": "97b1cf25-4280-4737-9e08-059f30aedc33",
      "name": "NQxb_Artifact_Query_v1__Switch_Rollup"
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact_rollup_view?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        112
      ],
      "id": "173ab1a4-262f-42f2-af98-a5cd41e3b4bc",
      "name": "NQxb_Artifact_Query_v1__Rollup_Fetch_View",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase – Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Query_v1__Rollup_Compute (T70 v2 — VIEW-based)\n// Input: VIEW row from Rollup_Fetch_View (or empty {} if no data)\n// Artifact data: from Switch_Rollup node (pass-through of Return Merge)\n// Output: pre-wrapped envelope { ok, _gw_route, data: { artifact, rollup } }\n\nconst artifact = { ...$node[\"NQxb_Artifact_Query_v1__Switch_Rollup\"].json };\n\n// VIEW data from HTTP Request\nconst viewRow = $json ?? {};\nconst hasViewData = viewRow.total_active_children_count != null;\n\nconst rollup = hasViewData ? {\n  completion_ratio: viewRow.completion_ratio,\n  completed_children_count: viewRow.completed_children_count,\n  total_active_children_count: viewRow.total_active_children_count,\n} : {\n  completion_ratio: null,\n  completed_children_count: 0,\n  total_active_children_count: 0,\n};\n\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: \"ok\",\n    data: {\n      artifact: artifact,\n      rollup: rollup,\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        112
      ],
      "id": "c1991dc9-1426-46b5-9e06-55e99c235545",
      "name": "NQxb_Artifact_Query_v1__Rollup_Compute"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._uuid_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "uuid-guard-condition-1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2512,
        368
      ],
      "id": "4ced6414-61e4-4bef-a6f4-809580390174",
      "name": "NQxb_Artifact_Query_v1__Guard_UUID"
    },
    {
      "parameters": {
        "jsCode": "// Return deterministic error for invalid UUID format\nconst input = $json;\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: \"error\",\n    gw_action: input.gw_action ?? \"artifact.query\",\n    gw_workspace_id: input.gw_workspace_id ?? null,\n    artifact_id: input.artifact_id ?? null,\n    error: {\n      code: \"VALIDATION_ERROR\",\n      message: \"Invalid UUID format\",\n      details: { artifact_id: input.artifact_id }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        176
      ],
      "id": "0b45b1f7-9db8-49ef-8728-68d355bc631a",
      "name": "NQxb_Artifact_Query_v1__Return_InvalidUUID"
    }
  ],
  "pinData": {
    "NQxb_Artifact_Query_v1__In": [
      {
        "json": {
          "gw_action": "artifact.query",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "artifact_type": "restart",
          "artifact_id": "ac1d6294-2bd7-4a9d-823e-827562b56e26",
          "selector": {},
          "_gw_debug": {
            "received_shape": "flat",
            "has_authorization": false
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Walk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Walk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Spine_Found": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Edit_CompareKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__DB_Get_Project_Extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Journal row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Restart row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Snapshot row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an instruction_pack row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Spine_Only_Query_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a Limb row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Spine_Only_Query_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Spine_Only_Query_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_TypeMismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Edit_CompareKey": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_SpineType_Matches_RequestType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Project_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Snapshot row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Snapshot_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Journal row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Journal_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a Restart row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Snapshot_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType2": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Restart_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType3": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Guard_UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Guard_UUID": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return_InvalidUUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_InvalidUUID": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__DB_Get_Artifact_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_ArtifactType_ForQuery",
            "type": "main",
            "index": 0
          },
          {
            "node": "NQxb_Artifact_Query_v1__Return_NotFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_TypeMismatch": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Switch_Rollup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Return_NotFound": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an instruction_pack row1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Instruction_Pack_Extension1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType4": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType_Walk": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__DB_Get_Limb_Extension_Early": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Set_SpineType_Limb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Set_SpineType_Limb": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Spine_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Spine_Only_Query_Merge": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Get a Limb row": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Spine_And_Limb_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Return",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Switch_Rollup": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Rollup_Fetch_View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Rollup_Fetch_View": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Rollup_Compute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Query_v1__Rollup_Compute": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Query_v1__Shape_Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72255206-80c5-466a-94cd-aeaef1f94db7",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "27efKlNfdyu89YGD",
  "tags": []
}