workflows/Qxb_Onboarding_Signup_NDA_Clickwrap_v1.json
{
  "name": "Qxb_Onboarding_Signup_NDA_Clickwrap_v1",
  "nodes": [
    {
      "parameters": {
        "path": "qwrk-nda-signup",
        "formTitle": "Qwrk Beta Registration",
        "formDescription": "Register for Qwrk beta updates. By selecting 'Agreed' below, you accept our Beta Non-Disclosure Agreement. Review full NDA terms at: https://github.com/Qwrk23/Qwrk/blob/main/docs/contracts/NDA__Beta_Clickwrap__v1__2026-01-03.md",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company (optional)"
            },
            {
              "fieldLabel": "Source (optional)"
            },
            {
              "fieldLabel": "Do you agree to the NDA?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Agreed"
                  },
                  {
                    "option": "No Thanks"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5854e7b8-f909-4cd1-80d6-fe2e423dc291",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_FormTrigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -1232,
        160
      ],
      "webhookId": "qwrk-nda-signup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "normalized_email",
              "name": "normalized_email",
              "value": "={{ $json[\"Email\"]?.toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "full_name",
              "name": "full_name",
              "value": "={{ $json[\"Full Name\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "company",
              "name": "company",
              "value": "={{ $json.company || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.source || '' }}",
              "type": "string"
            },
            {
              "id": "nda_accept",
              "name": "Do you agree to the NDA?",
              "value": "Agreed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "780d2c11-94f6-4f6a-be7b-23adf4445cf5",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_NormalizeAndValidate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -992,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build acceptance record with all required fields\nconst ndaText =\n  \"QWRK BETA NON-DISCLOSURE AGREEMENT\\n\\n\" +\n  \"By clicking \\\"Agreed,\\\" you acknowledge and agree to the following:\\n\\n\" +\n  \"1. CONFIDENTIAL INFORMATION: You will have access to pre-release Qwrk software and related materials that are proprietary and confidential, including features, functionality, user interfaces, roadmaps, performance data, and documentation.\\n\\n\" +\n  \"2. YOUR OBLIGATIONS: You agree to (a) keep all Confidential Information strictly confidential, (b) not disclose it to any third party without Qwrk's prior written consent, (c) use it only for evaluating the Qwrk beta software, (d) protect it with at least the same care you use for your own confidential information, and (e) not reverse engineer or decompile any software.\\n\\n\" +\n  \"3. EXCEPTIONS: Your confidentiality obligations do not apply to information that: (a) was publicly known at disclosure, (b) becomes public through no breach by you, (c) was rightfully in your possession prior to disclosure, (d) you independently developed, or (e) must be disclosed by law (with prior notice to Qwrk).\\n\\n\" +\n  \"4. BETA SOFTWARE UNDERSTANDING: You acknowledge the beta software is pre-release and may contain bugs or incomplete features. Qwrk makes no warranties regarding performance, reliability, or availability. You use it at your own risk. Qwrk may modify, suspend, or terminate the beta program at any time. Your participation does not guarantee future access to Qwrk.\\n\\n\" +\n  \"5. FEEDBACK: Any feedback, suggestions, or ideas you provide become Qwrk's property. You grant Qwrk a perpetual, irrevocable, worldwide, royalty-free license to use them without attribution or compensation.\\n\\n\" +\n  \"6. NO ACCESS GUARANTEE: Signing this NDA does NOT guarantee beta access. Participants are selected at Qwrk's sole discretion.\\n\\n\" +\n  \"7. TERM: This agreement remains in effect for three (3) years from acceptance, or until Qwrk's public release, whichever comes first. Confidentiality obligations survive termination.\\n\\n\" +\n  \"8. GOVERNING LAW: Delaware law governs this agreement. This constitutes the entire agreement on beta confidentiality. If any provision is unenforceable, others remain in effect. This creates no partnership or employment relationship.\\n\\n\" +\n  \"Questions: legal@qwrk.ai\\n\\n\" +\n  \"Version: nda_v1_2026-01-03\";\n\n// Precomputed SHA-256 (utf8) of ndaText above\n// NOTE: crypto module is disallowed in this n8n sandbox, so we hardcode for Crawl-stage.\nconst ndaTextHash = \"1b498a417999683f7afdebf3259966f0d8fb2927ede194676da59fcb61c2f525\";\n\n// Build acceptance record\nconst acceptanceRecord = {\n  created_at_utc: new Date().toISOString(),\n  full_name: $input.item.json.full_name,\n  email: $input.item.json.normalized_email,\n  company: $input.item.json.company,\n  nda_accept: $input.item.json.nda_accept,\n  nda_version: \"nda_v1_2026-01-03\",\n  nda_text_hash: ndaTextHash,\n  ip_address: \"\",  // Best-effort later\n  user_agent: \"\",  // Best-effort later\n  source: $input.item.json.source,\n  status: \"pending\" // Will be set downstream\n};\n\nreturn { json: acceptanceRecord };\n"
      },
      "id": "e4a08a00-f3ba-42ed-aedd-62feae9c0869",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "duplicate_blocked",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "03a34844-908c-4194-9464-c0de77afe701",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetDuplicateStatus",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "registered",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2159f174-4038-4356-b619-03b9b5173960",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetRegisteredStatus",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        576,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs",
          "mode": "list",
          "cachedResultName": "Qwrk NDA Signups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 991589651,
          "mode": "list",
          "cachedResultName": "Qwrk NDA Signups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs/edit#gid=991589651"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.created_at_utc }}",
            "email": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.email }}",
            "full_name": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.full_name }}",
            "company": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.company }}",
            "nda_version": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.nda_version }}",
            "nda_text_hash": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.nda_text_hash }}",
            "ip_address": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.ip_address }}",
            "user_agent": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.user_agent }}",
            "source": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.source }}",
            "status": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord').item.json.status }}",
            "nda_accept": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_FormTrigger').item.json['Do you agree to the NDA?'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nda_accept",
              "displayName": "nda_accept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nda_version",
              "displayName": "nda_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nda_text_hash",
              "displayName": "nda_text_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_agent",
              "displayName": "user_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e190b841-6c88-499e-9422-4b94122641c0",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        800,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "53D3Y9PzBUq9ySsa",
          "name": "Google Sheets account (Qwrk)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs",
          "mode": "list",
          "cachedResultName": "Qwrk NDA Signups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 991589651,
          "mode": "list",
          "cachedResultName": "Qwrk NDA Signups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYpb00qeY4_x6dSmPZUCJLnv9MaivVuHPgbF8uSXJZs/edit#gid=991589651"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        144
      ],
      "id": "adf18121-fe7e-465d-ad88-925ace21568e",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "53D3Y9PzBUq9ySsa",
          "name": "Google Sheets account (Qwrk)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dedupe_hit }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "a084f2cd-b1c1-4c2b-a78a-3367e0c5382e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "728e3567-e58e-4238-b192-52b47ec22180",
                    "leftValue": "={{ $json.dedupe_hit }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        352,
        144
      ],
      "id": "b2257952-4ad4-4ab3-9888-bfc9c4f776b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// DedupeFlag: normalize what \"found\" means\nconst row = $json.row_number;\n\n// row_number can be 0, null, undefined, \"2\", 2, etc.\nconst num = row === undefined || row === null || row === '' ? 0 : Number(row);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      dedupe_row_number: num,\n      dedupe_hit: num > 0,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        144
      ],
      "id": "5b07ca01-9b85-47fa-88da-efef022101da",
      "name": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_DedupeFlag"
    },
    {
      "parameters": {
        "sendTo": "joel@halosparkai.com",
        "subject": "Qwrk NDA Signup — {{$json.status || \"status_unknown\"}} — {{$json.email || $json.normalized_email || \"no_email\"}}",
        "message": "=<h2>Qwrk NDA Signup Event</h2>  <p><b>Status:</b> {{ $json.status || \"(missing)\" }}</p> <p><b>Dedupe Hit:</b> {{ $json.dedupe_hit }}</p> <p><b>Dedupe Row:</b> {{ $json.dedupe_row_number || $json.row_number || \"(none)\" }}</p>  <hr/>  <p><b>Full Name:</b> {{ $json.full_name || \"(missing)\" }}</p> <p><b>Email:</b> {{ $json.email || $json.normalized_email || \"(missing)\" }}</p> <p><b>Company:</b> {{ $json.company || \"(blank)\" }}</p> <p><b>Source:</b> {{ $json.source || \"(blank)\" }}</p>  <hr/>  <p><b>NDA Accept:</b> {{ $json.nda_accept }}</p> <p><b>NDA Version:</b> {{ $json.nda_version || \"(missing)\" }}</p> <p><b>NDA Text Hash:</b> {{ $json.nda_text_hash || \"(missing)\" }}</p>  <hr/>  <p><b>Created (UTC):</b> {{ $json.created_at_utc || \"(missing)\" }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        192
      ],
      "id": "1f2a1471-dbc2-499f-b1b6-363e68338253",
      "name": "Admin notification",
      "webhookId": "ae669587-7515-4414-b740-c3a9df82d672",
      "credentials": {
        "gmailOAuth2": {
          "id": "JSzGdmchI8ubDnhT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Do you agree to the NDA?'] }}",
                    "rightValue": "Agreed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a14f3f3-6343-4c62-8a49-7a853978151b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "96666c7e-cecd-4ba5-b623-b688b0d172c3",
                    "leftValue": "={{ $json['Do you agree to the NDA?'] }}",
                    "rightValue": "Agreed",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -784,
        160
      ],
      "id": "41ce3308-e427-4dad-b6a7-4560ca6a3c6b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.email }}",
        "subject": "Welcome to Qwrk Beta — NDA Confirmation",
        "message": "=<h2>Thank you for registering for Qwrk Beta!</h2>\n\n<p>Hi {{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.full_name }},</p>\n\n<p>We've received your registration and NDA acceptance. This email confirms your acceptance of the Qwrk Beta Non-Disclosure Agreement.</p>\n\n<h3>NDA Acceptance Details:</h3>\n<ul>\n  <li><b>Name:</b> {{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.full_name }}</li>\n  <li><b>Email:</b> {{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.email }}</li>\n  <li><b>Date:</b> {{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.created_at_utc }}</li>\n  <li><b>NDA Version:</b> {{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.nda_version }}</li>\n  <li><b>Document Hash (SHA-256):</b> <code>{{ $('Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow').item.json.nda_text_hash }}</code></li>\n</ul>\n\n<h3>What Happens Next?</h3>\n<p>Your registration is now in our system. <b>Please note: Registration does not guarantee immediate beta access.</b> We're carefully selecting beta participants based on program capacity and fit. If selected, we'll contact you directly at this email address.</p>\n\n<p>In the meantime, you'll receive occasional updates about Qwrk's progress.</p>\n\n<h3>Questions?</h3>\n<p>Contact us at <a href=\"mailto:legal@qwrk.ai\">legal@qwrk.ai</a> for NDA questions or <a href=\"mailto:joel@halosparkai.com\">joel@halosparkai.com</a> for beta program questions.</p>\n\n<p>Thank you for your interest in Qwrk!</p>\n\n<p>—The Qwrk Team</p>\n\n<hr/>\n<p style=\"font-size: 11px; color: #666;\">This is an automated confirmation email. The SHA-256 hash above provides cryptographic proof of the NDA version you accepted. Keep this email for your records.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        192
      ],
      "id": "7f95467f-4535-4553-b38e-2e198fa619ac",
      "name": "Email signup",
      "webhookId": "5177a6ab-9dda-46f2-bde8-08f8c30e707f",
      "credentials": {
        "gmailOAuth2": {
          "id": "JSzGdmchI8ubDnhT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "You are already Registered",
        "message": "You are already registered for email and/or the beta.  If you are not getting the emails, please check your spam folder.  Thanks!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        0
      ],
      "id": "47ccbfca-931d-49ec-830e-0e79dbc708a8",
      "name": "Email signup1",
      "webhookId": "5177a6ab-9dda-46f2-bde8-08f8c30e707f",
      "credentials": {
        "gmailOAuth2": {
          "id": "JSzGdmchI8ubDnhT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_FormTrigger": {
      "main": [
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_NormalizeAndValidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_NormalizeAndValidate": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetDuplicateStatus": {
      "main": [
        [
          {
            "node": "Email signup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetRegisteredStatus": {
      "main": [
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SheetsInsertRow": {
      "main": [
        [
          {
            "node": "Admin notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_DedupeFlag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetDuplicateStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_SetRegisteredStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qx_Onboarding_Signup_NDA_Clickwrap_v1_DedupeFlag": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin notification": {
      "main": [
        [
          {
            "node": "Email signup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Qx_Onboarding_Signup_NDA_Clickwrap_v1_BuildAcceptanceRecord",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Email signup": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a0a39bf-468b-4aec-ba59-9cef2edbf45b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "18MkcKCHBqgSWS8o",
  "tags": []
}