workflows/AAA_Sapling_A_B_C_backups/NQxb_Gateway_v2 (4).json
{
  "name": "NQxb_Gateway_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v2",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        208
      ],
      "id": "5de964b4-6db7-4c2e-98e4-3260d4c8d1b2",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "gw-v2-webhook-id",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request\n// Canonical normalization BEFORE Gatekeeper\n// FIX: explicitly forward title + owner identity for artifact.save\n// T123: Forward full raw payload for messaging.* actions\n\nfunction isNonEmptyObject(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length > 0;\n}\n\nfunction pickSource() {\n  if (isNonEmptyObject($json?.params)) return { src: \"params\", raw: $json.params };\n  if (isNonEmptyObject($json?.query)) return { src: \"query\", raw: $json.query };\n  if (isNonEmptyObject($json?.body?.body)) return { src: \"body.body\", raw: $json.body.body };\n  if (isNonEmptyObject($json?.body)) return { src: \"body\", raw: $json.body };\n  if (isNonEmptyObject($json)) return { src: \"json\", raw: $json };\n  return { src: \"empty\", raw: {} };\n}\n\nconst { src, raw } = pickSource();\n\nreturn [\n  {\n    json: {\n      // --- Canonical action ---\n      gw_action: raw.gw_action ?? raw.action ?? null,\n\n      // --- Workspace / identity ---\n      gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      workspace_id: raw.workspace_id ?? raw.gw_workspace_id ?? null,\n\n      // --- Artifact identity ---\n      artifact_type: raw.artifact_type ?? null,\n      artifact_id: raw.artifact_id ?? null,\n\n      // --- REQUIRED for INSERT ---\n      title: raw.title ?? null,\n\n      // --- Payload ---\n      extension: raw.extension ?? raw.patch ?? {},\n      tags: raw.tags ?? null,\n\n      // --- Spine fields for INSERT ---\n      parent_artifact_id: raw.parent_artifact_id ?? null,\n      summary: raw.summary ?? null,\n      priority: raw.priority ?? null,\n      content: raw.content ?? null,\n      content_append: raw.content_append ?? null,\n      content_mode: raw.content_mode ?? null,\n      lifecycle_status: raw.lifecycle_status ?? null,\n      execution_status: raw.execution_status ?? null,\n\n      // --- Semantic type (T69 Phase 3) ---\n      semantic_type_id: raw.semantic_type_id ?? null,\n\n      // --- Owner / auth passthrough ---\n      auth_username:\n        raw.auth_username ??\n        raw.owner_username ??\n        raw.created_by ??\n        null,\n\n      // --- Freeze intent ---\n      req_gw_workspace_id: raw.gw_workspace_id ?? raw.workspace_id ?? null,\n      req_artifact_type: raw.artifact_type ?? null,\n      req_artifact_id: raw.artifact_id ?? null,\n      req_title: raw.title ?? null,\n\n      // --- Selector (artifact.list pagination) ---\n      selector: raw.selector ?? {},\n\n      // --- Promote fields ---\n      transition: raw.transition ?? null,\n      reason: raw.reason ?? null,\n\n      // --- T123: Forward full raw payload for messaging actions ---\n      // Messaging sub-workflows extract their own fields from raw\n      ...((/^messaging\\./).test(raw.gw_action ?? '') ? raw : {}),\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1__Normalize_Request\",\n        source: src,\n        received_keys: Object.keys(raw),\n        has_title: !!raw.title,\n        has_auth: !!(\n          raw.auth_username ||\n          raw.owner_username ||\n          raw.created_by\n        ),\n      },\n\n      gateway_meta: {\n        processed_at: new Date().toISOString(),\n        gateway_version: \"v2_resolver\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        208
      ],
      "id": "d2fc66ae-2fea-48c8-abbc-9292449ad628",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v2__Gatekeeper\n// Unified Gateway \u2014 workspace resolution via ACL lookup + legacy credential fallback\n// Design: build-approved snapshot 5b4fb3e0\n\nconst ACTION_ALLOWLIST = new Set([\n  \"artifact.query\",\n  \"artifact.list\",\n  \"artifact.save\",\n  \"artifact.update\",\n  \"artifact.promote\",\n  \"artifact.delete\",\n  \"artifact.restore\",\n  \"artifact.list_deleted\",\n  \"messaging.send_email\",\n  \"messaging.create_calendar_event\",\n]);\n\nconst TYPE_ALLOWLIST = new Set([\n  \"project\",\n  \"journal\",\n  \"restart\",\n  \"snapshot\",\n  \"instruction_pack\",\n  \"branch\",\n  \"limb\",\n  \"leaf\",\n  \"twig\"\n]);\n\n// --- Known workspace IDs for validation ---\nconst KNOWN_WORKSPACES = new Set([\n  \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",  // Personal (Prime)\n  \"b4e7f648-96d5-44a7-80b9-c39cac4efbd1\",  // BlaggLife\n  \"635bb8d7-7b93-4bea-8ca6-ee2c924c9557\",  // Work (Resolve)\n  \"963973e0-a98c-4044-b421-71e7348eaeaf\",  // Akara_Blagg\n  \"970d0df8-ab84-47f5-926c-3e784ba5dfa2\",  // Qwrk_Greg\n  \"0af5712b-2534-47c1-8e28-45be4a2131dc\",  // Explore Qwrk Demo\n]);\n\n// --- Legacy credential \u2192 workspace mapping (temporary, for migration) ---\nconst CREDENTIAL_WORKSPACE_MAP = {\n  \"qwrk-gateway\":     \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"qwrk-gw-work\":     \"635bb8d7-7b93-4bea-8ca6-ee2c924c9557\",\n  \"qwrk-gw-blagglife\":\"b4e7f648-96d5-44a7-80b9-c39cac4efbd1\",\n  \"qwrk-gw-akara\":    \"963973e0-a98c-4044-b421-71e7348eaeaf\",\n  \"qwrk-gw-greg\":     \"970d0df8-ab84-47f5-926c-3e784ba5dfa2\",\n  \"qwrk-gw-demo\":     \"0af5712b-2534-47c1-8e28-45be4a2131dc\",\n};\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: { code, message, details },\n\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n        gateway_meta: $json?.gateway_meta ?? undefined,\n        _gw_debug: $json?._gw_debug ?? undefined,\n        incoming: $json ?? {},\n      },\n    },\n  ];\n}\n\n// ----- Canonical fields from Normalize_Request -----\nconst gw_action = $json?.gw_action ?? null;\nlet gw_workspace_id = $json?.gw_workspace_id ?? null;\nconst artifact_type = $json?.artifact_type ?? null;\nconst artifact_id = $json?.artifact_id ?? null;\nconst selector = asObj($json?.selector);\n\nconst extension = asObj($json?.extension);\nconst tags = asObj($json?.tags);\n\n// ----- Basic action validation -----\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\n\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n// ----- Workspace resolution (DESIGN CHANGE #2 + #3) -----\n// Priority: explicit workspace_id > legacy credential fallback\nconst requiresWorkspaceAtGate = gw_action !== \"artifact.update\";\n\nif (requiresWorkspaceAtGate) {\n  // Try explicit workspace_id first (resolver mode)\n  if (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n    // Fallback: derive from credential (legacy mode)\n    const auth_username = $json?.auth_username ?? null;\n    if (auth_username && CREDENTIAL_WORKSPACE_MAP[auth_username]) {\n      gw_workspace_id = CREDENTIAL_WORKSPACE_MAP[auth_username];\n    } else {\n      return fail(\"WORKSPACE_INVALID\", \"Invalid request context\", {\n        _internal_reason: \"No workspace_id in payload and no valid credential fallback\",\n      });\n    }\n  }\n\n  // Validate workspace exists (DESIGN CHANGE #2: strict ACL check)\n  if (!KNOWN_WORKSPACES.has(gw_workspace_id)) {\n    return fail(\"WORKSPACE_INVALID\", \"Invalid request context\", {\n      _internal_reason: \"workspace_id not in known workspaces\",\n    });\n  }\n}\n\n// ----- artifact.query -----\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.query\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_id for artifact.query\"\n    );\n  }\n}\n\n// ----- artifact.list -----\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.list\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// ----- artifact.update -----\nif (gw_action === \"artifact.update\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_type for artifact.update\"\n    );\n  }\n\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"Missing or invalid artifact_id for artifact.update\"\n    );\n  }\n\n  const hasExtension = Object.keys(extension).length > 0;\n\n  const hasTags =\n    (Array.isArray(tags?.add) && tags.add.length > 0) ||\n    (Array.isArray(tags?.remove) && tags.remove.length > 0);\n\n  const spineFieldCandidates = [\n    \"title\",\n    \"summary\",\n    \"priority\",\n    \"lifecycle_status\",\n    \"parent_artifact_id\"\n  ];\n\n  const hasSpineFields = spineFieldCandidates.some((f) => {\n    const val = $json?.[f];\n    return val !== null && val !== undefined;\n  });\n\n  // T140: Content field detection for update validation\n  const hasContent = $json?.content !== null && $json?.content !== undefined\n    && typeof $json?.content === 'object' && !Array.isArray($json?.content)\n    && Object.keys($json.content).length > 0;\n  const hasContentAppend = $json?.content_append !== null && $json?.content_append !== undefined\n    && typeof $json?.content_append === 'object' && !Array.isArray($json?.content_append);\n\n  if (!hasExtension && !hasTags && !hasSpineFields && !hasContent && !hasContentAppend) {\n    return fail(\n      \"VALIDATION_ERROR\",\n      \"artifact.update requires extension, tags, spine fields, content, or content_append\",\n      {\n        expected:\n          \"extension OR tags.add/remove OR title/summary/priority/lifecycle_status OR content OR content_append\",\n      }\n    );\n  }\n}\n\n// ----- PASS THROUGH -----\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n\n      ok: true,\n      _gw_route: \"ok\",\n\n      gw_action,\n      gw_workspace_id: gw_workspace_id ?? null,\n      workspace_id: gw_workspace_id ?? null,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      ...(gw_action === \"artifact.update\"\n        ? {\n            extension,\n            tags,\n\n            spine_fields: (() => {\n              const sf = {};\n              if ($json?.title !== null && $json?.title !== undefined)\n                sf.title = $json.title;\n              if ($json?.summary !== null && $json?.summary !== undefined)\n                sf.summary = $json.summary;\n              if ($json?.priority !== null && $json?.priority !== undefined)\n                sf.priority = $json.priority;\n              if (\n                $json?.lifecycle_status !== null &&\n                $json?.lifecycle_status !== undefined\n              )\n                sf.lifecycle_status = $json.lifecycle_status;\n              if (\n                $json?.parent_artifact_id !== null &&\n                $json?.parent_artifact_id !== undefined\n              )\n                sf.parent_artifact_id = $json.parent_artifact_id;\n\n              return Object.keys(sf).length > 0 ? sf : null;\n            })(),\n          }\n        : {}),\n\n      gateway_meta: $json?.gateway_meta ?? undefined,\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        208
      ],
      "id": "a5a7931d-c00c-4916-b48c-0d822a80a674",
      "name": "NQxb_Gateway_v2__Gatekeeper"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8153fa85-e2a0-4b7f-977a-19a99e9ed8f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08e622c7-fb31-40c9-847d-afb5dad39973",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -864,
        208
      ],
      "id": "ada140e1-2a95-4adc-a6b8-9bf652d5eaff",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -640,
        96
      ],
      "id": "0fa6ebdb-713d-46e5-a01c-7a1764a14a73",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52ad343d-e0ed-4932-a694-f97756475ce8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442dede-1a9a-4826-8021-bff39a110266",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "artifact-save-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31a22f06-9e48-4296-b859-3be36b69f1d8",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0601c9aa-d2ac-4e77-aa16-0f7bf2fc315a",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.promote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "delete-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "restore-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "list-deleted-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list_deleted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "send-email-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "messaging.send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "calendar-event-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "messaging.create_calendar_event",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        288
      ],
      "id": "0cdffca8-34bf-4c8d-aedd-2b19e043c7af",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(\n  (() => {\n    const j = $json ?? {};\n    const isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n    const isErrorEnvelope =\n      j.ok === false || j._gw_route === \"error\" || isObject(j.error);\n\n    const isSuccessEnvelope =\n      j.ok === true &&\n      j._gw_route === \"ok\" &&\n      isObject(j.data) &&\n      isObject(j.data.artifact);\n\n    if (isErrorEnvelope || isSuccessEnvelope) return j;\n\n    return { ok: true, _gw_route: \"ok\", data: { artifact: j } };\n  })()\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "1f500724-b016-4e5e-b924-720da67dae83",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "27efKlNfdyu89YGD",
          "mode": "list",
          "cachedResultUrl": "/workflow/27efKlNfdyu89YGD",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e38504f5-b36f-4ef6-9d7a-a28cfca63d9a",
      "name": "Call 'NQxb_Artifact_Query_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Freeze_Save_Context\n// Freeze request fields BEFORE calling Save sub-workflow\n// Tag for deterministic merge after sub-workflow returns\n// This node splits to TWO destinations: Save sub-workflow + Merge bypass\n\nreturn [{\n  json: {\n    ...$json,\n    _merge_role: \"frozen_context\",\n    _frozen_artifact_type: $json.req_artifact_type ?? $json.artifact_type ?? null,\n    _frozen_workspace_id: $json.req_workspace_id ?? $json.gw_workspace_id ?? null,\n    _frozen_extension: $json.req_extension ?? $json.extension ?? {},\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "d983256d-7154-402f-80f8-170b7e66c5fd",
      "name": "NQxb_Gateway__Freeze_Save_Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uQ9t8vPopNjsUIUm",
          "mode": "list",
          "cachedResultUrl": "/workflow/uQ9t8vPopNjsUIUm",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "016cd681-b1a2-40e2-b4a0-c401461045f5",
      "name": "Call 'NQxb_Artifact_Save_v1'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway__Tag_Save_Result\n// Pure passthrough: Save sub-workflow response flows to webhook unmodified.\n// Sapling A: No Gateway-level response modification permitted.\n\nreturn [{ json: $json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ],
      "id": "bfe946c9-c14b-4b6c-98d1-15fdf370356e",
      "name": "NQxb_Gateway__Tag_Save_Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        400
      ],
      "id": "8ed882f1-2b6f-4020-8137-7ba5f55d57e4",
      "name": "NQxb_Gateway__Respond_Save_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cr4Jt7YNOx6SZpnE",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cr4Jt7YNOx6SZpnE",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "2ad9a419-c71b-448e-b5b5-e5d25a9a88e3",
      "name": "NQxb_Gateway_v1__Call_Artifact_List_v1"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_List_Response\n// Purpose: Shape canonical list response for Gateway\n// Rule: If sub-workflow already returned a canonical artifact.list envelope,\n//       PASS THROUGH exactly (no re-wrapping).\n\nconst j = $json ?? {};\n\n// ---------- helpers ----------\nconst isObject = (x) => x && typeof x === \"object\" && !Array.isArray(x);\n\nconst isCanonicalListEnvelope = (x) =>\n  isObject(x) &&\n  x.ok === true &&\n  x.gw_action === \"artifact.list\" &&\n  isObject(x.data) &&\n  Array.isArray(x.data.artifacts) &&\n  isObject(x.meta);\n\n// ---------- ERROR PASSTHROUGH (T112 fix) ----------\n// If sub-workflow returned a validation error, pass it directly to the caller.\nif (j.ok === false || j._gw_route === \"error\") {\n  // Strip debug fields before returning to caller\n  const { _debug_filters, ...clean } = j;\n  return clean;\n}\n\n// ---------- PASS-THROUGH CASE ----------\n// If Gateway received a single item in data.artifacts\n// and that item is itself a canonical list envelope,\n// return it directly.\nif (\n  isObject(j.data) &&\n  Array.isArray(j.data.artifacts) &&\n  j.data.artifacts.length === 1 &&\n  isCanonicalListEnvelope(j.data.artifacts[0])\n) {\n  return j.data.artifacts[0];\n}\n\n// ---------- NORMAL WRAP (raw rows case) ----------\nconst artifacts = Array.isArray(j.data?.artifacts)\n  ? j.data.artifacts\n  : [];\n\nreturn {\n  ok: true,\n  gw_action: \"artifact.list\",\n  gw_workspace_id: j.gw_workspace_id,\n  artifact_type: j.artifact_type,\n  selector: j.selector ?? {},\n  data: {\n    artifacts,\n  },\n  meta: {\n    count: artifacts.length,\n    limit: j.selector?.limit ?? artifacts.length,\n    offset: j.selector?.offset ?? 0,\n    has_more: artifacts.length === (j.selector?.limit ?? artifacts.length),\n    as_of: j.selector?.as_of ?? new Date().toISOString(),\n  },\n  timestamp: new Date().toISOString(),\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        192
      ],
      "id": "893f17e9-2319-4445-b874-6091ba6987ff",
      "name": "NQxb_Gateway_v1__Shape_List_Response"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Gateway input for artifact.list before calling sub-workflow\n// Purpose:\n// - Ensure artifact_type is present at top level\n// - Preserve selector object\n// - Merge top-level limit/offset/hydrate/filters into selector (T19+T20 fix)\n// - Prevent null / empty artifact_type from leaking downstream\n\nconst gw_workspace_id =\n  $json.gw_workspace_id ??\n  $json.req_workspace_id ??\n  null;\n\nif (!gw_workspace_id) {\n  throw new Error(\"Gateway Build_List_Request: gw_workspace_id is required\");\n}\n\nconst artifact_type =\n  (typeof $json.artifact_type === \"string\" && $json.artifact_type.trim() !== \"\")\n    ? $json.artifact_type.trim()\n    : (typeof $json.req_artifact_type === \"string\" && $json.req_artifact_type.trim() !== \"\")\n      ? $json.req_artifact_type.trim()\n      : null;\n\nif (!artifact_type) {\n  throw new Error(\"Gateway Build_List_Request: artifact_type is required for artifact.list\");\n}\n\n// Build selector: prefer explicit selector object, then merge top-level fields\nconst selectorIn =\n  (typeof $json.selector === \"object\" && $json.selector !== null)\n    ? { ...$json.selector }\n    : {};\n\n// T20 FIX: Merge top-level limit/offset/hydrate into selector if not already present\nif ($json.limit !== undefined && selectorIn.limit === undefined) {\n  selectorIn.limit = $json.limit;\n}\nif ($json.offset !== undefined && selectorIn.offset === undefined) {\n  selectorIn.offset = $json.offset;\n}\nif ($json.hydrate !== undefined && selectorIn.hydrate === undefined) {\n  selectorIn.hydrate = $json.hydrate;\n}\n\n// T19 FIX: Merge top-level filters into selector.filters if not already present\nif ($json.filters && typeof $json.filters === \"object\" && !selectorIn.filters) {\n  selectorIn.filters = $json.filters;\n}\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.list\",\n      gw_workspace_id,\n      artifact_type,\n      selector: selectorIn,\n\n      // Debug breadcrumbs\n      _gw_debug: {\n        normalized: true,\n        resolved_artifact_type: artifact_type,\n        selector_had_limit: $json.selector?.limit !== undefined,\n        top_level_limit: $json.limit,\n        top_level_offset: $json.offset,\n        top_level_filters: $json.filters ? true : false,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "467be751-8452-4d54-a3ae-7b5813dafab3",
      "name": "NQxb_Gateway_v1__Build_List_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1_Normalize_Update_Request\n// Purpose: normalize artifact.update requests into a canonical update payload\n// Runs AFTER Gateway action routing (artifact.update only)\n// T87: Forward spine fields\n// T140: Forward content, content_append, content_mode (title, summary, priority) \u2014 only when non-null\n\nconst input = $json ?? {};\n\n// Canonical identifiers (already scalarized upstream)\nconst gw_workspace_id = input.gw_workspace_id ?? null;\nconst artifact_type = input.artifact_type ?? null;\nconst artifact_id = input.artifact_id ?? null;\n\n// Payloads\nconst extension = input.extension ?? {};\nconst tags = input.tags ?? null;\n\n// T140: Content fields for update\nconst content = (input.content && typeof input.content === \"object\" && !Array.isArray(input.content))\n  ? input.content : null;\nconst content_append = (input.content_append && typeof input.content_append === \"object\" && !Array.isArray(input.content_append))\n  ? input.content_append : null;\nconst content_mode = (typeof input.content_mode === \"string\" && input.content_mode.trim().length > 0)\n  ? input.content_mode.trim() : null;\n\n// T87: Only forward spine fields that have actual values (not null)\n// The main Gateway normalizer sets missing fields to null \u2014 we must NOT forward those\n// because the Update sub-workflow uses 'key in req' to detect intent\nconst spineFields = {};\nif (input.title != null) spineFields.title = input.title;\nif (input.summary != null) spineFields.summary = input.summary;\nif (input.priority != null) spineFields.priority = input.priority;\n\n// Detect source for debug only (no control flow dependency)\nlet source_detected = \"unknown\";\nif ($json?.params) source_detected = \"params\";\nelse if ($json?.query) source_detected = \"query\";\nelse if ($json?.body?.body) source_detected = \"body.body\";\nelse if ($json?.body) source_detected = \"body\";\nelse source_detected = \"json\";\n\nreturn [\n  {\n    json: {\n      gw_action: \"artifact.update\",\n\n      gw_workspace_id,\n      artifact_type,\n      artifact_id,\n\n      extension,\n      tags,\n\n      // T140: Content fields\n      ...(content !== null ? { content } : {}),\n      ...(content_append !== null ? { content_append } : {}),\n      ...(content_mode !== null ? { content_mode } : {}),\n\n      // T87: Only non-null spine fields (spread so absent keys don't exist)\n      ...spineFields,\n\n      // Freeze intent for downstream workflows\n      req_gw_workspace_id: gw_workspace_id,\n      req_artifact_type: artifact_type,\n      req_artifact_id: artifact_id,\n      req_extension: extension,\n      req_tags: tags,\n\n      _gw_debug: {\n        normalized_by: \"NQxb_Gateway_v1_Normalize_Update_Request\",\n        source_detected,\n        received_keys: Object.keys(input),\n        has_extension: Object.keys(extension).length > 0,\n        has_tags:\n          tags &&\n          ((Array.isArray(tags.add) && tags.add.length > 0) ||\n            (Array.isArray(tags.remove) && tags.remove.length > 0)),\n        has_content: content !== null,\n        has_content_append: content_append !== null,\n        has_content_mode: content_mode !== null,\n        has_spine_fields: Object.keys(spineFields).length > 0,\n        spine_field_keys: Object.keys(spineFields),\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        624
      ],
      "id": "e6a7e716-36f7-46e1-9282-46b283e481fe",
      "name": "NQxb_Gateway_v1_Normalize_Update_Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "debfTYmuFICEstvu",
          "mode": "list",
          "cachedResultUrl": "/workflow/debfTYmuFICEstvu",
          "cachedResultName": "NQxb_Artifact_Promote_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "gw_action",
              "displayName": "gw_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "gw_workspace_id",
              "displayName": "gw_workspace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_type",
              "displayName": "artifact_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "actor_user_id",
              "displayName": "actor_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artifact_payload",
              "displayName": "artifact_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "selector",
              "displayName": "selector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        864
      ],
      "id": "230238c9-9bac-41f6-9f50-e2f798bd5b95",
      "name": "Call 'NQxb_Artifact_Promote_v1'"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Promote_Request\n// Purpose: Shape a promote request to match NQxb_Artifact_Promote_v1 Workflow Inputs contract.\n// Notes:\n// - Must output n8n items: [{ json: ... }]\n// - Promote workflow expects transition/reason at TOP-LEVEL (due to current contract wiring)\n// - We also preserve artifact_payload.transition/reason (future-proof / harmless)\n\nconst j = $json;\n\nconst transition = j.transition ?? j.artifact_payload?.transition ?? null;\nconst reason = j.reason ?? j.artifact_payload?.reason ?? null;\n\nreturn [\n  {\n    json: {\n      gw_action: j.gw_action,\n      gw_workspace_id: j.gw_workspace_id,\n\n      artifact_type: j.artifact_type,\n      artifact_id: j.artifact_id,\n\n      actor_user_id: j.actor?.user_id ?? j.actor_user_id ?? null,\n\n      // \u2705 REQUIRED by Promote workflow (current contract expectations)\n      transition,\n      reason,\n\n      // \u2705 keep payload too (harmless / future-proof)\n      artifact_payload: {\n        transition,\n        reason,\n      },\n\n      selector: j.selector ?? {},\n    },\n  },\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        864
      ],
      "id": "3769ca05-4dcb-4d3c-a8a0-532d4345f97c",
      "name": "Normalize_Promote_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Shape_Query_Response\n// Purpose: Gateway-level canonical envelope for artifact.query.\n//\n// HARD RULES:\n// 1. Error envelopes MUST pass through unchanged.\n// 2. Canonical success envelopes MUST pass through unchanged.\n// 3. Only RAW artifacts may be wrapped.\n// 4. No code path may ever convert an error into ok:true.\n\nconst j = $json ?? {};\nconst isObject = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\n/* -------------------------------------------------\n * 1. PASS THROUGH ERRORS (ABSOLUTE)\n * ------------------------------------------------- */\nif (\n  j.ok === false ||\n  j._gw_route === \"error\" ||\n  isObject(j.error)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 2. PASS THROUGH CANONICAL SUCCESS\n * ------------------------------------------------- */\nif (\n  j.ok === true &&\n  j._gw_route === \"ok\" &&\n  isObject(j.data) &&\n  isObject(j.data.artifact)\n) {\n  return [{ json: j }];\n}\n\n/* -------------------------------------------------\n * 3. UNWRAP RAW ARTIFACT\n * ------------------------------------------------- */\nlet raw = null;\n\n// Common raw locations\nif (isObject(j.artifact)) {\n  raw = j.artifact;\n} else if (isObject(j.data) && isObject(j.data.artifact)) {\n  raw = j.data.artifact;\n} else if (isObject(j)) {\n  raw = j; // last resort\n}\n\n/* -------------------------------------------------\n * 4. WRAP EXACTLY ONCE\n * ------------------------------------------------- */\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: \"ok\",\n    data: {\n      artifact: raw\n    }\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "7b2e7546-ba5d-4e5e-b386-e5175149c863",
      "name": "NQxb_Gateway_v1__Shape_Query_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1056
      ],
      "id": "0b822521-8172-48a0-85f1-d958f810c467",
      "name": "Handle_Delete",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape delete response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.delete\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found or already deleted\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.delete\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    deleted_at: artifact.deleted_at,\n    message: \"Artifact soft-deleted (can be restored)\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1056
      ],
      "id": "1427ba65-93e2-4cb3-bb7c-7058cfee929f",
      "name": "Shape_Delete_Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.' + $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deleted_at: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1248
      ],
      "id": "f8a91dfd-46c4-47b7-989b-af2af06ede38",
      "name": "Handle_Restore",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape restore response\nconst result = $json;\nconst artifact = Array.isArray(result) ? result[0] : result;\n\nif (!artifact || !artifact.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      gw_action: \"artifact.restore\",\n      error: {\n        code: \"NOT_FOUND\",\n        message: \"Artifact not found\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.restore\",\n    artifact_id: artifact.artifact_id,\n    title: artifact.title,\n    message: \"Artifact restored\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1248
      ],
      "id": "fb2d6393-8173-417b-b35e-4f78db8c05ad",
      "name": "Shape_Restore_Response"
    },
    {
      "parameters": {
        "url": "={{ 'https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?deleted_at=not.is.null&artifact_type=eq.' +\n  $json.artifact_type + '&workspace_id=eq.' + $json.gw_workspace_id +\n  '&select=artifact_id,title,artifact_type,deleted_at,created_at&order=deleted_at.desc&limit=' +\n  ($json.selector?.limit || 10) + '&offset=' + ($json.selector?.offset || 0) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1440
      ],
      "id": "589bc0c2-d373-4529-bf69-e54d0d3c8ad1",
      "name": "Handle_List_Deleted",
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shape list_deleted response\n  const items = $items();\n  const artifacts = items.map(item => item.json);\n\n  return [{\n    json: {\n      ok: true,\n      gw_action: \"artifact.list_deleted\",\n      data: {\n        artifacts\n      },\n      meta: {\n        count: artifacts.length\n      }\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1440
      ],
      "id": "fa386ee3-9f4e-4ae9-9b4d-07f9094fadb1",
      "name": "Shape_List_Deleted_Response"
    },
    {
      "parameters": {
        "jsCode": "const j = $json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: 'error',\n    gw_action: j.gw_action ?? null,\n    gw_workspace_id: j.gw_workspace_id ?? null,\n    artifact_type: j.artifact_type ?? null,\n    error: {\n      code: 'ACTION_NOT_ALLOWED',\n      message: `Unrecognized gateway route or action. No handler matched.`,\n      details: {\n        gw_action: j.gw_action ?? null,\n        _gw_route: j._gw_route ?? null,\n        note: 'Switch fallback triggered \u2014 request did not match any configured route or action.'\n      }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        608
      ],
      "id": "5a318887-eeb1-4e87-a2ff-20fd3b080faf",
      "name": "NQxb_Gateway_v1__Return_Unhandled_Route_Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xpf2uHEOyg2t0DcX",
          "mode": "list",
          "cachedResultUrl": "/workflow/xpf2uHEOyg2t0DcX",
          "cachedResultName": "NQxb_Artifact_Update_v1__T140"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        640
      ],
      "id": "f6764578-bbae-4e22-925e-368110b3f65f",
      "name": "Call 'NQxb_Artifact_Update_v1__T140'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0c9EW8sU3banPoZ7",
          "mode": "list",
          "cachedResultUrl": "/workflow/0c9EW8sU3banPoZ7",
          "cachedResultName": "NQxb_Messaging_Send_Email_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1632
      ],
      "id": "997ac982-cfd6-4ff2-982b-9a2c83b1b646",
      "name": "Call 'NQxb_Messaging_Send_Email_v1'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sCW7sa3g3IQlwUO5",
          "mode": "list",
          "cachedResultUrl": "/workflow/sCW7sa3g3IQlwUO5",
          "cachedResultName": "NQxb_Messaging_Calendar_Event_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1824
      ],
      "id": "61c3a4f2-ac90-47da-8d77-643fb83c3371",
      "name": "Call 'NQxb_Messaging_Calendar_Event_v1'",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v2__Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v2__Gatekeeper": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Return_Unhandled_Route_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Build_List_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway__Freeze_Save_Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1_Normalize_Update_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Promote_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle_List_Deleted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Messaging_Send_Email_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Messaging_Calendar_Event_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Return_Unhandled_Route_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Messaging_Send_Email_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Messaging_Calendar_Event_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_Query_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Freeze_Save_Context": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Tag_Save_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway__Tag_Save_Result": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Call_Artifact_List_v1": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Shape_List_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_List_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Build_List_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Call_Artifact_List_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1_Normalize_Update_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Update_v1__T140'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Promote_Request": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Promote_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Promote_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Shape_Query_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Delete": {
      "main": [
        [
          {
            "node": "Shape_Delete_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Delete_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_Restore": {
      "main": [
        [
          {
            "node": "Shape_Restore_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_Restore_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle_List_Deleted": {
      "main": [
        [
          {
            "node": "Shape_List_Deleted_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape_List_Deleted_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Return_Unhandled_Route_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Update_v1__T140'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway__Respond_Save_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9eba73cf-f909-468e-988d-5b2d7b351ebc",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "JFg99VV3FDFVJ5Ez",
  "tags": []
}