workflows/AAA_Sapling_A_B_C_backups/NQxb_Artifact_Update_v1__T140 (2).json
{
  "name": "NQxb_Artifact_Update_v1__T140",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4032,
        464
      ],
      "id": "5f8e8f3d-0d3f-43f3-8a1a-1728bbecf417",
      "name": "NQxb_Artifact_Update_v1__In"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Normalize_Request\n// UPDATE-ONLY: Require artifact_id, reject if missing\n// v2: Tags forwarding (T41 \u2014 Mutability Registry v2)\n// T94: Twig lifecycle_status support\n// T140: Content field extraction (content, content_append, content_mode)\n\nconst raw = $json ?? {};\n\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\nconst req = body ?? raw;\n\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\nconst artifact_id = req.artifact_id ?? null;\nconst artifact_type = (req.artifact_type ?? \"\").trim();\n\n// UPDATE_ONLY: artifact_id is REQUIRED\nif (!artifact_id || artifact_id.trim() === '') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"UPDATE_ONLY\",\n          message: \"artifact.update is update-only. Use artifact.create for new artifacts.\",\n          details: {\n            hint: \"artifact_id field is required for UPDATE operations.\"\n          },\n        },\n      },\n    },\n  ];\n}\n\n// Tags canonicalization (Mutability Registry v2 \u2014 spine-level, type-agnostic)\nconst rawTags = req.tags ?? null;\nlet tags = null;\nif (rawTags && typeof rawTags === 'object' && !Array.isArray(rawTags)) {\n  const addArr = Array.isArray(rawTags.add) ? rawTags.add : [];\n  const removeArr = Array.isArray(rawTags.remove) ? rawTags.remove : [];\n  const addSet = [...new Set(addArr.filter(t => typeof t === 'string' && t.trim().length > 0).map(t => t.trim()))];\n  const removeSet = [...new Set(removeArr.filter(t => typeof t === 'string' && t.trim().length > 0).map(t => t.trim()))];\n  if (addSet.length > 0 || removeSet.length > 0) {\n    tags = { add: addSet, remove: removeSet };\n  }\n}\n\n// T87: Spine fields extraction\nconst spine_fields = {};\n\nif ('title' in req) spine_fields.title = req.title;\nif ('summary' in req) spine_fields.summary = req.summary;\nif ('priority' in req) spine_fields.priority = req.priority;\nif ('parent_artifact_id' in req) spine_fields.parent_artifact_id = req.parent_artifact_id;\n\n// T94: lifecycle_status extraction (twig-only)\n// Twig lifecycle transitions go through artifact.update, not artifact.promote.\n// Guard: Check_Mutability_Rules v9 blocks lifecycle_status for non-twig types.\nif ('lifecycle_status' in req && artifact_type === 'twig') {\n  spine_fields.lifecycle_status = req.lifecycle_status;\n}\n\n\n// T140: Content field extraction\n// content = JSON object for mutable-type merge/replace updates\n// content_append = JSON object for immutable-type append-only updates\n// content_mode = 'merge' (default) or 'replace' \u2014 controls content update semantics\nconst rawContent = req.content ?? null;\nconst content = (rawContent && typeof rawContent === 'object' && !Array.isArray(rawContent))\n  ? rawContent : null;\n\nconst rawContentAppend = req.content_append ?? null;\nconst content_append = (rawContentAppend && typeof rawContentAppend === 'object' && !Array.isArray(rawContentAppend))\n  ? rawContentAppend : null;\n\nconst content_mode = (typeof req.content_mode === 'string' && req.content_mode.trim().length > 0)\n  ? req.content_mode.trim() : null;\n\n// T140 B4 L2: Content shape validation flag\n// Detect if content was provided but is not a valid object (array or primitive)\nconst _content_raw_invalid = rawContent !== null && rawContent !== undefined\n  && (typeof rawContent !== 'object' || Array.isArray(rawContent));\n\n// recompute after all spine fields added\nconst hasSpineFields = Object.keys(spine_fields).length > 0;\n\nconst canonical = {\n  gw_action: req.gw_action ?? \"artifact.update\",\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: artifact_type,\n  artifact_id: artifact_id.trim(),\n\n  // Extension fields (only operational_state and state_reason allowed for project)\n  extension: asObj(req.extension),\n\n  // Tags\n  tags: tags,\n\n  // Spine fields\n  spine_fields: hasSpineFields ? spine_fields : null,\n\n  // T140: Content fields\n  content: content,\n  content_append: content_append,\n  content_mode: content_mode,\n  _content_raw_invalid: _content_raw_invalid,\n\n  // deleted_at (BLOCKED - UNDECIDED per Mutability Registry v1)\n  deleted_at: req.deleted_at ?? null,\n};\n\ncanonical._gw_debug = {\n  received_shape: body ? \"body\" : \"flat\",\n  operation: \"UPDATE\",\n  has_tags: tags !== null,\n  has_extension: Object.keys(canonical.extension).length > 0,\n  has_spine_fields: hasSpineFields,\n  spine_field_keys: hasSpineFields ? Object.keys(spine_fields) : [],\n  has_content: content !== null,\n  has_content_append: content_append !== null,\n  has_content_mode: content_mode !== null,\n  content_raw_invalid: _content_raw_invalid,\n};\n\nreturn [{ json: canonical }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        464
      ],
      "id": "c79f676c-607d-4df1-a9b9-884d612bc89d",
      "name": "NQxb_Artifact_Update_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Validate_Request\n// UPDATE-only validation (strict, predictable, preserves payload)\n// v3.0: Extension optional when tags present (T41)\n// v4.0: T140\n// v5.0: T140 B4 \u2014 CONTENT_INVALID_SHAPE rejection \u2014 Content mode conflict validation\n\nconst req = $json ?? {};\nconst errors = [];\n\nfunction isNonEmptyString(v) {\n  return typeof v === \"string\" && v.trim().length > 0;\n}\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\n// Required: gw_workspace_id\nif (!isNonEmptyString(req.gw_workspace_id)) {\n  errors.push({ field: \"gw_workspace_id\", reason: \"required\", expected: \"uuid string\" });\n}\n\n// Required: artifact_type\nif (!isNonEmptyString(req.artifact_type)) {\n  errors.push({ field: \"artifact_type\", reason: \"required\", expected: \"non-empty string\" });\n}\n\n// Required: artifact_id\nif (!isNonEmptyString(req.artifact_id)) {\n  errors.push({ field: \"artifact_id\", reason: \"required\", expected: \"uuid string\" });\n}\n\n// Extension validation: optional when tags present, but if present must be object\nconst hasExtension = req.extension && typeof req.extension === \"object\" && !Array.isArray(req.extension);\nconst hasTags = req.tags !== null && req.tags !== undefined;\n\nif (req.extension !== undefined && req.extension !== null && !hasExtension) {\n  // Extension was provided but is not a valid object\n  errors.push({ field: \"extension\", reason: \"invalid_type\", expected: \"object (if provided)\" });\n}\n\nconst hasSpineFields = req.spine_fields !== null && req.spine_fields !== undefined && Object.keys(req.spine_fields).length > 0;\n\n// T140 B4 L2: Content shape validation \u2014 reject arrays and primitives\nif (req._content_raw_invalid) {\n  errors.push({ field: \"content\", reason: \"must be a JSON object (not array or primitive)\", expected: \"object\", code: \"CONTENT_INVALID_SHAPE\" });\n}\n\n// T140: Content mode conflict validation (L5)\nconst hasContent = req.content !== null && req.content !== undefined;\nconst hasContentAppend = req.content_append !== null && req.content_append !== undefined;\n\nif (hasContent && hasContentAppend) {\n  errors.push({ field: \"content_mode_conflict\", reason: \"Cannot provide both content and content_append in the same request\", expected: \"one of: content OR content_append\" });\n}\n\nif (hasContentAppend && hasTags) {\n  errors.push({ field: \"content_mode_conflict\", reason: \"Cannot combine content_append with tags update\", expected: \"content_append must be submitted alone\" });\n}\n\nconst hasExtensionKeys = hasExtension && Object.keys(asObj(req.extension)).length > 0;\nif (hasContentAppend && (hasExtensionKeys || hasSpineFields)) {\n  errors.push({ field: \"content_mode_conflict\", reason: \"Cannot combine content_append with extension or spine field updates\", expected: \"content_append must be submitted alone\" });\n}\n\nif (!hasExtension && !hasTags && !hasSpineFields && !hasContent && !hasContentAppend) {\n  errors.push({ field: \"update_fields\", reason: \"required\", expected: \"at least one of: extension, tags, spine_fields, content, or content_append\" });\n}\n\nconst ext = hasExtension ? asObj(req.extension) : {};\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"VALIDATION_ERROR\",\n          message: \"Validation failed for artifact.update (UPDATE)\",\n          details: {\n            validation_errors: errors,\n            operation: \"UPDATE\",\n            artifact_type: req.artifact_type ?? null,\n            artifact_id: req.artifact_id ?? null,\n          },\n        },\n        gw_action: req.gw_action ?? \"artifact.update\",\n        gw_workspace_id: req.gw_workspace_id ?? null,\n        artifact_type: req.artifact_type ?? null,\n        artifact_id: req.artifact_id ?? null,\n        _gw_debug: req._gw_debug ?? undefined,\n      },\n    },\n  ];\n}\n\n// Pass-through with normalized values\nreturn [\n  {\n    json: {\n      ...req,\n      ok: true,\n      _gw_route: \"ok\",\n      gw_action: req.gw_action ?? \"artifact.update\",\n      extension: ext,\n      tags: req.tags ?? null,\n      deleted_at: req.deleted_at ?? null,\n      _gw_debug: {\n        ...(req._gw_debug ?? {}),\n        operation: \"UPDATE\",\n        received_shape: (req._gw_debug && req._gw_debug.received_shape) ? req._gw_debug.received_shape : \"flat\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        464
      ],
      "id": "b7a8e78b-b26d-4442-900c-e56d0fd5822f",
      "name": "NQxb_Artifact_Update_v1__Validate_Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3360,
        464
      ],
      "id": "32573990-7c86-41c7-9fa6-fed096417340",
      "name": "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact_type_registry",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_type",
              "keyValue": "={{ $node['NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit'].json.artifact_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3136,
        544
      ],
      "id": "84b5180b-96cc-4129-b465-697cef8ade10",
      "name": "NQxb_Artifact_Update_v1__Lookup_Type_Registry",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Type Registry Guard\n// Check artifact type against qxb_artifact_type_registry\n// Error code: ARTIFACT_TYPE_NOT_ALLOWED\n// Fail-closed: no row or disabled = reject\n\n// Get original request from the Guard_Error_ShortCircuit node (ok path)\nconst originalRequest = $node['NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit'].json;\n\n// Get registry lookup result (may be empty if no row found)\nconst registryRow = $json;\n\nconst artifact_type = originalRequest.artifact_type;\n\n// FAIL-CLOSED: No row found = type not registered\nif (!registryRow || !registryRow.artifact_type) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action ?? 'artifact.update',\n      gw_workspace_id: originalRequest.gw_workspace_id ?? null,\n      artifact_type: artifact_type,\n      artifact_id: originalRequest.artifact_id ?? null,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'not_registered',\n          hint: 'Type must be registered in qxb_artifact_type_registry'\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Type found but disabled\nif (registryRow.enabled === false) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: originalRequest.gw_action ?? 'artifact.update',\n      gw_workspace_id: originalRequest.gw_workspace_id ?? null,\n      artifact_type: artifact_type,\n      artifact_id: originalRequest.artifact_id ?? null,\n      error: {\n        code: 'ARTIFACT_TYPE_NOT_ALLOWED',\n        message: `Artifact type '${artifact_type}' is not allowed`,\n        details: {\n          artifact_type: artifact_type,\n          reason: 'disabled',\n          registry_enabled: false,\n          hint: 'Type is registered but currently disabled'\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Type is registered and enabled - pass through original request\nreturn [{ json: originalRequest }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        544
      ],
      "id": "5bb86bb9-82a9-44a6-939f-b9ac4ac46ece",
      "name": "NQxb_Artifact_Update_v1__Type_Registry_Guard"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "registry-error"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "registry-ok",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2688,
        528
      ],
      "id": "2a39ee33-ecd0-49b2-a7b0-85b3433fa0b6",
      "name": "NQxb_Artifact_Update_v1__Switch_Type_Registry"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "qxb_artifact",
        "filters": {
          "conditions": [
            {
              "keyName": "artifact_id",
              "keyValue": "={{ $json.artifact_id }}"
            },
            {
              "keyName": "workspace_id",
              "keyValue": "={{ $json.gw_workspace_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2464,
        672
      ],
      "id": "0e3968d4-7b9b-4b66-8e94-0ce7113dcf2b",
      "name": "NQxb_Artifact_Update_v1__Fetch_Existing_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Check_Mutability_Rules\n// Enforce Mutability Registry v3 rules\n// v3: T64\n// v4: T71 \u00e2\u20ac\u201d dependency check flagging for leaf completing \u00e2\u20ac\u201d spine-field update mode for branch/limb/leaf\n// v5: T69 architectural fix\n// v6: T87 -- Spine field routing (title, summary, priority) + mixed update support\n// v7: T87 Task 3 -- Lifecycle-scoped mutability governance\n// v8: T87 Task 4 -- design_spine added to project extension allowlist\n// v9: T94 -- twig added\n// v10: T140 -- content mode detection\n// v11: T140 B4 -- archive freeze for content updates (all types) (content_update, content_append) before mutability to execution anatomy types (no extension table, lifecycle via spine)\n//   - archive: ALL mutations blocked (spine, extension, tags)\n//   - tree: title frozen (summary, priority, extension, tags remain mutable)\n//   - seed/sapling: fully mutable\n//\n// Order of checks:\n// 1. Existence check (NOT_FOUND)\n// 2. Lifecycle-scoped archive guard (blocks everything)\n// 3. Routing classification (T87)\n//    Three dimensions: hasTags, hasSpineFields, hasExtension\n// 4. Lifecycle-scoped tree guard (title frozen -- checked in spine/mixed paths)\n// 5. Type-specific rules\n\nconst existing = $json;\nconst artifact_type = existing.artifact_type;\nconst lifecycle_status = existing.lifecycle_status ?? null;\n\n// Pull the normalized request from the Normalize_Request node output.\nfunction getNormalizeNode() {\n  const candidateNodeNames = [\n    \"NQxb_Artifact_Update_v1__Normalize_Request\",\n    \"Normalize_Request\",\n    \"NQxb_Artifact_Update_v1__Normalize_Request_v3\",\n  ];\n\n  for (const name of candidateNodeNames) {\n    try {\n      const items = $items(name, 0);\n      if (items && items.length > 0 && items[0]?.json) return items[0].json;\n    } catch (e) {\n      // ignore and try next name\n    }\n  }\n\n  if (existing._normalized_request) return existing._normalized_request;\n  if (existing.normalizeNode) return existing.normalizeNode;\n\n  return {};\n}\n\nconst normalizeNode = getNormalizeNode();\n\nconst normalizedTags = normalizeNode.tags ?? null;\nconst extensionKeys = Object.keys(normalizeNode.extension || {});\n// T87: Spine field detection \u00e2\u20ac\u201d check both normalizeNode.spine_fields AND $json top-level\n// Belt-and-suspenders: works regardless of which upstream node provides the data\nconst spineFieldsObj = normalizeNode.spine_fields || {};\nconst spineFieldKeys = Object.keys(spineFieldsObj);\n\nconst hasSpineFields = spineFieldKeys.length > 0;\n\nconst hasTags = normalizedTags !== null;\nconst hasExtension = extensionKeys.length > 0;\n\n// T140: Content dimension detection (L1 \u2014 before mutability checks)\nconst hasContent = normalizeNode.content !== null && normalizeNode.content !== undefined;\nconst hasContentAppend = normalizeNode.content_append !== null && normalizeNode.content_append !== undefined;\n\n\n\n// ============================================================================\n// T140 L1: CONTENT MODE DETECTION (before mutability checks)\n// content_append \u2192 stub (B3 will implement lifecycle enforcement)\n// content_update \u2192 route through Compute_Mixed path\n// ============================================================================\n\n// T140: content_append mode \u2014 route to stub (B3/B4 will implement)\nif (hasContentAppend && !hasTags && !hasSpineFields && !hasExtension && !hasContent) {\n  return [{\n    json: {\n      ok: true,\n      _gw_route: 'ok',\n      _update_mode: 'content_append',\n      gw_action: normalizeNode.gw_action ?? 'artifact.update',\n      gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n      artifact_id: existing.artifact_id,\n      workspace_id: existing.workspace_id,\n      artifact_type: artifact_type,\n      _normalized_request: normalizeNode,\n      _existing_artifact: existing,\n      _gw_debug: {\n        ...(normalizeNode._gw_debug ?? {}),\n        mutability: 'content_append_detected',\n        operation: 'UPDATE',\n      },\n    },\n  }];\n}\n\n// T140: content_update mode \u2014 block immutable types (must use content_append)\nif (hasContent) {\n  const immutableContentTypes = ['snapshot', 'restart', 'journal', 'instruction_pack'];\n  if (immutableContentTypes.includes(artifact_type)) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'CONTENT_UPDATE_NOT_ALLOWED',\n          message: \"Content updates via merge/replace are not allowed for immutable type '\" + artifact_type + \"'. Use content_append instead.\",\n          details: {\n            artifact_id: existing.artifact_id,\n            artifact_type: artifact_type,\n            hint: 'Immutable artifact types (snapshot, restart, journal, instruction_pack) only support content_append operations.',\n          },\n        },\n      },\n    }];\n  }\n}\n\n// ============================================================================\n// T140 B4 L1: Archive freeze for content updates (ALL types, not just project)\n// Any artifact with lifecycle_status = 'archive' is fully frozen.\n// ============================================================================\nif (hasContent && lifecycle_status === 'archive') {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'ARCHIVE_FROZEN',\n        message: \"Archived artifacts are fully immutable. Content updates are not permitted.\",\n        details: {\n          artifact_id: existing.artifact_id,\n          artifact_type: artifact_type,\n          lifecycle_status: 'archive',\n          operation: 'content_update',\n          hint: 'Archived artifacts are read-only historical records. No content mutations are allowed.',\n        },\n      },\n    },\n  }];\n}\n\n// ============================================================================\n// 1.5 LIFECYCLE GUARD: archive = ALL mutations blocked\n// Applies to projects only (execution anatomy has its own archive guard at 6.7.5)\n// ============================================================================\nif (artifact_type === \"project\" && lifecycle_status === \"archive\") {\n  const attemptedFields = [];\n  if (hasSpineFields) attemptedFields.push(...spineFieldKeys.map(k => `spine.${k}`));\n  if (hasExtension) attemptedFields.push(...extensionKeys.map(k => `extension.${k}`));\n  if (hasTags) attemptedFields.push(\"tags\");\n\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"ARCHIVE_IMMUTABLE\",\n          message: \"Archived projects are fully immutable. No mutations are permitted.\",\n          details: {\n            artifact_id: existing.artifact_id,\n            artifact_type: \"project\",\n            lifecycle_status: \"archive\",\n            attempted_fields: attemptedFields,\n            hint: \"Archived artifacts are read-only historical records. No spine, extension, or tag updates are allowed.\",\n          },\n        },\n      },\n    },\n  ];\n}\n\n\n// 2d. Extension + (tags OR spine fields) = MIXED_UPDATE_NOT_ALLOWED\nif (hasExtension && (hasTags || hasSpineFields)) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"MIXED_UPDATE_NOT_ALLOWED\",\n          message: \"Cannot combine extension fields with tags or spine fields in a single update. Send extension updates separately.\",\n          details: {\n            artifact_id: existing.artifact_id,\n            artifact_type: artifact_type,\n            has_extension: true,\n            has_tags: hasTags,\n            has_spine_fields: hasSpineFields,\n            spine_field_keys: spineFieldKeys,\n            hint: \"Split into two requests: (1) extension-only update, (2) tags/spine update.\",\n          },\n        },\n      },\n    },\n  ];\n}\n\n// ============================================================================\n// LIFECYCLE GUARD HELPER: tree = title frozen\n// Used by spine_only and mixed paths below\n// ============================================================================\nfunction checkTreeTitleFreeze() {\n  if (artifact_type === \"project\" && lifecycle_status === \"tree\" && spineFieldKeys.includes(\"title\")) {\n    return {\n      ok: false,\n      _gw_route: \"error\",\n      error: {\n        code: \"FIELD_FROZEN\",\n        message: \"Field 'title' is frozen at lifecycle stage 'tree'. Title cannot be changed once a project reaches tree.\",\n        details: {\n          artifact_id: existing.artifact_id,\n          artifact_type: \"project\",\n          lifecycle_status: \"tree\",\n          frozen_field: \"title\",\n          allowed_spine_fields: spineFieldKeys.filter(k => k !== \"title\"),\n          hint: \"At tree stage, title is locked as the project's permanent identity. Summary and priority remain mutable.\",\n        },\n      },\n    };\n  }\n  return null;\n}\n\n// 2a. Tags only (T140: exclude content modes)\nif (hasTags && !hasSpineFields && !hasExtension && !hasContent && !hasContentAppend) {\n  return [\n    {\n      json: {\n        ok: true,\n        _gw_route: \"ok\",\n        _update_mode: \"tags_only\",\n        gw_action: normalizeNode.gw_action ?? \"artifact.update\",\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        _normalized_request: normalizeNode,\n        _existing_artifact: existing,\n        _gw_debug: {\n          ...(normalizeNode._gw_debug ?? {}),\n          mutability: \"tags_only_bypass\",\n          operation: \"UPDATE\",\n        },\n      },\n    },\n  ];\n}\n\n// 2a.5 GUARD: lifecycle_status via spine_fields is TWIG-ONLY\n// Projects use artifact.promote -- direct lifecycle_status update is blocked.\nif (hasSpineFields && spineFieldKeys.includes('lifecycle_status') && artifact_type !== 'twig') {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'MUTABILITY_ERROR',\n          message: \"Field 'lifecycle_status' cannot be updated via artifact.update for type '\" + artifact_type + \"'. Use artifact.promote for lifecycle transitions.\",\n          details: {\n            field: 'lifecycle_status',\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            registry_rule: 'PROMOTE_ONLY',\n            hint: 'lifecycle_status updates via spine fields are only allowed for twig artifacts. Projects must use artifact.promote.',\n          },\n        },\n      },\n    },\n  ];\n}\n\n// 2a.6 GUARD: twig lifecycle transition validation\nif (hasSpineFields && spineFieldKeys.includes('lifecycle_status') && artifact_type === 'twig') {\n  const currentLifecycle = existing.lifecycle_status ?? null;\n  const requestedLifecycle = spineFieldsObj.lifecycle_status ?? null;\n\n  // Terminal states: promoted and pruned cannot be changed\n  if (currentLifecycle === 'promoted' || currentLifecycle === 'pruned') {\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: 'error',\n          error: {\n            code: 'ARCHIVE_TERMINAL',\n            message: 'Cannot update lifecycle_status on ' + currentLifecycle + ' twig. Terminal state.',\n            details: {\n              artifact_id: existing.artifact_id,\n              artifact_type: 'twig',\n              lifecycle_status: currentLifecycle,\n              hint: 'Twigs in promoted or pruned state are terminal. Archive the twig and create a new artifact if needed.',\n            },\n          },\n        },\n      },\n    ];\n  }\n\n  // Transition matrix: proposed -> active -> promoted | pruned\n  const twigTransitions = {\n    'null': ['proposed'],\n    'proposed': ['active', 'pruned'],\n    'active': ['promoted', 'pruned'],\n  };\n\n  const fromKey = currentLifecycle === null ? 'null' : currentLifecycle;\n  const allowed = twigTransitions[fromKey] || [];\n\n  if (requestedLifecycle !== null && !allowed.includes(requestedLifecycle)) {\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: 'error',\n          error: {\n            code: 'INVALID_TRANSITION',\n            message: \"lifecycle_status transition not allowed: '\" + (currentLifecycle ?? 'NULL') + \"' \\u2192 '\" + requestedLifecycle + \"'\",\n            details: {\n              field: 'lifecycle_status',\n              from_status: currentLifecycle,\n              to_status: requestedLifecycle,\n              artifact_type: 'twig',\n              artifact_id: existing.artifact_id,\n              allowed_from_current: allowed,\n              hint: \"Allowed from '\" + (currentLifecycle ?? 'NULL') + \"': \" + (allowed.length > 0 ? allowed.join(', ') : '(none -- terminal state)') + '.',\n            },\n          },\n        },\n      },\n    ];\n  }\n\n  // No-op detection\n  if (currentLifecycle === requestedLifecycle) {\n    return [{\n      json: {\n        ok: true,\n        _gw_route: 'ok',\n        _update_mode: 'noop',\n        gw_action: normalizeNode.gw_action ?? 'artifact.update',\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        lifecycle_status: currentLifecycle,\n        version: existing.version,\n      }\n    }];\n  }\n}\n\n// 2b. Spine only (T140: content_update also routes here)\nif ((hasSpineFields || hasContent) && !hasTags && !hasExtension && !hasContentAppend) {\n  // T87 Task 3: tree title freeze check\n  const titleFreeze = checkTreeTitleFreeze();\n  if (titleFreeze) return [{ json: titleFreeze }];\n\n  return [\n    {\n      json: {\n        ok: true,\n        _gw_route: \"ok\",\n        _update_mode: \"spine_only\",\n        gw_action: normalizeNode.gw_action ?? \"artifact.update\",\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        _normalized_request: normalizeNode,\n        _existing_artifact: existing,\n        _gw_debug: {\n          ...(normalizeNode._gw_debug ?? {}),\n          mutability: \"spine_only\",\n          operation: \"UPDATE\",\n          spine_field_keys: spineFieldKeys,\n        },\n      },\n    },\n  ];\n}\n\n// 2c. Mixed -- tags + spine fields, no extension (single atomic PATCH)\n// T140: content can combine with tags and/or spine fields\nif (hasTags && (hasSpineFields || hasContent) && !hasExtension && !hasContentAppend) {\n  // T87 Task 3: tree title freeze check\n  const titleFreeze = checkTreeTitleFreeze();\n  if (titleFreeze) return [{ json: titleFreeze }];\n\n  return [\n    {\n      json: {\n        ok: true,\n        _gw_route: \"ok\",\n        _update_mode: \"mixed\",\n        gw_action: normalizeNode.gw_action ?? \"artifact.update\",\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        _normalized_request: normalizeNode,\n        _existing_artifact: existing,\n        _gw_debug: {\n          ...(normalizeNode._gw_debug ?? {}),\n          mutability: \"mixed_tags_spine\",\n          operation: \"UPDATE\",\n          spine_field_keys: spineFieldKeys,\n        },\n      },\n    },\n  ];\n}\n\n// --- Below: extension-only paths ---\n\n// 3. RULE: snapshot and restart are fully immutable (Mutability Registry v1)\nif (artifact_type === \"snapshot\" || artifact_type === \"restart\" || artifact_type === \"instruction_pack\") {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"IMMUTABILITY_ERROR\",\n          message: `Artifact type '${artifact_type}' is immutable and cannot be updated. Only INSERT operations are allowed.`,\n          details: {\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            operation_attempted: \"UPDATE\",\n            registry_rule: \"CREATE_ONLY\",\n            source: \"Mutability Registry v3\",\n            hint: \"Extension fields on immutable types cannot be updated. Tags-only updates are allowed via tags.add/tags.remove.\",\n          },\n        },\n      },\n    },\n  ];\n}\n\n// 4. RULE: journal is INSERT-ONLY (Mutability Registry v3 -- PERMANENT)\n// Decision locked: T46 / T87\nif (artifact_type === \"journal\") {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"JOURNAL_INSERT_ONLY\",\n          message:\n            \"Journals are permanently INSERT-ONLY. Use artifact.save to append new entries.\",\n          details: {\n            artifact_type: \"journal\",\n            artifact_id: existing.artifact_id,\n            operation_attempted: \"UPDATE\",\n            registry_rule: \"INSERT_ONLY\",\n            source: \"Mutability Registry v3\",\n            doctrine: \"Journal INSERT-ONLY (Permanent)\",\n            hint: \"Journal extension fields cannot be updated. Tags and spine field updates are allowed via separate requests. Use append-to:<journal_id> tag convention for thread-append.\",\n          },\n        },\n      },\n    },\n  ];\n}\n\n// 5. RULE: deleted_at is UNDECIDED_BLOCKED (Mutability Registry v1)\nif (normalizeNode.deleted_at !== null && normalizeNode.deleted_at !== undefined) {\n  return [\n    {\n      json: {\n        ok: false,\n        _gw_route: \"error\",\n        error: {\n          code: \"MUTABILITY_ERROR\",\n          message: \"Field 'deleted_at' is UNDECIDED_BLOCKED and cannot be updated.\",\n          details: {\n            field: \"deleted_at\",\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            registry_rule: \"UNDECIDED_BLOCKED\",\n            source: \"Mutability Registry v1\",\n            hint: \"Soft delete semantics not yet locked. Use dedicated artifact.delete action when implemented.\",\n          },\n        },\n      },\n    },\n  ];\n}\n\n// 6. RULE: For project artifacts, only operational_state and state_reason allowed\nif (artifact_type === \"project\" && !hasSpineFields) {\n  const extension = normalizeNode.extension || {};\n  const allowedFields = [\"summary\", \"operational_state\", \"state_reason\", \"design_spine\"];\n  const providedFields = Object.keys(extension);\n\n  const disallowedFields = providedFields.filter((f) => !allowedFields.includes(f));\n\n  if (disallowedFields.length > 0) {\n    if (disallowedFields.includes(\"lifecycle_stage\")) {\n      return [\n        {\n          json: {\n            ok: false,\n            _gw_route: \"error\",\n            error: {\n              code: \"MUTABILITY_ERROR\",\n              message:\n                \"Field 'lifecycle_stage' is PROMOTE_ONLY and cannot be updated via artifact.update.\",\n              details: {\n                field: \"extension.lifecycle_stage\",\n                artifact_type: \"project\",\n                artifact_id: existing.artifact_id,\n                registry_rule: \"PROMOTE_ONLY\",\n                source: \"Mutability Registry v1\",\n                hint: \"Use artifact.promote operation to change lifecycle_stage.\",\n              },\n            },\n          },\n        },\n      ];\n    }\n\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: \"error\",\n          error: {\n            code: \"MUTABILITY_ERROR\",\n            message: `Disallowed fields in extension for project UPDATE: ${disallowedFields.join(\n              \", \"\n            )}`,\n            details: {\n              disallowed_fields: disallowedFields,\n              allowed_fields: allowedFields,\n              artifact_type: \"project\",\n              artifact_id: existing.artifact_id,\n              source: \"Mutability Registry v1\",\n              hint: \"Only summary, operational_state, state_reason, and design_spine are UPDATE_ALLOWED for project artifacts.\",\n            },\n          },\n        },\n      },\n    ];\n  }\n\n  if (providedFields.length === 0) {\n    return [\n      {\n        json: {\n          ok: false,\n          _gw_route: \"error\",\n          error: {\n            code: \"VALIDATION_ERROR\",\n            message: \"No updateable fields provided in extension for project UPDATE.\",\n            details: {\n              artifact_type: \"project\",\n              artifact_id: existing.artifact_id,\n              allowed_fields: allowedFields,\n              hint: \"Provide at least one of: summary, operational_state, state_reason, design_spine\",\n            },\n          },\n        },\n      },\n    ];\n  }\n\n  // 6.5: Value validation for operational_state (DDL CHECK constraint)\n  // Allowed: active, paused, blocked, waiting\n  // Source: qxb_artifact_project_operational_state_check\n  if ('operational_state' in extension) {\n    const allowedStates = ['active', 'paused', 'blocked', 'waiting'];\n    if (!allowedStates.includes(extension.operational_state)) {\n      return [\n        {\n          json: {\n            ok: false,\n            _gw_route: \"error\",\n            error: {\n              code: \"VALIDATION_ERROR\",\n              message: `Invalid operational_state value: '${extension.operational_state}'`,\n              details: {\n                field: \"operational_state\",\n                provided_value: extension.operational_state,\n                allowed_values: allowedStates,\n                artifact_type: \"project\",\n                artifact_id: existing.artifact_id,\n                source: \"DDL CHECK: qxb_artifact_project_operational_state_check\",\n              },\n            },\n          },\n        },\n      ];\n    }\n  }\n}\n\n// 6.7 RULE: branch/limb/leaf \u00e2\u20ac\u201d spine-field update only (T64)\n// execution_status is a SPINE field on qxb_artifact (DDL v2.4).\n// Route to spine PATCH instead of extension table write.\nconst executionAnatomyTypes = ['branch', 'limb', 'leaf', 'twig'];\nif (executionAnatomyTypes.includes(artifact_type)) {\n  const extension = normalizeNode.extension || {};\n  // T94: twig also allows lifecycle_status via extension (routed to spine PATCH)\n  const allowedSpineFields = artifact_type === 'twig'\n    ? ['execution_status', 'lifecycle_status']\n    : ['execution_status'];\n  const providedFields = Object.keys(extension);\n\n  // 6.7.2 Allowlist check: reject unknown fields\n  const disallowedFields = providedFields.filter(f => !allowedSpineFields.includes(f));\n  if (disallowedFields.length > 0) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'VALIDATION_ERROR',\n          message: 'Disallowed fields in extension for ' + artifact_type + ' UPDATE: ' + disallowedFields.join(', '),\n          details: {\n            disallowed_fields: disallowedFields,\n            allowed_fields: allowedSpineFields,\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            source: 'T64',\n            hint: 'Only execution_status is UPDATE_ALLOWED for ' + artifact_type + ' artifacts. Use tags.add/tags.remove for tag updates.'\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.3 Must provide at least one updateable field\n  if (providedFields.length === 0) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'VALIDATION_ERROR',\n          message: 'No updateable fields provided in extension for ' + artifact_type + ' UPDATE.',\n          details: {\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            allowed_fields: allowedSpineFields,\n            hint: 'Provide execution_status in extension object.'\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.4 Validate execution_status value against CHECK constraint\n  const execStatus = extension.execution_status;\n  const validStatuses = ['not_started', 'in_progress', 'blocked', 'complete'];\n  if (execStatus !== null && execStatus !== undefined && !validStatuses.includes(execStatus)) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'VALIDATION_ERROR',\n          message: \"Invalid execution_status value: '\" + execStatus + \"'\",\n          details: {\n            field: 'execution_status',\n            provided_value: execStatus,\n            allowed_values: validStatuses,\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            hint: 'execution_status must be one of: not_started, in_progress, blocked, complete'\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.4a T94: twig lifecycle_status transition validation (via extension path)\n  if (artifact_type === 'twig' && extension.lifecycle_status !== undefined) {\n    const currentLifecycle = existing.lifecycle_status ?? null;\n    const requestedLifecycle = extension.lifecycle_status ?? null;\n\n    // Terminal states\n    if (currentLifecycle === 'promoted' || currentLifecycle === 'pruned') {\n      return [{\n        json: {\n          ok: false,\n          _gw_route: 'error',\n          error: {\n            code: 'ARCHIVE_TERMINAL',\n            message: 'Cannot update lifecycle_status on ' + currentLifecycle + ' twig. Terminal state.',\n            details: {\n              artifact_id: existing.artifact_id,\n              artifact_type: 'twig',\n              lifecycle_status: currentLifecycle,\n              hint: 'Twigs in promoted or pruned state are terminal. Archive the twig and create a new artifact if needed.',\n            },\n          },\n        },\n      }];\n    }\n\n    // Transition matrix: proposed -> active -> promoted | pruned\n    const twigTransitions = {\n      'null': ['proposed'],\n      'proposed': ['active', 'pruned'],\n      'active': ['promoted', 'pruned'],\n    };\n    const fromKey = currentLifecycle === null ? 'null' : currentLifecycle;\n    const allowed = twigTransitions[fromKey] || [];\n\n    if (requestedLifecycle !== null && !allowed.includes(requestedLifecycle)) {\n      return [{\n        json: {\n          ok: false,\n          _gw_route: 'error',\n          error: {\n            code: 'INVALID_TRANSITION',\n            message: \"lifecycle_status transition not allowed: '\" + (currentLifecycle ?? 'NULL') + \"' \u2192 '\" + requestedLifecycle + \"'\",\n            details: {\n              field: 'lifecycle_status',\n              from_status: currentLifecycle,\n              to_status: requestedLifecycle,\n              artifact_type: 'twig',\n              artifact_id: existing.artifact_id,\n              allowed_from_current: allowed,\n              hint: \"Allowed from '\" + (currentLifecycle ?? 'NULL') + \"': \" + (allowed.length > 0 ? allowed.join(', ') : '(none -- terminal state)') + '.',\n            },\n          },\n        },\n      }];\n    }\n\n    // No-op\n    if (currentLifecycle === requestedLifecycle) {\n      return [{\n        json: {\n          ok: true,\n          _gw_route: 'ok',\n          _update_mode: 'noop',\n          gw_action: normalizeNode.gw_action ?? 'artifact.update',\n          gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n          artifact_id: existing.artifact_id,\n          workspace_id: existing.workspace_id,\n          artifact_type: artifact_type,\n          lifecycle_status: currentLifecycle,\n          version: existing.version,\n        }\n      }];\n    }\n\n    // Valid lifecycle transition -- route to spine PATCH (skip execution_status pipeline)\n    return [{\n      json: {\n        ok: true,\n        _gw_route: 'ok',\n        _update_mode: 'spine_fields',\n        gw_action: normalizeNode.gw_action ?? 'artifact.update',\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        _normalized_request: normalizeNode,\n        _existing_artifact: existing,\n        _spine_update: {\n          lifecycle_status: requestedLifecycle,\n        },\n        _needs_parent_check: false,\n        _needs_dependency_check: false,\n        _gw_debug: {\n          ...(normalizeNode._gw_debug ?? {}),\n          mutability: 'twig_lifecycle_transition',\n          operation: 'UPDATE',\n          transition: (currentLifecycle ?? 'NULL') + ' \u2192 ' + requestedLifecycle,\n        }\n      }\n    }];\n  }\n\n  // 6.7.5 Archive guard: lifecycle_status = 'archive' rejects all mutations\n  if (existing.lifecycle_status === 'archive') {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'ARCHIVE_TERMINAL',\n          message: 'Cannot mutate execution_status on archived artifact',\n          details: {\n            artifact_id: existing.artifact_id,\n            artifact_type: artifact_type,\n            lifecycle_status: 'archive',\n            hint: 'Archived artifacts are read-only. No mutations are permitted.'\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.6 No-op detection: same state \u00e2\u2020\u2019 no write\n  const currentStatus = existing.execution_status ?? null;\n  const requestedStatus = execStatus ?? null;\n  if (currentStatus === requestedStatus) {\n    return [{\n      json: {\n        ok: true,\n        _gw_route: 'ok',\n        _update_mode: 'noop',\n        gw_action: normalizeNode.gw_action ?? 'artifact.update',\n        gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n        artifact_id: existing.artifact_id,\n        workspace_id: existing.workspace_id,\n        artifact_type: artifact_type,\n        execution_status: currentStatus,\n        version: existing.version,\n      }\n    }];\n  }\n\n  // 6.7.7 NULL reset prohibition: cannot set back to NULL once initialized\n  if (currentStatus !== null && requestedStatus === null) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'INVALID_TRANSITION',\n          message: 'Cannot reset execution_status to NULL once initialized',\n          details: {\n            field: 'execution_status',\n            from_status: currentStatus,\n            to_status: null,\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            reason: 'null_reset_prohibited',\n            hint: 'execution_status cannot be set back to NULL. Once initialized, only forward transitions are allowed.'\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.8 Transition matrix enforcement\n  const allowedTransitions = {\n    'null': ['not_started'],\n    'not_started': ['in_progress', 'blocked'],\n    'in_progress': ['blocked', 'complete'],\n    'blocked': ['in_progress'],\n    'complete': []\n  };\n\n  const fromKey = currentStatus === null ? 'null' : currentStatus;\n  const allowed = allowedTransitions[fromKey] || [];\n\n  if (!allowed.includes(requestedStatus)) {\n    // Determine reason for better error messaging\n    let reason = 'invalid_transition';\n    if (currentStatus === 'complete') {\n      reason = 'complete_is_terminal';\n    } else if (\n      (currentStatus === 'in_progress' && requestedStatus === 'not_started') ||\n      (currentStatus === 'blocked' && requestedStatus === 'not_started')\n    ) {\n      reason = 'backward_transition';\n    } else if (\n      (currentStatus === null && requestedStatus !== 'not_started') ||\n      (currentStatus === 'not_started' && requestedStatus === 'complete') ||\n      (currentStatus === 'blocked' && requestedStatus === 'complete')\n    ) {\n      reason = 'skip_transition';\n    }\n\n    const allowedMsg = allowed.length > 0 ? allowed.join(', ') : '(none \u00e2\u20ac\u201d terminal state)';\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'INVALID_TRANSITION',\n          message: \"execution_status transition not allowed: '\" + (currentStatus ?? 'NULL') + \"' \\u2192 '\" + requestedStatus + \"'\",\n          details: {\n            field: 'execution_status',\n            from_status: currentStatus,\n            to_status: requestedStatus,\n            artifact_type: artifact_type,\n            artifact_id: existing.artifact_id,\n            reason: reason,\n            allowed_from_current: allowed,\n            hint: \"Allowed from '\" + (currentStatus ?? 'NULL') + \"': \" + allowedMsg + \".\"\n          }\n        }\n      }\n    }];\n  }\n\n  // 6.7.8a Twig lifecycle terminal guard\n  // Twigs in promoted/pruned state are terminal -- no execution_status changes allowed\n  if (artifact_type === 'twig') {\n    const twigLifecycle = existing.lifecycle_status ?? null;\n    if (twigLifecycle === 'promoted' || twigLifecycle === 'pruned') {\n      return [{\n        json: {\n          ok: false,\n          _gw_route: 'error',\n          error: {\n            code: 'ARCHIVE_TERMINAL',\n            message: 'Cannot mutate execution_status on ' + twigLifecycle + ' twig',\n            details: {\n              artifact_id: existing.artifact_id,\n              artifact_type: 'twig',\n              lifecycle_status: twigLifecycle,\n              hint: 'Twigs in promoted or pruned state are terminal. No mutations are permitted.'\n            }\n          }\n        }\n      }];\n    }\n  }\n\n  // 6.7.9 Parent check flagging\n  const needsParentCheck = (requestedStatus === 'complete') &&\n                           (artifact_type === 'branch' || artifact_type === 'limb');\n\n  // 6.7.9a Dependency check flagging (T71)\n  const needsDependencyCheck = (requestedStatus === 'complete') && (artifact_type === 'leaf');\n\n  // 6.7.10 Route to spine-field update\n  return [{\n    json: {\n      ok: true,\n      _gw_route: 'ok',\n      _update_mode: 'spine_fields',\n      gw_action: normalizeNode.gw_action ?? 'artifact.update',\n      gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n      artifact_id: existing.artifact_id,\n      workspace_id: existing.workspace_id,\n      artifact_type: artifact_type,\n      _normalized_request: normalizeNode,\n      _existing_artifact: existing,\n      _spine_update: {\n        ...(execStatus !== null && execStatus !== undefined ? { execution_status: requestedStatus } : {}),\n        ...(artifact_type === 'twig' && extension.lifecycle_status !== undefined ? { lifecycle_status: extension.lifecycle_status } : {}),\n      },\n      _needs_parent_check: needsParentCheck,\n      _needs_dependency_check: needsDependencyCheck,\n      _gw_debug: {\n        ...(normalizeNode._gw_debug ?? {}),\n        mutability: 'spine_fields_allowed',\n        operation: 'UPDATE',\n        transition: (currentStatus ?? 'NULL') + ' \\u2192 ' + requestedStatus,\n        needs_parent_check: needsParentCheck,\n        needs_dependency_check: needsDependencyCheck,\n      }\n    }\n  }];\n}\n\n// 7. Mutability checks passed \u00e2\u20ac\u201d extension update path\nreturn [\n  {\n    json: {\n      ok: true,\n      _gw_route: \"ok\",\n      _update_mode: \"extension\",\n      gw_action: normalizeNode.gw_action ?? \"artifact.update\",\n      gw_workspace_id: normalizeNode.gw_workspace_id ?? null,\n      artifact_id: existing.artifact_id,\n      workspace_id: existing.workspace_id,\n      artifact_type: existing.artifact_type,\n      _normalized_request: normalizeNode,\n      _existing_artifact: existing,\n      _gw_debug: {\n        ...(normalizeNode._gw_debug ?? {}),\n        mutability: \"passed\",\n        operation: \"UPDATE\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        704
      ],
      "id": "f7451473-2791-4f9b-bfa7-85509a59f306",
      "name": "NQxb_Artifact_Update_v1__Check_Mutability_Rules"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "546af728-12a2-4c64-9707-208c51f7f9c3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "864a4039-588b-44cf-baba-75ac303c78c8",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1568,
        688
      ],
      "id": "ae1ef18b-7b49-44b6-9d70-be82ac4b0c1b",
      "name": "NQxb_Artifact_Update_v1__Switch_Mutability_Result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "tags_only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-tags-only"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "spine_fields",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-spine-fields"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "noop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-noop"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "content_append",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-content-append"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "spine_only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-spine-only"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._update_mode }}",
                    "rightValue": "mixed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-mixed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1344,
        784
      ],
      "id": "281c907b-c6f0-4432-9329-a7689b490a51",
      "name": "NQxb_Artifact_Update_v1__Switch_Update_Mode"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Compute_Tag_Merge\n// Merges existing spine tags with add/remove operations.\n// Rules:\n// - Deduplicate\n// - Remove explicitly removed tags (remove wins over add)\n// - Deterministic ordering (alphabetical sort)\n// - Never return null (empty array allowed)\n// - Computes next_version for spine update\n\nconst normalizeNode = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\nconst existing = $json._existing_artifact;\n\nconst existingTags = Array.isArray(existing.tags) ? existing.tags : [];\nconst tagsToAdd = Array.isArray(normalizeNode.tags?.add) ? normalizeNode.tags.add : [];\nconst tagsToRemove = new Set(\n  Array.isArray(normalizeNode.tags?.remove) ? normalizeNode.tags.remove : []\n);\n\n// Build merged set: existing + add, then subtract remove\nconst merged = new Set(existingTags);\nfor (const tag of tagsToAdd) {\n  merged.add(tag);\n}\nfor (const tag of tagsToRemove) {\n  merged.delete(tag);\n}\n\n// Deterministic ordering (alphabetical)\nconst finalTags = [...merged].sort();\n\n// Version increment\nconst currentVersion = typeof existing.version === 'number' ? existing.version : 1;\nconst nextVersion = currentVersion + 1;\n\nreturn [{\n  json: {\n    artifact_id: existing.artifact_id,\n    workspace_id: existing.workspace_id,\n    artifact_type: existing.artifact_type,\n    final_tags: finalTags,\n    next_version: nextVersion,\n    _tag_debug: {\n      existing: existingTags,\n      added: tagsToAdd,\n      removed: [...tagsToRemove],\n      result: finalTags,\n      version_before: currentVersion,\n      version_after: nextVersion,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "d88b7b96-c9f0-4bc7-8ffd-048c12541c31",
      "name": "NQxb_Artifact_Update_v1__Compute_Tag_Merge"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: $json.final_tags, version: $json.next_version }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        400
      ],
      "id": "a69dcad0-6438-4c2a-a96e-ab935d01d5d2",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Spine_Tags",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Tags_Ack\n// Terminal node for tags-only update path.\n// Uses $node[] references (HTTP Request output may be empty with return=minimal).\n\nconst normalizeNode = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\nconst tagMergeNode = $node['NQxb_Artifact_Update_v1__Compute_Tag_Merge'].json;\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: \"artifact.update\",\n    operation: \"TAG_UPDATE\",\n    artifact_id: normalizeNode.artifact_id,\n    artifact_type: normalizeNode.artifact_type,\n    gw_workspace_id: normalizeNode.gw_workspace_id,\n    tags: tagMergeNode.final_tags,\n    version: tagMergeNode.next_version,\n    _tag_changes: {\n      added: normalizeNode.tags?.add ?? [],\n      removed: normalizeNode.tags?.remove ?? [],\n    },\n    _kgb: {\n      status: \"TAG_UPDATE_CONFIRMED\",\n      note: \"Spine-level tag update completed. Version incremented. updated_at set by trigger.\",\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        912
      ],
      "id": "d0951812-abde-411f-9581-b73cd3e9008c",
      "name": "NQxb_Artifact_Update_v1__Return_Tags_Ack"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Noop_Ack\n// T64: Terminal for no-op execution_status updates (same state).\n// No DB write, no version increment.\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: 'artifact.update',\n    operation: 'NOOP',\n    artifact_id: $json.artifact_id,\n    artifact_type: $json.artifact_type,\n    gw_workspace_id: $json.gw_workspace_id ?? $json.workspace_id,\n    execution_status: $json.execution_status,\n    version: $json.version,\n    _kgb: {\n      status: 'NOOP_CONFIRMED',\n      note: 'Requested execution_status matches current value. No mutation performed. Version unchanged.'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        544
      ],
      "id": "2de89843-657a-4783-bdcc-b5e2a89bfeba",
      "name": "NQxb_Artifact_Update_v1__Return_Noop_Ack"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-parent-check",
              "leftValue": "={{ $json._needs_parent_check }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        960
      ],
      "id": "5c89fb2f-b93d-4c1e-84f2-40f81534ecef",
      "name": "NQxb_Artifact_Update_v1__Switch_Parent_Check"
    },
    {
      "parameters": {
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?parent_artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}&deleted_at=is.null&or=(execution_status.is.null,execution_status.neq.complete)&select=artifact_id,execution_status&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        736
      ],
      "id": "0b9542a7-7552-48da-9e43-5f7889465648",
      "name": "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Children",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Guard_Children_Complete\n// T64: Check if parent completion query found any incomplete children.\n// DB_Query_Incomplete_Children returns [] (0 items) if all complete.\n// With alwaysOutputData, 0 items \u2192 {json:{}} (no artifact_id).\n\nconst queryResult = $json;\nconst parentData = $node['NQxb_Artifact_Update_v1__Switch_Parent_Check'].json;\n\nif (queryResult && queryResult.artifact_id) {\n  // Found an incomplete child \u2014 block completion\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'INCOMPLETE_CHILDREN',\n        message: 'Cannot complete ' + parentData.artifact_type + ': 1 or more children have incomplete execution_status',\n        details: {\n          artifact_id: parentData.artifact_id,\n          artifact_type: parentData.artifact_type,\n          incomplete_child_sample: {\n            artifact_id: queryResult.artifact_id,\n            execution_status: queryResult.execution_status ?? null\n          },\n          hint: \"All direct children must have execution_status = 'complete' before parent can be marked complete.\"\n        }\n      }\n    }\n  }];\n}\n\n// All children complete (or no children) \u2014 pass through parent data for spine update\nreturn [{ json: parentData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        960
      ],
      "id": "318f7244-6776-4851-aa86-9392121a14ff",
      "name": "NQxb_Artifact_Update_v1__Guard_Children_Complete"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "children-error"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "children-ok"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        800
      ],
      "id": "056ec4b2-a7b6-4a22-a153-3383530e22c9",
      "name": "NQxb_Artifact_Update_v1__Switch_Children_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update\n// T64: Prepare spine-field PATCH payload for branch/limb/leaf/twig.\n// T94: Also handles lifecycle_status for twig.\n\nconst existing = $json._existing_artifact;\nconst spineUpdate = $json._spine_update;\n\nconst currentVersion = typeof existing.version === 'number' ? existing.version : 1;\nconst nextVersion = currentVersion + 1;\n\n// Build dynamic patch body from _spine_update\nconst patchBody = { version: nextVersion };\nconst updatedFields = [];\n\nif (spineUpdate.execution_status !== undefined) {\n  patchBody.execution_status = spineUpdate.execution_status;\n  updatedFields.push('execution_status');\n}\n\nif (spineUpdate.lifecycle_status !== undefined) {\n  patchBody.lifecycle_status = spineUpdate.lifecycle_status;\n  updatedFields.push('lifecycle_status');\n}\n\nreturn [{\n  json: {\n    artifact_id: $json.artifact_id,\n    workspace_id: $json.workspace_id,\n    artifact_type: $json.artifact_type,\n    ...patchBody,\n    current_version: currentVersion,\n    next_version: nextVersion,\n    _patch_body: patchBody,\n    _spine_debug: {\n      version_before: currentVersion,\n      version_after: nextVersion,\n      fields_updated: updatedFields,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        976
      ],
      "id": "53becb12-6932-43b3-a451-01972749ca32",
      "name": "NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}&version=eq.{{ $json.current_version }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const b = { version: $json.next_version }; if ($json.execution_status != null) b.execution_status = $json.execution_status; if ($json.lifecycle_status != null) b.lifecycle_status = $json.lifecycle_status; return JSON.stringify(b); })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        976
      ],
      "id": "26d9a890-e944-471a-ade2-f5b16ead448b",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Spine_Fields",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Spine_Update_Ack\n// T64: Terminal for spine-field update path.\n// T94: Now handles both execution_status and lifecycle_status.\n\nconst patchResult = $json;\nconst prepare = $node['NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update'].json;\n\nif (!patchResult || !patchResult.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'CONCURRENCY_CONFLICT',\n        message: 'Artifact was modified by another operation. Retry with fresh version.',\n        details: {\n          artifact_id: prepare.artifact_id,\n          artifact_type: prepare.artifact_type,\n          expected_version: prepare.current_version,\n          hint: 'Re-fetch the artifact and retry the update with the current version.'\n        }\n      }\n    }\n  }];\n}\n\nconst fieldsUpdated = prepare._spine_debug?.fields_updated || ['execution_status'];\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: 'artifact.update',\n    operation: 'SPINE_FIELD_UPDATE',\n    artifact_id: patchResult.artifact_id,\n    artifact_type: patchResult.artifact_type,\n    gw_workspace_id: patchResult.workspace_id,\n    execution_status: patchResult.execution_status,\n    lifecycle_status: patchResult.lifecycle_status,\n    version: patchResult.version,\n    _kgb: {\n      status: 'SPINE_FIELD_UPDATE_CONFIRMED',\n      note: fieldsUpdated.join(', ') + ' updated. Version incremented. updated_at set by trigger.'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1280
      ],
      "id": "07822502-86d5-4810-b665-41675f968bbb",
      "name": "NQxb_Artifact_Update_v1__Return_Spine_Update_Ack"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-project"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "branch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-branch"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "limb",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-limb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "leaf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-leaf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.artifact_type }}",
                    "rightValue": "twig",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "update-twig"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        1744
      ],
      "id": "dc02f573-e6af-4fd0-9293-a1c38fe422b0",
      "name": "NQxb_Artifact_Update_v1__Switch_Type_For_Update"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update\n// T51: Full-replace semantics \u2014 omitted fields reset to default/null\n// T87: design_spine added to project extension allowlist\n\nconst normalizeNode = $json._normalized_request;\nconst extension = normalizeNode.extension || {};\n\nconst updateFields = {\n  artifact_id: $json.artifact_id,\n  operational_state: extension.operational_state ?? 'active',\n  state_reason: extension.state_reason ?? null,\n  design_spine: extension.design_spine ?? null,\n};\n\nreturn [{ json: updateFields }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1648
      ],
      "id": "631f2445-ec93-462c-9ee1-7b1e8df216c3",
      "name": "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact_project?artifact_id=eq.{{ $json.artifact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operational_state: $json.operational_state, state_reason: $json.state_reason, design_spine: $json.design_spine }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        1648
      ],
      "id": "bff7caf9-b5d8-4ac9-89ec-eba5e4e17c62",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Project_Extension",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Spine_Version_Increment\n// T51: Compute _spine_patch for version increment + summary routing\n\nconst normalize = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\nconst spine = $node['NQxb_Artifact_Update_v1__Fetch_Existing_Spine'].json;\nconst currentVersion = typeof spine.version === 'number' ? spine.version : 1;\n\nconst artifactType = spine.artifact_type?.trim();\nconst extension = normalize.extension || {};\n\nconst spinePatch = {\n  version: currentVersion + 1,\n};\n\nif (artifactType === 'project') {\n  spinePatch.summary = extension.summary ?? null;\n}\n\nreturn [{\n  json: {\n    artifact_id: normalize.artifact_id,\n    workspace_id: normalize.gw_workspace_id,\n    next_version: currentVersion + 1,\n    _spine_patch: spinePatch,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1648
      ],
      "id": "79c04f62-61a2-4fff-b928-4ca14cb4587e",
      "name": "NQxb_Artifact_Update_v1__Prepare_Spine_Version_Increment"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._spine_patch) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        1648
      ],
      "id": "b1841214-c06e-46cf-9a63-ef824779f23b",
      "name": "NQxb_Artifact_Update_v1__DB_Increment_Spine_Version",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// KGB TERMINAL \u2014 UPDATE ONLY\n// Never trust Supabase UPDATE output.\n// Always return a stable acknowledgement.\n\nconst normalize = $node[\"NQxb_Artifact_Update_v1__Normalize_Request\"].json;\n\nreturn [\n  {\n    json: {\n      ok: true,\n      gw_action: \"artifact.update\",\n      operation: \"UPDATE\",\n      artifact_id: normalize.artifact_id,\n      artifact_type: normalize.artifact_type,\n      gw_workspace_id: normalize.gw_workspace_id,\n      updated_fields: Object.keys(normalize.extension || {}),\n      _kgb: {\n        status: \"UPDATE_CONFIRMED\",\n        note: \"Update completed. Query intentionally not invoked.\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1696
      ],
      "id": "16871672-f841-4f52-aa8e-6f68e7a6a5ab",
      "name": "NQxb_Artifact_Update_v1__Return_Update_Ack"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Error_Passthrough\n// Terminal node: pass-through the incoming payload unchanged.\n// Use for any error path to guarantee the workflow returns a real JSON envelope\n// instead of dead-ending into \"\".\n\nreturn $input.all();\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        528
      ],
      "id": "e1e19540-1254-4d72-bfbc-3633755f0f1d",
      "name": "NQxb_Artifact_Update_v1__Return_Error_Passthrough"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error\n// v2.0: Sapling A Branch 3 \u2014 Reject No-Op Extension Updates\n// Error code unified to EXTENSION_NOT_MUTABLE (replaces UPDATE_NOT_IMPLEMENTED)\n\nconst normalize = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: 'error',\n    gw_action: 'artifact.update',\n    artifact_id: normalize.artifact_id ?? null,\n    artifact_type: normalize.artifact_type ?? null,\n    workspace_id: normalize.gw_workspace_id ?? null,\n    version: null,\n    error: {\n      code: 'EXTENSION_NOT_MUTABLE',\n      message: `Extension updates are not supported for artifact type '${normalize.artifact_type ?? 'unknown'}'. Use tags.add/tags.remove for metadata updates.`,\n      details: {\n        artifact_type: normalize.artifact_type ?? null,\n        artifact_id: normalize.artifact_id ?? null\n      }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1840
      ],
      "id": "34993a03-b34e-4860-a146-eaeeb27d657c",
      "name": "NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Unhandled_Type_Error\n// v2.0: Sapling A Branch 3 \u2014 Reject No-Op Extension Updates\n// Error code unified to EXTENSION_NOT_MUTABLE (replaces EXTENSION_ROUTING_UNHANDLED_TYPE)\n// Fail-closed: no silent drops for unrouted types.\n\nconst normalize = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\n\nreturn [{\n  json: {\n    ok: false,\n    _gw_route: 'error',\n    gw_action: 'artifact.update',\n    artifact_id: normalize.artifact_id ?? null,\n    artifact_type: normalize.artifact_type ?? null,\n    workspace_id: normalize.gw_workspace_id ?? null,\n    version: null,\n    error: {\n      code: 'EXTENSION_NOT_MUTABLE',\n      message: `Extension updates are not supported for artifact type '${normalize.artifact_type ?? 'unknown'}'. Use tags.add/tags.remove for metadata updates.`,\n      details: {\n        artifact_type: normalize.artifact_type ?? null,\n        artifact_id: normalize.artifact_id ?? null\n      }\n    },\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2032
      ],
      "id": "954042a2-3e3d-4772-8eed-888af0433de9",
      "name": "NQxb_Artifact_Update_v1__Return_Unhandled_Type_Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-dependency-check",
              "leftValue": "={{ $json._needs_dependency_check }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        1184
      ],
      "id": "7b008d1d-e980-48bb-beed-aa84a35564a7",
      "name": "NQxb_Artifact_Update_v1__Switch_Dependency_Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/rpc/check_leaf_dependencies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_artifact_id: $json.artifact_id, p_workspace_id: $json.workspace_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1264
      ],
      "id": "e8af8a88-6a46-4ff6-9fa0-c2c306fcc7d3",
      "name": "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Dependencies",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Guard_Dependencies_Complete\n// T71: Check if RPC found any incomplete dependencies.\n// check_leaf_dependencies returns [] if all complete (or no deps).\n// With alwaysOutputData, 0 rows \u2192 {json:{}} (no depends_on_artifact_id).\n\nconst queryResult = $json;\nconst parentData = $node['NQxb_Artifact_Update_v1__Switch_Dependency_Check'].json;\n\nif (queryResult && queryResult.depends_on_artifact_id) {\n  // Found an incomplete dependency \u2014 block completion\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'DEPENDENCY_INCOMPLETE',\n        message: 'Dependency not complete',\n        details: {\n          artifact_id: parentData.artifact_id,\n          artifact_type: 'leaf',\n          incomplete_dependency: {\n            artifact_id: queryResult.depends_on_artifact_id,\n            execution_status: queryResult.execution_status ?? null\n          },\n          hint: \"All dependencies must have execution_status = 'complete' before this leaf can be marked complete.\"\n        }\n      }\n    }\n  }];\n}\n\n// All deps complete (or no deps) \u2014 pass through for spine update\nreturn [{ json: parentData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1344
      ],
      "id": "4d8234d7-5790-42dd-b6c8-d779a16ca036",
      "name": "NQxb_Artifact_Update_v1__Guard_Dependencies_Complete"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "dependency-error"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "dependency-ok"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        1328
      ],
      "id": "54c4b64e-8e80-40b5-93ff-81089ad9a3d7",
      "name": "NQxb_Artifact_Update_v1__Switch_Dependencies_Result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/rpc/update_semantic_type",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_artifact_id\": \"{{ $json.artifact_id }}\",\n  \"p_new_semantic_type_id\": \"{{ $json._semantic_type_update.new_semantic_type_id }}\",\n  \"p_reason\": \"{{ $json._semantic_type_update.reason }}\",\n  \"p_actor_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        1008
      ],
      "id": "cdc090bf-9023-4d1b-b741-4d1367c76863",
      "name": "NQxb_Artifact_Update_v1__RPC_Update_Semantic_Type",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Guard_Semantic_Type_Result\n// T69: Format RPC response into Gateway response envelope\n// v2: Defensive check \u2014 treat missing ok or ok!==true as error (Contract B)\n\nconst rpcResult = $json;\nconst upstream = $node['NQxb_Artifact_Update_v1__Detect_Semantic_Route'].json;\n\n// DEFENSIVE: if RPC result is missing or ok is not explicitly true, treat as error\nif (!rpcResult || rpcResult.ok !== true) {\n  // Extract error details from RPC response if available\n  const errorPayload = rpcResult && rpcResult.error\n    ? rpcResult.error\n    : {\n        code: 'RPC_FAILURE',\n        message: 'Semantic type update failed \u2014 RPC did not return ok:true',\n        details: rpcResult ?? { hint: 'RPC returned null or undefined' }\n      };\n\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: upstream.gw_action ?? 'artifact.update',\n      gw_workspace_id: upstream.gw_workspace_id ?? null,\n      artifact_type: upstream.artifact_type ?? null,\n      artifact_id: upstream.artifact_id ?? null,\n      error: errorPayload,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// RPC returned noop\nif (rpcResult.noop === true) {\n  return [{\n    json: {\n      ok: true,\n      _gw_route: 'ok',\n      gw_action: upstream.gw_action ?? 'artifact.update',\n      artifact_id: upstream.artifact_id,\n      artifact_type: upstream.artifact_type,\n      operation: 'SEMANTIC_TYPE_UPDATE',\n      noop: true,\n      message: rpcResult.message ?? 'semantic_type_id unchanged',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// RPC returned success\nreturn [{\n  json: {\n    ok: true,\n    _gw_route: 'ok',\n    gw_action: upstream.gw_action ?? 'artifact.update',\n    artifact_id: rpcResult.artifact_id ?? upstream.artifact_id,\n    artifact_type: upstream.artifact_type,\n    operation: 'SEMANTIC_TYPE_UPDATE',\n    old_semantic_type_id: rpcResult.old_semantic_type_id ?? null,\n    new_semantic_type_id: rpcResult.new_semantic_type_id ?? null,\n    version: rpcResult.version ?? null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        1264
      ],
      "id": "383e28fb-2568-4181-b158-fc5c96f61863",
      "name": "NQxb_Artifact_Update_v1__Guard_Semantic_Type_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Detect_Semantic_Route\n// T69 Architectural Fix: Extract semantic_type routing into dedicated pre-routing layer.\n// Runs between Fetch_Existing_Spine and Check_Mutability_Rules.\n// If semantic_type_id is present in extension, validates and routes to RPC directly.\n// Otherwise, passes through to Check_Mutability_Rules unchanged.\n\nconst existing = $json;\nconst normalizeNode = $node['NQxb_Artifact_Update_v1__Normalize_Request'].json;\nconst extensionObj = normalizeNode.extension || {};\nconst normalizedTags = normalizeNode._normalized_tags ?? normalizeNode.tags ?? null;\nconst artifact_type = (existing.artifact_type ?? '').trim();\n\n// If semantic_type_id NOT in extension \u2192 passthrough\nif (!('semantic_type_id' in extensionObj)) {\n  return [{\n    json: {\n      ...existing,\n      _semantic_route: 'passthrough'\n    }\n  }];\n}\n\n// -----------------------------------------------------------------------------\n// semantic_type_id IS present \u2014 run dedicated validation\n// -----------------------------------------------------------------------------\n\n// A. deleted_at guard (CRITICAL \u2014 semantic route bypasses mutability layer)\nif (existing.deleted_at !== null && existing.deleted_at !== undefined) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'NOT_FOUND',\n        message: 'Artifact not found',\n        details: { artifact_id: existing.artifact_id }\n      }\n    }\n  }];\n}\n\n// B. Mixed update with tags\nif (normalizedTags !== null) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'MIXED_UPDATE_NOT_ALLOWED',\n        message: 'semantic_type_id update cannot be combined with tags update',\n        details: {\n          semantic_type_id_present: true,\n          tags_present: true,\n          hint: 'Submit semantic_type_id + reason as a standalone update, then update tags separately'\n        }\n      }\n    }\n  }];\n}\n\n// C. Mixed update with other extension fields\nconst otherExtensionKeys = Object.keys(extensionObj)\n  .filter(k => k !== 'semantic_type_id' && k !== 'reason');\n\nif (otherExtensionKeys.length > 0) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'MIXED_UPDATE_NOT_ALLOWED',\n        message: 'semantic_type_id update cannot be combined with other extension fields',\n        details: {\n          semantic_type_id_present: true,\n          other_fields: otherExtensionKeys,\n          hint: 'Submit semantic_type_id + reason as a standalone update, then update other fields separately'\n        }\n      }\n    }\n  }];\n}\n\n// D. Mixed update with spine-level fields (T87: check spine_fields object)\nconst spineFieldsObj = normalizeNode.spine_fields || {};\nconst spinePresent = Object.keys(spineFieldsObj);\n\nif (spinePresent.length > 0) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'MIXED_UPDATE_NOT_ALLOWED',\n        message: 'semantic_type_id update cannot be combined with spine fields',\n        details: {\n          semantic_type_id_present: true,\n          spine_fields: spinePresent,\n          hint: 'Submit semantic_type_id + reason as a standalone update, then update spine fields separately'\n        }\n      }\n    }\n  }];\n}\n\n// E. Top-level artifact check\nconst topLevelTypes = ['project', 'snapshot', 'journal', 'restart'];\n\nif (!topLevelTypes.includes(artifact_type)) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'SEMANTIC_TYPE_NOT_APPLICABLE',\n        message: 'semantic_type_id applies only to top-level artifact types',\n        details: {\n          artifact_type: artifact_type,\n          artifact_id: existing.artifact_id,\n          allowed_types: topLevelTypes\n        }\n      }\n    }\n  }];\n}\n\n// F. Reason required\nconst reason = (extensionObj.reason ?? '').toString().trim();\n\nif (!reason) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'VALIDATION_ERROR',\n        message: 'reason is required for semantic_type_id update',\n        details: {\n          field: 'reason',\n          hint: 'Provide extension.reason when updating semantic_type_id'\n        }\n      }\n    }\n  }];\n}\n\n// G. Success \u2014 route to dedicated semantic path\nreturn [{\n  json: {\n    ok: true,\n    _semantic_route: 'semantic_type',\n    _update_mode: 'semantic_type',\n    artifact_id: existing.artifact_id,\n    workspace_id: existing.workspace_id,\n    artifact_type: artifact_type,\n    _semantic_type_update: {\n      new_semantic_type_id: extensionObj.semantic_type_id,\n      reason: reason\n    },\n    gw_action: normalizeNode.gw_action,\n    gw_workspace_id: normalizeNode.gw_workspace_id,\n    _existing_artifact: existing,\n    _normalized_request: normalizeNode\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        672
      ],
      "id": "2bc9f355-6d01-44d7-a1e5-19a01232bd10",
      "name": "NQxb_Artifact_Update_v1__Detect_Semantic_Route"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "semantic-route-match",
                    "leftValue": "={{ $json._semantic_route }}",
                    "rightValue": "semantic_type",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "semantic-route-ok",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "semantic-route-error",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2016,
        656
      ],
      "id": "00ab45f3-ee20-4d1f-8594-1a5710c01cc6",
      "name": "NQxb_Artifact_Update_v1__Switch_Semantic_Route"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Prepare_Resolver_Input\n// Extract semantic_type_id and artifact_type for resolver sub-workflow.\n// Resolver expects: { semantic_type_id, artifact_type }\n\nconst req = $json;\n\nreturn [{\n  json: {\n    semantic_type_id: req._semantic_type_update.new_semantic_type_id,\n    artifact_type: req.artifact_type\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        1360
      ],
      "id": "aee300e7-0d1d-4104-86d2-cbb15f2a96af",
      "name": "NQxb_Artifact_Update_v1__Prepare_Resolver_Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jBoFxS8IBHZpVoAc",
          "mode": "list",
          "cachedResultUrl": "/workflow/jBoFxS8IBHZpVoAc",
          "cachedResultName": "QXB__Resolve_Semantic_Type_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3360,
        1360
      ],
      "id": "d51b66d4-5dff-4b99-9b59-623b13b3bf6a",
      "name": "NQxb_Artifact_Update_v1__Call_Semantic_Resolver"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Inject_Resolved_For_RPC\n// Maps resolver output back into upstream request for RPC call.\n// Upstream context: Detect_Semantic_Route output (has _semantic_type_update, artifact_id, etc.)\n// Resolver returns: { ok, resolved_semantic_type_id, resolution_mode, error? }\n\nconst resolver = $json;\nconst upstream = $node['NQxb_Artifact_Update_v1__Detect_Semantic_Route'].json;\n\n// Resolver error \u2014 forward as gateway error envelope\nif (resolver.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: resolver.error\n    }\n  }];\n}\n\n// Resolver success \u2014 merge resolved UUID into _semantic_type_update\nconst originalKey = upstream._semantic_type_update.new_semantic_type_id;\nconst resolvedUuid = resolver.resolved_semantic_type_id;\n\nreturn [{\n  json: {\n    ...upstream,\n    ok: true,\n    _semantic_type_update: {\n      ...upstream._semantic_type_update,\n      new_semantic_type_id: resolvedUuid,\n      _resolved_from_key: resolver.resolution_mode === 'key_to_uuid' ? originalKey : undefined\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        1360
      ],
      "id": "0ac846bd-c02f-4cb7-8c0f-e0e1f4709990",
      "name": "NQxb_Artifact_Update_v1__Inject_Resolved_For_RPC"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Assert_Semantic_UUID\n// T69: Last-mile defense-in-depth \u2014 assert semantic_type_id is UUID before RPC call.\n// Only top-level types reach this point (Detect_Semantic_Route filters non-top-level).\n// This guard fires ONLY if upstream resolution failed silently.\n\nconst req = $json;\n\n// Pass through upstream error envelopes unchanged (resolver errors, inject errors)\nif (req.ok === false) {\n  return [{ json: req }];\n}\nconst semanticTypeId = req._semantic_type_update?.new_semantic_type_id;\nconst artifactType = (req.artifact_type ?? '').trim();\n\nconst UUID_REGEX = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!semanticTypeId || !UUID_REGEX.test(semanticTypeId)) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      gw_action: req.gw_action ?? 'artifact.update',\n      gw_workspace_id: req.gw_workspace_id ?? null,\n      artifact_type: artifactType,\n      error: {\n        code: 'SEMANTIC_TYPE_RESOLUTION_FAILED',\n        message: 'semantic_type_id must be a resolved UUID before RPC call',\n        details: {\n          artifact_type: artifactType,\n          semantic_type_id: semanticTypeId ?? null,\n          hint: 'Semantic type must be resolved through registry before update. This is a defense-in-depth assertion \u2014 upstream resolution may have failed silently.'\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Assertion passed \u2014 forward to RPC\nreturn [{ json: req }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        1360
      ],
      "id": "d719152b-cb9e-4ac3-acf2-5eb48bd72524",
      "name": "NQxb_Artifact_Update_v1__Assert_Semantic_UUID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "assert-fail"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2688,
        1360
      ],
      "id": "c79d6bbe-66fd-47e7-a411-92666bc90565",
      "name": "NQxb_Artifact_Update_v1__Switch_Assert_Result"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Compute_Mixed_Spine_Update\n// T87: Build unified spine PATCH for spine_only and mixed modes\n// T140 B1: content field integration + content_mode routing\n// T140 B2: Deep merge engine, array replace, append_log protection\n// Handles: title, summary, priority, content, tags, version increment\n// Single atomic PostgREST PATCH to qxb_artifact\n\nconst item = $json;\nconst normalizeNode = item._normalized_request;\nconst existingArtifact = item._existing_artifact;\n\nconst spineFields = normalizeNode.spine_fields || {};\nconst tags = normalizeNode.tags || null;\nconst currentVersion = existingArtifact.version ?? 0;\n\n// ==========================================================================\n// T140 B2 L1+L2: Deterministic deep merge\n// Rules (LOCKED):\n//   - Objects \u2192 recursive merge\n//   - Scalars \u2192 overwrite\n//   - Missing keys \u2192 preserved\n//   - Arrays \u2192 ALWAYS replace (no merge, no concat)\n//   - null \u2192 overwrite (explicit null replaces existing value)\n// ==========================================================================\nfunction deepMerge(target, source) {\n  const result = { ...target };\n  for (const key of Object.keys(source)) {\n    const srcVal = source[key];\n    const tgtVal = target[key];\n\n    if (\n      srcVal !== null &&\n      typeof srcVal === 'object' &&\n      !Array.isArray(srcVal) &&\n      tgtVal !== null &&\n      typeof tgtVal === 'object' &&\n      !Array.isArray(tgtVal)\n    ) {\n      // Both are non-null objects (not arrays) \u2192 recursive merge\n      result[key] = deepMerge(tgtVal, srcVal);\n    } else {\n      // Scalars, arrays, nulls, or type mismatch \u2192 overwrite\n      result[key] = srcVal;\n    }\n  }\n  return result;\n}\n\n// ==========================================================================\n// T140 B2 L4: append_log protection \u2014 HARD GUARD\n// append_log is a reserved system namespace (Branch 3)\n// Reject any incoming payload that includes append_log at top level\n// ==========================================================================\nconst contentUpdate = normalizeNode.content || null;\nconst contentMode = normalizeNode.content_mode || 'merge';\n\nif (contentUpdate && 'append_log' in contentUpdate) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      _content_error: true,\n      error: {\n        code: 'RESERVED_NAMESPACE',\n        message: \"Field 'append_log' is a reserved system namespace and cannot be modified via content update. Use content_append operations instead.\",\n        details: {\n          field: 'append_log',\n          artifact_id: existingArtifact.artifact_id,\n          artifact_type: existingArtifact.artifact_type,\n          hint: 'Remove append_log from content payload. append_log is managed exclusively by the content_append system (Branch 3).',\n        },\n      },\n    },\n  }];\n}\n\n// Build the spine patch object\nconst patch = {};\n\n// Spine fields (title, summary, priority)\nif ('title' in spineFields) patch.title = spineFields.title;\nif ('summary' in spineFields) patch.summary = spineFields.summary;\nif ('priority' in spineFields) patch.priority = spineFields.priority;\nif ('parent_artifact_id' in spineFields) patch.parent_artifact_id = spineFields.parent_artifact_id;\n\n// ==========================================================================\n// T140 B2 L3: Replace mode \u2014 bypass merge completely\n// T140 B2 L1: Merge mode \u2014 deterministic deep merge\n// T140 B2 L4: Preserve existing append_log after merge or replace\n// ==========================================================================\nif (contentUpdate) {\n  // Safety: parse existing content if stored as string (double-serialization recovery)\n  let existingContent = existingArtifact.content || {};\n  if (typeof existingContent === 'string') {\n    try { existingContent = JSON.parse(existingContent); } catch (e) { existingContent = {}; }\n  }\n\n  // Capture existing append_log before any mutation\n  const existingAppendLog = existingContent.append_log ?? null;\n\n  if (contentMode === 'replace') {\n    // L3: Full replacement \u2014 bypass merge completely\n    patch.content = { ...contentUpdate };\n  } else {\n    // L1+L2: Deterministic deep merge (objects recursive, arrays replace)\n    patch.content = deepMerge(existingContent, contentUpdate);\n  }\n\n  // L4: Restore append_log if it existed (protected from both merge and replace)\n  if (existingAppendLog !== null) {\n    patch.content.append_log = existingAppendLog;\n  }\n}\n\n// Tag merge (if mixed mode)\nlet tagChanges = null;\nif (tags) {\n  const currentTags = existingArtifact.tags || [];\n  const addTags = tags.add || [];\n  const removeTags = tags.remove || [];\n\n  let merged = currentTags.filter(t => !removeTags.includes(t));\n  for (const t of addTags) {\n    if (!merged.includes(t)) merged.push(t);\n  }\n\n  patch.tags = JSON.stringify(merged);\n  tagChanges = {\n    added: addTags.filter(t => !currentTags.includes(t)),\n    removed: removeTags.filter(t => currentTags.includes(t)),\n    final: merged,\n  };\n}\n\n// Version increment (always)\npatch.version = currentVersion + 1;\n\nreturn [{\n  json: {\n    artifact_id: existingArtifact.artifact_id,\n    workspace_id: existingArtifact.workspace_id,\n    artifact_type: existingArtifact.artifact_type,\n    current_version: currentVersion,\n    _spine_patch: patch,\n    _tag_changes: tagChanges,\n    _update_mode: item._update_mode,\n    _gw_debug: item._gw_debug,\n    gw_action: item.gw_action,\n    gw_workspace_id: item.gw_workspace_id,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f4bfc41a-5889-4d45-bbb2-ff1368b31811",
      "name": "NQxb_Artifact_Update_v1__Compute_Mixed_Spine_Update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._spine_patch) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "cb119d58-30a9-4325-a9fa-de6960335ba1",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Mixed_Spine",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Mixed_Ack\n// T87: Terminal acknowledgment for spine_only and mixed update modes\n\nconst item = $json;\n\n// PostgREST returns array with updated row via Prefer: return=representation\n// But n8n HTTP Request may unwrap it. Handle both cases.\nconst updated = Array.isArray(item) ? item[0] : item;\n\nconst result = {\n  ok: true,\n  operation: \"MIXED_UPDATE\",\n  artifact_id: updated.artifact_id ?? item.artifact_id,\n  workspace_id: updated.workspace_id ?? item.workspace_id,\n  artifact_type: updated.artifact_type ?? item.artifact_type,\n  version: updated.version ?? null,\n  _update_mode: item._update_mode ?? \"mixed\",\n};\n\n// Include tag changes if this was a mixed update\nif (item._tag_changes) {\n  result._tag_changes = item._tag_changes;\n}\n\n// Include spine fields that were updated\nif (item._spine_patch) {\n  const patchKeys = Object.keys(item._spine_patch).filter(k => k !== 'version' && k !== 'tags');\n  if (patchKeys.length > 0) {\n    result._spine_fields_updated = patchKeys;\n  }\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "9c51f32e-03c1-49fb-9599-2d6ec94f3c73",
      "name": "NQxb_Artifact_Update_v1__Return_Mixed_Ack"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "content-error-check",
              "leftValue": "={{ $json._content_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "c0ed3ce7-e91d-4560-9184-33f39a9e86b4",
      "name": "NQxb_Artifact_Update_v1__Guard_Content_Error"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Validate_Content_Append\n// T140 B3 L1: content_append entry point + validation\n// T140 B4 L1: archive freeze\n// T140 B4 L3: append limit (100 entries)\n// T140 B3 L4: append metadata pre-validation\n//\n// Checks:\n// 1. Artifact type must be immutable (snapshot, journal, restart)\n// 2. content_append must contain entries array\n// 3. Each entry must be a non-null object\n// 4. No nested append_log injection (recursive check)\n\nconst item = $json;\nconst normalizeNode = item._normalized_request;\nconst existing = item._existing_artifact;\nconst artifact_type = item.artifact_type;\nconst contentAppend = normalizeNode.content_append || null;\n\n// 1. Type gate: ONLY immutable types\nconst ALLOWED_TYPES = ['snapshot', 'journal', 'restart'];\nif (!ALLOWED_TYPES.includes(artifact_type)) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'CONTENT_APPEND_NOT_ALLOWED',\n        message: \"content_append is only available for immutable artifact types. Type '\" + artifact_type + \"' does not support append.\",\n        details: {\n          artifact_id: item.artifact_id,\n          artifact_type: artifact_type,\n          allowed_types: ALLOWED_TYPES,\n          hint: 'Use content field with content_mode for mutable types.',\n        },\n      },\n    },\n  }];\n}\n\n\n// T140 B4 L1: Archive freeze for content_append\nif (existing.lifecycle_status === 'archive') {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'ARCHIVE_FROZEN',\n        message: \"Archived artifacts are fully immutable. Content append operations are not permitted.\",\n        details: {\n          artifact_id: item.artifact_id,\n          artifact_type: artifact_type,\n          lifecycle_status: 'archive',\n          operation: 'content_append',\n          hint: 'Archived artifacts are read-only historical records. No append operations are allowed.',\n        },\n      },\n    },\n  }];\n}\n\n// T140 B4 L3: Append limit enforcement (100 entries max)\nconst MAX_APPEND_ENTRIES = 100;\nlet _existingContent = existing.content || {};\nif (typeof _existingContent === 'string') {\n  try { _existingContent = JSON.parse(_existingContent); } catch (e) { _existingContent = {}; }\n}\nconst currentAppendCount = Array.isArray(_existingContent.append_log) ? _existingContent.append_log.length : 0;\nconst incomingCount = contentAppend && Array.isArray(contentAppend.entries) ? contentAppend.entries.length : 0;\nif (currentAppendCount + incomingCount > MAX_APPEND_ENTRIES) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'APPEND_LIMIT_EXCEEDED',\n        message: 'Append operation would exceed maximum append_log entry count (' + MAX_APPEND_ENTRIES + ').',\n        details: {\n          artifact_id: item.artifact_id,\n          artifact_type: artifact_type,\n          current_entries: currentAppendCount,\n          incoming_entries: incomingCount,\n          max_entries: MAX_APPEND_ENTRIES,\n          hint: 'Reduce the number of entries or create a new artifact.',\n        },\n      },\n    },\n  }];\n}\n\n// 2. Payload structure: must have entries array\nif (!contentAppend || !Array.isArray(contentAppend.entries) || contentAppend.entries.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'VALIDATION_ERROR',\n        message: 'content_append must include a non-empty entries array.',\n        details: {\n          artifact_id: item.artifact_id,\n          artifact_type: artifact_type,\n          hint: 'Provide content_append: { entries: [{ ... }, ...] }',\n        },\n      },\n    },\n  }];\n}\n\n// 3. Each entry must be a non-null object\nfor (let i = 0; i < contentAppend.entries.length; i++) {\n  const entry = contentAppend.entries[i];\n  if (!entry || typeof entry !== 'object' || Array.isArray(entry)) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'VALIDATION_ERROR',\n          message: 'Each entry in content_append.entries must be a non-null object. Entry at index ' + i + ' is invalid.',\n          details: {\n            artifact_id: item.artifact_id,\n            index: i,\n            received_type: entry === null ? 'null' : typeof entry,\n          },\n        },\n      },\n    }];\n  }\n}\n\n// 4. Nested append_log injection guard (recursive)\nfunction containsAppendLog(obj, path) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const key of Object.keys(obj)) {\n    const currentPath = path ? path + '.' + key : key;\n    if (key === 'append_log') return currentPath;\n    if (typeof obj[key] === 'object' && obj[key] !== null && !Array.isArray(obj[key])) {\n      const found = containsAppendLog(obj[key], currentPath);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nfor (let i = 0; i < contentAppend.entries.length; i++) {\n  const injectionPath = containsAppendLog(contentAppend.entries[i], 'entries[' + i + ']');\n  if (injectionPath) {\n    return [{\n      json: {\n        ok: false,\n        _gw_route: 'error',\n        error: {\n          code: 'RESERVED_NAMESPACE',\n          message: \"Field 'append_log' is a reserved system namespace and cannot appear in append entries.\",\n          details: {\n            artifact_id: item.artifact_id,\n            location: injectionPath,\n            hint: 'Remove append_log from entry payload. append_log is managed by the system.',\n          },\n        },\n      },\n    }];\n  }\n}\n\n// Validation passed \u2014 forward everything\nreturn [{ json: { ...item, ok: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        320
      ],
      "id": "8832990a-efb4-4f7a-8db8-116bad483ea5",
      "name": "NQxb_Artifact_Update_v1__Validate_Content_Append"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "append-validation-error",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        320
      ],
      "id": "e7f5393b-3e0e-48bc-86df-290dea2d07cd",
      "name": "NQxb_Artifact_Update_v1__Guard_Append_Validation"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Compute_Content_Append\n// T140 B3 L2: append_log initialization & structure\n// T140 B3 L3: append operation execution\n// T140 B3 L4: append metadata enforcement\n//\n// Atomic: read existing \u2192 init append_log \u2192 stamp entries \u2192 build patch\n\nconst item = $json;\nconst normalizeNode = item._normalized_request;\nconst existing = item._existing_artifact;\nconst contentAppend = normalizeNode.content_append;\nconst entries = contentAppend.entries;\nconst currentVersion = existing.version ?? 0;\n\n// L2: Parse existing content (double-serialization recovery)\nlet existingContent = existing.content || {};\nif (typeof existingContent === 'string') {\n  try { existingContent = JSON.parse(existingContent); } catch (e) { existingContent = {}; }\n}\n\n// L2: Initialize append_log as empty array if missing\nif (!Array.isArray(existingContent.append_log)) {\n  existingContent.append_log = [];\n}\n\n// L3+L4: Stamp each entry with server metadata and append\nconst serverTimestamp = new Date().toISOString();\n\nconst stampedEntries = entries.map((entry, i) => ({\n  ...entry,\n  _meta: {\n    timestamp: serverTimestamp,\n    actor: entry.actor || 'system',\n    index: existingContent.append_log.length + i,\n  },\n}));\n\n// L3: Append to existing (preserve order, never reorder)\nconst updatedAppendLog = [...existingContent.append_log, ...stampedEntries];\n\n// Build full content with updated append_log\nconst updatedContent = { ...existingContent, append_log: updatedAppendLog };\n\n// Build spine patch (atomic single write)\nconst patch = {\n  content: updatedContent,\n  version: currentVersion + 1,\n};\n\nreturn [{\n  json: {\n    artifact_id: existing.artifact_id,\n    workspace_id: existing.workspace_id,\n    artifact_type: existing.artifact_type,\n    current_version: currentVersion,\n    _spine_patch: patch,\n    _append_debug: {\n      entries_appended: stampedEntries.length,\n      total_entries: updatedAppendLog.length,\n      server_timestamp: serverTimestamp,\n    },\n    gw_action: item.gw_action,\n    gw_workspace_id: item.gw_workspace_id,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        400
      ],
      "id": "ab759e79-a556-4352-a214-98402ca525d9",
      "name": "NQxb_Artifact_Update_v1__Compute_Content_Append"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://npymhacpmxdnkqdzgxll.supabase.co/rest/v1/qxb_artifact?artifact_id=eq.{{ $json.artifact_id }}&workspace_id=eq.{{ $json.workspace_id }}&version=eq.{{ $json.current_version }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._spine_patch) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        400
      ],
      "id": "e160fc49-83ba-4434-a161-b4e36418150f",
      "name": "NQxb_Artifact_Update_v1__DB_Update_Content_Append",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "n4R4JdOIV9zrCGIT",
          "name": "Qwrk Supabase \u2013 Kernel v1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Artifact_Update_v1__Return_Content_Append_Ack\n// T140 B3: Terminal acknowledgment for content_append operations\n\nconst patchResult = $json;\nconst compute = $node['NQxb_Artifact_Update_v1__Compute_Content_Append'].json;\n\n// Concurrency check: if PATCH returned empty (version mismatch), report error\nif (!patchResult || !patchResult.artifact_id) {\n  return [{\n    json: {\n      ok: false,\n      _gw_route: 'error',\n      error: {\n        code: 'CONCURRENCY_CONFLICT',\n        message: 'Artifact was modified by another operation. Retry with fresh version.',\n        details: {\n          artifact_id: compute.artifact_id,\n          artifact_type: compute.artifact_type,\n          expected_version: compute.current_version,\n          hint: 'Re-fetch the artifact and retry the content_append operation.',\n        },\n      },\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    gw_action: 'artifact.update',\n    operation: 'CONTENT_APPEND',\n    artifact_id: patchResult.artifact_id,\n    artifact_type: patchResult.artifact_type,\n    gw_workspace_id: patchResult.workspace_id,\n    version: patchResult.version,\n    _append_result: compute._append_debug,\n    _kgb: {\n      status: 'CONTENT_APPEND_CONFIRMED',\n      note: 'Entries appended to append_log. Version incremented. Original content preserved.',\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        400
      ],
      "id": "8f825305-6445-4c9e-b799-695dffb0f283",
      "name": "NQxb_Artifact_Update_v1__Return_Content_Append_Ack"
    }
  ],
  "pinData": {},
  "connections": {
    "NQxb_Artifact_Update_v1__In": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Validate_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Validate_Request": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Error_ShortCircuit": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Lookup_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Lookup_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Type_Registry_Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Type_Registry_Guard": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Type_Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Type_Registry": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Fetch_Existing_Spine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Fetch_Existing_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Detect_Semantic_Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Check_Mutability_Rules": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Mutability_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Mutability_Result": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Update_Mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Update_Mode": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Compute_Tag_Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Parent_Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Noop_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Validate_Content_Append",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Compute_Mixed_Spine_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Compute_Mixed_Spine_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Type_For_Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Compute_Tag_Merge": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Spine_Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Spine_Tags": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Tags_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Parent_Check": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Children",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Dependency_Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Children": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Children_Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Children_Complete": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Children_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Children_Result": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Spine_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Spine_Fields": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Spine_Update_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Type_For_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Unimplemented_Type_Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Unhandled_Type_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Project_Extension_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Project_Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Project_Extension": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Spine_Version_Increment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Spine_Version_Increment": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Increment_Spine_Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Increment_Spine_Version": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Update_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Dependency_Check": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Dependencies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Query_Incomplete_Dependencies": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Dependencies_Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Dependencies_Complete": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Dependencies_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Dependencies_Result": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Spine_Field_Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__RPC_Update_Semantic_Type": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Semantic_Type_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Detect_Semantic_Route": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Semantic_Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Semantic_Route": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Prepare_Resolver_Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Check_Mutability_Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Prepare_Resolver_Input": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Call_Semantic_Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Call_Semantic_Resolver": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Inject_Resolved_For_RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Inject_Resolved_For_RPC": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Assert_Semantic_UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Assert_Semantic_UUID": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Switch_Assert_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Switch_Assert_Result": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__RPC_Update_Semantic_Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Compute_Mixed_Spine_Update": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Content_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Mixed_Spine": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Mixed_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Content_Error": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Mixed_Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Validate_Content_Append": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Guard_Append_Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Guard_Append_Validation": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Compute_Content_Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__Compute_Content_Append": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__DB_Update_Content_Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Artifact_Update_v1__DB_Update_Content_Append": {
      "main": [
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Content_Append_Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Artifact_Update_v1__Return_Error_Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b11acd5-de3d-4eae-af86-ea83077b55cf",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "xpf2uHEOyg2t0DcX",
  "tags": []
}