docs/workflows/NQxb_Gateway_v1.json
{
  "name": "NQxb_Gateway_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v1",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        192
      ],
      "id": "3b9fb105-5498-4a05-adbd-dc6bf6f96422",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "fe50d8cb-3789-49d9-9fad-436279cb8e54",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request\n// Canonicalize inbound request so downstream nodes always use top-level fields.\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector\n// Plus \"request echoes\" that survive later DB row replacement:\n//   $json.req_artifact_type, $json.req_artifact_id\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// n8n Webhook often provides parsed JSON under raw.body\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// normalize helper\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\n// Build canonical contract fields\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"n8n.body\" : \"flat\",\n  has_authorization: !!(raw.headers?.authorization || raw.headers?.Authorization),\n  request_method: raw.method ?? null,\n  request_url: raw.url ?? null,\n};\n\n// ✅ PASS-THROUGH: keep ALL original request fields, but enforce canonical keys\nconst out = {\n  ...req,\n  ...canonical, // canonical overwrites if any collision\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        192
      ],
      "id": "8cdc4c9e-a31e-4002-a45b-11430367b8ba",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly\n// Combined: envelope validation + allow-lists + MVP Mode owner-only enforcement (workspace lock)\n//\n// Output contract:\n// - If blocked: { ok:false, error:{code,message,details}, _gw_route:\"error\", ... }\n// - If allowed: passes through the *entire* canonical request (do NOT strip fields) + { ok:true, _gw_route:\"ok\" }\n\nconst OWNER_WORKSPACE_ID = \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\";\n\nconst ACTION_ALLOWLIST = new Set([\"artifact.query\", \"artifact.list\", \"artifact.save\"]);\nconst TYPE_ALLOWLIST = new Set([\"project\", \"journal\", \"restart\", \"snapshot\"]);\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  // Preserve as much context as possible for debugging\n  return [\n    {\n      json: {\n        ok: false,\n        error: { code, message, details },\n        _gw_route: \"error\",\n        // preserve full input for inspection (safe in MVP internal use)\n        incoming: $json ?? {},\n        // preserve debug context if present\n        _gw_debug: $json?._gw_debug ?? undefined,\n        // best-effort echoes\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n      },\n    },\n  ];\n}\n\n// ----- Basic shape checks -----\nconst gw_action = $json?.gw_action;\nconst gw_workspace_id = $json?.gw_workspace_id;\nconst artifact_type = $json?.artifact_type;\nconst artifact_id = $json?.artifact_id;\nconst selector = asObj($json?.selector);\n\n// Required: gw_action + workspace_id\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\nif (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_workspace_id\", {\n    expected: \"uuid string\",\n    got: typeof gw_workspace_id,\n  });\n}\n\n// Allow-list: actions\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n// MVP owner-only enforcement (workspace lock)\nif (gw_workspace_id !== OWNER_WORKSPACE_ID) {\n  return fail(\"WORKSPACE_FORBIDDEN\", \"Workspace not permitted in MVP owner-only mode\", {\n    gw_workspace_id,\n    allowed_workspace_id: OWNER_WORKSPACE_ID,\n  });\n}\n\n// Action-specific validation\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.query\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.query\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n}\n\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.list\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  // Optional selector validation (minimal)\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// NOTE: For artifact.save we intentionally DO NOT require artifact_type/artifact_id here,\n// because Save_v1 performs detailed validation for INSERT vs UPDATE and type-specific rules.\n\n// Pass-through (allowed) — DO NOT STRIP FIELDS\n// Keep EVERYTHING from Normalize (owner_user_id/title/summary/extension/etc.)\n// and just add ok/_gw_route while enforcing contract keys.\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n      ok: true,\n      _gw_route: \"ok\",\n\n      // enforce canonical contract fields\n      gw_action,\n      gw_workspace_id,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        192
      ],
      "id": "5492634f-81c9-4310-badc-966f1dbda39c",
      "name": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8153fa85-e2a0-4b7f-977a-19a99e9ed8f7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08e622c7-fb31-40c9-847d-afb5dad39973",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ],
      "id": "ac91d25c-4c82-46e4-808c-d1f1e8f63cbe",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "c5001e3c-0b1a-451e-acde-af0c77b5eb63",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52ad343d-e0ed-4932-a694-f97756475ce8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442dede-1a9a-4826-8021-bff39a110266",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "artifact-save-condition",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "78002694-9ffd-4336-95d4-43393362a37b",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  _gw_route: \"ok\",\n  data: {\n    artifact: $json\n  }\n}) }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1184,
        192
      ],
      "id": "dd86bd3c-23e6-407f-af36-fad5780d3242",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IsLBYjXJ5R2Djfrv",
          "mode": "list",
          "cachedResultUrl": "/workflow/IsLBYjXJ5R2Djfrv",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        -32
      ],
      "id": "a69ef530-ac85-47b8-8054-38ef2a72dc1f",
      "name": "Call 'NQxb_Artifact_Query_v1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wbg4ciSwUSSTrO3C",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wbg4ciSwUSSTrO3C",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        176
      ],
      "id": "3bca7760-df2a-460d-b499-dfe691dde17a",
      "name": "Call 'NQxb_Artifact_List_v1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g0zpVK0sesavO4JA",
          "mode": "list",
          "cachedResultUrl": "/workflow/g0zpVK0sesavO4JA",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        400
      ],
      "id": "035d1cec-73a0-49d1-a395-80e8dbea3df6",
      "name": "Call 'NQxb_Artifact_Save_v1'"
    },
    {
      "parameters": {
        "jsCode": "// Qxb_Gateway__FlattenWebhookBody\nconst j = $json ?? {};\n\n// n8n Webhook often provides real payload under `body`\nconst body =\n  (j.body && typeof j.body === 'object' && !Array.isArray(j.body)) ? j.body : null;\n\n// Merge: body fields win over wrapper fields\nconst merged = body ? { ...j, ...body } : { ...j };\n\n// Optional: remove wrapper to prevent confusion downstream\nif (merged.body && merged.body === body) delete merged.body;\n\nreturn [{ json: merged }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        368
      ],
      "id": "68ec56ce-b4bb-4b5c-b038-ae3fb404be8f",
      "name": "merge stuff"
    }
  ],
  "pinData": {
    "NQxb_Gateway_v1__Webhook_In": [
      {
        "json": {
          "gw_action": "artifact.save",
          "gw_workspace_id": "be0d3a48-c764-44f9-90c8-e846d9dbbd0a",
          "owner_user_id": "c52c7a57-74ad-433d-a07c-4dcac1778672",
          "artifact_type": "restart",
          "title": "System Restart — Gateway Test",
          "summary": "Gateway test: restart INSERT through Save workflow.",
          "tags": [],
          "content": {},
          "extension": {
            "payload": {
              "kind": "gateway_test",
              "note": "Restart payload must be an object; this confirms validation + DB write."
            }
          }
        }
      }
    ]
  },
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Artifact_List_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge stuff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_List_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge stuff": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6dd3a3ba-4853-4a08-ab9a-cb358d601a0f",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "K3tvlcy7Ng4KsMFT",
  "tags": []
}