docs/workflows/NQxb_Gateway_v1__Phase1_BearerAuth_Dev.json
{
  "name": "NQxb_Gateway_v1__Phase1_BearerAuth_Dev",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/nqxb/gateway/v1-dev",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1100,
        192
      ],
      "id": "webhook-phase1-dev",
      "name": "NQxb_Gateway_v1__Webhook_In",
      "webhookId": "phase1-bearer-auth-dev"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Normalize_Request (Phase 1 - Bearer Auth Support)\n// Canonicalize inbound request + extract auth context.\n//\n// Output contract (stable):\n//   $json.gw_action, $json.gw_workspace_id, $json.artifact_type, $json.artifact_id, $json.selector\n// Plus \"request echoes\" that survive later DB row replacement:\n//   $json.req_artifact_type, $json.req_artifact_id\n// Auth context (new in Phase 1):\n//   $json._auth_method ('bearer' | 'basic' | 'none')\n//   $json._bearer_token (if bearer)\n//   $json._basic_credentials (if basic)\n//   $json._client_owner_user_id (legacy pass-through)\n// Non-contract debug:\n//   $json._gw_debug\n\nconst raw = $json ?? {};\n\n// n8n Webhook often provides parsed JSON under raw.body\nconst body =\n  raw.body && typeof raw.body === \"object\" && !Array.isArray(raw.body)\n    ? raw.body\n    : null;\n\n// Prefer parsed body when present; otherwise treat raw as already-flat\nconst req = body ?? raw;\n\n// Get headers (n8n provides these at top level)\nconst headers = raw.headers || {};\n\n// ============================================================\n// AUTH EXTRACTION (Phase 1 Addition)\n// ============================================================\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nlet authMethod = 'none';\nlet bearerToken = null;\nlet basicCredentials = null;\n\nif (authHeader.startsWith('Bearer ')) {\n  authMethod = 'bearer';\n  bearerToken = authHeader.slice(7).trim();\n} else if (authHeader.startsWith('Basic ')) {\n  authMethod = 'basic';\n  basicCredentials = authHeader.slice(6).trim();\n}\n\n// ============================================================\n// NORMALIZE HELPER\n// ============================================================\nconst asObj = (v) =>\n  v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n\n// Build canonical contract fields\nconst canonical = {\n  gw_action: req.gw_action ?? null,\n  gw_workspace_id: req.gw_workspace_id ?? null,\n  artifact_type: req.artifact_type ?? null,\n  artifact_id: req.artifact_id ?? null,\n  selector: asObj(req.selector),\n\n  // IMPORTANT: freeze request intent so it survives later nodes that overwrite $json\n  req_artifact_type: req.artifact_type ?? null,\n  req_artifact_id: req.artifact_id ?? null,\n};\n\n// Auth context (Phase 1)\nconst authContext = {\n  _auth_method: authMethod,\n  _bearer_token: bearerToken,\n  _basic_credentials: basicCredentials,\n  _client_owner_user_id: req.owner_user_id ?? null,\n};\n\n// Minimal debug context (non-contract)\ncanonical._gw_debug = {\n  received_shape: body ? \"n8n.body\" : \"flat\",\n  has_authorization: !!authHeader,\n  auth_method_detected: authMethod,\n  request_method: raw.method ?? null,\n  request_url: raw.url ?? null,\n};\n\n// ✅ PASS-THROUGH: keep ALL original request fields, but enforce canonical keys\nconst out = {\n  ...req,\n  ...canonical,\n  ...authContext,\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -876,
        192
      ],
      "id": "normalize-phase1",
      "name": "NQxb_Gateway_v1__Normalize_Request"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Auth_Resolve_User (Phase 1 - NEW NODE)\n// Validate auth and prepare for user resolution.\n// - Bearer: mark for Supabase validation\n// - Basic: validate credentials, use legacy client-supplied owner_user_id\n// - None: reject\n\nconst authMethod = $json._auth_method;\nconst bearerToken = $json._bearer_token;\nconst basicCredentials = $json._basic_credentials;\nconst clientOwnerId = $json._client_owner_user_id;\n\n// ============================================================\n// AUTH METHOD: BEARER (Chrome Extension path)\n// ============================================================\nif (authMethod === 'bearer') {\n  if (!bearerToken) {\n    return [{\n      json: {\n        ...$json,\n        _auth_ok: false,\n        _auth_error: {\n          code: 'AUTH_INVALID',\n          message: 'Bearer token is empty'\n        }\n      }\n    }];\n  }\n  \n  // Token validation happens in Supabase HTTP node\n  // Pass token forward for validation\n  return [{\n    json: {\n      ...$json,\n      _auth_ok: 'pending_supabase_validation',\n      _auth_method: 'bearer'\n    }\n  }];\n}\n\n// ============================================================\n// AUTH METHOD: BASIC (Telegram legacy path)\n// ============================================================\nif (authMethod === 'basic') {\n  // Validate Basic Auth credentials\n  const expectedUsername = 'qwrk-gateway';\n  \n  try {\n    const decoded = Buffer.from(basicCredentials, 'base64').toString('utf8');\n    const colonIndex = decoded.indexOf(':');\n    const username = colonIndex > 0 ? decoded.slice(0, colonIndex) : decoded;\n    \n    // Validate username matches (password check deferred for MVP)\n    if (username !== expectedUsername) {\n      return [{\n        json: {\n          ...$json,\n          _auth_ok: false,\n          _auth_error: {\n            code: 'AUTH_INVALID',\n            message: 'Invalid Basic Auth credentials'\n          }\n        }\n      }];\n    }\n    \n    // Legacy path: use client-supplied owner_user_id\n    // This is an acknowledged MVP backward-compat violation of the canonical spec\n    if (!clientOwnerId) {\n      return [{\n        json: {\n          ...$json,\n          _auth_ok: false,\n          _auth_error: {\n            code: 'AUTH_MISSING_USER',\n            message: 'Basic Auth requires owner_user_id in payload (legacy Telegram path)'\n          }\n        }\n      }];\n    }\n    \n    return [{\n      json: {\n        ...$json,\n        _auth_ok: true,\n        _auth_method: 'basic',\n        _resolved_user_id: clientOwnerId,\n        _auth_source: 'client_supplied_legacy'\n      }\n    }];\n    \n  } catch (e) {\n    return [{\n      json: {\n        ...$json,\n        _auth_ok: false,\n        _auth_error: {\n          code: 'AUTH_INVALID',\n          message: 'Malformed Basic Auth header'\n        }\n      }\n    }];\n  }\n}\n\n// ============================================================\n// NO AUTH PROVIDED\n// ============================================================\nreturn [{\n  json: {\n    ...$json,\n    _auth_ok: false,\n    _auth_error: {\n      code: 'AUTH_REQUIRED',\n      message: 'Authorization header required (Bearer or Basic)'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -652,
        192
      ],
      "id": "auth-resolve-user",
      "name": "NQxb_Gateway_v1__Auth_Resolve_User"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._auth_method }}",
                    "rightValue": "bearer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "auth-switch-bearer"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bearer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._auth_ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "auth-switch-basic-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "basic_ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._auth_ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "id": "auth-switch-error"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -428,
        192
      ],
      "id": "switch-auth-path",
      "name": "NQxb_Gateway_v1__Switch_Auth_Path"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://npymhacpmxdnkqdzgxll.supabase.co/auth/v1/user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._bearer_token }}"
            },
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApi.apiKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -204,
        -32
      ],
      "id": "supabase-validate-token",
      "name": "NQxb_Gateway_v1__Supabase_Validate_Token",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Anon Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Process_Supabase_Response (Phase 1 - NEW NODE)\n// Extract auth.uid from Supabase response, prepare for user lookup.\n\nconst supabaseResponse = $json;\nconst originalRequest = $('NQxb_Gateway_v1__Auth_Resolve_User').first().json;\n\n// Check if Supabase returned an error or no user\nif (supabaseResponse.error || supabaseResponse.statusCode >= 400 || !supabaseResponse.id) {\n  return [{\n    json: {\n      ...originalRequest,\n      _auth_ok: false,\n      _auth_error: {\n        code: 'AUTH_TOKEN_INVALID',\n        message: supabaseResponse.error?.message || supabaseResponse.message || 'Token validation failed',\n        details: {\n          supabase_error: supabaseResponse.error || supabaseResponse.message || 'No user ID returned',\n          status_code: supabaseResponse.statusCode || null\n        }\n      }\n    }\n  }];\n}\n\n// Extract auth.uid (Supabase user ID)\nconst supabaseAuthId = supabaseResponse.id;\nconst email = supabaseResponse.email || null;\n\nreturn [{\n  json: {\n    ...originalRequest,\n    _auth_ok: 'pending_user_lookup',\n    _supabase_auth_id: supabaseAuthId,\n    _supabase_email: email\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -32
      ],
      "id": "process-supabase-response",
      "name": "NQxb_Gateway_v1__Process_Supabase_Response"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "qxb_user",
          "mode": "list",
          "cachedResultName": "qxb_user"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=supabase_auth_id=eq.{{ $json._supabase_auth_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1.2,
      "position": [
        244,
        -32
      ],
      "id": "lookup-qxb-user",
      "name": "NQxb_Gateway_v1__Lookup_Qxb_User",
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_ME",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Finalize_Auth (Phase 1 - NEW NODE)\n// Finalize resolved user_id or return auth error.\n\nconst userLookup = $json;\nconst authContext = $('NQxb_Gateway_v1__Process_Supabase_Response').first().json;\n\n// Check if user was found\nif (!userLookup || !userLookup.user_id) {\n  return [{\n    json: {\n      ...authContext,\n      _auth_ok: false,\n      _auth_error: {\n        code: 'AUTH_USER_NOT_FOUND',\n        message: 'Authenticated Supabase user has no Qwrk account',\n        details: {\n          supabase_auth_id: authContext._supabase_auth_id\n        }\n      }\n    }\n  }];\n}\n\n// Success: user resolved from bearer token\nreturn [{\n  json: {\n    ...authContext,\n    _auth_ok: true,\n    _auth_method: 'bearer',\n    _resolved_user_id: userLookup.user_id,\n    _resolved_display_name: userLookup.display_name || null,\n    _auth_source: 'supabase_jwt'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        468,
        -32
      ],
      "id": "finalize-auth",
      "name": "NQxb_Gateway_v1__Finalize_Auth"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._auth_ok }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "finalize-ok"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._auth_ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "id": "finalize-error"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        692,
        -32
      ],
      "id": "switch-finalize-result",
      "name": "NQxb_Gateway_v1__Switch_Finalize_Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: false,\n  _gw_route: \"error\",\n  error: $json._auth_error\n}) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -204,
        400
      ],
      "id": "auth-error-response",
      "name": "NQxb_Gateway_v1__Auth_Error_Response"
    },
    {
      "parameters": {
        "jsCode": "// NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly (Phase 1 - Updated)\n// Combined: envelope validation + allow-lists + MVP Mode owner-only enforcement (workspace lock)\n// Phase 1 Update: Uses server-resolved _resolved_user_id instead of client-supplied owner_user_id\n//\n// Output contract:\n// - If blocked: { ok:false, error:{code,message,details}, _gw_route:\"error\", ... }\n// - If allowed: passes through the *entire* canonical request + { ok:true, _gw_route:\"ok\" }\n\nconst OWNER_WORKSPACE_ID = \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\";\n\nconst ACTION_ALLOWLIST = new Set([\"artifact.query\", \"artifact.list\", \"artifact.save\"]);\nconst TYPE_ALLOWLIST = new Set([\"project\", \"journal\", \"restart\", \"snapshot\"]);\n\nfunction asObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v) ? v : {};\n}\n\nfunction fail(code, message, details = {}) {\n  return [\n    {\n      json: {\n        ok: false,\n        error: { code, message, details },\n        _gw_route: \"error\",\n        incoming: $json ?? {},\n        _gw_debug: $json?._gw_debug ?? undefined,\n        gw_action: $json?.gw_action ?? null,\n        gw_workspace_id: $json?.gw_workspace_id ?? null,\n        artifact_type: $json?.artifact_type ?? null,\n        artifact_id: $json?.artifact_id ?? null,\n        selector: asObj($json?.selector),\n      },\n    },\n  ];\n}\n\n// ============================================================\n// PHASE 1: Verify resolved user identity\n// ============================================================\nconst resolvedUserId = $json?._resolved_user_id;\nconst authMethod = $json?._auth_method;\nconst authSource = $json?._auth_source;\n\nif (!resolvedUserId) {\n  return fail(\"AUTH_NO_USER\", \"User identity could not be resolved\", {\n    auth_method: authMethod,\n    auth_source: authSource\n  });\n}\n\n// ----- Basic shape checks -----\nconst gw_action = $json?.gw_action;\nconst gw_workspace_id = $json?.gw_workspace_id;\nconst artifact_type = $json?.artifact_type;\nconst artifact_id = $json?.artifact_id;\nconst selector = asObj($json?.selector);\n\n// Required: gw_action + workspace_id\nif (!gw_action || typeof gw_action !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_action\", {\n    expected: \"string\",\n    got: typeof gw_action,\n  });\n}\nif (!gw_workspace_id || typeof gw_workspace_id !== \"string\") {\n  return fail(\"VALIDATION_ERROR\", \"Missing or invalid gw_workspace_id\", {\n    expected: \"uuid string\",\n    got: typeof gw_workspace_id,\n  });\n}\n\n// Allow-list: actions\nif (!ACTION_ALLOWLIST.has(gw_action)) {\n  return fail(\"ACTION_NOT_ALLOWED\", \"gw_action not allowed\", {\n    gw_action,\n    allowed: Array.from(ACTION_ALLOWLIST),\n  });\n}\n\n// MVP owner-only enforcement (workspace lock)\nif (gw_workspace_id !== OWNER_WORKSPACE_ID) {\n  return fail(\"WORKSPACE_FORBIDDEN\", \"Workspace not permitted in MVP owner-only mode\", {\n    gw_workspace_id,\n    allowed_workspace_id: OWNER_WORKSPACE_ID,\n  });\n}\n\n// Action-specific validation\nif (gw_action === \"artifact.query\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.query\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (!artifact_id || typeof artifact_id !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_id for artifact.query\", {\n      expected: \"uuid string\",\n      got: typeof artifact_id,\n    });\n  }\n}\n\nif (gw_action === \"artifact.list\") {\n  if (!artifact_type || typeof artifact_type !== \"string\") {\n    return fail(\"VALIDATION_ERROR\", \"Missing or invalid artifact_type for artifact.list\", {\n      expected: \"string\",\n      got: typeof artifact_type,\n    });\n  }\n  if (!TYPE_ALLOWLIST.has(artifact_type)) {\n    return fail(\"ARTIFACT_TYPE_NOT_ALLOWED\", \"artifact_type not allowed\", {\n      artifact_type,\n      allowed: Array.from(TYPE_ALLOWLIST),\n    });\n  }\n  if (selector.limit !== undefined) {\n    const n = Number(selector.limit);\n    if (!Number.isFinite(n) || n < 1 || n > 100) {\n      return fail(\"VALIDATION_ERROR\", \"selector.limit out of range (1-100)\", {\n        limit: selector.limit,\n      });\n    }\n  }\n}\n\n// ============================================================\n// PHASE 1: Use server-resolved user identity\n// ============================================================\n// Override any client-supplied owner_user_id with server-resolved value\n// For bearer auth: this enforces server-derived identity\n// For basic auth legacy: this passes through the client-supplied value (acknowledged violation)\n\nreturn [\n  {\n    json: {\n      ...($json ?? {}),\n      ok: true,\n      _gw_route: \"ok\",\n\n      // enforce canonical contract fields\n      gw_action,\n      gw_workspace_id,\n      artifact_type: artifact_type ?? null,\n      artifact_id: artifact_id ?? null,\n      selector,\n\n      // PHASE 1: Server-resolved owner_user_id\n      owner_user_id: resolvedUserId,\n      \n      // Auth context for downstream logging/debugging\n      _auth_method: authMethod,\n      _auth_source: authSource,\n      _resolved_user_id: resolvedUserId,\n\n      _gw_debug: $json?._gw_debug ?? undefined,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        916,
        192
      ],
      "id": "gatekeeper-phase1",
      "name": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-error"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-ok",
                    "leftValue": "={{$json._gw_route}}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1140,
        192
      ],
      "id": "switch-route-ok-error",
      "name": "NQxb_Gateway_v1__Switch_Route_OK_or_Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1364,
        0
      ],
      "id": "error-response",
      "name": "Error Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "action-query"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "action-list",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "action-save",
                    "leftValue": "={{ $json.gw_action }}",
                    "rightValue": "artifact.save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1364,
        208
      ],
      "id": "switch-action",
      "name": "NQxb_Gateway_v1__Switch_Action"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  _gw_route: \"ok\",\n  data: {\n    artifact: $json\n  }\n}) }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2548,
        192
      ],
      "id": "respond-success",
      "name": "NQxb_Gateway_v1__Respond_Query_Success"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IsLBYjXJ5R2Djfrv",
          "mode": "list",
          "cachedResultUrl": "/workflow/IsLBYjXJ5R2Djfrv",
          "cachedResultName": "NQxb_Artifact_Query_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2212,
        -32
      ],
      "id": "call-query",
      "name": "Call 'NQxb_Artifact_Query_v1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wbg4ciSwUSSTrO3C",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wbg4ciSwUSSTrO3C",
          "cachedResultName": "NQxb_Artifact_List_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2212,
        176
      ],
      "id": "call-list",
      "name": "Call 'NQxb_Artifact_List_v1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g0zpVK0sesavO4JA",
          "mode": "list",
          "cachedResultUrl": "/workflow/g0zpVK0sesavO4JA",
          "cachedResultName": "NQxb_Artifact_Save_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2212,
        400
      ],
      "id": "call-save",
      "name": "Call 'NQxb_Artifact_Save_v1'"
    },
    {
      "parameters": {
        "jsCode": "// Qxb_Gateway__FlattenWebhookBody\nconst j = $json ?? {};\n\n// n8n Webhook often provides real payload under `body`\nconst body =\n  (j.body && typeof j.body === 'object' && !Array.isArray(j.body)) ? j.body : null;\n\n// Merge: body fields win over wrapper fields\nconst merged = body ? { ...j, ...body } : { ...j };\n\n// Optional: remove wrapper to prevent confusion downstream\nif (merged.body && merged.body === body) delete merged.body;\n\nreturn [{ json: merged }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1668,
        368
      ],
      "id": "merge-stuff",
      "name": "merge stuff"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        692,
        192
      ],
      "id": "merge-auth-paths",
      "name": "NQxb_Gateway_v1__Merge_Auth_Paths"
    }
  ],
  "pinData": {},
  "connections": {
    "NQxb_Gateway_v1__Webhook_In": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Normalize_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Normalize_Request": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Auth_Resolve_User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Auth_Resolve_User": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Auth_Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Auth_Path": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Supabase_Validate_Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Auth_Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Auth_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Supabase_Validate_Token": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Process_Supabase_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Process_Supabase_Response": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Lookup_Qxb_User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Lookup_Qxb_User": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Finalize_Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Finalize_Auth": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Finalize_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Finalize_Result": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Merge_Auth_Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Auth_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Merge_Auth_Paths": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Gatekeeper_MVP_OwnerOnly": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Route_OK_or_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Route_OK_or_Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NQxb_Gateway_v1__Switch_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NQxb_Gateway_v1__Switch_Action": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Query_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NQxb_Artifact_List_v1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge stuff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Query_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_List_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NQxb_Artifact_Save_v1'": {
      "main": [
        [
          {
            "node": "NQxb_Gateway_v1__Respond_Query_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge stuff": {
      "main": [
        [
          {
            "node": "Call 'NQxb_Artifact_Save_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "phase1-bearer-auth-dev"
  },
  "tags": [
    {
      "name": "phase1-dev"
    }
  ]
}
