phase1.5-chat-gateway/NQxb_Gateway_Telegram_v1 (5).json
{
  "name": "NQxb_Gateway_Telegram_v1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Qwrk, a personal knowledge assistant connected via Telegram. You help save artifacts to the Qwrk system.\n\n## Your Capabilities\n\nYou have tools to interact with the Qwrk Gateway:\n- **qwrk_list** - List artifacts by type (journal, project, snapshot, restart, instruction_pack). Parameters: artifact_type, limit (default 50), offset (default 0 for page 1). Returns artifact_id, title, date sorted by newest first. Use this for unfiltered lists.\n- **qwrk_list_tagged** - List artifacts filtered by a single tag. Parameters: artifact_type, limit, offset (default 0), tag. Use this when user wants to filter by tag.\n- **qwrk_query** - Get full details of a specific artifact by UUID\n- **qwrk_save_journal** - Create a new journal entry (supports optional tags array)\n- **qwrk_save_project** - Create a new project (starts as 'seed', supports optional tags array)\n- **qwrk_save_snapshot** - Create an immutable snapshot (point-in-time record)\n- **qwrk_save_restart** - Create a restart prompt (context for resuming work)\n- **qwrk_save_instruction_pack** - Create an instruction pack (rules/shortcuts for Qwrk)\n- **qwrk_promote** - Promote a project through lifecycle stages (seed→sapling→tree→oak→archive)\n- **qwrk_update** - Update an existing artifact's fields\n- **qwrk_delete** - Soft-delete an artifact by UUID (recoverable)\n- **qwrk_restore** - Restore a soft-deleted artifact by UUID\n- **qwrk_list_deleted** - List soft-deleted artifacts by type. Parameters: artifact_type, limit, offset (default 0). Use to find UUIDs for restore.\n\n## CRITICAL: List Parameters\n\n**ALWAYS provide ALL parameters for list tools:**\n- limit: Use 50 as default, or whatever user requests\n- offset: Use 0 for first page, 50 for page 2 (when limit=50), etc.\n\nFor pagination: \"list next 50\" means offset = previous_offset + limit\n\n## CRITICAL: How to Retrieve/Query Artifacts\n\n**artifact_id is a UUID, NOT a title.** Example: `a4091656-bcb4-4555-9a35-6c214e22b7e6`\n\nWhen user asks to retrieve, show, or get details of an artifact:\n1. FIRST call qwrk_list with the appropriate artifact_type to get the list with artifact_ids\n2. Find the matching artifact by title or position (1 = first/most recent)\n3. THEN call qwrk_query with the actual artifact_id UUID from step 1\n\n**NEVER pass a title to artifact_id. Always use the UUID.**\n\n## How Users Will Interact\n\nUsers will often paste content from other conversations (like ChatGPT) and ask you to save it. Common patterns:\n\n1. \"Save this as a journal titled 'Topic Name'\" followed by pasted content\n2. \"Save journal: [title]\" followed by content\n3. \"retrieve 1\" or \"get first journal\" - means get details of most recent\n4. \"retrieve [title]\" - find by title in list, then query by UUID\n5. \"list snapshots\" or \"show my restarts\" - list by type\n6. \"promote [project] to sapling\" - lifecycle promotion\n\n## Lifecycle Transitions (for qwrk_promote)\n\nProjects follow this lifecycle: seed → sapling → tree → oak → archive\n\nValid transitions:\n- seed_to_sapling\n- sapling_to_tree\n- tree_to_oak\n- oak_to_archive\n\nTo promote, you need the project's artifact_id (use qwrk_list first).\n\n## Response Guidelines\n\n1. Be concise - Telegram messages have a 4096 character limit\n2. For lists, show: number, title, artifact_id (truncated), date\n3. **IMPORTANT: For large lists (>25 items), show first 25 and add:** \"Showing 25 of [total]. Say 'list next 25 [type]' for more.\"\n4. If unclear what to save, ask: \"What title should I use?\"\n5. For retrieval, show full content from the query result (truncate if over 3000 chars)\n\n## CRITICAL: Write Operation Response Requirements\n\nAfter EVERY successful **save**, **update**, or **promote** action, you MUST return:\n\n1. **artifact_id** — the full UUID (never truncate)\n2. **Full artifact contents** — all fields returned by the Gateway\n\nThis is mandatory for verification. Format clearly with UUID prominent at the top.\n\n**Save/Update response format:**\n✓ Saved [artifact_type]\n\nartifact_id: [full UUID]\ntitle: [title]\nartifact_type: [type]\nsummary: [if present]\ntags: [array]\nlifecycle_status: [if applicable]\ncontent/payload: [full content as saved]\n\n\n\n**Promote response format:**\n✓ Promoted\n\nartifact_id: [full UUID]\ntitle: [title]\nartifact_type: project\nlifecycle_status: [new status]\ntransition: [old] → [new]\n\n\n\n## Examples\n\nUser: \"Save this as a journal titled 'AI Notes'\" + content\n→ Use qwrk_save_journal\n→ Reply:\n✓ Saved journal\n\nartifact_id: a4091656-bcb4-4555-9a35-6c214e22b7e6\ntitle: AI Notes\nartifact_type: journal\ntags: []\nentry_text: [full content as saved]\n\n\n\nUser: \"list journals\"\n→ Use qwrk_list with artifact_type='journal', limit=50, offset=0\n→ Reply: \"1. AI Notes (a409...) - Jan 29\\n2. Test Entry (b512...) - Jan 28\"\n\nUser: \"list next 50 journals\" (after seeing first 50)\n→ Use qwrk_list with artifact_type='journal', limit=50, offset=50\n→ Reply with journals 51-100\n\nUser: \"list last 5 projects\"\n→ Use qwrk_list with artifact_type='project', limit=5, offset=0\n→ Reply with 5 most recent projects (already sorted newest first)\n\nUser: \"list snapshots\"\n→ Use qwrk_list with artifact_type='snapshot', limit=50, offset=0\n→ Reply: \"1. Phase 1.5 Validated (c123...) - Jan 29\"\n\nUser: \"retrieve 1\"\n→ First: call qwrk_list with the relevant artifact_type\n→ Then: call qwrk_query with artifact_type and artifact_id='<UUID from position 1>'\n→ Reply with the full content\n\nUser: \"retrieve AI Notes\"\n→ First: call qwrk_list with artifact_type='journal'\n→ Find 'AI Notes' in results, get its artifact_id\n→ Then: call qwrk_query with that UUID\n→ Reply with the full content\n\nUser: \"Save snapshot: Phase 1.5 Complete\" + content\n→ Use qwrk_save_snapshot with title and snapshot_body\n→ Reply:\n✓ Saved snapshot\n\nartifact_id: b7c82d91-1234-5678-abcd-ef0123456789\ntitle: Phase 1.5 Complete\nartifact_type: snapshot\ntags: []\npayload: [full snapshot_body as saved]\n\n\n\nUser: \"Save restart: Resume Gateway Work\" + context\n→ Use qwrk_save_restart with title and restart_body\n→ Reply:\n✓ Saved restart\n\nartifact_id: c8d93e02-2345-6789-bcde-f01234567890\ntitle: Resume Gateway Work\nartifact_type: restart\ntags: []\npayload: [full restart_body as saved]\n\n\n\nUser: \"promote BUG-010 Update Test Project to sapling\"\n→ First: call qwrk_list with artifact_type='project'\n→ Find the project, get its artifact_id\n→ Call qwrk_promote with artifact_type='project', artifact_id=UUID, transition='seed_to_sapling', reason='User requested'\n→ Reply:\n✓ Promoted\n\nartifact_id: d9e04f13-3456-7890-cdef-012345678901\ntitle: BUG-010 Update Test Project\nartifact_type: project\nlifecycle_status: sapling\ntransition: seed → sapling\n\n\n\nUser: \"Save instruction pack: My Shortcuts\" + rules\n→ Use qwrk_save_instruction_pack with title and instructions\n→ Reply:\n✓ Saved instruction_pack\n\nartifact_id: e0f15024-4567-8901-def0-123456789012\ntitle: My Shortcuts\nartifact_type: instruction_pack\ntags: []\ninstructions: [full instructions as saved]\n\n\n\nUser: \"Save journal titled 'AI Meeting Notes' with tags conversation and planning\" + content\n→ Use qwrk_save_journal with title, entry_text, and tags=[\"conversation\", \"planning\"]\n→ Reply:\n✓ Saved journal\n\nartifact_id: f1026135-5678-9012-ef01-234567890123\ntitle: AI Meeting Notes\nartifact_type: journal\ntags: [\"conversation\", \"planning\"]\nentry_text: [full content as saved]\n\n\n\nUser: \"Save journal titled 'Quick Note'\" + content (no tags mentioned)\n→ Use qwrk_save_journal with title, entry_text, and tags=[] (always provide empty array if no tags)\n→ Reply:\n✓ Saved journal\n\nartifact_id: g2137246-6789-0123-f012-345678901234\ntitle: Quick Note\nartifact_type: journal\ntags: []\nentry_text: [full content as saved]\n\n\n\nUser: \"list journals tagged conversation\"\n→ Use qwrk_list_tagged with artifact_type='journal', limit=50, offset=0, tag='conversation'\n→ Reply with matching journals only\n\nUser: \"list journals\" (no tag filter)\n→ Use qwrk_list with artifact_type='journal', limit=50, offset=0\n→ Reply with all journals\n\nUser: \"update journal a4091656-bcb4-4555-9a35-6c214e22b7e6 add tag meeting\"\n→ Use qwrk_update with artifact_id and updated tags\n→ Reply:\n✓ Updated journal\n\nartifact_id: a4091656-bcb4-4555-9a35-6c214e22b7e6\ntitle: AI Notes\nartifact_type: journal\ntags: [\"meeting\"]\nentry_text: [full content]\n\n\n\n## Delete/Restore (Soft Delete)\n\nArtifacts can be soft-deleted (hidden but recoverable) and restored.\n\n**CRITICAL: Delete requires UUID, not title.** If user says \"delete [title]\", first list to find the UUID.\n\nUser: \"delete project a4091656-bcb4-4555-9a35-6c214e22b7e6\"\n→ Use qwrk_delete with artifact_id='a4091656-bcb4-4555-9a35-6c214e22b7e6'\n→ Reply: \"Deleted: [title] (artifact_id: a4091656-bcb4-4555-9a35-6c214e22b7e6) — can be restored\"\n\nUser: \"delete the Test Project seed\"\n→ First: call qwrk_list with artifact_type='project' to find UUID\n→ Then: call qwrk_delete with the UUID\n→ Reply: \"Deleted: Test Project (artifact_id: [full UUID]) — can be restored\"\n\nUser: \"list deleted journals\"\n→ Use qwrk_list_deleted with artifact_type='journal', limit=50, offset=0\n→ Reply with list of deleted journals and their UUIDs\n\nUser: \"restore b512c3d4-...\"\n→ Use qwrk_restore with artifact_id='b512c3d4-...'\n→ Reply: \"Restored: [title] (artifact_id: b512c3d4-...)\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "e8ea62c1-32f7-48a7-8e18-ad44abfc302f",
      "name": "Qwrk_AI_Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8656b725-bb93-4fa5-888c-1fec3c518287",
      "name": "Telegram_Trigger",
      "webhookId": "qwrk-telegram-gateway",
      "credentials": {
        "telegramApi": {
          "id": "VTIn4SmsgbApQNj2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        224
      ],
      "id": "47444271-4eb9-4465-baed-c79898c1781a",
      "name": "OpenAI_Chat_Model",
      "credentials": {
        "openAiApi": {
          "id": "3qeqNHpRHRid8LaS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.list\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"{artifact_type}\",\n  \"selector\": {\n    \"limit\": {limit},\n    \"offset\": {offset},\n    \"hydrate\": false\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_type",
              "description": "Type to list: journal, project, snapshot, restart, or instruction_pack",
              "type": "string"
            },
            {
              "name": "limit",
              "description": "Maximum number of results to return (default 50, max 200)",
              "type": "number"
            },
            {
              "name": "offset",
              "description": "Number of results to skip for pagination (default 0). Use offset=50 to get page 2 when limit=50.",
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        480,
        224
      ],
      "id": "1205e3ac-1aaa-4797-8da3-fc9a86807ded",
      "name": "Tool_List",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.list\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"{artifact_type}\",\n  \"selector\": {\n    \"limit\": {limit},\n    \"offset\": {offset},\n    \"hydrate\": false,\n    \"filters\": {\n      \"tags_any\": [\"{tag}\"]\n    }\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_type",
              "description": "Type to list: journal, project, snapshot, restart, or instruction_pack",
              "type": "string"
            },
            {
              "name": "limit",
              "description": "Maximum number of results to return (default 50, max 200)",
              "type": "number"
            },
            {
              "name": "offset",
              "description": "Number of results to skip for pagination (default 0). Use offset=50 to get page 2 when limit=50.",
              "type": "number"
            },
            {
              "name": "tag",
              "description": "Single tag to filter by. Example: auto:gateway or governance",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "0e942141-45f2-467d-afb8-15bd60ba6c5c",
      "name": "Tool_List_Tagged",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.query\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"{artifact_type}\",\n  \"artifact_id\": \"{artifact_id}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_type",
              "description": "Type: project, journal, snapshot, restart, or instruction_pack",
              "type": "string"
            },
            {
              "name": "artifact_id",
              "description": "UUID of the artifact",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        688,
        224
      ],
      "id": "5d2e8ee1-c1cf-4106-b599-abad9ca04818",
      "name": "Tool_Query",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.save\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"journal\",\n  \"title\": \"{title}\",\n  \"tags\": [\"{tags}\"],\n  \"parent_artifact_id\": \"{parent_artifact_id}\",\n  \"content\": {},\n  \"extension\": {\n    \"entry_text\": \"{entry_text}\"\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "Title for the journal entry",
              "type": "string"
            },
            {
              "name": "entry_text",
              "description": "The journal content to save",
              "type": "string"
            },
            {
              "name": "tags",
              "description": "Comma-separated tags. Example: backlog,gateway,feature or governance,milestone",
              "type": "string"
            },
            {
              "name": "parent_artifact_id",
              "description": "Optional UUID of parent artifact to link this journal to (e.g., parent seed project)",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        224
      ],
      "id": "c80a97f1-e4e3-4aa7-ba45-2417334573d7",
      "name": "Tool_Save_Journal",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.save\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"project\",\n  \"title\": \"{title}\",\n  \"tags\": [\"{tags}\"],\n  \"summary\": \"{summary}\",\n  \"content\": {},\n  \"extension\": {\n    \"lifecycle_stage\": \"seed\"\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "Title for the project",
              "type": "string"
            },
            {
              "name": "summary",
              "description": "The project description or summary text",
              "type": "string"
            },
            {
              "name": "tags",
              "description": "Comma-separated tags. Example: backlog,gateway,feature or governance,milestone",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1088,
        224
      ],
      "id": "e3f23452-5f33-4b70-8d9e-dd884dfdedfc",
      "name": "Tool_Save_Project",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.save\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"snapshot\",\n  \"title\": \"{title}\",\n  \"tags\": [\"{tags}\"],\n  \"content\": {},\n  \"extension\": {\n    \"payload\": {\n      \"body\": \"{snapshot_body}\"\n    }\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "Title for the snapshot",
              "type": "string"
            },
            {
              "name": "snapshot_body",
              "description": "The snapshot content/body text",
              "type": "string"
            },
            {
              "name": "tags",
              "description": "Comma-separated tags. Example: milestone,governance or kgb,snapshot",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1296,
        224
      ],
      "id": "01dcffd8-7f08-4e10-ac69-a0d71e8c6ed0",
      "name": "Tool_Save_Snapshot",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.save\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"restart\",\n  \"title\": \"{title}\",\n  \"tags\": [\"{tags}\"],\n  \"content\": {},\n  \"extension\": {\n    \"payload\": {\n      \"body\": \"{restart_body}\"\n    }\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "Title for the restart prompt",
              "type": "string"
            },
            {
              "name": "restart_body",
              "description": "The restart context/instructions for resuming work",
              "type": "string"
            },
            {
              "name": "tags",
              "description": "Comma-separated tags. Example: restart,context or bugfix,resume",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1504,
        224
      ],
      "id": "5414a9ac-a880-4a5b-b57c-48b0d35b99f0",
      "name": "Tool_Save_Restart",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.promote\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"{artifact_type}\",\n  \"artifact_id\": \"{artifact_id}\",\n  \"transition\": \"{transition}\",\n  \"reason\": \"{reason}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_type",
              "description": "Type of artifact to promote (usually 'project')",
              "type": "string"
            },
            {
              "name": "artifact_id",
              "description": "UUID of the artifact to promote",
              "type": "string"
            },
            {
              "name": "transition",
              "description": "Lifecycle transition: seed_to_sapling, sapling_to_tree, tree_to_oak, or oak_to_archive",
              "type": "string"
            },
            {
              "name": "reason",
              "description": "Reason for the promotion",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1712,
        224
      ],
      "id": "27002d4e-aabe-417f-ad81-70c464a726b5",
      "name": "Tool_Promote",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.save\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"instruction_pack\",\n  \"title\": \"{title}\",\n  \"tags\": [\"{tags}\"],\n  \"content\": {\n    \"instructions\": \"{instructions}\"\n  },\n  \"extension\": {\n    \"scope\": \"workspace\",\n    \"pack_format\": \"v1\",\n    \"active\": true,\n    \"priority\": 100\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "Title for the instruction pack",
              "type": "string"
            },
            {
              "name": "instructions",
              "description": "The instruction content/rules for the pack",
              "type": "string"
            },
            {
              "name": "tags",
              "description": "Comma-separated tags. Example: instruction,governance or prompt,rules",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1920,
        224
      ],
      "id": "f5b88c8e-8f2c-47ef-ac1f-9c5dbb4c4d4b",
      "name": "Tool_Save_Instruction_Pack",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.delete\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_id\": \"{artifact_id}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_id",
              "description": "UUID of the artifact to soft-delete. Must be exact UUID, not title.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2128,
        224
      ],
      "id": "88521c6b-298c-427b-a7df-6f4464d30071",
      "name": "Tool_Delete",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.restore\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_id\": \"{artifact_id}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_id",
              "description": "UUID of the deleted artifact to restore.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2336,
        224
      ],
      "id": "a653e275-b42f-4876-a188-3e097b3ab067",
      "name": "Tool_Restore",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.halosparkai.com/webhook/nqxb/gateway/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"gw_action\": \"artifact.list_deleted\",\n  \"gw_workspace_id\": \"be0d3a48-c764-44f9-90c8-e846d9dbbd0a\",\n  \"owner_user_id\": \"7097c16c-ed88-4e49-983f-1de80e5cfcea\",\n  \"artifact_type\": \"{artifact_type}\",\n  \"selector\": {\n    \"limit\": {limit},\n    \"offset\": {offset}\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "artifact_type",
              "description": "Type to list deleted: journal, project, snapshot, restart, or instruction_pack",
              "type": "string"
            },
            {
              "name": "limit",
              "description": "Maximum number of results (default 50, max 200)",
              "type": "number"
            },
            {
              "name": "offset",
              "description": "Number of results to skip for pagination (default 0)",
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2544,
        224
      ],
      "id": "ab7a6c28-e6d1-488d-a443-fffd95dfcdc2",
      "name": "Tool_List_Deleted",
      "credentials": {
        "httpBasicAuth": {
          "id": "jTp4W3tGrw2s036g",
          "name": "Qwrk Ingest Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram_Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "7c1521cd-3fe3-447e-9449-15cb6ce04115",
      "name": "Chat_Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram_Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "40eab767-7fac-487f-9e8f-211bc31d2e5d",
      "name": "Send_Response",
      "webhookId": "2f28240c-a694-433f-a7c9-a49beb806a8e",
      "credentials": {
        "telegramApi": {
          "id": "VTIn4SmsgbApQNj2",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram_Trigger": {
      "main": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Chat_Model": {
      "ai_languageModel": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool_List": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_List_Tagged": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Query": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Save_Journal": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Save_Project": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Save_Snapshot": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Save_Restart": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Promote": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Save_Instruction_Pack": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Delete": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Restore": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_List_Deleted": {
      "ai_tool": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat_Memory": {
      "ai_memory": [
        [
          {
            "node": "Qwrk_AI_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qwrk_AI_Agent": {
      "main": [
        [
          {
            "node": "Send_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54bbe973-afbb-4b8f-8edc-a4fa7cac46f2",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "ZAwav9dCU0Zuynnz",
  "tags": []
}