Frita_Voice/Workflows/Frita – Voice Employee ID.json
{
  "name": "Frita – Voice Employee ID",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio/voice/employee-id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        112
      ],
      "id": "1305393d-7c19-497d-9953-3c12d25ac8c0",
      "name": "Webhook",
      "webhookId": "e4000001-wh01-4aaa-b001-000000000001"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Frita – Employee ID Lookup\n// Normalizes spoken employee ID and looks up in known callers.\n// -----------------------------------------------\n// TODO: Replace hardcoded lookup with n8n Table node:\n//   Table: fv_known_callers\n//   Operation: Get rows where employee_id = normalized input AND active = true\n// -----------------------------------------------\n\n// Normalize spoken numbers to digits\nconst numberWords = {\n  'zero': '0', 'oh': '0', 'o': '0',\n  'one': '1', 'two': '2', 'three': '3',\n  'four': '4', 'five': '5', 'six': '6',\n  'seven': '7', 'eight': '8', 'nine': '9',\n  'ten': '10'\n};\n\nconst speech = ($json.body?.SpeechResult || '').toLowerCase().trim();\n\n// Convert spoken words to digits, or use raw if already numeric\nlet employeeId;\nif (/^\\d+$/.test(speech.replace(/\\s+/g, ''))) {\n  // Already digits (possibly with spaces: \"1 0 0 4 2\")\n  employeeId = speech.replace(/\\s+/g, '');\n} else {\n  // Spoken words: \"one zero zero four two\"\n  employeeId = speech.split(/\\s+/).map(w => numberWords[w] || w).join('');\n}\n\n// Hardcoded known callers (replace with n8n Table)\nconst knownCallers = [\n  {\n    phone_number: '+18177156827',\n    email: 'joel.blagg@resolve.io',\n    employee_id: '1234',\n    first_name: 'Joel',\n    last_name: 'Blagg',\n    active: true\n  },\n  {\n    phone_number: '+16785523640',\n    email: 'nelson.veiga@resolve.io',\n    employee_id: '2345',\n    first_name: 'Nelson',\n    last_name: 'Veiga',\n    active: true\n  },\n  {\n    phone_number: '+13479985254',\n    email: 'derek.pascarella@resolve.io',\n    employee_id: '3456',\n    first_name: 'Derek',\n    last_name: 'Pascarella',\n    active: true\n  },\n  {\n    phone_number: '+14084318627',\n    email: 'alex.yupanqui@resolve.io',\n    employee_id: '4567',\n    first_name: 'Alex',\n    last_name: 'Yupanqui',\n    active: true\n  }\n];\n\nconst match = knownCallers.find(\n  c => c.employee_id === employeeId && c.active\n);\n\nif (match) {\n  return {\n    json: {\n      found: true,\n      first_name: match.first_name,\n      last_name: match.last_name,\n      employee_id: employeeId,\n      phone_number: match.phone_number,\n      email: match.email\n    }\n  };\n}\n\nreturn {\n  json: {\n    found: false,\n    employee_id: employeeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ],
      "id": "6ee2889d-c0aa-4c5f-97b5-7371a0fe9544",
      "name": "Lookup by Employee ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4000001-c001-4aaa-b001-000000000001",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        112
      ],
      "id": "55071f8c-fa47-4a5f-8604-8275ba783936",
      "name": "Found?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"Polly.Joanna-Neural\">Thanks, {{$json.first_name}}. How can I help you today?</Say>\n  <Gather input=\"speech\" timeout=\"5\" action=\"/webhook/twilio/voice/walk/handle?fname={{$json.first_name}}&amp;lname={{$json.last_name}}&amp;idstatus=confirmed&amp;email={{$json.email}}\" method=\"POST\">\n    <Say voice=\"Polly.Joanna-Neural\">Please briefly tell me what you need help with.</Say>\n  </Gather>\n  <Say voice=\"Polly.Joanna-Neural\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "8c8bb705-6e72-45a8-9897-ae6d1b8eeca3",
      "name": "TwiML Found"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response>\n  <Say voice=\"Polly.Joanna-Neural\">I wasn't able to verify your identity, but I can still help. What do you need assistance with?</Say>\n  <Gather input=\"speech\" timeout=\"5\" action=\"/webhook/twilio/voice/walk/handle?idstatus=unverified\" method=\"POST\">\n    <Say voice=\"Polly.Joanna-Neural\">Please briefly tell me what you need help with.</Say>\n  </Gather>\n  <Say voice=\"Polly.Joanna-Neural\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        208
      ],
      "id": "6ec0486a-ebca-4cf6-9fdd-0a625bfc1650",
      "name": "TwiML Not Found"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lookup by Employee ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup by Employee ID": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "TwiML Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TwiML Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e39ab97-e629-43d6-852a-776bf89a2485",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "MW4DhETqWqwsHqEb",
  "tags": []
}