Frita_Voice/Workflows/Frita – Voice Handle v5.json
{
  "name": "Frita – Voice Handle v5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio/voice/walk/handle",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        480
      ],
      "id": "09a8f054-c2a9-4926-b3ad-2f1d5e89e61a",
      "name": "Webhook",
      "webhookId": "e5000001-wh01-4aaa-b001-000000000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-a001-4aaa-b001-000000000001",
              "name": "normalized_text",
              "value": "={{$json.body.SpeechResult.toLowerCase().trim()}}",
              "type": "string"
            },
            {
              "id": "e5000001-a002-4aaa-b001-000000000001",
              "name": "raw_speech",
              "value": "={{$json.body.SpeechResult}}",
              "type": "string"
            },
            {
              "id": "e5000001-a003-4aaa-b001-000000000001",
              "name": "identity_status",
              "value": "={{$json.query.idstatus || 'unknown'}}",
              "type": "string"
            },
            {
              "id": "e5000001-a004-4aaa-b001-000000000001",
              "name": "caller_first_name",
              "value": "={{$json.query.fname || ''}}",
              "type": "string"
            },
            {
              "id": "e5000001-a005-4aaa-b001-000000000001",
              "name": "caller_last_name",
              "value": "={{$json.query.lname || ''}}",
              "type": "string"
            },
            {
              "id": "e5000001-a006-4aaa-b001-000000000001",
              "name": "caller_email",
              "value": "={{$json.query.email || ''}}",
              "type": "string"
            },
            {
              "id": "e5000001-a007-4aaa-b001-000000000001",
              "name": "caller_phone",
              "value": "={{$json.body.From || ''}}",
              "type": "string"
            },
            {
              "id": "e5000001-a008-4aaa-b001-000000000001",
              "name": "step",
              "value": "={{$json.query.step || 'initial'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        480
      ],
      "id": "c514f576-196c-4347-8161-9ede76fd82f4",
      "name": "Extract State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5000001-step-4aaa-b001-000000000001",
              "leftValue": "={{$json.step}}",
              "rightValue": "empid_collected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -824,
        480
      ],
      "id": "a1b2c3d4-step-4aaa-b001-000000000001",
      "name": "Step Check?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s001-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "password",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "password_reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s002-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "locked out",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "password_reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s003-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "password_reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s004-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "forgot",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "password_reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s005-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "wifi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guest_wifi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s006-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "wi-fi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guest_wifi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s007-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "wireless",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guest_wifi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s008-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "internet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guest_wifi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s010-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Distro_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s011-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "Distribution",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Distro_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5000001-s012-4aaa-b001-000000000001",
                    "leftValue": "={{$json.normalized_text}}",
                    "rightValue": "distro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Distro_list"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        480
      ],
      "id": "3400de63-1c1b-4997-b60c-076309d3ce61",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5000001-c001-4aaa-b001-000000000001",
              "leftValue": "={{$json.identity_status}}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        192
      ],
      "id": "f622be92-5414-40e7-890e-4080e8999223",
      "name": "Identity Confirmed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-r001-4aaa-b001-000000000001",
              "name": "intent",
              "value": "password_reset",
              "type": "string"
            },
            {
              "id": "e5000001-r002-4aaa-b001-000000000001",
              "name": "response_text",
              "value": "=I can help with that. As I have already confirmed your identity, I'll unlock your account and text you the temporary password shortly.  Have a great day.  Goodbye.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        80
      ],
      "id": "7213c4cc-b2e9-4057-8dd8-1a0e98b36c50",
      "name": "Set Recognized"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-r003-4aaa-b001-000000000001",
              "name": "intent",
              "value": "password_reset",
              "type": "string"
            },
            {
              "id": "e5000001-r004-4aaa-b001-000000000001",
              "name": "response_text",
              "value": "I can help with that. I'll open a ticket and have someone from the service desk contact you shortly.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        288
      ],
      "id": "6e0914ff-b5d9-44f1-8823-78a891556230",
      "name": "Set Not Recognized"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-r005-4aaa-b001-000000000001",
              "name": "intent",
              "value": "guest_wifi",
              "type": "string"
            },
            {
              "id": "e5000001-r006-4aaa-b001-000000000001",
              "name": "response_text",
              "value": "The guest wifi SSID is resolve underscore guest.  The password is resolve one two three pound.  I will also text you this information.  Have a great day.  Goodbye",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        528
      ],
      "id": "6292be3b-4159-490f-a8a9-c4cf11d0387b",
      "name": "Set guest_wifi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-r009-4aaa-b001-000000000001",
              "name": "intent",
              "value": "unknown",
              "type": "string"
            },
            {
              "id": "e5000001-r010-4aaa-b001-000000000001",
              "name": "response_text",
              "value": "I'm sorry - I didn't catch a supported request. I'll create a ticket and have someone from the service desk follow up soon.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        992
      ],
      "id": "492f6478-bde4-4468-9345-80d83d7fb5cf",
      "name": "Set unknown"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"Polly.Joanna-Neural\">{{$json.response_text}}</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        784
      ],
      "id": "e8961e61-bd73-40e9-9fe6-ef62e10191ef",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "frita-email-c001",
              "leftValue": "={{$json.caller_email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        784
      ],
      "id": "d0ef3aa3-fa16-4891-a8cb-97001c21c7b8",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sedemoexp2.resolve.io:7775/AppDynamics/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"auth\": \"123456789\",\n  \"sessionid\": \"0\",\n  \"action\": \"send_teams_message\",\n  \"teams_recipient\": \"{{ $json.caller_email }}\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        704
      ],
      "id": "8ad2ddf8-29b7-495b-90b2-c6559bd3ec6d",
      "name": "Call Resolve Actions",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACc2692e133b350375e95eecedcef59a06/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.caller_phone }}"
            },
            {
              "name": "From",
              "value": "+12312591770"
            },
            {
              "name": "Body",
              "value": "=IT Service Desk: Hi {{ $json.caller_first_name }}, your account has been unlocked. Your temporary password is: TempPass2026! Please change it upon your next login."
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "bbb84270-245e-4b01-b008-e1dddc58726e",
      "name": "Send Password Reset SMS",
      "credentials": {
        "httpBasicAuth": {
          "id": "x86pJoXVIyZzG1wj",
          "name": "Twilio2 basic auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"Polly.Joanna-Neural\">{{$json.response_text}}</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "7566c82b-bc4b-432a-8712-b915eef57774",
      "name": "TwiML Password Reset"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Gather input=\"speech dtmf\" timeout=\"5\" action=\"/webhook/twilio/voice/walk/handle?step=empid_collected&amp;fname={{$json.caller_first_name}}&amp;lname={{$json.caller_last_name}}&amp;idstatus=confirmed&amp;email={{$json.caller_email}}\" method=\"POST\">\n    <Say voice=\"Polly.Joanna-Neural\">For verification, please say or enter your employee I.D. number.</Say>\n  </Gather>\n  <Say voice=\"Polly.Joanna-Neural\">I didn't catch that. Let me transfer you to the service desk.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        -80
      ],
      "id": "b5e6f7a8-empid-4aaa-b001-000000000001",
      "name": "TwiML Ask Employee ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5000001-r007-4aaa-b001-000000000001",
              "name": "intent",
              "value": "distro_list",
              "type": "string"
            },
            {
              "id": "e5000001-r008-4aaa-b001-000000000001",
              "name": "response_text",
              "value": "I'm happy to help you manage your distro list by walking you through it in Teams.  Please check there now for a message from me.  Have a great day.  Goodbye.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        784
      ],
      "id": "31763509-e711-4d80-894b-b0f6b1785f40",
      "name": "Set_Distro_List"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"Polly.Joanna-Neural\">{{$json.response_text}}</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        512
      ],
      "id": "e450c030-102d-4b8f-8b87-8c25becae0eb",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.halosparkai.com",
            "user-agent": "TwilioProxy/1.1",
            "content-type": "application/x-www-form-urlencoded; charset=UTF-8"
          },
          "params": {},
          "query": {
            "fname": "Joel",
            "lname": "Blagg",
            "idstatus": "confirmed",
            "email": "joel.blagg@resolve.io"
          },
          "body": {
            "Called": "+12312591770",
            "Direction": "inbound",
            "SpeechResult": "I need the guest wifi info.",
            "Confidence": "0.8617299",
            "CallSid": "CAwalk-test-0001",
            "To": "+12312591770",
            "CallStatus": "in-progress",
            "From": "+18177156827",
            "AccountSid": "SCRUBBED_TWILIO_ACCOUNT_SID",
            "Caller": "+18177156827",
            "FromCity": "ARLINGTON",
            "FromState": "TX",
            "FromCountry": "US"
          },
          "webhookUrl": "https://n8n.halosparkai.com/webhook/twilio/voice/walk/handle",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract State": {
      "main": [
        [
          {
            "node": "Step Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Check?": {
      "main": [
        [
          {
            "node": "Set Recognized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Identity Confirmed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identity Confirmed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identity Confirmed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identity Confirmed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set guest_wifi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set guest_wifi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set guest_wifi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set guest_wifi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Distro_List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Distro_List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Distro_List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identity Confirmed?": {
      "main": [
        [
          {
            "node": "TwiML Ask Employee ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Not Recognized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Recognized": {
      "main": [
        [
          {
            "node": "TwiML Password Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Not Recognized": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set guest_wifi": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set unknown": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Call Resolve Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TwiML Password Reset": {
      "main": [
        [
          {
            "node": "Send Password Reset SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Distro_List": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35a82844-b1eb-44c2-bb44-eb42f1a2627d",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "eMafLvovX3xXqAKR",
  "tags": []
}