Frita_Voice/Workflows/Frita – Voice Entry v2 (2).json
{
  "name": "Frita – Voice Entry v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio/voice/walk",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        112
      ],
      "id": "c7ba85df-4f40-4347-96be-cb8a9ddfd383",
      "name": "Webhook",
      "webhookId": "e2000001-wh01-4aaa-b001-000000000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2000001-a001-4aaa-b001-000000000001",
              "name": "phone_number",
              "value": "={{ $json.body.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        112
      ],
      "id": "cebdde0e-2353-4d2b-a616-0f043c4887f2",
      "name": "Extract Phone"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2000001-c001-4aaa-b001-000000000001",
              "leftValue": "={{$json.recognized}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ],
      "id": "f65f599a-f605-4263-bdc8-37fda45e5bfb",
      "name": "Recognized?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"Polly.Joanna-Neural\">Hi, this is Rita. I recognize this number. Are you {{$json.first_name}} {{$json.last_name}}?</Say>\n  <Gather input=\"speech\" timeout=\"5\" action=\"/webhook/twilio/voice/confirm-identity?fname={{$json.first_name}}&amp;lname={{$json.last_name}}&amp;email={{$json.email}}\" method=\"POST\">\n    <Say voice=\"Polly.Joanna-Neural\">Please say yes or no.</Say>\n  </Gather>\n  <Say voice=\"Polly.Joanna-Neural\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "340301f7-22e6-42cd-86c3-d94b58a92733",
      "name": "TwiML Recognized"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response>\n  <Say voice=\"Polly.Joanna-Neural\">Hi, this is Rita. To help you, I'll need to look up your account. Can you tell me your employee ID number?</Say>\n  <Gather input=\"speech\" timeout=\"8\" action=\"/webhook/twilio/voice/employee-id\" method=\"POST\">\n    <Say voice=\"Polly.Joanna-Neural\">Go ahead with your employee ID.</Say>\n  </Gather>\n  <Say voice=\"Polly.Joanna-Neural\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        208
      ],
      "id": "e9fc811c-8edf-4bd1-8560-1c26565014c0",
      "name": "TwiML Unknown"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0JPtbuhhlCpxtoXK",
          "mode": "list",
          "cachedResultUrl": "/workflow/0JPtbuhhlCpxtoXK",
          "cachedResultName": "Frita – Identity Lookup v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -480,
        112
      ],
      "id": "fa01036d-1d69-4f8b-8e01-cbe6c8b3eb1b",
      "name": "Call 'Frita – Identity Lookup v2'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone": {
      "main": [
        [
          {
            "node": "Call 'Frita – Identity Lookup v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recognized?": {
      "main": [
        [
          {
            "node": "TwiML Recognized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TwiML Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Frita – Identity Lookup v2'": {
      "main": [
        [
          {
            "node": "Recognized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a0b7c70-0466-4861-a832-bf1b8d4cda62",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "wLgKm05aBkGyEkyX",
  "tags": []
}