Frita_Voice/Workflows/Frita – Voice Entry v2 (2).json
{
  "name": "Frita – Voice Entry v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio/voice/walk",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        80
      ],
      "id": "08130d27-8f5d-48f7-9a41-4fa8e2e38153",
      "name": "Webhook",
      "webhookId": "e2000001-wh01-4aaa-b001-000000000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2000001-a001-4aaa-b001-000000000001",
              "name": "phone_number",
              "value": "={{ $json.body.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        80
      ],
      "id": "b62d0ebf-1a96-445b-9114-16774fbc0857",
      "name": "Extract Phone"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2000001-c001-4aaa-b001-000000000001",
              "leftValue": "={{$json.idstatus}} equals \"confirmed\"",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        80
      ],
      "id": "83b2ed0a-bedb-45db-8b31-816c6585f861",
      "name": "Recognized?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response>\n  <Say voice=\"alice\">Hi, this is Frita. I recognize this number. Are you {{$json.first_name}} {{$json.last_name}}?</Say>\n  <Gather input=\"speech\" timeout=\"5\" action=\"/webhook/twilio/voice/confirm-identity?fname={{$json.first_name}}&amp;lname={{$json.last_name}}\" method=\"POST\">\n    <Say voice=\"alice\">Please say yes or no.</Say>\n  </Gather>\n  <Say voice=\"alice\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        -32
      ],
      "id": "f9397873-4759-41cc-9444-11111bc9139f",
      "name": "TwiML Recognized"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response>\n  <Say voice=\"alice\">Hi, this is Frita. To help you, I'll need to look up your account. Can you tell me your employee ID number?</Say>\n  <Gather input=\"speech\" timeout=\"8\" action=\"/webhook/twilio/voice/employee-id\" method=\"POST\">\n    <Say voice=\"alice\">Go ahead with your employee ID.</Say>\n  </Gather>\n  <Say voice=\"alice\">I didn't catch that. Please try calling again.</Say>\n</Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        176
      ],
      "id": "d5171072-32f0-421e-9053-fd601c6fb3cf",
      "name": "TwiML Unknown"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ya1SivZbX1EZk1Nn",
          "mode": "list",
          "cachedResultUrl": "/workflow/ya1SivZbX1EZk1Nn",
          "cachedResultName": "Frita – Identity Lookup v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        80
      ],
      "id": "33e66b45-06f0-469f-b6bd-a71ee71d2069",
      "name": "Call 'Frita – Identity Lookup v2'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone": {
      "main": [
        [
          {
            "node": "Call 'Frita – Identity Lookup v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recognized?": {
      "main": [
        [
          {
            "node": "TwiML Recognized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TwiML Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Frita – Identity Lookup v2'": {
      "main": [
        [
          {
            "node": "Recognized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee36cb00-c1f5-49b8-9052-3251f81fbcd5",
  "meta": {
    "instanceId": "154f6928422db881044f8d1647b40fc389c59337d14356c0ee681d50ffb55d7e"
  },
  "id": "VJyoELUDZ1w1gFAQ",
  "tags": []
}